[2016-01-21 22:10] danfbflynn opened #1 "check old versions of database and make sure all studies are in"

[2016-07-05 16:56] lizzieinvancouver opened #2 "Okie 2011"
Couple extra notes:

“All tests used excised twigs of the previous season’s upright growth, basally trimmed to 􏰁30 cm length, with a basal diameter of 􏰁4 to 5 mm.”

Seedlings planted in 2002

Answers to your query:

Light vs. dark experiment: In 2006–2007, starting cut dates (and bcu accu- mulations) were: ‘Flordaprince’, 9 Nov. (122 bcu); ‘Flordadawn’, 23 Nov. (272 bcu); and ‘Juneprince’ and ‘Sun

[2016-07-05 16:56] lizzieinvancouver opened #3 "Campbell 1975"
- series of studies with dates but no year given …

these are a series of provenance trials with seeds started in the greenhouse (March), moved to  the lathehouse in May .. then studies start.

I get the feeling the studies happened across years, e.g. “Treatments usually started in September after all seedlings had set buds and ended on the dat of bud flushing’

So I am not sure we need the year —

[2016-07-05 17:04] danfbflynn commented on #3
Used 1973 as year, and 1973-09-01 as field sample date

[2016-07-05 17:05] #3 closed

[2016-07-05 17:06] cchambe12 opened #4 "Worrall67"
The study was done in 1965 and 1966.

Figures 2 and 3 were both done in 1965
Figure 4 - 1965;1966
Figure 5 - 1965;1966
Figure 7 - 1966
Figure 9 - 1966

Experiment 3 includes just Figure 4 & 5

[2016-07-05 17:24] cchambe12 opened #5 "viheraaarnio06"
Experiment 1, Figure 1 was carried out in the Fall of 2001 and the Spring of 2002

[2016-07-05 17:28] danfbflynn commented on #4
fixed!

[2016-07-05 17:28] #4 closed

[2016-07-05 17:35] cchambe12 opened #6 "caffarra11a"
Experiment 1 year - 2004
Exp 2 year - 2004
Exp 3 year - 2003

[2016-07-05 17:44] cchambe12 opened #7 "caffarra11b"
Exp 2 year - 2004; 2005
Exp 3 year - 2005

[2016-07-05 18:14] lizzieinvancouver opened #8 "Falusi 1990"
Year is not given (seriously).
Here's what I do know:
- paper submitted in Dec 1989
- experiment starts in autumn and lasts 235 days (almost 8 months)
- this brings me to thinking the earliest that they started it was fall 1988

... but Lizzie will email Falusi!

[2016-07-05 18:22] lizzieinvancouver opened #9 "Falusi 1996"
Exp 1 (which is the only exp from this paper missing a year): No year given (maybe it's 1988? -- just guessing based on year progression of next two experiments -- but we should check)
Exp 2: Study starts in 1989
Exp 3: Study starts in fall 1990

Lizzie will email Falusi!

[2016-07-05 18:29] danfbflynn commented on #5
fixed!

[2016-07-05 18:29] #5 closed

[2016-07-05 18:34] lizzieinvancouver opened #10 "Falusi 2003"
I think this is 1996 or 1997 -- depending on the day (i.e., this happens over the winter and sampling date should entered ... somewhere ... for Fig 1)

[2016-07-05 18:35] danfbflynn commented on #6
done

[2016-07-05 18:35] #6 closed

[2016-07-05 18:42] danfbflynn commented on #7
done, and noted field sample date as June 1 for both experiments

[2016-07-05 18:42] #7 closed

[2016-07-05 18:44] danfbflynn commented on #8
Put in 1998 for now, will update as necessary.

[2016-07-05 18:44] cchambe12 opened #11 "charrier11"
Exp 1 Mountain population year - 2009
Exp 1 Lowland 2008 population year - 2008
Exp 1 Lowland 2009 population year - 2009

Exp 2 Fig 2 Lat - 45.7722
                   Long - 3.14722
                   Year - 2008

[2016-07-05 21:23] danfbflynn opened #12 "Check for woody species only"
Eg heide01 is sedum

lyndon77 silene

nerd95 opuntia

Fragaria studies:
heide07
heide77
kronenberg76
lieten97
smeets80
smeets82
sonsteby09a
sonsteby09b
verheul07
voipio01

[2016-07-05 21:28] ejforrestel commented on #12
there was also some cactus in there! can you take me off all these chains, dan? thanks! :)

On Jul 5, 2016, at 5:23 PM, danfbflynn <notifications@github.com> wrote:

[2016-07-05 21:41] danfbflynn opened #13 "Put pdfs in Google Drive"
lamb1937, can't find this publication! - lamb 1948?
spiers77 --> 1978?

[2016-07-05 22:05] lizzieinvancouver opened #14 "Heide 2003"
No year given but for Figure 1 (where the data we have come from) they are seeds planted in the summer and appear to spend their whole lives after that in the experimental setup (no field chilling).

This paper has an additional field experiment (with field chilling) but we did not extract those data; they do not appear to be from a growth chamber experiment.

[2016-07-05 22:08] lizzieinvancouver opened #15 "Heide 2005"
Plants we grown via micropropagation (see [here](https://en.wikipedia.org/wiki/Micropropagation)); there is no evidence they ever experience field chilling or were outdoors.

[2016-07-05 22:10] lizzieinvancouver opened #16 "Heide 2007"
Cannot find paper in Google Drive.

[2016-07-05 22:13] lizzieinvancouver opened #17 "Heide 2011"
"The experiments were carried out during spring and summer of 2009 and 2010 ..." that said they appear to be on micropropagated plants with no field chilling.

[2016-07-05 23:31] lizzieinvancouver opened #18 "Add in missing papers to source tab"
Good luck!

[2016-07-06 13:04] lizzieinvancouver opened #19 "Papers missing from Bibtex list"
biasi12 (wrong file entered I think, we have 2010 in bibtex)
This is correct. Bibtex year should be changed to 2012
Above now FIXED.

Below are now added!

Basler 2012
@article{Basler:2012,
  title={Photoperiod sensitivity of bud burst in 14 temperate forest tree species},
  author={Basler, David and K{\"o}rner, Christian},
  journal={Agricultural and Forest Meteorology},
  volume={165},
  pages={

[2016-07-06 13:05] lizzieinvancouver opened #20 "Papers in bibtex with no associated data"
Should we have data on this one?
Biasi 2010 (again, I think we have 2012 instead)
Myking 1999

Biasi is fixed and Myking's issue is covered in Issue #21

[2016-07-06 13:06] lizzieinvancouver opened #21 "Bibtex issues I am working on"
sonsteby09a and sonsteby09b but only one bibtex (strawberry paper, Tim and Dan are still working on)

DO NOT ADD: Myking 1999, in bibtex, no data -- there's really no data, delete from bibtex for now ... see comment far below I think this paper presents data we already have from other Myking papers

OKAY: webb78 -- actually a 1977 paper (leave as webb78)

FIXED: darrow36 vs Darrow 1927 -- Strawber

[2016-07-06 13:37] danfbflynn commented on #13
nevermind, we got it!

[2016-07-06 13:37] #13 closed

[2016-07-06 13:37] danfbflynn commented on #12
made a 'woody' column in data_detailed

[2016-07-06 13:37] #12 closed

[2016-07-06 13:37] #1 closed

[2016-07-06 14:04] #19 closed

[2016-07-06 14:05] #20 closed

[2016-07-06 14:26] danfbflynn commented on #21
sonsteby09a is not clear. Data shows two varieties, both Korona and Florence. Paper and citation that we have as 2009a is only for Korona.

Other 2009 paper (2009b) is
@article{sonsteby2009environmental,
  title={Environmental control of flowering and runnering in three contrasting populations of Fragaria chiloensis},
  author={S{\o}nsteby, A and Heide, OM},
  journal={The Journal of Horticultural

[2016-07-06 14:29] danfbflynn commented on #21
myking99 looks like one we could potentially add, not in data set now.

[2016-07-06 20:33] AileneKane opened #22 "problem with biran73: chilltemp="5/14/97""

[2016-07-06 20:41] AileneKane opened #23 "problem with caffarra11b in ospree_clean1.csv: chilltemp =" 8, 10""

[2016-07-06 20:48] AileneKane opened #24 "non-numeric chilltemps in ospree_clean"
check chilltemp column- there are many non-numeric values there that may be useful. they are currently excluded from the experimental chilling calculations in Field_Exp_Chilling_Calc.R

[2016-07-06 21:08] AileneKane opened #25 "no chilldays listed for ruesink98"
not sure if information is in the paper or not, but it is not listed in ospree_clean1.csv

[2016-07-06 21:09] danfbflynn commented on #9
Temporary fix: exp 1 1988, exp 2 1990 (if started in 89, measured in 90) and exp 3 1991

[2016-07-06 21:14] AileneKane opened #26 "non-numeric chilldays"
check the chilldays column- there are many non-numeric values there that may be useful (e.g. ""mean of 39, 55, 67, 98, 111" , "1996-11-15", "50 degreedays"). they are currently excluded from the experimental chilling calculations in Field_Exp_Chilling_Calc.R

[2016-07-06 21:28] danfbflynn commented on #10
Fixed. Also fixed fieldchill for this paper

[2016-07-06 21:28] #10 closed

[2016-07-06 21:31] danfbflynn commented on #11
fixed

[2016-07-06 21:31] #11 closed

[2016-07-06 21:33] danfbflynn commented on #15
Ok

[2016-07-06 21:33] #15 closed

[2016-07-06 21:36] danfbflynn commented on #16
Non woody, added to google drive
@article{heide2007interactions,
  title={Interactions of temperature and photoperiod in the control of flowering of latitudinal and altitudinal populations of wild strawberry (Fragaria vesca)},
  author={Heide, Ola M and S{\o}nsteby, Anita},
  journal={Physiologia Plantarum},
  volume={130},
  number={2},
  pages={280--289},
  year={2007},
  publisher={Wiley Online

[2016-07-06 21:36] #16 closed

[2016-07-06 21:38] danfbflynn commented on #17
ok

[2016-07-06 21:38] #17 closed

[2016-07-06 21:39] danfbflynn commented on #14
ok, didn't touch except to put fildchill = no

[2016-07-06 21:39] #14 closed

[2016-07-06 21:54] danfbflynn commented on #22
fixed

[2016-07-06 21:54] #22 closed

[2016-07-06 22:03] danfbflynn commented on #23
fixed

[2016-07-06 22:03] #23 closed

[2016-07-07 01:35] lizzieinvancouver opened #27 "clean1.csv"
What is up with a 1 in a git-managed file name?

[2016-07-07 01:42] AileneKane opened #28 "Total chilling estimates not quite done"
We need to add columns for provenance latitude and longitude to the field chilling calculation table generated in Field_Exp_Chilling_Calc.R. (This should remove the merging problem described below, if we merge with these columns as well as the ID_fieldsample date column.) I have added the code in comments in the R script, but could not run it without the climate data.
Merging of fieldchilling into

[2016-07-07 02:05] lizzieinvancouver opened #29 "response, responsetime"
Check out discrepancies in response column versus responsetime column. See this line of code:
# just to think on ...

ospree.bb.lab[which(ospree.bb.lab$response>1),28:31]

in Ospree_Analysis.R for the most problematic cases. For easier cases for now I merge in response column to responsetime column a little.

[2016-07-07 02:06] lizzieinvancouver opened #30 "response again"
How to recode 'no break' or 'no response' ? Probably just treat as NA? It's really a failure time analysis, but that is too much work!

[2016-07-07 02:15] AileneKane opened #31 "coding of total chilling"
for now, i coded total chilling such that if there was no experimental chilling, total chilling=field chilling
AND if there is no data on field chilling, totalchilling=experimental chilling. not sure if this is ok?

[2016-07-07 12:55] lizzieinvancouver opened #32 "Double-check ospreeM1.stan"
I think b_lat_0 ~ normal(0, 100); is missing from model (though not critical).

[2016-07-07 14:10] #27 closed

[2016-07-07 14:21] lizzieinvancouver opened #33 "daystobudset"
in clean_respvar.R Jehane renamed:

scrapedata$respvar[scrapedata$respvar == "daystobudset"] <- "daystobudburst"
scrapedata$respvar[scrapedata$respvar == "baystobudset"] <- "daystobudburst"

We should double-check that these are budburst and not budset!

[2016-07-07 16:55] lizzieinvancouver opened #34 "Method to flag studies with multiple respvars that are same under respvar.simple?"
I created a new column to try to get similar response variables together -- respvar.simple, but we should be careful to know when:
- a study measures more than 1 respvar that is the same type of respvar.simple
- a study measures more than 1 respvar and each is a different type of respvar.simple

[2016-07-07 18:56] AileneKane opened #35 "extreme percent budburst value"
there is an extreme value for percent budburst in the response column (=999.267). This is for Picea.glauca in man10.

[2016-07-18 02:32] AileneKane commented on #24
I added a file that summarizes the studies/papers and values that need to be checked:

[2016-07-18 02:33] AileneKane commented on #26
I added a file that summarizes the studies/papers and values that need to be checked here:
https://github.com/danfbflynn/ospree/blob/master/input/chilldaystempstocheck.csv

[2016-07-18 15:58] danfbflynn commented on #31
Yes, this is perfect! If no field chilling, it should be because the only chilling was an experimental treatment.

[2016-07-18 15:58] #31 closed

[2016-07-18 17:08] danfbflynn commented on #32
Indeed, fixed

[2016-07-18 17:08] #32 closed

[2016-07-18 17:15] danfbflynn commented on #35
Fixed, extra "9"

[2016-07-18 17:15] #35 closed

[2016-07-18 20:34] danfbflynn commented on #34
Made two new columns:

`multiresp`: multiple original `respvar` which are now all one `respvar.simple`

`multibothresp`: multiple original `respvar` which each are a different `respvar.simple`

[2016-07-18 20:34] #34 closed

[2016-07-21 19:14] danfbflynn commented on #25
Fixed after reading methods again

[2016-07-21 19:14] #25 closed

[2016-07-21 19:18] danfbflynn commented on #33
None left in the ospree; only percentbudset in viheraaarnio06

[2016-07-21 19:18] #33 closed

[2016-07-21 19:22] danfbflynn commented on #2
Added to fieldsample date

[2016-07-21 19:22] #2 closed

[2016-07-21 19:26] danfbflynn commented on #30
For daystobudburst, best we can do is NA
For anything which is a percentage or count, see if we can make these 0

[2016-07-21 20:18] danfbflynn commented on #28
Partly dealt with by non-woody studies in chillcalcs; still need to work on this

[2016-07-22 14:21] danfbflynn commented on #24
All 'ambient' in the chilltemps and chillphotoperiod are deleted to be left blank; chilling is now calculated manually for these studies.

chilldays had dates for a number of studies; those have now been moved to fieldsampledate.

Others are harder to deal with, haven't fixed them all yet

[2016-07-22 14:24] danfbflynn commented on #26
Duplicate issue

[2016-07-22 14:24] #26 closed

[2017-01-03 15:30] cchambe12 opened #36 "ghelardini10 respvar.simple"
For the first 8 rows for the dataset ghelardini10, the respvar is dateofbudburst and the respvar.simple is NA. I can't seem to find where this information was gathered from in the paper. I am leaving it for now but I think we may be able to take it out. It seems like the paper mostly focuses on percent budburst and thermal time.

Photoperiod for these entries is also missing - however it is comple

[2017-01-03 15:46] cchambe12 opened #37 "guerriero90 respvar.simple"
The current respvar.simple for 20 entries is phenstageper.probonestudy. The actual measurement for these entries is full leaf out, well past bud burst, unsure if we should include this information for model. This study has more useful information already entered. Percent budburst is looking at green tip rather than full leaf out.

[2017-01-03 16:25] cchambe12 opened #38 "jones12 respvar.simple"
This dataset has many entries that are listed as phenstageper.probonestudy. All of these are looking at fruits and flowers, should we keep these? The study also assesses budburst.

[2017-01-03 17:33] cchambe12 opened #39 "sonsteby13"
Looks like it is just looking at floral bud burst - do we want to include it?

[2017-01-03 18:13] cchambe12 opened #40 "viharaaano06"
Not sure how to deal with this one -- percentbudset is the current respvar. Bud set is defined as buds that never burst, so not terribly informative for what we're investigating.

[2017-01-05 13:58] AileneKane opened #41 "Fix errors in provenance latitude & provenance longitude columns"
charrier11 exp 2: provenance longitude data appear to be in population.detail column
sanzperez10 exp1: provenance latitude data appear to be in population.detail column and provenance longitude data appear to be in provenance latitude column (shift both over one column to the right).

[2017-01-06 20:18] AileneKane commented on #41
Thank you cat! fixed!

[2017-01-06 20:18] #41 closed

[2017-01-16 19:23] lizzieinvancouver opened #42 "Deal with merging and cleaning!"
- Figure out what's up with mergearchive folder, check what the code does
- Update cleaning so it's crystal clear how it happens and how to do and what file(s) it produces
- Update the readme.md (in main repo) with all this info!

[2017-01-16 19:24] lizzieinvancouver opened #43 "Look at the teamwork links in readme.md"
Update? Delete? As needed.

[2017-01-16 19:25] lizzieinvancouver opened #44 "Revisiting folder"
- Check with Dan -- can we delete?
- If yes, delete ... if no, move the info to issues!

[2017-01-16 19:26] lizzieinvancouver opened #45 "Delete Tim's notes file"

[2017-01-16 19:27] lizzieinvancouver opened #46 "Fix data folder"
Toss everything we can toss!

[2017-01-16 19:29] lizzieinvancouver opened #47 "Rm notes file that Lizzie started!"

[2017-01-16 19:32] lizzieinvancouver opened #48 "Clean up input/output folders"
Check that all your code writes to the correct place (that is, output!)

[2017-01-16 19:35] lizzieinvancouver opened #49 "Move source files as approriate"

[2017-01-16 19:38] cchambe12 opened #50 "Finalize code for Woody Species"

[2017-01-16 19:39] cchambe12 opened #51 "Add flowering data!"
It doesn't add much but why not add it!

[2017-01-16 19:40] cchambe12 opened #52 "Agree on common columns"
Revisit at retreat -- or sooner!

[2017-01-16 19:41] cchambe12 opened #53 "Cleaning chilling data!"

[2017-01-16 19:41] cchambe12 opened #54 "Forcetemp column fixes"

[2017-01-16 19:43] lizzieinvancouver opened #55 "Add issues from wiki!"

[2017-01-16 19:45] lizzieinvancouver commented on #40
Budset is when buds are set ... leave as budset!

[2017-01-16 19:45] lizzieinvancouver commented on #39
Maybe! To revisit ...

[2017-01-16 19:47] lizzieinvancouver commented on #38
Yes! Categorize now (but we may lose it later in subsetting data).

[2017-01-16 19:48] lizzieinvancouver commented on #37
Categorize!

[2017-01-16 19:52] lizzieinvancouver commented on #36
Delete these crazy rows in some cleaning script!

[2017-01-16 20:56] lizzieinvancouver opened #56 "Create a common subset of the rows for the paper"
Create a common subset of the rows for the paper -- e.g., a file we source at the top of code for models etc. that tosses out non-woody species etc..

... should be done while working with Cat on cleaning I think?
... and/or we can discuss at 26 Jan 2017 meeting

[2017-01-16 20:56] lizzieinvancouver opened #57 "Something hierarchical that is not quite species?"
Deal with species (new possible column for lumped species?): Species in M1 and M2 --> we probably should lump species into smaller groups -- by family? Or by a few species that are common and then 'other'?

[2017-01-16 20:58] #55 closed

[2017-01-16 20:59] #47 closed

[2017-01-16 21:24] lizzieinvancouver opened #58 "Deal with labgroups"
In addition to finalizing all the code and organization and stuff we need to convert what I have created back into the expIDs.

[2017-01-16 21:27] #45 closed

[2017-01-17 12:53] #46 closed

[2017-01-17 17:44] cchambe12 commented on #54
Liz is going to start working on this for the next week, hopefully that will be finished by Friday.

[2017-01-17 19:29] AileneKane opened #59 "Check the provenance.lat and provenance.long of some collection locations"
Check that the provenance.lat and provenance.long is correct for those sampling locations that have "NA" for field chilling (in all 3 estimates) in fieldchillcalcslatlong.csv file. (Check between ospree and paper and/or ospree and map online to make sure that they are in the correct location. the fact that they got NA for field chilling means that no climate data exist for that location). If some

[2017-01-17 19:30] AileneKane commented on #28
we have now added the provenance latitude and longitude!

[2017-01-18 16:50] #36 closed

[2017-01-18 17:07] #37 closed

[2017-01-18 17:20] #38 closed

[2017-01-18 17:22] #39 closed

[2017-01-18 17:24] #40 closed

[2017-01-18 21:13] lizzieinvancouver commented on #42
Relevant info from Cat as of 18 Jan 2017:

Hi Lizzie,

I just made a new cleaning script called **cleanup_all.R** that fixes the issues that I had made in the github repo. It removes the extra rows from ghelardini10 study and fixes the remaining respvar.simple issues. The ospree_master_clean.csv is still the main csv file.

Also, Liz is conquering the forcetemp columns now, I should be able to fix

[2017-01-18 21:19] lizzieinvancouver commented on #42
More relevant info from Lizzie:

In the mergearchive folder are a mix of old and really old files from the different ages of the ospree database. I reviewed and moved to analyses/zarchive some files here. What's left are a ton of files I think we can eventually put in analyses/zarchive/inputoutput but first we need to:

1. Double check clean_duplicates.R is not doing anything other than checking f

[2017-01-24 22:17] MoralesCastilla commented on #42
In response to Lizzie's three points:

#1. It seems like that. It generates a new file "growthchambers_litreview-CLEANED.csv" where duplicates values among the following variables:

"datasetID","study","genus","species","population","population.detail", "forcetemp","photoperiod_day","chilltemp","chilldays","respvar","response","response.time"

have been removed.

#2. I am not sure I get this, whic

[2017-01-24 23:31] MoralesCastilla commented on #50
Done, check within the cleaning folder:
clean_woody_sps.R

[2017-01-25 15:42] dbuona opened #60 "response vs. response time"
what is the column name to use in analysis? We should investigate based on Ailene's plots from Stanleyi 1/25

[2017-01-26 00:19] lizzieinvancouver opened #61 "theme songs"
From DFB:
Crystal Cat by Deacon: https://www.youtube.com/watch?v=vFlBJ1xZK10
Guts, And the living is easy
Tallest man on earth, it will follow the rain

[2017-01-26 00:31] lizzieinvancouver commented on #43
Done, see commit 205e081303ff4855022705be9d67079101bc6f34 which I added today.

[2017-01-26 00:31] #43 closed

[2017-01-26 00:33] lizzieinvancouver commented on #44
I think we can delete this given that we have all the other cleaning dealt with (issue #42) ... but will wait to discuss tomorrow!

[2017-01-26 18:15] cchambe12 opened #62 "change fieldsample.date in ospree.xlsx"

[2017-01-26 18:31] cchambe12 commented on #54
Thanks to Liz Stebbins this issue is done!

[2017-01-26 18:31] #54 closed

[2017-01-26 18:33] cchambe12 commented on #53
repeated from issue #28

[2017-01-26 18:33] #53 closed

[2017-01-26 18:35] cchambe12 commented on #51
by this we mean add it to the models - discuss at the retreat

[2017-01-26 18:36] #50 closed

[2017-01-26 18:37] cchambe12 commented on #48
all files moved!

[2017-01-26 18:37] #48 closed

[2017-01-26 18:39] cchambe12 commented on #60
see issue #29

[2017-01-26 18:39] #60 closed

[2017-01-26 18:41] cchambe12 commented on #18
done!

[2017-01-26 18:41] #18 closed

[2017-01-26 22:10] cchambe12 commented on #62
fixed column in commit d5bb4b6

[2017-01-26 22:10] #62 closed

[2017-01-27 15:59] lizzieinvancouver commented on #44
Deleted as of commit ef7dcc922bd022050c5673aed152cc2cc17854c5. Check out notes there about how it was totally cool to delete this folder.

[2017-01-27 15:59] #44 closed

[2017-01-27 16:06] lizzieinvancouver commented on #61
This could  be just for the data cleaning part ("[Looking at it now, it all seemed so simple ...](https://www.youtube.com/watch?v=tLMVMcPsr0Y)") ... okay so maybe only about 5% of the lyrics work. We can't use [this one](https://www.youtube.com/watch?v=loNey3n6uuE) as it works for every paper, but the video is so fun.

[2017-01-27 16:06] lizzieinvancouver opened #63 "Add a gravatar to your account!"

[2017-01-27 16:22] lizzieinvancouver commented on #42
It seems like the cleaning files must go in some order. So far I know that:
- clean_photo.R requires clean_respvar.R to be run first.
- clean_respvar.R requires a file called ospree_clean_withchill.csv
- now, ospree_clean_withchill.csv is written from Field_Exp_Chilling_Calc_LatLong.csv but THAT code starts with ospree_clean.csv and ospree_master_clean.csv, which makes me very worried we have comp

[2017-01-27 18:02] AileneKane commented on #63
Done!

[2017-01-27 18:02] #63 closed

[2017-01-27 18:11] AileneKane commented on #42
the field chilling code (Field_Exp_Chilling_Calc_LatLong.T) does not require the respvar column at all, so it is unaffected by "clean_respvar.R" You can choose either one to go first, as far as I'm concerned. I was using the "analyses/output/ospree_master_clean.csv" file to start with for the field chilling code, as Cat said that this was the most up-to-date version of the database. feel free to c

[2017-01-27 20:21] AileneKane commented on #28
i have found the duplicate rows! they located i in the "fieldchillcalcslatlong.csv" file and are generated at some point in the process of pulling climate data and/or estimating chilling for each lat/long. I cannot investigate this further without access to the climate data on the external hard drive, so I can work on this at the retreat or in working with Cat on Monday Jan 30 or Tuesday Jan 31. (

[2017-01-27 20:25] AileneKane commented on #24
There are definitely still non-numeric values in the "chilltemps" column so we need to write some cleaning code to deal with this I think.

[2017-01-27 20:28] AileneKane commented on #42
As far as I can tell, the ospree database still has lots of non-numeric values in the chilltemps column, as well as some in the chilldays column. I have not found code that cleans these columns, but we should write some as part of the cleaning!

[2017-01-27 21:38] lizzieinvancouver commented on #42
Okay, I am back on the case! No one touch anything until I say I am done!

[2017-01-27 22:24] lizzieinvancouver opened #64 "Clean up zohner stuff"
Make a zohner folder within cleaning. Move all the zohner R code there and add a readme that explains exactly how all the zohner files were formatted (i.e., where does the raw data come from in the data folder? How are all the other files created). Also, avoid using xls (or xlsx) in R .. stick with reading and writing csv files when possible.

And create a new zohnerformated.csv which can rbind to

[2017-01-27 22:30] lizzieinvancouver opened #65 "Check out change to clean_photo.R"
Check this out please, is it okay?
respvar=='plantheightatflowerbudappearance']<-'constant') # Lizzie changed this constant to 'constant' because the code was not running, need Cat to check … also, should we clean this in respvar?!!

[2017-01-27 22:31] lizzieinvancouver opened #66 "Cleanup together all the files in ..."
input
output
mergearchive
zarchive files (ospree_clean_final.csv etc.)
so we don't have anything old or wrong or such!

To do together at retreat.

[2017-01-27 22:35] lizzieinvancouver commented on #42
Okay, see _cleaningREADME and all my recent commits for where we're at. Needs more work ...

[2017-01-30 13:02] cchambe12 commented on #65
I checked out the change and it looks great, thank you for fixing that!

[2017-01-30 13:02] #65 closed

[2017-01-30 13:02] cchambe12 commented on #65
And it is using a column in respvar to change the photoperiod column so it should stay in the clean_photo.R script

[2017-01-30 20:33] lizzieinvancouver opened #67 "go through cleanup_files.R"
Once we have an ospree_clean.csv that we are happy with.

[2017-01-30 21:05] lizzieinvancouver opened #68 "add new clean_forcetemp.R"
To:
- cleaning/
- README for cleaning
- cleanmerge_all.R

[2017-01-31 02:20] AileneKane opened #69 "Fix date formatting in cleaning code?"
We may want to fix the date formatting in the cleaning code. Ailene currently is fixing it in multiple chilling source files ("fieldchillcalc_latlong.R" and "totalchillcalc.R") using the code below. Seems like this might be better done in the cleaning code, though...
colnames(dat)[17]<-"fsdate_tofix"#the date format in this new file needs to be changed, for this code to work
dat$fieldsample.date<-

[2017-01-31 02:32] AileneKane opened #70 "Source the chill cleaning files"

[2017-01-31 21:22] dbuona commented on #64
mostly done. The zohner data was already added into the ospree.xlsx data sheet, so I don't think we need separate merging or cleaning files.
such as: zohner_checkifweneed.R

[2017-02-02 01:26] lizzieinvancouver opened #71 "deal with extra columns at start of cleanmerge_all.R"
Right now we delete them, but should we?

[2017-02-02 02:40] lizzieinvancouver opened #72 "convert degree days to days if possible"
Revisit each paper with a degree day respvar and see if we can back convert to days (e.g., see basler12). And note HOW they calculated degree days (e.g., a lot seemed to follow heide93).

[2017-02-02 04:31] lizzieinvancouver commented on #72
try ...
lookatme <- subset(d, respvar.simple=="thermaltime")
unique(lookatme$datasetID)

... returns:
"basler12"     "ghelardini10" "heide93"      "karlsson03"   "laube14a"     "skuterud94"

decide where to make changes (in clean_respvar.R?)

[2017-02-02 04:36] lizzieinvancouver commented on #72
basler12 - no go "The degree-days at bud burst were calculated from the reconstructed daily mean temperatures at the sampling site (from 1 January until sampling) and the daily mean treatment temperatures (from sampling until bud burst), using 0 ◦ C as base temperature for degree-day accumulation, as recommended by Heide (1993a)"

[2017-02-02 04:40] lizzieinvancouver commented on #72
ghelardini10" -- maybe possible? "which were terminated after accumulation of 1050 day degrees (dd) >0 °C, i.e., after 50, 40 and 75 days at 21 (Ex- periment 1), 26 and 14 °C (Experiment 2), respectively."

[2017-02-02 04:41] lizzieinvancouver commented on #72
laube14a seems tricky, need to check carefully

[2017-02-02 04:53] AileneKane commented on #69
lizzie fixed the formatting in the original ospree database

[2017-02-02 04:53] #69 closed

[2017-02-02 04:54] AileneKane commented on #28
This is done! Only thing left is to cleaning non-numeric chilling treatments and re-run code to estimate total chilling

[2017-02-02 04:54] #28 closed

[2017-02-02 14:21] AileneKane opened #73 "estimate ambient forcing temperatures"
this should be a source code in bb_analysis/cleaning

[2017-02-02 14:23] AileneKane opened #74 "fix non-numeric photoperiod_day"

[2017-02-02 15:29] AileneKane opened #75 "Clean "dateofbudburst"- convert to "daystobudburst""
two studies ("ghelardini10" and "linkosalo06") have respvar="dateofbudburst". This should be converted to days to budburst in clean_respvar.R

[2017-02-02 15:44] lizzieinvancouver opened #76 "Fix non-matching authors for labgroups"
See this line:
setdiff(unique(autsid$author), unique(auts$author))
in authors_backconvert.R

[2017-02-02 16:02] AileneKane opened #77 "Check all cleaning code (low priority): POWWOW about this first"

[2017-02-02 16:02] AileneKane opened #78 "Delete files"

[2017-02-02 16:06] AileneKane opened #79 "Finish duplicate code (look at duplicates) and then source (in cleanmerge_all)"
look at flagged duplicates to decide if they are real data or duplicated rows)

[2017-02-02 16:07] AileneKane opened #80 "Clean other columns that we may someday use (low priority)"
e.g. contininent

[2017-02-02 16:10] AileneKane commented on #77
duplicate issue: see #67

[2017-02-02 16:10] #77 closed

[2017-02-02 16:11] AileneKane commented on #78
duplicate issues

[2017-02-02 16:11] #78 closed

[2017-02-02 16:40] AileneKane opened #81 "DaystoBB Cleaning: remove rows with multiresponse=TRUE (select highest percentage) ... warning: this issue mixes up clean_bbperctodays.R and multiresp.R"
create new code that goes into budburst cleaning.
select the highest percentage of budburst OR (better option if possible) value closest to what we use in clean_bbperctodays.R
just for days to budburst cases when there are multiple percentages of budburst.

[2017-02-02 19:26] lizzieinvancouver opened #82 "deal with multiple varieties, cultivars, populations"
In the BB analysis (and other analysis) what should we do when we have tons of data from multiple cultivars etc.? Take the mean? Take a random one?

[2017-02-02 22:16] lizzieinvancouver commented on #29
I am now working on ..
- gunderson12
- cannell83 (budstage 1)
- calme94 (wrong sp?)
- falusi96

[2017-02-02 22:24] cchambe12 commented on #74
fixed all photoperiod_day issues - have some that are still ambient or blanks if paper did not specify

[2017-02-02 22:34] cchambe12 commented on #75
issue fixed!

[2017-02-02 22:34] #75 closed

[2017-02-02 22:37] #74 closed

[2017-02-02 22:42] cchambe12 commented on #71
Should be officially deleted!

[2017-02-02 22:42] #71 closed

[2017-02-03 18:52] lizzieinvancouver commented on #64
Deleted all files that are not written out or read in. And some old R code we no longer need. I think we're good! See commit 6c5b5c756a7c7f0ac0a370adf5998a27a86a290f.

[2017-02-03 18:52] #64 closed

[2017-02-03 18:53] lizzieinvancouver commented on #68
Done!

[2017-02-03 18:53] #68 closed

[2017-02-03 18:53] #49 closed

[2017-02-03 19:14] #66 closed

[2017-02-03 20:13] lizzieinvancouver opened #83 "can we move chillcheck.R?"
Maybe move to chilling folder and explain what it does in README there?

[2017-02-07 02:23] AileneKane commented on #83
Yes! This can definitely be moved. i'm not sure that its even relevant any more so it may be better to go in the archive? it was just used to create a list of papers that needed their chilling values checked, as they were non-numeric- last july, after the retreat on cape cod. l

[2017-02-07 02:30] AileneKane commented on #70
mostly done..the cleaning_chilltemp needs to be completed to remove any non-numeric values- currently this file does nothing.

[2017-02-12 21:09] lizzieinvancouver opened #84 "go through all cleaning files to check them"
As discussed on 6 April 2017, if you are assigned to check a file you should run the file as it would run (i.e., if it is SOURCED, then run the file it is sourced in, up until it is sourced, then run the file), making scratch code to check that it (the code) looks to be working right. If you think you have found an issue, follow up with Lizzie and/or the code's author.
**Don't change or add to the

[2017-02-12 21:09] lizzieinvancouver opened #85 "Finish figures on experimental relationships with latitude"
Wrap up baseline work on figures (and present results briefly at lab meeting?).

[2017-02-12 21:10] lizzieinvancouver opened #86 "Finish chilling units by forcing units figures"
... maybe make one set for days to BB and one set using just thermaltime studies?

[2017-02-12 21:12] lizzieinvancouver opened #87 "Make figures based on rstanarm models and the model I built"
Make a figure for each model (similar to Dan Flynn's figures):
rstanarm model: bbmodel1_rstanarm.R
stan model: M1_daysBB_2level.stan which is referenced in bbmodel1_stan.R ... you will need to run this model.

Let me (Lizzie) know if you hit any issues!

[2017-02-20 23:26] lizzieinvancouver commented on #67
Done, see commit 363ddb0cc4d3314fdc8242901e1f39eb19b30a06

[2017-02-20 23:26] #67 closed

[2017-02-20 23:43] lizzieinvancouver commented on #42
@MoralesCastilla and @AileneKane -- there's a clean_bbperctodays.R in cleaning. Can we delete it? I think it's old and the file we use now is in bb_analysis/clean_bbperctodays.R .... what say ye?

[2017-02-21 00:00] lizzieinvancouver commented on #42
@MoralesCastilla -- we should discuss cleaning some final species names. See also clean_spp_match.R

[2017-02-21 15:01] lizzieinvancouver commented on #21
Okay, we could add myking99 -- but it appears to be a review paper of previous experiments -- you cannot tell when these experiments were done (at least I could not) so you cannot tell how much they overlap with other studies and the authors state:

The present paper gives a brief synopsis of recent studies of winter dormancy release in Scandinavian Betula pendula and B. pubescens ecotypes, with e

[2017-02-21 15:02] #21 closed

[2017-02-21 17:38] cchambe12 commented on #72
working on ghelardini10 right now, which seems pretty straightforward. I am making figures to first show the change before committing in ospree, want to confirm changes with group first!

[2017-02-21 18:41] cchambe12 commented on #72
looks like heide93 is like ghelardini and karlsson03 is also similar but response and response.time columns are switched. need help with code to fix these three studies. skuterud94 does not specify. I need more time to work on laube14a

[2017-02-21 21:59] AileneKane commented on #9
I confirmed that this has been done in the ospree.csv file
There are 43 rows for exp1 (year=1988), 198 rows for exp2(year=1990) and 187 rows for exp3 (year= 1991)

[2017-02-21 21:59] #9 closed

[2017-02-21 22:00] MoralesCastilla commented on #42
@lizzieinvancouver and @AileneKane I have been checking clean_bbperctodays.R and yes, we should keep the version within bb_analysis (updated and more flexible function). If you are ok with it, I'll remove from cleaning and close this issue.

[2017-02-21 22:02] AileneKane commented on #8
I confirmed that this was added (all 496 rows for this study have year=1988)

[2017-02-21 22:02] #8 closed

[2017-02-21 22:08] MoralesCastilla commented on #42
Regarding clean_spp_match.R, it can also be removed since code dealing with correcting taxonomy is already included in clean_woody_sps.R

[2017-02-22 03:15] AileneKane commented on #59
Checked all and have corrected lat/longs but wondering where to put the code to fix them- in the fieldchillcalc_latlong.R files? This is what i think makes sense, since the values mostly seem to be correctly pulled from the paper, but they map to the ocean instead of on land for nearly all of them. This also brought up a larger question of using provenance lat/long vs. growing lat/long (which has

[2017-02-22 17:30] AileneKane commented on #59
As I did this work, a larger question came up for me about using provenance lat/long vs. growing lat/long (which has many more NAs, as i don't think we were as good about entering it....)

[2017-02-22 17:31] AileneKane commented on #24
The file that needs to be updated for this is cleaning_chilltemp.R in the chilling folder.

[2017-02-22 17:32] AileneKane commented on #70
the sourcing part is done- the cleaning code just needs to be updated

[2017-02-22 17:32] #70 closed

[2017-02-22 18:58] lizzieinvancouver commented on #83
Archived ... see commit e728780c5f9bff9c951ca152fee4d90030195b5b

[2017-02-22 18:58] #83 closed

[2017-02-22 20:37] AileneKane opened #88 "Add growing lat/long to chilling code estimates"
previously we were only using provenance lat/long to estimate chilling, but in some cases it may be more appropriate to use the "growing lat/long" to estimate chilling. add code to do this to fieldchillcalc_latlong.R script

[2017-02-22 20:39] #85 closed

[2017-02-22 20:46] cchambe12 commented on #73
checked and fixed!

[2017-02-22 20:46] #73 closed

[2017-02-28 16:10] lizzieinvancouver commented on #9
See also ospreexlsx_README where all this info is kept!

[2017-02-28 16:10] lizzieinvancouver commented on #8
See also ospreexlsx_README where all this info is kept!

[2017-02-28 16:26] lizzieinvancouver commented on #42
Okay! clean_bbperctodays.R within the main cleaning folder is gone (see commit 22ef8a454ab1aa7ae10f822964ee01e35b44edb3).

We need to keep clean_spp_match.R ... since it is a nice extra check on species names.

Almost on closing this issue I think! Almost!

[2017-02-28 16:45] lizzieinvancouver commented on #29
@dbuona -- it seems like clean_responsetime.R needs a little more work. We actually need to note anything we are not change in why. So, for example, on line 82:

unique(notwheretheyshouldbe$datasetID)

returns for me:
[1] "ashby62"     "basler12"    "basler14"    "boyer"       "caffarra11b" "cook05"      "laube14b"    "skuterud94"  "zohner16"

So we should have a quick note acknowledging EACH of t

[2017-03-02 16:36] AileneKane commented on #59
After discussing this, we decided that we should incorporate the growing lat/long into the chilling calculations, when it is present (instead of the provenance lat/long).

[2017-03-06 15:03] AileneKane commented on #88
I added the code to do this, but this code needs to be run to actually pull the data from an external hard drive.

[2017-03-06 15:03] #88 closed

[2017-03-06 17:42] #59 closed

[2017-03-06 19:14] lizzieinvancouver opened #89 "look at bb dates >300"

[2017-03-06 20:48] cchambe12 commented on #72
changed ghelardini10, heide93, karlsson03 to daystobudburst. Unable to fix basler12, skuterud94, and laube14a

[2017-03-06 20:50] cchambe12 commented on #86
done! sources code from /analyses/bb_analysis/cleaning/clean_thermaltimetodays.R

use script /analyses/bb_analysis/figures_forcingbychilling.R - only interesting for daystobudburst studies, unable to do anything meaningful with remaining thermal time studies

[2017-03-06 20:50] #86 closed

[2017-03-10 15:38] lizzieinvancouver commented on #72
I have a few queries!

(1) If we are not changing karlsson03 should we change the respvar.simple (the code does but that seems bad).
(2) Also, I think we should change the respvar also for the other two studies that we are changing. For example:
d<-within(d, respvar.simple[datasetID=="ghelardini10" &
    respvar=="thermaltimetobudburst"]<-"daystobudburst.converted")
(3) We should add a note about

[2017-03-10 15:46] lizzieinvancouver opened #90 "make fake data for stan models"

[2017-03-10 15:49] lizzieinvancouver opened #91 "row.names=FALSE"

[2017-03-10 15:51] lizzieinvancouver opened #92 "master file for cleaning BB?"

[2017-03-10 15:55] lizzieinvancouver opened #93 "BB > 200"
I went through all the current studies with response.time > 200

- charrier11: Looks reasonable from histogram of data. Would be good to check the calculations that created these days (they come from Fig. 1 which is some sort of thermal time).

- falusi90: went back to original paper, this is legit

- falusi96: went back to original paper, this is also legit

- partanen05: data goes from Aug 31 to

[2017-03-10 16:06] lizzieinvancouver commented on #93
Dan: Could you read all of Swartz81 (it's short) and see if you can figure where the data we have in OSPREE come from?

Cat: Can you double-check charrier11?

Be sure to use the UNCLEANED and full ospree.csv and take a look at all the data that were entered for each study before making an assessments.

In both cases if we think someone converted from thermaltime when inputting the data into OSPREE

[2017-03-10 16:13] lizzieinvancouver commented on #29
Note to Lizzie: BB data still has 2112 rows where response.time==1 and the respvar.simple is daystobudburst. Before closing this issue, find out why! (Because response.time should equal timeonly I believe in these cases).

[2017-03-10 23:18] MoralesCastilla commented on #87
code to plot the figures can be found [here](https://github.com/lizzieinvancouver/ospree/tree/master/analyses/bb_analysis), and preliminary figures are in the analyses/figures folder

[2017-03-10 23:18] #87 closed

[2017-03-15 17:41] lizzieinvancouver opened #94 "Check out ashby62 ..."
In the clean_responsetime.R ... where did the daystobudburst go?

[2017-03-15 18:29] lizzieinvancouver commented on #94
Wait, it's working now. When I run lines 87-92 of clean_responsetime.R:

+     d$respvar.simple %in% respvar.time)

[1] 24

[1] 24

[2017-03-15 18:29] #94 closed

[2017-03-15 19:08] lizzieinvancouver commented on #93
co,,it 0bb0fa246493dd3f38fa704aa52270ac707e0266

[2017-03-20 15:28] lizzieinvancouver opened #95 "Whatever happened with multiresp.R?"
We were supposed to develop code to deal with studies where we extracted multiple response variables (e.g., we extracted daystobudburst, thermaltime and percbudburst ... see heide93 or ghelardini10). I think multiresp.R was a start ... but it should be completed and moved to bb_analysis/cleaning ...?

[2017-03-20 19:47] dbuona commented on #29
@lizzieinvancouver
I am working on "Entries that are time but are not in response.time", but I cannot get the existing code to run in line 80 (now 80-82). I am not so familiar with "which statement" syntax to trouble shoot. Can you do a quick check and make sure the code works to return the list of "problem" papers?

[2017-03-20 20:05] lizzieinvancouver commented on #29
@dbuona
Hmm, it's working for me now that I changed it back to what I had:

notwheretheyshouldbe <- getemptytime[which(getemptytime$respvar.simple %in% respvar.time),]

This says find all the rows in getemptytime where the respvar.simple is in respvar.time. respvar time is defined on line 24:
respvar.time <- c("daystobudburst", "daystoflower", "thermaltime")

Here's the steps I went through to mak

[2017-03-20 20:11] dbuona commented on #93
It's hard for me to tell from the figure, but my best approximation is that Swartz81 has been converted from growing degree hours to growing degree days by dividing the values in figure 1 by 24.
see #commit 3debb39 #

[2017-03-20 20:14] dbuona commented on #29
That worked! I had skipped over an essential piece of
 clean_responsetime.R. Thanks.

On Mon, Mar 20, 2017 at 4:05 PM, lizzieinvancouver <notifications@github.com

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-03-22 20:15] lizzieinvancouver opened #96 "add metadata to plots_for_treat_choices"
Just add when starter, author(s) to top as a comment

[2017-03-22 20:53] cchambe12 commented on #72
Okay... I hope this issue is actually closed this time...

So basler12 was already entered in another way so keeping thermaltime values. Same as ghelardini10. To avoid redundancies, I left these alone.

heide93 I was able to fix figure 3 & 4
karlsson03 I was able to fix figure 1

I have added equations in the clean_thermaltimetodays.R and in thermaltimeconvert_README.rtf

Almost closed. Need to wo

[2017-03-22 21:14] MoralesCastilla commented on #92
The master BB cleaning file has been created and is in bb_analysis/cleaning/bb_clean_mergeall.R

[2017-03-22 21:14] #92 closed

[2017-04-04 15:23] lizzieinvancouver commented on #28
Notes from Lizzie and Ailene ... now that Lizzie has this running on her machine she re-ran it and Ailene and her checked the differences. Here's the relevant bit from Ailene's email on 21 Mar 2017:

I looked at the changes you noted, as well as all other changes that I could see. Most are due to the fact that chilling calculations are now done using growing lat/long (not provancne lat/long), if t

[2017-04-04 17:01] lizzieinvancouver commented on #89
Submerged into issue #93

[2017-04-04 17:01] #89 closed

[2017-04-04 17:11] lizzieinvancouver opened #97 "Finish the BB cleaning"
Need to make a list of what to deal with. Here's a start:
- multiresp.R
- folder needs a better readme and all readme files should be TXT format

[2017-04-04 22:39] lizzieinvancouver commented on #76
still working on this, just fixed some other random issues so far

[2017-04-05 20:51] cchambe12 commented on #24
okie11: can we change to -0.5? seedlings were chilled for one month at -3, and one month at 2, took the average

li05: can we change to 3.25? seedlings were chilled for 3 weeks at 6, and 3 weeks at 0.5, took the average

jones12: "Cuttings were exposed to either a 6-week or a 12-week chilling period, with each period split into three equal parts at one of the treatment temperatures (-4, 0, 4 or 8C

[2017-04-06 15:47] dbuona commented on #96
closed with commit 51ee172

[2017-04-06 15:47] #96 closed

[2017-04-06 17:11] #56 closed

[2017-04-06 17:26] cchambe12 commented on #24
up to Ailene and Lizzie to fix

[2017-04-11 18:41] lizzieinvancouver commented on #84
Review now:
cleaning/clean_forcetemp.R
cleaning/
cleaning/
cleaning/
cleaning/

Need to review someday, not yet:
cleaning/clean_duplicates.final

[2017-04-11 21:02] cchambe12 commented on #84
Line 186 for clean_respvar.R, should we move to after next chunk or just remove the line?

[2017-04-11 21:25] lizzieinvancouver commented on #84
@cchambe12 Good question! I changed the lines, see what you think. And great catch!

[2017-04-11 22:29] MoralesCastilla commented on #97
I have made and pushed some edits to readme file.

[2017-04-11 23:33] MoralesCastilla commented on #81
I have been looking into this issue, but I would need further clarification.

If I got it right, the code should select rows whose respvar is any of: c("daystobudburst","daysto50%budburst","daysto20%budburst","daysto25%budburst")

and for those studies, species, experiments, that have more than one value, the code will remove all rows except for that with the highest percentage?

As soon as I'm cl

[2017-04-12 10:45] cchambe12 commented on #84
Yeah that looks better thanks!

[2017-04-12 11:12] cchambe12 commented on #93
I am not sure how entries were calculated. Charrier11 uses MTB (Mean Time until Budburst) which is calculated in hours. The numbers in Table 1 and the entries are very different and I cannot figure out how the entries were calculated. For Figure 2, the data was divided by 24 to get number of days. Seem accurate.

[2017-04-12 15:48] AileneKane commented on #95
Yes, I started on this with multiresp.R but did not have time to finish it at the retreat, and was unclear on what happened with it in the end. At the time, we were concerned with dealing with those studies that had multiple response variables and also used either days to budburst or percent budburst. At that time, there were only 3 studies for which there are multiple response variables and days

[2017-04-12 15:51] AileneKane commented on #81
This is separate, but similar to the multiresp issue so perhaps should be dealt with in the same code? I started code but only got as far as identifying the studies that needed to be fixed,

[2017-04-12 15:56] lizzieinvancouver commented on #81
Yes! See also issue #95 ...
We should handle this in multiresp.R and we should:
(1) select daystobudburst if given (aka if daystobudburst is an option for the study, select that one)
(2) select highest percent if no daystobudburst
(3) check that n across different response types is not grossly different (aka >25 off)

[2017-04-12 15:59] lizzieinvancouver commented on #79
Nacho is working on this and will decide on next steps (see clean_duplicates.final.R)

[2017-04-20 21:57] lizzieinvancouver commented on #58
Worked on for a while, low priority until someone can convince me this is useful. See commit 99b48f767596f9d36d6920ac77bd93920f58e425.

[2017-04-21 23:57] MoralesCastilla commented on #81
I have now worked on multiresp.R. The code now does the following:

1) identifies studies with multiple responses. There are two types, studies containing "daystobudburst" or studies containing "percentbudburst" (only one of this second type). This was already been done by Ailene.

2) Identify which values (and their corresponding rows in the global dataset) are off (by 25%).

3) Remove the rows t

[2017-04-24 19:32] dbuona commented on #84
Hi all,
I know I had other assignments in this but because clean_responsetime.R was sloppy and mostly mine, I also review that again and made a readme (clean_responsetime.R). Now its more ready for you  @lizzieinvancouver , and I'll do my actual assignments.

[2017-05-02 15:53] cchambe12 commented on #93
Charrier11 looks great, all set, no changes necessary.

[2017-05-02 16:37] cchambe12 commented on #93
For Swartz81, Tim just divided growing degree hours by 24 which I think is okay. The paper clarifies in the Methods section that they use the same calculation as the Richardson et al, 1974 paper. This paper uses a Utah Chilling model which states 5 degC at 1 hour is the equivalent of 1 chill unit. So just dividing the response by 24 should give the give the days to budburst. I have added this info

[2017-05-02 16:37] #93 closed

[2017-05-02 16:38] cchambe12 commented on #72
All set! Swartz81 is under a different issue #93, which is now closed.

[2017-05-02 16:38] #72 closed

[2017-05-05 18:53] lizzieinvancouver commented on #29
@dbuona Check out my notes in the clean_responsetimeREADME and let's meet up and finish this!

[2017-05-08 23:27] lizzieinvancouver commented on #29
@dbuona Check out my new notes in the clean_responsetimeREADME and bounce this back to me when done. I can check thermaltime stuff if needed, let me know.

[2017-05-11 00:44] lizzieinvancouver commented on #97
@MoralesCastilla I looked at bbcleaning_README.txt and bb_cleanmergeall.R which look good, but we need to finalize issue #95 ...

[2017-05-11 00:46] lizzieinvancouver commented on #84
bb_cleanmergeall.R (DONE for now, by Lizzie)

Up next (Lizzie):
chilling/cleaning_chilltemp.R
chilling/cleaning_provlatlong.R
chilling/fieldchillcalc_latlong.R
chilling/interpolclimate.R
chilling/pullclimate_eur.R
chilling/pullclimate_nam.R
chilling/totalchillcalc.R
chilling/chillmerge_all.R

Need to review someday, not yet:
cleaning/clean_duplicates.final
all files in ... bb_analysis/cleaning/
cl

[2017-05-11 01:04] MoralesCastilla commented on #95
Hi Lizzie, Ailene,

This issue was sort of duplicated (#81). I worked on multiresp.R (see my comment to issue #81 below). I would just need one of you to have a look at my edits to the code, and if we are all happy with it, we could close the issue.

_________

This is coming from issue #81:

I have now worked on multiresp.R. The code now does the following:

identifies studies with multiple respo

[2017-05-11 01:06] lizzieinvancouver commented on #84
@MoralesCastilla I am working on checking clean_bbperctodays.R and I have one request and one query:

Request! Could you update the notes in the file a little? In particular:
(1) delete lines 8-10 if those todo notes are done (I think so)
(2) Adjust line 57 to be affirmative and not a question (unless it is still a question)
(3) Add simple notes to each of the three if blocks on lines 71-92 to say

[2017-05-11 23:06] MoralesCastilla commented on #84
@lizzieinvancouver response to your request and query:

I have now changed and pushed clean_bbperctodays.R as requested.

I agree that it makes sense to aggregate fieldsample.date and so I have added it to the code and pushed.

[2017-05-11 23:35] MoralesCastilla commented on #79
I have pushed a few edits to clean_duplicates.final.R @AileneKane @lizzieinvancouver

I have checked the script and it does what it is supposed to: a) remove fully duplicated lines and b) remove additional lines that differ by less than 0.5% in their response variable, and thus are due to either potential duplicates or to human error. We can always mute the part b of the code, but as is, it remove

[2017-05-13 23:53] lizzieinvancouver commented on #81
@MoralesCastilla Thanks Nacho for all this!

Can you check the code that does (1. identifies studies with multiple responses. There are two types, studies containing "daystobudburst" or studies containing "percentbudburst" (only one of this second type). This was already been done by Ailene.)?

I tried the below chunk of multresp.R:

#start with output/ospree_clean_withchill.csv file
d<-read.csv("

[2017-05-22 13:14] AileneKane commented on #24
What is the deal with this study- Cat, do you know?
d[which(d$chilltemp=="Chilling treatment at 0.7 \xb1 0.7 C interrupted by mild spells of 14 days duration at a constant temperature of 8 or 12 C"),]#granhus09

[2017-05-22 13:15] lizzieinvancouver commented on #24
@AileneKane I think I entered this study!

[2017-05-22 13:25] AileneKane commented on #24
@lizzieinvancouver ok- let's look at it (and other questions...) while you're here for our "microworkshop"!

[2017-05-22 20:28] AileneKane commented on #24
There are two papers that have chilldays that need to be looked at in the paper:
skuterud94: "40,55,60 (mean across these presented)"

[2017-05-22 20:30] AileneKane opened #98 "Add "year" to studies that are missing that data"
Zohner 2016 (and two others i think?)

[2017-05-24 13:21] lizzieinvancouver commented on #84
@dbuona I found a few errors in clean_photo.R which made the code fail, can you double-check my changes?

[2017-05-24 14:50] lizzieinvancouver commented on #79
@MoralesCastilla Hello! I worked on this today. I started by just looking at a lot of the files being deleted in the first chunk of code and finding most were unique based on on unused target variables. So I kept adding to tarvar until it seemed to be deleting (as best I could tell) truly duplicated data.

I still think some of the former duplicates *should* be deleted, but only in other cleaning

[2017-05-24 15:05] lizzieinvancouver commented on #98
Heide03 is a seed study, no year is thus correct IHMO.
heide05 "vitro micropropaga- ted plants of the commercial apple and pear rootstock cultivars listed in Table 1 were obtained from an authorized horticulture nursery" -- no year is thus correct IHMO.

Not quite sure why some of these were not entered:
cook05: year is 1999 and fieldsample.date is 7 Jul 199

[2017-05-24 16:23] lizzieinvancouver commented on #98
Wait! I have even more with issues:

basler12 -- Sampling of the cuttings took place on 2 and 3 March 2009
charrier11 (exp 2 only; exp 1 is actually field observations) -- they don't really say but they are doing phenological observations in spring 2008 and 2009 and they clipped on 29 November, so probably 29 Nov 2009 is field sample date
karlsson03 -- says "monthly intervals 15 January to 15 May,

[2017-05-24 16:47] AileneKane commented on #98
Yay lizzie! Thank you!

[2017-05-24 16:47] #98 closed

[2017-05-24 17:16] AileneKane opened #99 "add continent to all sites in north america and europe (this is required to pull climate data)"

[2017-05-24 19:01] AileneKane commented on #95
Next step with this is to:
1)Fix/check multireponse column so that it is accurately accurately identifying the studies listed in issue #[81](url) by Lizzie

[2017-05-24 19:25] lizzieinvancouver commented on #84
Look at misc/checkingRcode.R for suggestions and add to it!

[2017-05-24 19:30] #24 closed

[2017-05-24 20:36] lizzieinvancouver commented on #79
@MoralesCastilla Okay! I have updated cleaning/clean_duplicates.R but it would help me if you went through and checked what is deleted on line 94. I tried looking at some of subset(ospree.sub.no.dup, remove==1)  and am not sure I can tell why some things are deleted ... I am just not sure what happens with reponse.time:
line 80: if(d.subset.j$response.time[h]%in%d.subset.j$response.time[-h]){
And

[2017-05-24 20:37] lizzieinvancouver commented on #97
@MoralesCastilla I think we're close on this, I pushed my edits to clean_duplicatesmore.R which deletes not too much data, but we should wait to finalize it until we also finalize clean_duplicates.R (see issue #79)

[2017-05-24 22:36] lizzieinvancouver commented on #81
One check to do once multiresp.R is done: make sure the below are down to one response variable:
# Both thermal time and daystobudburst were entered for basler12,
# Both thermal time and percentbudburst were entered for ghelardini10

[2017-05-24 22:45] lizzieinvancouver commented on #81
@cchambe12 Quick query ... in looking through clean_thermaltimetodays.R I noticed heide93 gets changed but I think it is another multiresp issue. If I look at d before thermaltime is cleaned I get this:

goo1 <- subset(d, datasetID=="heide93")

       daystobudburst percentbudburst thermaltime
  exp1              0             180          60
  exp2              0             180         176
  exp

[2017-05-24 22:46] lizzieinvancouver commented on #29
@dbuona Here are my comments that we could add to the README:

**cannell83:** You're right, we definitely could extract thermaltime from Fig 3 but we'd still be up against some issues in converting to budburst. So I say let's leave it as is for now. I added a note about it in ospreexlsx_README.txt

 **ghelardini10:** I agree that this fine, I made it note so we make sure it ends up okay after we f

[2017-05-25 14:57] dbuona commented on #29
sounds good. I think that is everything I found.  Does this mean we are
done with response.time?!? glorious.

On Wed, May 24, 2017 at 6:46 PM, lizzieinvancouver <notifications@github.com

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-05-25 15:17] #99 closed

[2017-05-26 11:38] cchambe12 commented on #81
@lizzieinvancouver

I think I may have messed up the code somehow then in clean_thermaltimetodays.R !

Good catch! My initial thought is it is another multiresp issue and should be treated similarly to basler12. I'll investigate more and we can discuss at our next meeting.

[2017-05-26 16:14] lizzieinvancouver commented on #81
@cchambe12 Okay, definitely check more! If it should be treated like basler12 then please change your code and post here so I can update one file that reminds me to check on the multiresp output ... also, you missed the exciting news that Nacho decided we should set a deadline for all cleaning so we did and it's  .... 7 JUNE!  So please work on this soon.

[2017-05-26 16:16] lizzieinvancouver commented on #29
@dbuona
I ... think ... so. (What will we both do with ourselves now?!)

Just update it so it says that heide93 should be handled either in thermaltime or multiresp code files and is okay here and ... we're done!

Thanks for all the amazing work!

[2017-06-02 22:37] lizzieinvancouver commented on #29
@dbuona Can we close this?

[2017-06-05 14:44] AileneKane commented on #84
@cchambe12 I'm working on checking thermaltimetodays.R  and I have one question:

(1) have you made any progress figuring out the 4 studies in dtt ("basler12"   "karlsson03" "laube14a"   "skuterud94")? The dtt item gets created but not used in this script, and there are several notes that do not seem to be addressed in lines 30-33.

[2017-06-05 14:47] dbuona commented on #29
yes I think so!

On Fri, Jun 2, 2017 at 6:37 PM, lizzieinvancouver <notifications@github.com>
wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-06-05 15:44] AileneKane commented on #84
@lizzieinvancouver @cchambe12 @MoralesCastilla The bb readme file says "The goal of this folder is to clean the response variable BB and centralize in bb_cleanmergeall.R."
I wanted to make this statement a bit more specific and clear. I think it should say:
"The goal of this folder, centralized in bb_cleanmergeall.R, is to clean the response variable budburst, to convert all budburst-related respo

[2017-06-05 15:50] cchambe12 commented on #84
@AileneKane

1. Good catch! Yes I made this dtt to help me originally subset the dataframe down but it is no longer necessary.
2 & 3 are to be fixed in multiresponse which I believe is stated in the clean_responsetimeREADME but maybe should be reiterated here?

Thanks!

[2017-06-05 16:10] AileneKane commented on #84
Questions about the bb_cleanmergeall.R code:
(1) It seems to work fine! I'm wondering if we want to make the specification of the target budburst level used to estimate days to budburst (90% right now) more obvious or explicit (right now it is embedded at the bottom of code in clean_bbperctodays.R).
(2) Right now, the output file includes the following response variables that do not seem relevant

[2017-06-05 16:13] AileneKane commented on #84
Ok, to clarify, the code says that "Cannot figure out laube14a or skuterud94". Just wanted to confirm that this is true and we are giving up on these sites? Or are they worth another look?

[2017-06-05 16:16] cchambe12 commented on #84
Neither of them gave enough information to change from thermaltime to daystobudburst so I believe we can give up on those, unless someone else wants to take a look to see if I missed something.

[2017-06-05 19:28] lizzieinvancouver commented on #29
@dbuona Since you did the bulk of the work I think you should do the honors!

[2017-06-05 19:33] lizzieinvancouver commented on #84
As an update (just re-pasting from above):

bb_cleanmergeall.R (DONE for now, by Lizzie)

chilling/interpolclimate.R (Lizzie -- NOT DONE)
chilling/pullclimate_eur.R (Lizzie -- NOT DONE)
chilling/pullclimate_nam.R (Lizzie -- NOT DONE)
chilling/chillmerge_all.R (Lizzie -- NOT DONE)

Need to review soon (not quite yet):
cleaning/clean_duplicates.R (Lizzie -- in progress, waiting on answer from Nacho

[2017-06-05 19:34] lizzieinvancouver commented on #84
@cchambe12 Can you go through all the files I have mentioned to date (see above in at least two major place: 26 days ago and on 11 Apr) and assigned cleaning on and see if any missed getting assigned a cleaning person? Thank you!

[2017-06-05 19:36] dbuona commented on #29
Closing in... 5.4.3.2.1...

[2017-06-05 19:36] #29 closed

[2017-06-05 19:52] cchambe12 commented on #84
@lizzieinvancouver  looks great! You got all of them!

[2017-06-06 01:43] AileneKane commented on #81
@cchambe12 please let me know what you decided after looking at this more- there doesn't seem to be anything specific about this in multiresp yet so i'm not sure if you have taken a look at this?

[2017-06-06 10:47] cchambe12 commented on #81
@AileneKane

Sorry I forgot to post here! It is a multiresp issue, I made notes in the bbcleaning_README.txt and the clean_thermaltimetodays.R script describing that the percentbudburst was already converted to daystobudburst so thermaltime did not also need to be converted.

[2017-06-06 15:24] dbuona commented on #61
Maybe too literal, but kind of catchy. Osprey song: https://www.youtube.com/watch?v=KoOQK6ejuXY&t=35s

[2017-06-06 18:57] AileneKane commented on #95
identify thermal time and days to budburst stiudies also

[2017-06-06 19:22] AileneKane commented on #95
@lizzieinvancouver @MoralesCastilla @cchambe12
I plan to move the multiresp.R file into the bb_cleanmergeall.R file as step 2. I will do this at 4:30pm today (June 6, 2017). Please let me know before then if there are any problems with that! After the move takes place, i will check the code and update the other code in bb_cleanmergeall.R  (or ask questions about it) as needed. Thank you!

[2017-06-06 19:53] lizzieinvancouver commented on #84
@AileneKane I think chillmerge_all.R looks good aside from these queries/requests:
line 64 says:
# 6. Write out the file with total chilling estimates- (I have not done this yet!)
But we have done this ... right? Can we delete '(I have not done this yet!)'?

Also, the last lines:
#Check for duplications and other things in the new ospree_clean_withchill.csv file
dat4<-read.csv("output/ospree_clean

[2017-06-06 19:56] lizzieinvancouver commented on #84
@AileneKane Could you also go through:
chilling/interpolclimate.R
chilling/pullclimate_eur.R
chilling/pullclimate_nam.R

And add some quick notes one what the chunks do and clean the notes you have? For example in chilling/pullclimate_eur.R  on lines 28-35 you could explain what you are doing quickly? Also update some of your notes mentioning 'using fieldsampledate' and 'using fieldsampledate2'. A

[2017-06-06 20:10] AileneKane commented on #84
@lizzieinvancouver
I will address these, including deleting
"# 6. Write out the file with total chilling estimates- (I have not done this yet!)"

[2017-06-07 00:14] MoralesCastilla commented on #79
@lizzieinvancouver @AileneKane I have been re-running, re-checking and correcting this code.

The first chunk looks good to me after adding more target variables to build blocks within which look for duplicates.

I have corrected the second chunk. As it was, it identified, within each block containing duplicated values (according to tar.var) which lines had values of response that were within 0.5%

[2017-06-07 00:26] MoralesCastilla commented on #97
@lizzieinvancouver Since clean_duplicates.R is now finished (or so I think) should we edit clean_moreduplicates.R to do the same (i.e. copying tar.var and editing the second chunk accordingly)?
I'll do that as soon as you give me the thumbs up.

[2017-06-07 00:37] MoralesCastilla commented on #95
@AileneKane I have been re-checking multiresp and am not sure if I need to do something else there. It seems to work and it is in need of being activated (removing # sign in lines 51-52 and 96-97) if you and @lizzieinvancouver think it does what we want.

[2017-06-07 00:54] MoralesCastilla commented on #97
@lizzieinvancouver @AileneKane I have edited the second cleaning chunk of clean_moreduplicates.R to conform it to clean_duplicates. I have not changed the selection of variables to look for duplicates in this piece of code. If you think the variables should coincide with those in clean_duplicates I will change it, and then it should be ready.

[2017-06-07 15:57] AileneKane commented on #95
@MoralesCastilla We need to run through it and make sure that it works in conjunction with the other code in bb_analysis/cleaning. I will try to run through it once before lab meeting today, and then we can discuss questions and strategize for completion of this!

[2017-06-08 13:02] AileneKane commented on #95
@MoralesCastilla I think I found the problem with the multiresp code. We need to update the multiresp code to use "d$multibothresp" in addition to  "d$multiresp" in Lines 15-17 (The difference between these
columns: multiresp: multiple original respvar which are now all one respvar.simple, multibothresp: multiple original respvar which each are a different respvar.simple) . I added line 17 because

[2017-06-08 20:56] MoralesCastilla commented on #95
@AileneKane I have now made and pushed changes to include multibothresp in the code. I have ended finding a couple bugs that I have corrected too. However, we can't use <multibothresp> and <multiresp> simultaneously or then the code will not remove a single line. Thus, I have now started the code with:
<
target.multiresp<-c("multiresp","multibothresp")
i=2 #or 1
target.multiresp<-target.multiresp[

[2017-06-09 12:53] AileneKane commented on #95
@lizzieinvancouver @MoralesCastilla
Ok, I realize this sounds crazy, but I’m thinking we may actually need a NEW multiresp column because i don’t think either multiresp or multibothresp does what we want….I think what we want the column to do is identify those studies that have multiple response variables entered  (e.g. percent bud burst and height; days to bud burst and percent bud burst). Neithe

[2017-06-13 14:59] lizzieinvancouver commented on #79
@MoralesCastilla I finally checked this. It looks good. You can close the issue!

[2017-06-13 15:00] lizzieinvancouver commented on #97
@MoralesCastilla Yes! Please do it and let me know when it's done so I can finalize the BB cleaning ... Thank you!

[2017-06-13 15:03] lizzieinvancouver commented on #84
@MoralesCastilla Let us know when these are checked out:
chilling/interpolclimate.R (Nacho -- NOT DONE)
chilling/pullclimate_eur.R (Nacho -- NOT DONE)
chilling/pullclimate_nam.R (Nacho -- NOT DONE)

Review once Ailene finishes (I think this is ready now?):
bb_analysis/cleaning/multiresp.R (Nacho - NOT DONE)

@AileneKane @MoralesCastilla
Ailene, could you check this one once Nacho finishes it? (I h

[2017-06-13 15:06] lizzieinvancouver commented on #84
@AileneKane @MoralesCastilla ... did we ever answer the below from you Ailene:

Questions about the bb_cleanmergeall.R code:
(1) It seems to work fine! I'm wondering if we want to make the specification of the target budburst level used to estimate days to budburst (90% right now) more obvious or explicit (right now it is embedded at the bottom of code in clean_bbperctodays.R).
(2) Right now, the

[2017-06-13 15:09] lizzieinvancouver opened #100 "Someday: check how excluding leafout impacts bb analysis?"
Right now, the BB output file includes the following response variables that do not seem relevant to Ailene: "daystoleafout" (these are from fu13, laube14b, and worrall67) and "leafunfoldingdate" (morin10).

[2017-06-13 17:52] MoralesCastilla commented on #79
Aaaand closing!

[2017-06-13 17:52] #79 closed

[2017-06-13 17:55] MoralesCastilla commented on #97
@lizzieinvancouver This has been done already

[2017-06-13 17:56] lizzieinvancouver commented on #97
@MoralesCastilla Okay! I will work on checking it. Thanks!

[2017-06-13 17:56] lizzieinvancouver commented on #79
Whee!

[2017-06-13 18:01] MoralesCastilla commented on #84
@lizzieinvancouver @AileneKane

bb_analysis/cleaning/multiresp.R (Nacho DONE)
Perhaps Ailene wants to check it out.

For these tasks:

- chilling/interpolclimate.R (Nacho -- NOT DONE)
- chilling/pullclimate_eur.R (Nacho -- NOT DONE)
- chilling/pullclimate_nam.R (Nacho -- NOT DONE)

I would need to know where in WeldShare the climatic data are. I will run the code as soon as I can obtain the climat

[2017-06-14 14:55] AileneKane commented on #81
May need to update this to use one of the new multiresponse columns?

[2017-06-14 14:59] AileneKane opened #101 "Modify climate-pulling code to pull data for full year before and after field sample date from netcdf files"
Lizzie says that PMP requires one full year of climate data so we need to pull more than what we already have.

[2017-06-14 15:36] #91 closed

[2017-06-14 16:04] MoralesCastilla opened #102 "Check the 2 climate datasets"
Find and check climate data and re-download if not in WeldShare

[2017-06-14 16:05] AileneKane opened #103 "Figure out why we are losing so much data due to chilling"
Look at how many studies without chilling data are seeds, are more recent data (too recent to be in livenh or eos), are location based; have field sample date missing; or other reasons for losing data. Find out how many rows and how many studies are lost.

[2017-06-14 16:06] MoralesCastilla opened #104 "Create where data code live for OSPREE"
Complete the file for Ospree

[2017-06-14 16:12] AileneKane commented on #101
should have the following columns: datasetID, study, lat, long, year, doy, min temp, max temp, field sample date

[2017-06-14 16:27] AileneKane commented on #103
use ospreeclean_withchill.csv to do this

[2017-06-14 17:19] cchambe12 opened #105 "Go through photoperiod column to see where we're losing data"

[2017-06-14 17:20] cchambe12 opened #106 "Try to clean phenstage in respvar.simple!"

[2017-06-14 20:08] MoralesCastilla commented on #104
Done and can be find [here](https://docs.google.com/document/d/1RFR1CmaA_NI_d3_Ic4WcShrrqtPB6ktsOGFSub1oNls/edit)!

[2017-06-14 20:08] #104 closed

[2017-06-15 01:06] MoralesCastilla commented on #102
I have checked the climate datasets and code within the chilling folder. Should I close this issue?
@lizzieinvancouver

[2017-06-15 01:11] MoralesCastilla commented on #84
Ok,
these tasks:

- chilling/interpolclimate.R (Nacho -- DONE)
- chilling/pullclimate_eur.R (Nacho -- DONE)
- chilling/pullclimate_nam.R (Nacho -- DONE)

They all seem to work just fine (and they are not too slow considering the large amount of climate data).

[2017-06-15 02:02] AileneKane commented on #101
This has been added in a new folder called pmp in analyses. within this folder, use the code: pulldailyclim.R , which sources other code, and is found here: https://github.com/lizzieinvancouver/ospree/blob/master/analyses/pmp/pulldailyclim.R.

[2017-06-15 13:11] cchambe12 opened #107 "Start investigating latitude vs photoperiodism"

[2017-06-15 15:14] dbuona opened #108 "Get going on flowers vs. leaves analysis: Berries!"
Investigate data to see whether a fruitful analysis comparing floral to foliate phenological responses is possible

[2017-06-15 15:15] dbuona opened #109 "figure out why we are losing data due to forcing"

[2017-06-15 15:26] AileneKane commented on #84
@lizzieinvancouver  @MoralesCastilla
I tried to run  bb_cleanmergeall.R this morning (so that I could do my task of checking  clean_moreduplicates.R, which occurs later in the workflow of this file), but was not able to run the code due to an error in multiresp (see:
issue #[95](https://github.com/lizzieinvancouver/ospree/issues/95)). I

[2017-06-15 16:04] MoralesCastilla commented on #95
@AileneKane @lizzieinvancouver
I will go through it today and let you know when is fixed.

[2017-06-15 17:52] MoralesCastilla commented on #95
@AileneKane @lizzieinvancouver

Hi again, I think I figured out why it was not working. If you load directly `output/ospree_clean_withchill.csv`  as done in `bb_cleanmergeall.R` and that dataset has not been cleaned first by `cleanmergeall.R`, then the `clean_respvar.R` function has not been applied and the loaded dataset does not have the multi_respvar and multi_respvar.simple columns, which lead

[2017-06-15 19:07] AileneKane commented on #95
@MoralesCastilla @lizzieinvancouver
Thanks for looking into this, Nacho. I'm still confused, though, because the cleanmergall.R code (which includes clean_respvar) should have already been run on the file ospree_clean_withchill.csv (the clean_respvar file creates ospree_clean, and then the chillmergeall.R file adds the chilling to it). I shouldn't have to run both of those files every time I want

[2017-06-15 23:18] MoralesCastilla commented on #95
@AileneKane @lizzieinvancouver
I agree with you, it should not be necessary to run all the files everytime, I imagine the saved version of ospree_clean_withchill.csv was old and that is why it does not have the columns produced by `clean_respvar.R`. I can access the climate data from WeldShare, so I will save a newer version of ospree_clean_withchill.csv making sure it includes multi_respvar and m

[2017-06-20 02:01] AileneKane commented on #95
Thank you, @MoralesCastilla ! When you do this, could you also make sure that an up-to date fieldclimate.RData file also gets pushed to the “output” folder?

i somehow missed your offer to do this, and just sent out an email to lizzie, you, and cat about this! sorry! i'll keep my eye out for when you're able to get to it!

[2017-06-20 08:29] lizzieinvancouver commented on #101
Error in pullclimate_eur_pmp.R:
[code]
It happens on i=39. I wondered if maybe it is asking for data after the last year of data?

[2017-06-20 08:40] lizzieinvancouver commented on #101
Also, warning in pullcimate_nam_pmp.R:
`Warning message:
Too many values at 49869 locations: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...

I saw this issue here: http://tidyr.tidyverse.org/reference/separate.html and here: https://stackoverflow.com/questions/35260483/splitting-rows-into-columns-in-r-using-tidyr ... will see if the data looks okay next.

[2017-06-20 15:40] lizzieinvancouver commented on #101
@AileneKane Looks like I can update E-OBS through 2016, but too big to download now so I am adding it to my todo list (http://www.ecad.eu/download/ensembles/download.php#datafiles)

[2017-06-20 15:41] lizzieinvancouver commented on #102
We should pull the updated data for E-OBS! http://www.ecad.eu/download/ensembles/download.php#datafiles

[2017-06-20 15:41] lizzieinvancouver commented on #102
Also, Cat talked to Ben who did not know when livneh would be updated, but will ask his friend (called Ben also?)

[2017-06-20 18:16] AileneKane commented on #101
@lizzieinvancouver I think i fixed the Error in pullclimate_eur_pmp.R by adding a line of code restricting the pulled climate data to the last year of climate data available

[2017-06-20 18:16] #101 closed

[2017-06-22 05:49] lizzieinvancouver opened #110 "Add print message to cleanduplicates.R to state what warnings() are all about"
Do also for cleanduplicates_more if needed.

[2017-06-26 19:48] cchambe12 commented on #105
Went through all the studies and found missing entries...

For some ambient entries, I was able to use the geosphere package. Using latitude and date I could determine the daylength. How specific should I go with photoperiod entries? Also, daylength varies over the course of the experiment for these, how should we deal with this?

I have a question about schnabel87. Maybe we can go over all of thi

[2017-06-28 22:07] lizzieinvancouver commented on #105
@cchambe12 All sounds good, I think -- for what you are doing -- we just need an average for each treatment (so, if they say ambient -- you could take the average over the days).
Speaking of which I was just about to dig into geosphere myself. Can you point me to any of your code?
Thanks!

[2017-06-28 22:57] cchambe12 commented on #105
@lizzieinvancouver  excellent I will work on doing that tomorrow!

you can find my code here...
ospree/analyses/bb_analysis/cleaning/clean_photoperiod.R

I only used the 'daylength' command so it may not be terribly helpful! Seems like a cool package though!

[2017-06-29 16:16] lizzieinvancouver commented on #95
Okay, just to reiterate, what I think we need to do here is:

(Aim 1) We need to deal with any data where multiresp=TRUE and make sure we are not using duplicate data

(Aim 2) We need to deal with data where we have multiple forms of daystobudburst. Here is the order of what we want:

(1) Most want: daystobudburst (if we have this for a certain datasetID-study, we ignore the other response variabl

[2017-06-29 20:28] lizzieinvancouver opened #111 "Dirty climate data?"
Iñaki noticed some anomalies in our climate data (i.e., tmin>tmax). We might look into cleaning it?

[2017-06-29 20:42] lizzieinvancouver commented on #95
For Aim 1:
We only need to change things where it deals with budburst data:

So for:
multiresp==TRUE & respvar.simple=="percentbudburst"
These look to me to be all one study: junttila12 I am not sure what to do (perhaps we can delete all entries where resp.var=="percentbudburst_dormancy"? Need to check study)

multiresp==TRUE & respvar.simple=="daystobudburst") gives even fewer entries .... all sp

[2017-06-29 21:11] cchambe12 commented on #95
@lizzieinvancouver Alright this is what I think may be going on...

It is indeed a daystobudburst experiment but the experiment is testing "the dormancy status" and "the induction and release of dormancy" so my guess is Beth wanted to specify the difference between the two experiments in the paper. The experiment with percentbudburst_dormancy was forcing bud burst after 4, 8, and 12 weeks of short

[2017-06-29 22:54] MoralesCastilla commented on #95
@lizzieinvancouver @AileneKane
I have committed a new/corrected version of multresp `multiresp_corr.R` that deals with Aim 2 and does nothing for the Junttilla experiment. It still needs to address whatever we are doing for aim 1 and studies other than Junttilla.

On another note, I'm updating the EU climate in WeldShare to re-run the chilling code and have an updated version of fieldclimate.RData

[2017-06-30 12:28] cchambe12 commented on #106
not really much to clean... I can convert 2 studies and it would only add 9 rows total

[2017-06-30 13:16] cchambe12 commented on #105
Finished updating using average photoperiod throughout the exeperiment

Not sure what to do with schnabel87 - I fixed it for now but all of the ambient entries are in field comparisons to experiment - do we want to keep those?

[2017-06-30 21:12] lizzieinvancouver commented on #105
@cchambe12 I will be working on this and your other query soon! I think we probably don't need to fix schnabel87 ambient just now but if you can give any more detail I will look into it.

[2017-07-01 18:33] lizzieinvancouver opened #112 "Why does bb_cleanmergeall.R say see bbcleaning_README.txt?"
Line 43 ... It doesn't seem like there is any special info on this code in the readme. Did we mean a different README? If not, we should delete this. To discuss on 5 July.

[2017-07-01 18:34] lizzieinvancouver commented on #106
@cchambe12 Please check out my commit ca7cf835d0a16fe06002a422aaaef01638f613f7 (updates to your file and the main bb clean file) and see the notes within the file ... let me know if this works. If so, update the cleanphenstage file and pass back to me.

[2017-07-01 19:01] lizzieinvancouver opened #113 "thermaltime lines 26-27"
@cchambe12 Do lines 26-27 change the respvar.simple labels on ghelardini10 and heide95 to "daystobudburst" and, if do, are we sure we want to do this?

[2017-07-01 19:02] lizzieinvancouver commented on #111
Talked with Ben Cook on 30 June 2017; he said E-OBS should *not* be dirty and if it is, we should contact them.

[2017-07-01 19:11] lizzieinvancouver commented on #113
Right now I have commented them out, which seems to fix Nacho's code. We can discuss on 5 July!

[2017-07-01 19:23] lizzieinvancouver commented on #81
@MoralesCastilla What does 90 in line 125 in clean_bbperctodays.R do? (Note that changing it 85 would give us a few more rows.)

[2017-07-01 19:24] lizzieinvancouver commented on #81
@MoralesCastilla
I think clean_bbperctodays.R is close! But I noticed it is deleting datasets, why is this?

length(unique(d$datasetID))
length(unique(d.subset$datasetID))

[2017-07-01 19:27] lizzieinvancouver commented on #81
@MoralesCastilla
So, just to slowly catch up --- I think my memory that we picked 90% as our target and then took any values within 25% of that (picking the one closest) is correct, right? This would explain why we lose studies. Maybe we could be more generous? And say 80% with a 35% target? So we would include 50-115%, right? (A little over a 100% is okay since we extracted the data using extract

[2017-07-01 19:28] lizzieinvancouver commented on #81
@MoralesCastilla And just to wander on ... I will just do this myself. Please semi-ignore this thread!

[2017-07-01 19:34] AileneKane commented on #111
yikes! so, must be a coding issue...i'll look at this!

[2017-07-01 19:39] lizzieinvancouver commented on #81
@MoralesCastilla
I updated the code and will push changes in a minute. Please pull them and then for clean_bbperctodays.R could you:
(a) Check why we do lose so many studies? Even if I set the acceptable range down to allowing 10%, we still lose them.... (try length(unique(d$datasetID)) before and after running the clean_bbperctodays.R)
(b) Male a note about what the warnings mean in bb_cleanmerge

[2017-07-01 19:41] lizzieinvancouver commented on #111
Hmm, could also be very real!

[2017-07-01 19:43] lizzieinvancouver commented on #51
Or maybe not so much data to be had? See also issue #108

[2017-07-01 20:07] lizzieinvancouver commented on #95
@MoralesCastilla
Can you check my new lines 197-204? In particular make sure I did not delete any unique datasetID-exp-treatments in spiers74, I did not have time to check for this.

[2017-07-01 20:18] lizzieinvancouver commented on #102
Nacho and Lizzie updated the E-OBS data to version 15!

Get an update from Cat on this on 5 July and close!

[2017-07-01 20:21] lizzieinvancouver commented on #84
@AileneKane
I think you can try on bb_cleanmergeall.R and clean_moreduplicates.R again, and could you please also check clean_photoperiod.R?

[2017-07-01 20:24] lizzieinvancouver commented on #84
Still need someone to check ...
bb_analysis/cleaning/multiresp.R (was Nachobut someone else should check it beyond Lizzie or Nacho - NOT DONE)

Done:
chilling/chillmerge_all.R (Lizzie --DONE)
cleaning/clean_duplicates.R (Lizzie -- DONE)

[2017-07-01 20:26] lizzieinvancouver commented on #97
Lizzie thoughts: This looks pretty damn close to done to me. To discuss.

[2017-07-01 20:31] lizzieinvancouver commented on #95
@AileneKane @MoralesCastilla
Comments from above to revisit so we're ready to rock on 5 July ....

(May 24 with emoticon)
1) Fix/check multireponse column so that it is accurately accurately identifying the studies listed in issue #81 by Lizzie

(From June 8 with emoticon)
target.multiresp<-c("multiresp","multibothresp")
i=2 #or 1
target.multiresp<-target.multiresp[i]

(From July 1 with emoticon)

[2017-07-01 20:34] lizzieinvancouver commented on #42
What sort of crack was I on when I was going to close this on 28 Feb? But maybe we can close it soon?

[2017-07-01 20:37] lizzieinvancouver opened #114 "We talked about deleting multibothresp"
But we never did. I am okay with this. Everyone else?

[2017-07-01 20:49] lizzieinvancouver commented on #42
@AileneKane @cchambe12 @dbuona @MoralesCastilla
Theme songs for this issue:
Canadian: https://www.youtube.com/watch?v=7fDuNuFNG38
American: https://www.youtube.com/watch?v=bxV-OOIamyk

[2017-07-02 21:33] lizzieinvancouver opened #115 "Prep data for PMP models"
I could use help with this. To run PMP we need two major files:

(1) Climate data in form of station, lat, yr, doy, Tmin, Tmax, Tmean (and need full year of data, so for most studies need two full years)
(2) Phen data in form of station, population, yr, doy (of BB)

Output should be TXT files.

The tricky bit is mainly overwriting the climate and photoperiod data based on these columns:
"fieldsamp

[2017-07-02 21:33] lizzieinvancouver opened #116 "Write Stan code for PMP models ..."
And fake data.

[2017-07-02 21:35] lizzieinvancouver commented on #115
There is also a slightly tricky bit to thinking through the formatting of the phen data (I think we can solve this if we all think together):

PMP expects one BB day per year per station by population

[2017-07-03 20:45] AileneKane commented on #103
Overall, 5,404/12,744 rows (in ospree_clean_withchill.csv) are missing chilling data ("Total..." columns).
The primary cause of missing chilling data is lack of field sample date (4,685/12,744 rows).
About half of the data without field sample date (4,685 rows) use seedlings (2372); 870 are cuttings.

In looking at data WITH field sample date, 1,824/8,059 rows are missing chilling data.
Most of th

[2017-07-03 21:42] AileneKane commented on #111
I checked the Tmin and Tmax values we pull for north america and eur (found in the tempval list created in step 4 of chillmerge_all) and found no values with tmin>tmax. Let me know if there is anything else that I should check for, or if you want me to check the other climate data you pulled for PMP).

[2017-07-04 20:45] AileneKane commented on #114
yes!

[2017-07-05 13:00] AileneKane commented on #95
@lizzieinvancouver @MoralesCastilla
I checked this and it seems to do the job- nice work guys!

the only question i have is about phestage- there are 6 studies that use this, and i think some of them are budburst? i noticed that this code is not activated in bb_cleanmergeall.R and I'm curious why.

[2017-07-05 13:14] cchambe12 commented on #106
@lizzieinvancouver your commit worked! I don't know where it should go in the bb_cleanmergeall.R list though, one of the cleaning files removes the two studies from the list. The clean_phenstage.R script is cleaned if you want to double check it.

[2017-07-05 13:16] MoralesCastilla commented on #97
Yep, I have checked that variable selection in clean_moreduplicates.R is the same as in clean_duplicates.R.

[2017-07-05 13:18] MoralesCastilla commented on #114
I'm ok with it too.

[2017-07-05 13:31] AileneKane commented on #97
I was running this code and wonder if we could now stop the printing of rows/things to remove in source("bb_analysis/cleaning/clean_bbperctodays.R") (line 57 I think)?

[2017-07-05 14:01] lizzieinvancouver commented on #102
No new news, Lizzie will try to remember to ask Ben periodically.

[2017-07-05 14:01] #102 closed

[2017-07-05 14:09] lizzieinvancouver commented on #109
Mostly missing due to ambient+1 etc.

[2017-07-05 14:11] #112 closed

[2017-07-05 14:12] lizzieinvancouver commented on #113
All set!

[2017-07-05 14:12] #113 closed

[2017-07-05 14:12] lizzieinvancouver commented on #114
We're leaving it!

[2017-07-05 14:12] #114 closed

[2017-07-05 14:15] lizzieinvancouver commented on #105
schnabel87 has a control group of samples with ambient forcing, chilling, photoperiod --- so this is okay.

[2017-07-05 14:15] #105 closed

[2017-07-05 14:35] lizzieinvancouver commented on #108
"Flowers is not worth anything ... we have maybe, two species. And most of them are blackberries."
~ Dan (5 July 2017)

[2017-07-05 14:36] lizzieinvancouver commented on #108
Bring back strawberries.

[2017-07-05 15:18] MoralesCastilla commented on #110
Done!

[2017-07-05 15:18] #110 closed

[2017-07-05 15:38] MoralesCastilla commented on #95
@lizzieinvancouver @AileneKane

It seems that lines 197-204 work fine.

I have now dealt with the target.multiresp bit so that it always select for "multiresp". I think we should probably remove the bits of code where `target.multiresp=multi_respvar.simple` to avoid confusions. If you give me the thumb's up I'll do that, and we may get nearer to closing this issue?

[2017-07-05 16:58] MoralesCastilla commented on #81
@lizzieinvancouver @AileneKane

I think I've figured out why we were loosing so many studies in clean_bbperctodays.R:
The key line is (69):
`values.in.target<-which(dat3$response>(target.percent-target.percent*acceptablerange)&dat3$response<(target.percent+target.percent*acceptablerange))`

Which in many cases yields values.in.target = Integer(0), and thus, those lines are not flagged and are remo

[2017-07-05 19:24] lizzieinvancouver commented on #95
@MoralesCastilla Removing bits of code where bits of code where target.multiresp=multi_respvar.simple sounds good to me! Let me know when it's done.

[2017-07-05 19:26] #111 closed

[2017-07-05 19:27] lizzieinvancouver commented on #84
Ailene can close this issue once she has checked the last file ...

[2017-07-08 19:30] lizzieinvancouver commented on #106
@cchambe12
I just pushed a commit that adds this to the main bb cleaning file and I checked the code. Everything looks good, except! we still need to update the comment on line 16:

`# gansert02: we could use budstages 2-3 (QUESTION: Do you mean 2-7 ... that's what the code does) ... fixing gives 3 observations`

This is a discussion between you and me about what budstages we should be using. You

[2017-07-08 19:37] lizzieinvancouver commented on #108
@dbuona Just working on OSPREE and noticed that the spier74 PDF has vegetative and floral budbreak. I haven't checked if we entered both sets of data but worth checking out perhaps?

[2017-07-08 19:56] lizzieinvancouver commented on #95
@MoralesCastilla @AileneKane
I don't think that lines 197-204 work fine exactly, I think they DO delete some treatments but given that 10% budburst is really low, I think it is okay to lose these lines, I added a note to the file.

Let me and Ailene know when you have finished removing code related target.multiresp=multi_respvar.simple so that Ailene can check the code, then bounce to me to finali

[2017-07-08 20:00] lizzieinvancouver commented on #81
@MoralesCastilla @AileneKane I don't think the change can be working because:
before you run step 6 (clean_bbperctodays.R) in bb_cleanmergeall.R you have 10308 in d, after you run step 6 you get MORE rows (not fewer), 10561.

Also, this ends up not deleting rows here, but we now delete >3000 rows when running step 7 (clean_moreduplicates.R) ... last I checked that code deleted only 3.

Nacho, can

[2017-07-08 20:03] lizzieinvancouver commented on #84
@dbuona Would you mind cleaning bb_analysis/cleaning/clean_photoperiod.R? I think it is a new file and did not make it in our first or second cleaning sweep.

[2017-07-10 01:08] dbuona commented on #84
yes sure!

On Sat, Jul 8, 2017 at 4:03 PM, lizzieinvancouver <notifications@github.com>
wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-07-10 12:28] cchambe12 commented on #106
@lizzieinvancouver
all fixed! By the definition we are looking for stages 2-3.

[2017-07-10 16:18] cchambe12 commented on #84
@dbuona  I have pushed the edits through. Would you mind extra checking the changes I made to partanen98, they don't seem to be making changes to my dataframe and I cannot figure out why.

Also, to everyone, two studies made it through that were not coming through the first time I was editing the photoperiod column - ruesink98 and sonsteby13 - both of which appear to be flower bud studies. Not sur

[2017-07-10 16:41] dbuona commented on #84
I'm looking at it now, i think you had "repsonse.time" in some places
instead of "response.time". I'll make changes and see what happens

On Mon, Jul 10, 2017 at 12:18 PM, cchambe12 <notifications@github.com>
wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-07-10 16:43] cchambe12 commented on #84
@dbuona great that'll do it, thank you!

[2017-07-10 16:56] MoralesCastilla commented on #81
@AileneKane @lizzieinvancouver
I found an error at the end of the function (where d was subsetted by `respvar.simple==daystobudburst` instead of `respvar.simple==precentbudburst` as it should be). I have corrected it and now it passes from 10308 rows to 10224. Subsequently, cleanmoreduplicates removes 4 additional rows.

I just checked this, but it will be great if you can run it and make sure it

[2017-07-10 16:57] MoralesCastilla commented on #95
@lizzieinvancouver @AileneKane
 The code related to target.multiresp=multi_respvar.simple has now been removed. I guess Ailene can now check it and bounce.

[2017-07-10 17:06] dbuona commented on #84
Okay, I just pushed it back. The code now changes 13 out of the original 16
ambients in partenan98.
The three remaining can be view as the object "AA". I think they need
climate wizardry to change them, so I am sending ti back to you Cat, but
you should be able to just copy the chunks above once you know which
photoperiods to change them to. Happy to give it a final look at some point
too.

On Mon

[2017-07-10 17:14] cchambe12 commented on #84
@dbuona all fixed!! thanks Dan!

[2017-07-10 17:15] AileneKane commented on #84
@lizzieinvancouver @cchambe12 @MoralesCastilla
In my checking of "bb_cleanmergeall" I have the following questions/requests:
1) Cat: in clean_ambient forcing code line 39 it says: "#skuterud94 now - is thermal time, does not explicitly say which forcing temp"  could this be dealt with in the same way as other thermal time studies (cleaned earlier in the code), using a similar approach to what you

[2017-07-10 17:43] cchambe12 commented on #84
@AileneKane
1. Skuterud, was either a mean of 9, mean of 12,  or mean of 15, and didn't not say which was which. I guess we could take the mean of 9, 12 or 15 but they were three different treatments so I was hesitant to do that
2. basler12 can't be fixed - not clear enough was the force temp was
3. must be more studies added from phenstage and other new additions. I will have to go through those!

[2017-07-10 17:53] AileneKane commented on #84
Thanks @cchambe12! Could you add those notes or something similar as comments to the code so that it is clear you have scrounged through the papers in a very detailed way and its not worth going back to them for these papers?

[2017-07-10 18:20] AileneKane commented on #95
I just finished checking it and it looks good to me!

The only question I have is that there are many different "phenstages" after this code has run. Is it worth checking if any of them are budburst? I think this has been done already elsewhere, but if it seems worthwhile, I can go back and check them. They are from the following papers: "cannell83"   "gansert02"   "gunderson12" "pagter15"    "pet

[2017-07-10 18:43] cchambe12 commented on #84
@AileneKane sure thing! I will do that as soon as I go through them all. Thanks for checking through it!

[2017-07-10 20:14] cchambe12 commented on #84
all comments updated and all studies added!

I had to change the response.time column from character to numeric, is this okay? does this affect other scripts? If so, I can find another work around I am sure!

[2017-07-13 21:19] AileneKane commented on #84
@lizzieinvancouver @cchambe12 @dbuona
In checking clean_photoperiod.R, it mostly looks good but I have the following question:
There are two studies for which we do not have photoperiod data, and they have ambiguous comments about why/whether this is possible. I think it would be good to say explicitly what was decided about whether or not it is appropriate to estimate photoperiod for these two st

[2017-07-13 21:38] AileneKane commented on #84
@lizzieinvancouver @MoralesCastilla
In checking clean_moreduplicates.R, it mostly looks good but I noticed one thing:
3 rows are flagged to be removed as duplicates (see lines 108-110 checking code)
but in comparing the d object before and after the code, there are actually 4 rows removed. I could not figure out where the 4th row came from, but perhaps you can?

[2017-07-14 13:11] cchambe12 commented on #84
@AileneKane
1. Good catch - let's discuss these on Monday. I have questions about what to do with those.
2. I will work on that today.

[2017-07-14 15:14] lizzieinvancouver commented on #115
@AileneKane
From Ailene:
Some questions that i have and assumptions that i think we will have to make:
1) If no field sample date is given, the field conditions are assumed to be the climate experienced until the phenology event.
2) We will assume that samples start experiencing the chilling conditions immediately after leaving the field.
3) Does PMP estimate chilling and forcing for us?
4) Do you

[2017-07-16 13:06] lizzieinvancouver commented on #84
@cchambe12 Re: "I had to change the response.time column from character to numeric, is this okay? does this affect other scripts? If so, I can find another work around I am sure!"

That's **not** a safe thing to do in the cleaning code (anything that is not numeric will be lost without anyone noticing), could you please find another work-around? Happy to help if I can ... I couldn't actually follo

[2017-07-16 22:15] lizzieinvancouver commented on #106
@cchambe12
Close, that fixes gansert02! But I then noticed that you say "pagter15: Between budstage 1 and 2 is considered budburst" but don't select just those values, I updated the code to fix this. Can you check this is correct now?

[2017-07-16 22:31] lizzieinvancouver commented on #95
@AileneKane

From Cat's clean_phenstage.R file:
cannell83: not a useful daystobudburst conversion
gansert02: we could use budstages 2-3  (rest we cannot use)
# gunderson12: budburst is defined as stage 4 which is plotted in Figure 2 and is already recorded in ospree dataset
# pettersen71: flowers - can't fix
# pagter15: Between budstage 1 and 2 is considered budburst  (rest we cannot use)
# sonste

[2017-07-16 22:32] #95 closed

[2017-07-16 22:54] lizzieinvancouver commented on #108
@dbuona Also, random thought -- check the phenstage studies and see if any of the phenstages includes span bb to flowering?

[2017-07-16 23:05] lizzieinvancouver commented on #81
I ran it, I checked it a little more, the spot-checking made things look good, so I am gonna close this puppy!

[2017-07-16 23:05] #81 closed

[2017-07-17 13:03] cchambe12 commented on #106
@lizzieinvancouver
Looks great! Thanks for the fix! I am going to close this bad boy.

[2017-07-17 13:03] #106 closed

[2017-07-17 13:09] cchambe12 commented on #84
@lizzieinvancouver
Right yeah that makes total sense, I'm glad I asked! I like that fix too. Looks great!

[2017-07-17 13:35] cchambe12 commented on #84
@AileneKane
The discrepancy in photoperiod_day and photoperiod_night is from studies that did not give enough information or are from flower studies. They were just blanks so I changed them to "ambient".

I also went through the new studies added and none of them were specific enough or they were flower studies.

[2017-07-17 13:59] lizzieinvancouver commented on #106
@cchambe12 Whoop!

[2017-07-17 15:58] AileneKane commented on #103
I believe that Zohner climate data is excluded because the year column was left blank (even though the field sample date column is filled in). This seems to be the only study for which year was not entered as a column, even though we have the data. So, we have two choices for a solution that i can think of- we add the year data to the OSPREE database directly, or we add it in some cleaning code so

[2017-07-17 16:43] lizzieinvancouver commented on #103
@AileneKane I can add it to the main cleaning file, then re-run everything. Should year be extracted from the field sample date?

[2017-07-17 17:30] AileneKane commented on #103
@lizzieinvancouver i think that would work fine! for all other studies is was entered in separately as its own column.

[2017-07-17 21:33] lizzieinvancouver commented on #84
Okay, going backwards through what I see above (but based on a list of files I just made):

bb_analysis/cleaning/
bb_cleanmergeall.R (Lizzie and Ailene signed off on this)
clean_ambientforcing.R (Lizzie and Ailene signed off on this, Cat also did, but before updates)
clean_bbperctodays.R  (Ailene signed off on this)
clean_moreduplicates.R (Lizzie and Ailene signed off on this)
clean_phenstage.R  (

[2017-07-17 21:34] #84 closed

[2017-07-17 21:35] lizzieinvancouver commented on #97
@MoralesCastilla @AileneKane
Thanks for all your help on this issue! I cannot believe it is only 3 months old, feels sooo much older.

[2017-07-17 21:35] #97 closed

[2017-07-17 21:36] lizzieinvancouver commented on #42
@AileneKane @cchambe12 @dbuona @MoralesCastilla
I assume we should have a ceremony before I close this? I think I will leave it open for now, just to note spite the gods.....

[2017-07-17 22:05] lizzieinvancouver opened #117 "fieldsample.date and year"
@AileneKane
We should look into this more, a quick comparison of the year in fieldsample.date with the column year shows many instances where they are not the same.

Year should have been entered for 'year of experiment' .... so I need to update my work on Zohner and you should check how you used year.

[2017-07-17 22:20] lizzieinvancouver commented on #117
Just changed Zohner so year is always 2014 (see commit 4b56122f447893b5cb8384ed2cf72069b87d73d8). Updated all downstream files.

[2017-07-18 17:11] AileneKane commented on #117
@lizzieinvancouver this is how we used year in the chilling code:
year was used to select studies for which climate data could be pulled. lat-longs from studies with year after 1950 were used to pull data.

[2017-07-18 17:22] lizzieinvancouver commented on #117
Okay! We should be fine then. Thanks! And sorry for the bother.

[2017-07-18 17:22] #117 closed

[2017-07-26 15:17] lizzieinvancouver opened #118 "Check taxa for ..."
each species/taxa we are analyzing has 2 or more datasets for representing at least 2 of the 3 predictors (chill, force, photo) ... ideal is 2 or more datasets representing all 3 predictors.

[2017-07-26 17:11] #103 closed

[2017-07-27 14:56] lizzieinvancouver opened #119 "Update thermaltime code for new Laube info"
Check README in bb_analysis/cleaning with email from Julia Laube.

[2017-07-27 15:00] lizzieinvancouver opened #120 "Update species complex list once we add Laube"
And check list [here](https://github.com/lizzieinvancouver/ospree/wiki/Models!) ....

[2017-07-27 15:03] lizzieinvancouver opened #121 "Latitude model"
- plot the partial pooling slopes
- plot the no pooling results (i.e., linear models for EACH species)

[2017-07-27 15:04] lizzieinvancouver opened #122 "Check on climate data"
- pull Schwartz 1981
- check 1950s studies (Ashby 62)

[2017-07-27 15:04] lizzieinvancouver opened #123 "fix/check testdata for interaction model"

[2017-07-27 15:07] lizzieinvancouver opened #124 "finalize GDD"
- Need to add for studies without fieldsampledate or lastchill date but WITH experimental forcing .. just  multiple response.time x forcetemp....

[2017-07-27 15:10] lizzieinvancouver commented on #116
PMP is tricky, so will just try sigmoid, this issue not so relevant anymore

[2017-07-27 15:10] #116 closed

[2017-07-27 15:12] lizzieinvancouver commented on #115
Done, we now focus more on daily climate than PMP, see folder bb_dailyclimate

[2017-07-27 15:12] #115 closed

[2017-07-27 15:12] #109 closed

[2017-07-27 15:14] lizzieinvancouver commented on #57
Done! See output/bb_analysis/taxon, be sure to read README...

Also see bb_model_stancode_spp.R

[2017-07-27 15:14] #57 closed

[2017-07-27 15:16] lizzieinvancouver opened #125 "look at response.time==0"
See also 'response again' #30 ... also check when percbudburst=0....

[2017-07-30 18:24] lizzieinvancouver commented on #124
And make plots? It would be cool to see GDD vs. Chill Hours (or some metric of chilling), color-coded by species with each plot a different range of photoperiods ....

[2017-07-30 18:25] lizzieinvancouver commented on #118
Maybe? To discuss.

[2017-07-30 18:28] lizzieinvancouver opened #126 "Weinberger analysis"
Compare field sample method vs. experimental chilling... see also [wiki here](https://github.com/lizzieinvancouver/ospree/wiki/Weinberger-analysis-notes)

[2017-07-30 18:45] lizzieinvancouver opened #127 "What is up with the Stan models?"

[2017-08-03 05:07] lizzieinvancouver commented on #127
**Okay, here is my progress as of 2 August 2017**
The model without interactions:
-1.2 force, -1.0 photo, -1.6 chill, intercept 83

The model without interactions:
0.02 force, 0.67 photo, -0.76 chill, intercept 62, small intxns (-0.01 to 0.09)

Okay, is maybe one interaction driving this? I will try three models, each one dropping an interaction:

Drop chill x force:
-0.1 force, 0.7 photo, -1.4 ch

[2017-08-03 05:08] lizzieinvancouver commented on #127
@dbouna In making some figures (see bbmodels_stanplotting.R) I noticed this:

subby <- subset(bb.stan, complex==48)
subby

It’s all one study. Can you check my code and see what I am perhaps doing wrong? In bb_analysis/figures/M1inter_collinear.pdf I color-coded (I think) by datasetID and am seeing many complexes with one datasetID. Any ideas what I am doing wrong?!

[2017-08-03 22:31] dbuona commented on #127
I've give it a look tomorrow and let you know.

On Thu, Aug 3, 2017 at 1:09 AM, lizzieinvancouver <notifications@github.com>
wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-08-04 14:31] dbuona commented on #127
Okay, I think i figured it out. We originally filtered out complexes with
only 1 dataset before you subset the response column to %budburst and
daystobudburst in bbdataplease.R. That filtering dropped some studies,
which made some of our complexes which had originally had multiple studies,
just 1.

I think I fixed the problem in bbdataplease.R. I dropped complexes with
just 1 dataset and remerged

[2017-08-08 13:04] cchambe12 commented on #119
Dan and I attempted to fix this given the new information but it was more intensive than we were expecting. We have some questions at the next meeting.

[2017-08-09 14:01] AileneKane commented on #122
I updated the code to pull an extra year of data for Schwartz 1981.
I checked Ashby62 climate data, and it stops after March 30 1957 for all field sample dates. there must be climate data missing from those years, since the first year of data is there.

[2017-08-09 14:02] AileneKane commented on #122
I just need someone to connect to the climate drive, run  the “pulldailyclim.R” file, and sync, so that i can use the updated climate data (I have fixed the code to pull an extra year of data for swartz81).
@lizzieinvancouver @cchambe12 @dbuona @MoralesCastilla

[2017-08-09 16:31] dbuona commented on #122
I will try and connect remotely, and if not I can do it tomorrow from weld
hill.

On Wed, Aug 9, 2017 at 10:03 AM, AileneKane <notifications@github.com>
wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-08-09 18:26] dbuona commented on #122
Seems like its working, just moving very extra slowly, probably because I
am remotely connected. I'll push a new file when/if it finishes

On Wed, Aug 9, 2017 at 12:31 PM, Buonaiuto, Daniel <dbuonaiuto@g.harvard.edu

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-08-09 21:40] dbuona commented on #122
Okay, I changed the code to "pulldailyclim.R” so it should pull the climate remotely, but I've encountered a few problems:
1)I could not find a file path for:
_# 4c. pull climate data from europe
source("pmp/pullclimate_eur_pmp.R")
# 4d: pull climate data from north america
source("pmp/pullclimate_nam_pmp.R")_....
so I changed these to _source("bb_dailyclimate/pullclimate_eur_pmp.R")_ and _source(

[2017-08-10 00:17] AileneKane commented on #122
Hi Dan-
Thanks for working on this! It seems odd that there would be any problems with pullclimate_eur_pmp.R since i didn't change this file at all since the last time I ran it. Before I make any changes to it, could you try running it with the climate drive? We have never been able to get the code to run well remotely, as the connection is typically really slow. If you still have trouble with the

[2017-08-10 02:44] dbuona commented on #122
great. I'll give it a go tomorrow at the arboretum

On Wed, Aug 9, 2017 at 8:17 PM, AileneKane <notifications@github.com> wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-08-10 13:19] dbuona commented on #122
Okay, pullclimate_eur_pmp.R ran fine now.

 I am getting the following error for pullclimate_nam_pmp.R: "Error in
source("bb_dailyclimate/pullclimate_nam_pmp.R") :
  bb_dailyclimate/pullclimate_nam_pmp.R:116:0: unexpected end of input" and
it is not creating the necessary output file. Any ideas?

On Wed, Aug 9, 2017 at 10:44 PM, Buonaiuto, Daniel <dbuonaiuto@g.harvard.edu

--
Daniel Buonaiuto
Dept

[2017-08-10 18:00] AileneKane commented on #122
thank you dan! i'll look at the code and let you/everyone know when i think i've fixed it so that we can try again! i think you are right about a missing parentheses or something- i just have to find it!

[2017-08-11 12:36] AileneKane commented on #122
Ok, I think I have fixed the code. Could someone try running it again? Thank you so much!!!

[2017-08-11 19:54] lizzieinvancouver commented on #122
@AileneKane I can do this this weekend!

[2017-08-12 18:35] lizzieinvancouver commented on #122
@AileneKane I just ran it and pushed it but I still have a warming:

Error in eval(expr, envir, enclos) :
  Not an error, just stopping here to say we're now done pulling daily climate data for North America!
In addition: Warning message:
Too many values at 228658 locations: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...

I also tried to update things so we stop referri

[2017-08-13 23:16] lizzieinvancouver commented on #119
@cchambe12 @dbuona Let's discuss tomorrow (Monday) if possible. Please remind me!

[2017-08-15 14:54] AileneKane commented on #122
Thanks @lizzieinvancouver ! The new code seems to have worked, but the climate data seems to be missing for swartz81 after July 1980, making impossible to get the data we needed either. I'm wondering if there's a way to check/confirm that the climate data are actually missing. About 11% of the daily climate data is missing values and I'd love to confirm somehow that these are true missing data, no

[2017-08-15 18:49] MoralesCastilla commented on #124
I have been re-checking the get_GDD code and am not sure we are getting the gdd value to input as a response variable of our bb models. Should I go through this?

[2017-08-15 19:14] AileneKane commented on #126
See bb_weinberger.R
There are 2845 rows of data, across 54 studies (17 exp studies and 37 fieldsample) that we can use for this analysis.

[2017-08-15 19:39] lizzieinvancouver commented on #119
I emailed Julia on 14 August 2017.

[2017-08-15 19:45] lizzieinvancouver commented on #127
@dbouna Okay, I am not sure what happened but this didn't seem to change much for me ... also, can we keep all the complex creation centralized or is there a reason it would need to happen here?

[2017-08-15 19:45] lizzieinvancouver commented on #124
@MoralesCastilla Let's discuss tomorrow!

[2017-08-15 19:51] dbuona commented on #127
@lizzieinvancouver does that mean you are still getting complexes with only one dataset or that it didn't change the model output?

No reason it needs to be here, it just had to happen chronologically after your subset, so I put it in. I could transfer it to a different file and we could source it, if that is better.

[2017-08-15 19:55] lizzieinvancouver commented on #127
@dbuona I am getting complexes that say they are greater than 1 but then the data appears to be from one dataset ... like Actinidia_deliciosa or Acer_pseudoplatanus

[2017-08-15 20:00] lizzieinvancouver commented on #127
@dbuona Ugh, I have found what could be the issue ... the dataset number needs to be made AFTER all the non-numerics are taken out.

[2017-08-15 20:02] lizzieinvancouver commented on #127
@dbuona (Sigh.) I think that is it. I can take it from here. Thank you!

[2017-08-16 12:43] AileneKane commented on #126
I fit a model in lmer that suggests that study type affects response time (as a main effect AND interacting with chilling, forcing, and photoperiod effects):

Linear mixed model fit by REML ['lmerMod']
Formula: response.time ~ (Total_Chilling_Hours + forcetemp + photoperiod_day +      studytype)^3 + (1 | bb.taxa)
   Data: bb.study.bb2

REML criterion at convergence: 8862.9

Scaled residuals:
    M

[2017-08-16 15:57] cchambe12 commented on #121
Model with interactions and latitude has a horrendous rhat. We centered the data to try and fix the rhat issues but to no avail. Wondering what we should do next! To discuss...

[2017-08-16 19:10] lizzieinvancouver commented on #123
Ailene checked ... seems to be working on the centered data; she will now try changing to uncentered and see if it works.

[2017-08-16 19:10] #90 closed

[2017-08-16 19:15] lizzieinvancouver commented on #118
Still in progress...Cat and Dan will make new file with predictor info. Lizzie will update code.

[2017-08-16 19:20] lizzieinvancouver commented on #122
Make a list of what's missing!

[2017-08-16 19:20] AileneKane commented on #122
Ailene will make a list of the sites in N. America and Europe that are missing large chunks of climate data

[2017-08-16 19:22] MoralesCastilla commented on #124
Finalize output to be added to Ospree data

[2017-08-16 19:22] lizzieinvancouver commented on #124
Make an output file!

[2017-08-16 19:23] lizzieinvancouver opened #128 "Make GDD vs. Chill units by photoperiod"
Try a couple different chill metrics? Color code by species.

[2017-08-16 19:24] lizzieinvancouver opened #129 "Make fake data for latitude model"

[2017-08-16 22:02] lizzieinvancouver commented on #127
Next steps:
(1) Work on model without species on the interactions
(2) Drop species off all slopes
(3) Check the weird response values
(4) Try single species models
(5) GDD ~ Chill*photo

[2017-08-17 16:43] cchambe12 commented on #118
@lizzieinvancouver @dbuona

I think I may have figured something out... I made a new script based off Dan's genius old script that you can find under analyses/bb_analysis/clean_speciescomplexes.R. I think we may be able to just use this new script and source it in each cleaning folder we have so that our data frame will adjust for each specific question we may have (e.g Weinberger or latitude stuf

[2017-08-17 17:31] cchambe12 commented on #119
@lizzieinvancouver  @dbuona

I think I fixed laube finally. Would either or both of you mind checking the code for bb_analysis/cleaning/clean_thermaltimetodays.R? I made a new data frame called "d.sub" for fear of committing it to the actual "d" data frame and the response.time in days is in a new column called "newresp". If you guys think it looks okay, I will make the data frame "d" and make sur

[2017-08-21 00:25] lizzieinvancouver commented on #119
@cchambe12 It looks good to me on quick glance. I can check again tomorrow. Could you explain two pieces for me?

a) What is up with the zero response times and with the -23.76 one?

b) What is the aim of the upper and lower (lines 80-81)?

Thanks for the great work! (Still no reply from Julia.)

[2017-08-21 00:30] lizzieinvancouver commented on #118
@cchambe12 I can look tomorrow! Can you tell me what code to source to get the 'd' dataframe that it starts with though ...

[2017-08-21 12:13] cchambe12 commented on #119
@lizzieinvancouver

a) I forgot I changed that! It looked like an error in the input because a negative value wasn't possible. I removed it for the time being to make sure the rest of my code was working but we should probably do something else with it.

b) I was creating a range that the GDD value could be in for each day. Each day is supposed to correspond to a specific GDD value. However, when

[2017-08-21 12:15] cchambe12 commented on #118
@lizzieinvancouver

the 'd' dataframe can be any .csv file you wish to use. For example, if you are doing the main stan model using the bb_analysis folder, you would use the 'd' dataframe from the bb_cleanmergeall.R script. I wasn't sure if you and Ailene were using a different 'd' dataframe for your weinberger analysis so I tried to make it a universal code that can be sourced in the cleaning fol

[2017-08-21 14:50] dbuona commented on #118
I will give it a look today as well

On Mon, Aug 21, 2017 at 8:15 AM, cchambe12 <notifications@github.com> wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-08-21 16:04] dbuona commented on #118
This seems likes some R wizardry. It looks good to me. Only posssibly one
issue:

When I ran the code, the last line (unique(d$complex)) returned 58
complexes and it looks like you returned 59 when you ran it. The difference
is Rosa_complex. Not sure why there would be a difference. I ran it off of
bb_cleanmergeall.R. Maybe run it again on your end and see if you get
something different?

On Mon,

[2017-08-21 16:12] cchambe12 commented on #118
@dbuona

Good catch! the output I wrote there was from just loading "ospree_clean_withchill.csv" so from our bb_cleanmergeall.R we must get rid of Rosa_complex. When I used "ospree_clean_withchill_BB.csv", Rosa_complex did not show up either so I think we're okay!

[2017-08-21 23:15] lizzieinvancouver commented on #119
@cchambe12 Thanks for the explanations!
Some replies:
(a) Yes! Can you see what might be wrong (maybe the - sign is a mistake?) and we can fix it... if possible.
(b) Okay! I adjusted it a little, can you take a look at my changes and see if they make sense and still work with what you were thinking. I just adjusted it so it is built off the previous and next day GDD value (I am not sure this chang

[2017-08-21 23:48] lizzieinvancouver commented on #118
@cchambe12 @dbuona
You two, this code is AMAZING! I don't really follow what it is doing fully but I compared my output (done basically by-hand) with this code and it looks like it works. Wow, amazing work! I am going to ask Nacho or Ailene to look at it since I don't have time this work, but to me it looks good on first blush.

BTW I use goo and goober when I am writing code, then swap it out whe

[2017-08-21 23:49] lizzieinvancouver commented on #118
@MoralesCastilla @AileneKane
Could one of you check bb_analysis/cleaning/clean_speciescomplex.R for any errors? Let me know when it is done (I may organize files ...). Thank you!

[2017-08-22 13:17] cchambe12 commented on #119
@lizzieinvancouver @dbuona

a) I checked the paper and it is supposed to be "no response" so I fixed it in the code
b) That's way better! Thanks!

Dan, would you mind checking through the code one more time to make sure it's doing the right thing and then I can make it actually change d when you're done!

[2017-08-22 14:21] dbuona commented on #119
I'm on it!

On Tue, Aug 22, 2017 at 9:17 AM, cchambe12 <notifications@github.com> wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2017-08-22 14:33] dbuona commented on #119
It looks good to me. I think you can go ahead and make it official. Great work! I'm inspired by this to learn how to use looping more effectively.

[2017-08-22 14:36] cchambe12 commented on #119
Thanks! I will work on that now!

On Tue, Aug 22, 2017 at 10:33 AM, dbuona <notifications@github.com> wrote:

--
Graduate Student
Harvard University | Arnold Arboretum
Department of Organismic and Evolutionary Biology

[2017-08-22 15:23] cchambe12 commented on #119
All code is updated! Waiting to close until after we hear from Julia to confirm calculations.

[2017-08-23 21:10] lizzieinvancouver commented on #119
@cchambe12 @dbuona I made some edits ... can you guys check my work? We still don't include laube14a because the forcing is '7-27.5' ... to discuss next time!

[2017-08-23 21:49] lizzieinvancouver commented on #127
Progress on next steps:
(1) That is not so great: 63 intercept; +2 force, 0.34 photo, -0.35 chill, small intxns
(2) New stan code: M1_daysBBwinter_spintonly_2level.stan yields:
54 intercept; +1.2 force, 2.9 photo, -0.07 chill, cf is super small, cp is 0.07, fp is 0.2

Will work on (3) next ....

[2017-08-23 21:59] lizzieinvancouver commented on #119
@cchambe12 @dbuona Could we update clean_ambientforcing.R to give a number to laube?

[2017-08-23 22:01] lizzieinvancouver commented on #127
Extra step to do:
(X) Update all the models as the data has changed due to new species info...

[2017-08-24 01:27] lizzieinvancouver commented on #127
Hi all! I am going through some of the weirder entries in our data (see my task (3) above) and would like your help. If you see your name within a line I am hoping you can help revisit the paper and look at the way the data was entered and see if anything is up.
Thank you in advance!

- **acesac**: only one photoperiod ... check how this sneaked in via our spiffy code @dbuona

- **maldom**: a bunc

[2017-08-24 12:22] cchambe12 commented on #119
Sure thing, should we just take the average or should we correspond the
forcing temperature for that day with the response time?

On Wed, Aug 23, 2017 at 5:59 PM, lizzieinvancouver <notifications@github.com

--
Graduate Student
Harvard University | Arnold Arboretum
Department of Organismic and Evolutionary Biology

[2017-08-24 12:40] cchambe12 commented on #119
I changed it to correspond to the forcing temperature that corresponds to
the response.time, I can adjust if we decide to do it differently!

On Thu, Aug 24, 2017 at 8:22 AM, Chamberlain, Catherine <
cchamberlain@g.harvard.edu> wrote:

--
Graduate Student
Harvard University | Arnold Arboretum
Department of Organismic and Evolutionary Biology

[2017-08-24 13:03] cchambe12 commented on #127
@lizzieinvancouver

For Swartz81 - the response.time is in growing degree days now instead of hours so I will change it to days to budburst. But, there are two varieties used in the study and they are measuring percent budburst by growing degree hours. Should we just use the first percentbudburst measurement as the day to budburst.

Example: The Redfield apple tracks percent budburst from 48% to 1

[2017-08-24 16:08] lizzieinvancouver commented on #127
@cchambe12
Thanks for your work on this! If the data are % budburst with degree days then we just need to change the response.time to daystobudburst. Nacho's code will then select the correct % budburst and remove the other rows so we can use the data.

We should only convert to "timeonly" if there truly is only "timeonly" data (if the data in that row is %budburst + time, then leave as is). These

[2017-08-24 16:08] lizzieinvancouver commented on #119
@cchambe12 Thank you!

[2017-08-24 16:09] lizzieinvancouver commented on #119
@cchambe12 After more thought, I think we should take the average over the period ... BUT, let's wait and think more on it.

[2017-08-24 17:08] lizzieinvancouver commented on #119
@cchambe12 By the way, your work this morning to add some metric of forcetemp gave us >300 more rows of data! That's a 15% increase....

[2017-08-24 17:26] AileneKane commented on #122
I'm now convinced that the missing climate data is due to a coding error on my part, rather than due to actual missing climate data. all the sites missing climate data are from north america except one european study, and ALL north american sites are missing data:
![image](https://user-images.githubusercontent.com/9097640/29679536-e5065974-88cf-11e7-951e-f52f86551c7b.png)

[2017-08-24 19:29] lizzieinvancouver commented on #122
@AileneKane Well, it's hopeful then that we might get the data! I just pushed an update on where all the climate data are. The Livneh data are unfortunately about ~100 GB but I think it could be worth you downloading them. Or we can mail you a hard drive ... preference?

[2017-08-24 19:35] lizzieinvancouver opened #130 "update forcetemp with daily data when possible"
@MoralesCastilla

Hi Nacho!

I have another OSPREE request, I am hoping this is not so bad since you are doing GDD, but let me know if my hope is incorrect ....

If you run analyses/bb_analysis/source/bbdataplease.R (you need to set the working directory, check out the start of bbmodels_stan.R) and then run the commented out bit at the end you'll see a bunch of data we could have if we filled in a

[2017-08-25 13:40] dbuona commented on #108
I'm closing this because there isn't enough flowering data to be useful.

[2017-08-25 13:40] #108 closed

[2017-08-25 13:49] AileneKane commented on #122
i should be able to download the Livenh data and figure it out from there- i have an extra hard drive so i'll put it in there. I may not get it looked at before Monday, but i will get to look at it sometime next week!

[2017-08-28 14:49] lizzieinvancouver opened #131 "Centralize lat/long cleaning?"
I just found hawkins12, long of 427.78 for Prince Rupert should be -127.78 and since they are WEST, shouldn't all of the hawkins12 longitudes be negative?!

[2017-08-28 16:11] AileneKane commented on #123
Testdata seems to work on uncentered data! model with 2-way interactions recovers main effects and interactions quite well.

 I got a warning (see below), but this warning is apparently not as big a deal as divergent transitions- it i just about effiiency.

Warning messages:
1: There were 3988 transitions after warmup that exceeded the maximum treedepth. Increase max_treedepth above 10. See
http:/

[2017-08-28 16:43] MoralesCastilla commented on #128
See the figures uploaded to (https://github.com/lizzieinvancouver/ospree/tree/master/analyses/bb_analysis/figures). I imagine we'll still decide on changes to the figures, so I'm not closing the issue yet.

[2017-08-28 16:55] MoralesCastilla commented on #124
The GDD code generates an output file <bbdata_wgdd.csv> in: (https://github.com/lizzieinvancouver/ospree/tree/master/analyses/output) that can then be utilized to build figures or in subsequent analyses. If that is good enough we can close this issue.

[2017-08-28 18:50] AileneKane commented on #131
I will move the cleaning that is currently done in "chililng" to the "cleaning"folder and make sure that this change is included that lat/long cleaning

[2017-08-28 18:52] #124 closed

[2017-08-28 18:56] lizzieinvancouver commented on #120
See issue #118 which should fix this.

[2017-08-28 18:56] #120 closed

[2017-08-28 18:57] #123 closed

[2017-08-28 19:17] lizzieinvancouver commented on #127
Thoughts today ..
(a) Can we ever get controls? And toss other studies? Does this bring back to the short-long photoperiod paradigm? Or treat photoperiod as a ranef ....
(b) Check out betpub ... this is our problem!

[2017-08-28 21:09] lizzieinvancouver opened #132 "random to do for lizzie"
papers to check out:
http://onlinelibrary.wiley.com.ezp-prod1.hul.harvard.edu/doi/10.1111/gcb.13624/full
http://onlinelibrary.wiley.com/store/10.1111/pce.12431/asset/pce12431.pdf?v=1&t=j6wie8p7&s=9670e56d7de7e1c1b841faf483a390ed36cd06a8

Switch to using chilldays in models maybe?

rename all my interactivecue stuff to limiting cues
work up limiting cues wiki page incl. abstract

come up with speci

[2017-08-29 13:30] dbuona commented on #127
**acesac** update: There are 3 studies and 3 photoperiods that use Ace_sac. Without Laube14a there is only 1 photoperiod (16 hours, despite there being 2 studies remaining). If Laube14a remains in the analysis,  there should be one row with 12 hour and one with 8 in addition to several 16 entries. As far as I can tell by looking at the cleaned data that goes in to bb_models_stan.R, Laube14a should

[2017-08-29 14:01] dbuona commented on #121
@cchambe12 I'm working on fake data making right now but I noticed something about our real data: Here are the number of rows for each species:
 Betula_pendula Corylus_avellana  Fagus_sylvatica    Larix_decidua      Picea_abies    Quercus_robur
             312               15                              133                 49                         251                               15
    Ribe

[2017-08-29 15:13] #132 closed

[2017-08-29 15:16] lizzieinvancouver opened #133 "limiting cues focal species"
@cchambe12

Hi Cat!

I think we should pick a focal species from a couple choices, I put up 3 on the [wiki](https://github.com/lizzieinvancouver/ospree/wiki/Limiting-cues) but please add! Could you also add a note on how well distributed the data for leafout/budburst are for each species across time and space (I left a little space for this, maybe include how many datapoints in total, and then a q

[2017-08-29 15:21] lizzieinvancouver commented on #127
@dbuona
Thanks for the **acesac** update.

I ran bbmodels_singlespp.R through to line 48 and then:
subset(bb.sm, complex=="Acer_saccharum")
And I do see two other photoperiods! But, as you said, only one datapoint for each so we have 17/19 datapoints being 16 hr which seems rough.

I don't think we should change it yet, but we should think on what to do.

[2017-08-29 20:18] cchambe12 commented on #121
@dbuona Good thinking! I think it may be worth trying if the fake data works out!!

[2017-08-29 20:20] cchambe12 commented on #133
@lizzieinvancouver
Sure thing! I would be happy to work on this. I will update the wiki as I go.

[2017-08-30 14:33] cchambe12 commented on #133
I have ranked them in order of data and spread and added a species to the list... Quercus robar

[2017-08-30 14:33] #133 closed

[2017-08-30 14:39] lizzieinvancouver commented on #133
Awesome! Thank you!

[2017-08-31 02:07] AileneKane commented on #131
I'm sure you are right about the longitude, though i did not check them. We did not fix all of these in the earlier cleaning code because the climate pulling code corrects for it. Let me know if you want me to go through the lat/long and actually clean each of these to fix the postive/negative errors in longitude. do you want me to correct hawkins12 for this? There are likely to be other sites tha

[2017-08-31 02:10] AileneKane commented on #126
Next steps are to:
1) Explore the odd relationships apparent in the data from the figures.
2) Fit in stan, as opposed to lmer

[2017-08-31 02:30] AileneKane commented on #118
@lizzieinvancouver
I am planning to check this file, but it is no longer located in directory specified above, nor can i find a file with that name in the ospree repo. has the file been renamed?

[2017-08-31 13:27] cchambe12 commented on #118
@AileneKane
It appears to have been moved and renamed! it is now under bb_analysis/source and is called "speciescomplex.R"

[2017-08-31 17:43] AileneKane commented on #118
@cchambe12 Thank you! i wasn't sure if that was the same file!

[2017-08-31 17:46] lizzieinvancouver commented on #131
@AileneKane

The ideal thing would be to pull out whatever cleans the lat/long and move it to the main cleaning folder, then delete it from your cleaning in the chilling folder. Do you think that is possible or way too much of a headache?
After that I think we could try to split up more cleaning between the two of us if that would help?

[2017-08-31 17:48] lizzieinvancouver commented on #121
@dbouna @cchambe12 Yay for fake data!

[2017-08-31 18:00] AileneKane commented on #118
I have checked bb_analysis/source/speciescomplex.R and it seems to work great! I think some should write what the code does at the top, so that it is clear what criteria are used to eliminate taxa and group species (unless this is already written up somewhere- then perhaps just reference the document explaining this at the top of the code).

[2017-08-31 18:40] AileneKane commented on #131
the cleaning code for north america is easy to transfer from the chilling code (it simply multiplies positive longitudes by -1 since all north american sites are negative)- and i've done that. for the european sites, it is a bit more complicated- several of them seem to just be wrong (mostly  in  the growing.long column). they will require more sleuthing and going back to the paper. i can do it bu

[2017-08-31 20:47] lizzieinvancouver commented on #131
@AileneKane Great! Let's move what we can and then decide how best to tackle more of the hand cleaning ....

[2017-08-31 21:05] cchambe12 commented on #127
@lizzieinvancouver
changes to gomory15 have been made and it should be fixed. There is only one year of treatments, so hopefully the change from dayofyeartobudburst to daystobudburst will fix the issue!

[2017-09-01 02:49] AileneKane commented on #131
3/4 of the bizarre growing longitudes are from heide93. I have fixed those by hand in cleaning_latlong.R . it's  alittle disconcerting because i have no idea where the misentered growing lat/longs came from. the paper says "The experiments were conducted at As (59°30'N)...Young trees of local origin..." so, i think the growing lat-long should be the same as the provenance lat-long for all.

the 4t

[2017-09-04 16:47] lizzieinvancouver commented on #131
@AileneKane
Hi Ailene!
I just did made a bunch of edits to get your cleaning lat/long code to run. Had you tried running it from within the main cleaning folder (and file)? If not, then I am a little less worried about the edits, but either way, can you check out commit 51c7e28e1b84e492453f2f1aa914456467ca1bea and see if it looks okay to you? I will try to run the climate code tomorrow AM.

[2017-09-04 17:55] AileneKane commented on #131
Your edits look fine to me. I just ran it from the main cleaning folder and it seemed to work fine, but I'm curious what you were worried about, since most of the edits looked minor to me. i changed the order of things in the main cleaning file so that the lat/long cleaning happens before the check for duplicates. this seemed important to me in part because of the extra column created be the dupli

[2017-09-04 18:04] lizzieinvancouver commented on #131
@AileneKane I should have staged the commits, I did some super minor edits to make your code more readable (it's really helpful for others reading your code if it has more spaces and lineskips, and you should indent commands that runs over one linelength). But then I had a bunch of actual errors related to things like this:

d$growing.lat[which(d$continent=="europe" & as.numeric(d$growing.long)==-

[2017-09-04 18:18] AileneKane commented on #131
@lizzieinvancouver thank you for the details! I'm not sure what happened but i think it was a commit error of some kind- perhaps i didn't save and close the file before committing it last time as it ran with no errors on my computer prior. in any case, i have looked through it and rerun, and it seems fine. i also updated _cleaningREADME.txt. thank you for your work on this!

[2017-09-04 18:48] AileneKane commented on #127
@lizzieinvancouver
I have questions about where to enter the cleaning code for the species that i need to fix:
1) I assume that I should address the following in clean_responsetime.R. Any preference for where in the file i add the code? (just to the bottom of the file?)
quefag: the response time for this species (and all data scraped from this study) seemed long because the x-axes in San-Perez09 F

[2017-09-04 18:54] lizzieinvancouver commented on #127
@AileneKane
You should follow what Cat did for a similar issue (gomory15).

(1) In cleaning/clean_respvar.R: change daysofbudburst to dayofyeartobudburst
(2) Make the calculation changes in bb_analysis/cleaning/clean_respvarmore.R

Try to make the changes in the same parts of the relevant files as Cat made them.

You can check out her commit here:
https://github.com/lizzieinvancouver/ospree/commit

[2017-09-04 18:55] lizzieinvancouver commented on #127
@AileneKane  What are the issues that need fixing for vaccom? That will help me know where to make changes.

[2017-09-04 19:31] AileneKane commented on #127
@lizzieinvancouver
the sanz-perez stuides are slightly different than gomory15 because they are all "percentbudburst" studies, rather than "daystobudburst."

therefore, i called the new respvar "percentbudburst_dayofyear " in clean_respvar.R.

I did the adjustment of the response.time in clean_respvarmore.R, as Cat did in her commit above ().

However, I noticed that bb_cleanmergeall.R does not ye

[2017-09-04 19:33] lizzieinvancouver commented on #127
@AileneKane
I imagine that changing to percentbudburst_dayofyear will break the code we have to parse down to percentbudburst studies ... so, let's not make that change yet. Let's talk tomorrow.

[2017-09-04 19:40] lizzieinvancouver opened #134 "daystobudburst versus dayofyeartobudburst"
Started with issue #127 where we saw multiple studies had this issue ...

[2017-09-04 19:41] lizzieinvancouver commented on #134
Basic plan was:

(1) In cleaning/clean_respvar.R: change daysofbudburst to dayofyeartobudburst
(2) Make the calculation changes in bb_analysis/cleaning/clean_respvarmore.R

See example here: commit dfe391c

[2017-09-04 19:42] lizzieinvancouver commented on #134
And should we try checking all responses in the BB folder that are greater than 30 or 60 maybe to make sure this is not an issue in other studies?

[2017-09-04 19:45] AileneKane commented on #127
@lizzieinvancouver ok, i will hold off on making the change.
Also, @cchambe12 I noticed that, in your code cleaning gomory15 in clean_respvar.R, only respvar is updated (not respvar.simple). Therefore, if someone was not running the clean_respvarmore.R, and was referencing the respvar.simple column, they would think this study was a normal daystobudburst study. This seems like a problem to me, unl

[2017-09-04 19:55] lizzieinvancouver commented on #127
@AileneKane
This was my specific request! It's still daystobudburst ...(we have VERY few respvar.simple options, the whole goal of that column is not to finely divide things). I can think of many many parts of code we would have to rewrite if we introduced a new respvar.simple but no immediate issues from just changing respvar. Can you give an example of where it would be an issue?

[2017-09-04 19:56] lizzieinvancouver commented on #127
Also, @AileneKane @cchambe12 Re:
`However, I noticed that bb_cleanmergeall.R does not yet source clean_respvarmore.R (It still sources the older file "clean_phenstage.R"). Can I update this @cchambe12 ?`
I think this should be changed and re-run. Cat, can you confirm?

[2017-09-04 20:07] AileneKane commented on #127
@lizzieinvancouver
I think that, in practice currently, the gomory15 issue is not a problem because the only analyses we are doing are in bb_analysis. the problem would be if separate analyses were started, outside of that folder and only the respvar.simple column was used- it would lead to inflated values for the response (just as we have seen now for the studies that i am fixing).

[2017-09-04 20:09] lizzieinvancouver commented on #127
@AileneKane
I totally see this issue but I don't respvar.simple is designed to handle it. In my mind, people doing an analysis using respvar.simple are responsible for seeing what subcategories they are using.

[2017-09-05 14:28] MoralesCastilla commented on #130
I have pushed a script that extracts ambient temp: `bb_analyses/get_meantemp_ambient.R`. It should be checked and then I can insert it into clean_ambientforcing.R.

[2017-09-05 14:53] AileneKane commented on #122
I have made some progress on this but not yet solved the problem! Some of the NAs seem to be cases where the closest lat/long combination does not have climate data on a given date. not sure if this is all of them though....

[2017-09-11 22:56] lizzieinvancouver commented on #130
@MoralesCastilla I didn't see any major errors, so I mostly pushed jus changes to the comments. But a few things we should do:

I think we should change 44-47 (below):

[code]
Right now it references ospree_clean_withchill_BB.csv, but if we then use the output of this R file (get_meantemp_ambient.R) within our BB cleaning folder it's circular: the BB cleaning creates ospree_clean_withchill_BB.csv

[2017-09-11 22:58] lizzieinvancouver commented on #134
@AileneKane Should I update the code you committed a week ago to remove the commenting and see if it runs (e.g., referencing clean_respvarmore.R etc.)?

[2017-09-11 23:45] lizzieinvancouver commented on #134
@cchambe12 @dbuona @AileneKane @MoralesCastilla
Hello all! I finally made that file so we can all help check for any more crazy response time issues. Check out my last commit 03c1bd803be00d662572c0f0d03918d74817c262 and also the new folder in bb_analysis/cleaning called: checkresponsetime

Your job:
(1) Open checkmeout_info.csv
(2) Locate your initials and check each paper (see checkresponsetime_R

[2017-09-11 23:45] lizzieinvancouver commented on #134
@cchambe12 @dbuona @AileneKane @MoralesCastilla
Oh, and I don't think it will take too long, I need to go have dinner but each paper so far took me about 2 minutes or less.

[2017-09-12 16:52] AileneKane commented on #134
@lizzieinvancouver not quite- i need to move some of code from "clean_respvar.R" to "clean_respvarmore.R" i think, to be consistent. I can do this and commit the other changes, if you like!

[2017-09-12 17:01] AileneKane commented on #134
@lizzieinvancouver ok, i just made the commits- it would be great if you could now see if it runs!

[2017-09-15 15:40] cchambe12 commented on #134
Partanen05 response.time is the date cuttings were transferred to be monitored, doesn't include daystobudburst at all and there is no way to calculate. The study had 16 field sample dates and then monitored budburst for each treatment (of the 16 transfers) 2-3 times per week. Once budburst occurred, they calculated the percentage of terminal buds that had bursted on a particular date but did not r

[2017-09-15 15:48] cchambe12 commented on #134
@lizzieinvancouver
I am fixing ramos99 issues for Figures 1C-F in clean_responsetime.R but I don't know how to make sure Figure 1A and 1B don't get through. To discuss at next Ospree meeting maybe?

[2017-09-18 22:21] lizzieinvancouver commented on #134
@cchambe12
The column `
figure.table..if.applicable.
`
Is a column in OSPREE (all the way back to the original data entry version). Can you just use that column also when you select what to change to make sure you only change what you mean to?

[2017-09-18 22:35] lizzieinvancouver commented on #134
@cchambe12 For Partanen05 I assume the respvar is percentbudburst? If so we should delete the entries in response.time in clean_responsetime.R I think. Does that sound reasonable? We can note there clearly the response.time was actually date of transfer.

[2017-09-18 22:46] lizzieinvancouver commented on #130
@MoralesCastilla @AileneKane
Let's check in on this tomorrow!

[2017-09-19 09:57] MoralesCastilla commented on #130
@lizzieinvancouver

The following tasks from above have been addressed:

Done

Done

I'm not fully sure what would the contents of `clean_ambientforcingfromdailyclimate.R` be. Would we use that to replace `get_meantemp_ambient.R`?

[2017-09-19 13:02] AileneKane commented on #131
Perhaps someone else should check this before we close this task?

[2017-09-19 13:46] lizzieinvancouver commented on #118
@AileneKane Yes! Go for it.

[2017-09-19 14:03] #118 closed

[2017-09-19 15:46] lizzieinvancouver opened #135 "limiting cues paper: work on pheno data for two species"
aim for 10-50 overlapping years across range

[2017-09-19 15:48] lizzieinvancouver opened #136 "limiting cues: get ranges for each species"

[2017-09-19 15:51] lizzieinvancouver opened #137 "limiting cues: get daily (monthly only if desperate) climate projections"
We think we want:
- 2 months before leafout date mean temp (forcing)
- 6-2 months before leafout date mean temp (chilling) e.g., leafout is 1 May, then get Nov-Feb

[2017-09-19 15:54] lizzieinvancouver opened #138 "limiting cues: look at OSPREE data for our two species"

[2017-09-19 16:51] lizzieinvancouver commented on #131
@MoralesCastilla Check code and close if it looks good!

[2017-09-19 17:01] AileneKane opened #139 "photoperiod paper: work on 3d figure of space, time, and photoperiod"
We all liked this figure! Add a bit more detail to it

[2017-09-19 17:02] AileneKane opened #140 "photoperiod paper:"

[2017-09-19 17:04] AileneKane opened #141 "photoperiod paper: add to Implications the need to incorporate photoperiod into forecasting"
This includes:
1) Nacho: write a paragraph on how niche/species distribution models deal with (or do not deal with) photoperiod in forecasting
2) Cat: Ask Miriam how ED (and/or other models her lab uses) deal with photoperiod in forecasts
3) Ailene: Add to outline

[2017-09-19 17:05] AileneKane opened #142 "photoperiod paper: Look into and summarize evidence for photoperiod threshold in Arabidopsis flowering"

[2017-09-19 17:06] AileneKane opened #143 "photoperiod paper: Check IPCC and recent papers for range and phenology shift estimates"

[2017-09-19 17:21] AileneKane opened #144 "photoperiod paper: figure showing photoperiod at green-up date globally (er, North America!)"
This requires:
1) getting the green-up data
2) converting greenup dates to photoperiod
3) making a map
Anyone want to work on some aspect of this?

[2017-09-19 17:33] #140 closed

[2017-09-19 20:15] dbuona commented on #142
To me, it seems the best evidence for a kind of thesh hold comes from the "external coincidence model", which seems to be well supported in the genetics, but really only deals with flowering. Singh et al consider applications to trees
see:

[Singh_et_al-2017-New_Phytologist.pdf](https://github.com/lizzieinvancouver/ospree/files/1315698/Singh_et_al-2017-New_Phytologist.pdf)

[Kobayashi and Weigel.p

[2017-09-19 23:12] dbuona commented on #144
I might have actually done this...I was messing around to see if I could even possibly be helpful with these kind of data, and  I might have made something that kind of works. It's very very hacky, and it uses NPN spring index maps which might not be what we want, but it could as a start.
I will push it soon.

[2017-09-19 23:35] dbuona commented on #144
see commit  5bece41 . Could definitely use improvement and maybe a different data source, but I think it worked. Maybe someone can look at it and see if the code seems to make sense?

[2017-09-25 20:30] lizzieinvancouver commented on #122
@AileneKane Just as an update from chatting with Ben Cook: He said in his code he always gets the lat/long for each datapoint, then calculates the distance of that from all gridcell centers and picks the smallest one. He also does not see much missing data in Livneh beyond the Great Lakes and other water locations ...

[2017-09-26 13:58] dbuona commented on #134
@lizzieinvancouver I've been working on fixing skre08, but it seems sort of wonky. In one year(2001) they started their forcing at end of January, and in the next year, November(2001) and measured in Julian days (for 2002). When I adjust for this, it give bburst values for 2001 that are low, and 2002 that are very high. There are also a lot of confusing pre-treatments reported in the paper, so I a

[2017-09-28 16:07] cchambe12 commented on #135
I have uploaded two .csv files into a new "input" folder within the "limitingcues" folder. I have also added climate data to a new "output" folder. I have a new script that extracts the climate data but the scripts for the PEP data is in my regional risk repo. I can make copies if we want information on how that data was cleaned. The VPN isn't working right now so I will finish extracting climate

[2017-09-29 12:23] cchambe12 commented on #141
I reached out to Miriam and she gave a very thorough reply. I will post the papers she suggested on the Photoperiod Wiki page. Here is her emailed response... I can move it to a readME or to the wiki if we decide that is more useful.

From Miriam:
"I did a bit of looking & asking about this when I ran into Dan last week (the week before?) in HUCE... the paper I know about related to photoperiod in

[2017-10-02 15:24] lizzieinvancouver commented on #141
@cchambe12 @AileneKane I added a new wiki page so we have the info there. Adjust as you see fit and close issue I think!

[2017-10-02 15:28] lizzieinvancouver commented on #135
@cchambe12 The csv files look amazing! Thank you!

Could you add a README to limitingcues/analyses called README_PEPdata.txt which covers:
- the names and locations of your scripts for extracting the data (then okay to leave in other repo I think, but link to github also)
- what each BBCH code means

Could you also rename the file names as PEP_betpen.csv and PEP_fagsyl.csv. We generally work with

[2017-10-02 15:43] lizzieinvancouver commented on #134
@dbuona
Yes, it seems a bit mucky. I don't see anything you have wrong but I have a couple queries:
(a) Last non-full paragraph of page 255 says "transferring plants Dec 27 2000 and Jan 25 2001 to heated greenhouse" ... Do you understand what they mean by the two dates?
(b) Based on start of first full paragraph on page 256: "experiment repeated in 2001 with a slightly different procedure ..." we

[2017-10-02 16:29] AileneKane commented on #134
@lizzieinvancouver i did a fix for gunderson12 but i'm not sure its what we want. the study takes place in "temperature-controlled open-top chambers (OTCs)" that were active year-round. not sure if we want to correct for day of year in this case, but if we do, we could pick a date (like march 1, as the study did) to use as a baseline....

[2017-10-02 17:20] AileneKane commented on #134
@lizzieinvancouver I have several questions about hawkins12 so i have not fixed it yet. similar to above, as there is no clear start date of forcing. this was a common garden study with northern, central, and southern growing latitudes, as well as many provenances. the study uses feb 1 as a start date to accumulate growing degree days so we could use that as a baseline to convert doy of 50%budbrea

[2017-10-02 17:51] AileneKane commented on #142
Thanks Dan!

[2017-10-02 23:58] lizzieinvancouver commented on #134
@dbuona Could you help me by looking at falusi97? The dates are actually just the days when things went into forcing temperatures so I struggled to figure out how we have 120, 87, 23 as response.time. I found 120 in the text but cannot find 87 or 23. Can you check? Can you also see if you can figure why exp 2 is all 60 when dates are given in table 2?

[2017-10-03 14:09] MoralesCastilla commented on #136
Done, see updates in ~ospree/docs/limitingcues/figures

[2017-10-03 14:14] dbuona commented on #134
@lizzieinvancouver For Falusi97. The experiment runs 120 days, so if it starts on September 18 it would end on Jan 16. So the 23 comes from Jan 16-Dec 24 is 23 and Jan 16 -Oct 23 is the 87.
Experiment 2 ran for 60 days, and the values presented were totaled at the end.

[2017-10-03 14:24] MoralesCastilla commented on #137
I have downloaded monthly climate projections (30 LE from CESM, RCP8.5, can be found within the climatefuture folder in RC). Now am working on a script to extract climate values for each occurrence of the target species, based on leafout dates.

[2017-10-03 14:36] MoralesCastilla commented on #130
@lizzieinvancouver @AileneKane
I have generated `clean_ambientforcingfromdailyclimate.R` and sourced it from `bb_cleanmergeall.R`, I have not activated it yet as I was not sure where in the cleaning code sequence to place it (after clean_ambientforcing.R?).
It would be nice if any of you could check this.

[2017-10-03 16:03] lizzieinvancouver opened #145 "what is up with data in guak98?"
In checking daystobudburst vs. dayofyeartobudburst Nacho noticed the data from Fig. 5 looks a little off -- not sure why some of the dates are in the 30s (which would be in February ...).

[2017-10-03 16:39] AileneKane commented on #143
No quantitative data found in most recent IPCC. Chen et all is a good source for range shifts and wolkovich is a good paper for phenology shifts

[2017-10-03 16:43] lizzieinvancouver opened #146 "limitingcues: get the DOY for the two focal species ...."
get this done, so Nacho can start pulling correct climate data!

[2017-10-03 16:47] lizzieinvancouver commented on #139
Axes are: shifts in time, shifts in geography, photoperiod
Ailene will send: max/min shifts in range; max/min shifts in space

[2017-10-03 16:49] lizzieinvancouver commented on #144
@cchambe12 Cat will ask Miriam for any possible simple data
@dbuona Dan will change to geosphere and see if map looks the same ...

[2017-10-03 16:53] lizzieinvancouver opened #147 "imputing missing data (logical method)"
for photoperiod

[2017-10-03 17:02] lizzieinvancouver commented on #136
Nice!

[2017-10-03 17:02] #136 closed

[2017-10-03 17:03] lizzieinvancouver commented on #142
@AileneKane Feel free to close if you think this is done.

[2017-10-03 17:05] lizzieinvancouver opened #148 "add info on imputing!"

[2017-10-04 15:40] AileneKane commented on #143
I'm ready to close this issue, having conducting several searches via web of science. No one seems to publish the AMOUNT of range shift in meta-analyses related to range shift. Most people report only the percent of studies showing advancement/contraction/no change.

[2017-10-04 15:40] #143 closed

[2017-10-04 15:57] #142 closed

[2017-10-04 22:32] lizzieinvancouver commented on #148
Started info [here](https://github.com/lizzieinvancouver/ospree/wiki/Imputing-missing-data-in-Stan)

[2017-10-06 17:52] lizzieinvancouver commented on #148
@AileneKane @cchambe12 @MoralesCastilla @dbuona Notes on imputing added to wiki here: https://github.com/lizzieinvancouver/ospree/wiki/Imputing-missing-data-in-Stan

[2017-10-06 17:52] #148 closed

[2017-10-09 15:21] lizzieinvancouver commented on #130
@MoralesCastilla
Yes! You picked the correct place to source it.
But, when I tried the code today but got an error at i=1961 (I ran bb_cleanmergeall.R up to after 5a, then tried your code -- after turning off the opening lines). Can you check this? Can you also write the code to add it to the rest of the data? Then I will check it again.

[2017-10-09 15:23] lizzieinvancouver commented on #130
@AileneKane
Your changes to the dailyclimate naming etc. looked good, one last thing though -- should we change the name of the output folder (still output/pmp I think?). If you do, please let Nacho know so he can update his code.

[2017-10-13 07:20] dbuona commented on #144
I made the plot in geosphere (still using NPN SI map as base), and it does indeed look different than the one I made with insol (see commit b652445 ). Day lengths seem more realistic to me given DOY, but the code could use a second look. @cchambe12  Any luck on getting a better base file from Miriam?

[2017-10-13 13:28] cchambe12 commented on #144
Miriam did get back to me. She suggested we look at MODIS, the NDVI product. Has anyone used this or feel comfortable with this interface? If not, it actually would be handy for me to feel a bit more comfortable with it so if we decide to pursue this option I am willing to take a stab at it!

[2017-10-13 15:03] cchambe12 commented on #135
Fixed the above!

[2017-10-13 15:03] #135 closed

[2017-10-13 17:36] cchambe12 commented on #146
@lizzieinvancouver my first stab may not be exactly what we're looking for. I have a new script under the /limitingcues folder called "DOY_bb.R". In this script I am just finding the first observation for each individual across all the years and sites, however, that observation could be full individual leaf out. Should I subset down to only the observations that are within BBCH 7-10 ("beginning of

[2017-10-13 18:03] AileneKane commented on #144
I like your new map @dbuona! I looked quickly at the two different packages, and i think that their calculations are based on different equations. the insol package seems focused on calculating sunrise and sunset in moutainous regions and the[ paper](http://www.meteoexploration.com/products/publications/corripio03_ijgis.pdf) its based on says "The performance of the slope algorithm is evaluated us

[2017-10-13 18:04] AileneKane commented on #139
oops- didn't mean to close! but i did send @MoralesCastilla the estimates.

[2017-10-13 18:05] #141 closed

[2017-10-17 16:10] lizzieinvancouver opened #149 "Get photoperiod if at all possible!"

[2017-10-30 14:38] lizzieinvancouver commented on #146
Note to self (and all of us): Our plan from 17 October 2017 meeting was to try to clean up DOY using a hinge model for each site.

So, I think my next steps are:
(1) count sites with >10 years of data, and >20 years
(2) fit hinge model to each site doy ~ year (hinge at 1980)
(3) find a year most consistent across all sites and predict the DOY at that year ...

[2017-10-30 21:48] cchambe12 commented on #149
I was able to fix...
1. falusi96
2. linkosalo06
3. morin10
4. chavarria09
5. jones12
6. rinne97
7. sanzperez10

Would someone mind checking through that portion of the cod? Then we can close this issue I think!
I collated the new additions to the bottom of the script and added notes  next to most rows for clarity. Most of the changes use the same coding.

[2017-10-31 12:46] AileneKane commented on #130
We should rerun these now that we have improved climate data

[2017-10-31 12:48] AileneKane commented on #122
I updated the code to pull from the 2nd, 3rd, and 4th closest lat/long, if there are now data at the closest lat/long for north america (this did not seem necessary for europe). there should be now be much more data. It would be great if someone could run the code with the climate  drive (I can do this, if that makes the most sense- i just need to get the european climate data. i have been working

[2017-10-31 15:08] cchambe12 commented on #145
@lizzieinvancouver @MoralesCastilla
I think this looks fine... they started observing the buds either in mid-February or March 4 and it looks like the response.time values are the time since those start dates. They ended the experiment on June 3rd, which is why there are 90 day values. Most of those inputs are at or close to 100% budburst.

[2017-11-08 19:59] cchambe12 commented on #149
Added the flower studies that I could. I think I can close this issue now!

[2017-11-08 19:59] #149 closed

[2017-11-13 15:28] AileneKane commented on #130
And, yes, I should update the name! I will check with everyone about this today!

[2017-11-13 15:32] AileneKane commented on #122
i think we can close this now?

[2017-11-13 19:04] lizzieinvancouver commented on #134
Closing! Check out ospree/analyses/bb_analysis/cleaning/checkresponsetime for more info!

[2017-11-13 19:04] #134 closed

[2017-11-13 19:06] #122 closed

[2017-11-14 02:09] lizzieinvancouver commented on #119
Emailed Laube twice and no reply so going with what we have.

Here's the email from 12 Sep 2017:

[2017-11-14 02:09] #119 closed

[2017-11-14 11:31] MoralesCastilla commented on #131
@lizzieinvancouver @AileneKane I've just checked this code and works nicely. Closing!

[2017-11-14 11:31] #131 closed

[2017-11-16 14:18] MoralesCastilla commented on #130
@lizzieinvancouver @AileneKane I have now corrected `clean_ambientforcingfromdailyclimate.R` to avoid it from stopping, and to include the variable avg_bbtemp into the database d. I have activated it to be sourced from `bb_cleanmergeall.R`. Once someone checks on it, we should be ok to close this one.

[2017-11-16 15:12] lizzieinvancouver commented on #130
@MoralesCastilla Thank you!
@AileneKane Would you take a look at the code? I can then take one last look and we can close this!

[2017-11-27 15:13] AileneKane commented on #130
I have checked Nacho's code, and I have a few questions:
1) I get a warning: "In which(clim.i$year == year.i & clim.i$doy2 == doy.i):which(clim.i$year ==  ... :
  numerical expression has 2 elements: only the first used". It happens in the ## Loop to add mean temp to each line in bb,  Lines 70-93

2) The code relies on several files  that have not been updated since July (daily_expchill.csv, percb

[2017-11-28 15:33] lizzieinvancouver commented on #146
Should we add [PERPHECLIM](http://www6.inra.fr/projet-accaf-perpheclim/Acces-aux-donnees) data?

[2017-11-28 15:59] lizzieinvancouver commented on #146
@MoralesCastilla

Posting some relevant code output here:

`## Fagus model

            mean      se_mean          sd        2.5%         25%         50%         75%       97.5%    n_eff     Rhat
mu_a 121.4286445 0.0017590781 0.111253865 121.2064914 121.3535557 121.4296292 121.5047712 121.6484079 4000.000 1.000022
mu_b  -0.3351715 0.0001126711 0.005206469  -0.3453664  -0.3386666  -0.3350543  -0.33

[2017-11-28 16:30] MoralesCastilla commented on #130
@AileneKane
1. Also, as I pointed out in the stop message, there is no need to worry about the warning, which comes from an if statement with two inputs out of which only the first is utilized.
2. Not sure about the update of pmp climate files, do we need to do that?
3. I have now updated the README file to include the script.

[2017-11-28 16:53] lizzieinvancouver opened #150 "add experimental chilling hours -- discuss at retreat!"
to final calculation of chilling units @dbuona please point out file

[2017-11-28 16:55] lizzieinvancouver commented on #147
Next steps:
- Ailene will work out experimental chilling, then Dan will work on imputing what's possible to logically impute.
- Photoperiod is done!
- Cat will take a look at forcing...

[2017-11-28 17:05] lizzieinvancouver commented on #130
@AileneKane will next:

1. Move the major climate data pulling code to the chilling work.
2. Adjust the clean_ambientforcingfromdailyclimate.R in bb_analysis/cleaning so it just updates the forcing column.

[2017-11-28 17:18] lizzieinvancouver commented on #146
@lizzieinvancouver: remember to post models and update code!

[2017-11-28 17:36] lizzieinvancouver commented on #139
@AileneKane
Email Isabelle requesting the data (pick one: **FAGSYL**, QUEPET, QUEROB, PINSYL) -- I think we just need leaf unfolding date and fitness estimate at each location in range for 1980 and 2080.

[2017-11-28 17:38] lizzieinvancouver commented on #139
Extra note! You will have to convert fitness data to presence/absence (Isabelle or Nacho can suggest methods).

[2017-11-28 17:39] AileneKane opened #151 "photoperiod paper: Finish table"
also, source code in a separate file

[2017-11-28 17:39] MoralesCastilla commented on #139
Make figure as soon as data is uploaded!!

[2017-12-06 20:51] dbuona commented on #147
@lizzieinvancouver @AileneKane I went through all the missing chilling papers to see what was up.
One question- it seems that things that have no chilling were getting NA's in the chilling calculations. Would we want those to be zeros instead?  I think that would let us keep more data. You can see the files with my notes in commit 11ec87368a82b34ab78161b6f80619b98c41ce7

[2017-12-07 03:06] AileneKane commented on #147
If you are sure that the study had zero chilling thatn it seems like a good idea to replace the NAs with zeros! Thanks @dbuona

[2017-12-12 15:41] AileneKane commented on #139
Isabelle does not have the data here, so i think we need to look for other datasets to use for this, or think about a different way to show this.

[2017-12-12 20:58] AileneKane commented on #150
@dbuona I just [updated the chilling ](https://github.com/lizzieinvancouver/ospree/commit/e98f4e1a87f58b11f46016d7fab64172d7b31887) to include the four sites that reported field chilling using the Utah model  ("biasi12"    "cook00b"    "heide93"    "skuterud94")
This was added to lines 126-127 of the totalchilcalcs.R script, if you want to check it out.

Other than that, I didn't see what other ch

[2017-12-13 18:48] lizzieinvancouver opened #152 "let's clean the output folder!"

[2017-12-14 13:28] MoralesCastilla commented on #138
I have uploaded distributional data for FagSyl and BetPend to the data/distributiondata folder. We now need to decide how to process these shapefiles.

[2017-12-14 15:25] lizzieinvancouver commented on #146
Have run the models with sites with 10 years of data or 20 years ... see models here: https://drive.google.com/open?id=1Nsl-UJUFrOxHkwCyVq3Quyn-wbXXab_0
They run from DOY_bb.R.

Next steps are:
(1) Do we want 10 or 20 years?
(2) Lizzie needs to add priors to the models and re-run (and check that they do not change).

[2017-12-14 16:44] lizzieinvancouver opened #153 "check that ospree_clean_respvar.csv is not created anywhere"
check respvar cleaning file. comment out if needed!

[2017-12-14 16:46] #152 closed

[2017-12-14 17:17] lizzieinvancouver commented on #150
Other studies use: Carolina units, days above some threshold (0 or 8 degrees). We can't use these sadly.

[2017-12-14 17:18] lizzieinvancouver commented on #150
Dan will work on zeroes for expchill, and a list of what has fieldchill... then Ailene will update (and check why some zeroes change to NA).

[2017-12-14 17:20] lizzieinvancouver commented on #147
As of today we're done with photoperiod, we're working on chilling, Ailene is working on daily temp and will then pass to Cat ...

[2017-12-18 16:14] dbuona commented on #150
@AileneKane @lizzieinvancouver  I am thinking about the best way to imput 0 experimental chilling. For several studies, (sogaard08, thielges75, caffarra11b) the $chilldays column is 0, but NA's are the output for all experimental chilling columns. I feel like I don't know anything about how chilling was calculated, so I am not sure if this is an easy fix or not during the chilling code.
Basically,

[2017-12-18 16:19] cchambe12 commented on #153
commented out write.csv for ospree_clean_respvar.csv

[2017-12-18 16:19] #153 closed

[2017-12-18 18:42] AileneKane commented on #150
@dbuona @lizzieinvancouver I think these are showing up as NAs because the default is to require both chilldays AND chilltemp (i.e. chilling is calculated by multiplying these two columns together). I will change the code so that if chilldays=0, chilling=0. I suppose all three metrics should equal 0, correct (e.g. Utah, Chillhours)?

[2017-12-18 22:59] dbuona commented on #150
@AileneKane That sounds great. I think that will absorb a good amount of NA's as a whole.

[2018-02-01 17:42] dbuona commented on #147
@AileneKane  @lizzieinvancouver
the file  bb_analysis/cleaning/imput_chilling.R one day could fix some of the chilling issues. Mainly it covers entries that should be "0" chilling instead of "NA", and a few other temperature things. I am not sure where in the cleaning codes this should go. My sense it make sense to make it part of the originally chilling calculations, but that is somewhat of a bla

[2018-02-01 18:00] dbuona commented on #144
I found a map that might be helpful... but I can't figure out how to access an actual usable file. Is anyone else familiar with the USFS's ForWarn? It seems like it models phenology based on NDVI not climate information. https://forwarn.forestthreats.org/highlights/917

[2018-02-01 19:03] lizzieinvancouver commented on #147
@cchambe12 Update on forcing issues. Here's what studies still have NA and how many rows. Does this seem correct to you?
[code]

[2018-02-01 19:03] lizzieinvancouver commented on #147
@cchambe12 Only one study with photoperiod NAs! Sound right?
[code]

[2018-02-01 19:05] lizzieinvancouver commented on #147
@dbuona @AileneKane We still have many chilling issues. Here are the studies and how many rows have NAs in Total_Chilling_Hours. Should I use another column?

[code]

[2018-02-01 19:08] lizzieinvancouver commented on #147
@dbuona @AileneKane @cchambe12 @MoralesCastilla We still lose some data due to NA resp issues:
[code]
We can discuss on Tuesday but please check your notes if any look familiar to you so we can check them off as 'okay' quickly if possible. Thank you all!

[2018-02-01 19:11] lizzieinvancouver commented on #147
@MoralesCastilla @cchambe12 @AileneKane @dbuona
The code I am working from can be run as such:
- Run bbmodels_stan.R until you set the working directory
- Run source/bbdataplease.R setting checkdataforNAs to TRUE

[2018-02-01 19:13] lizzieinvancouver opened #154 "clean bbmodels"
Too many files!

[2018-02-01 19:35] dbuona commented on #144
Update: I also just request data access from USGS to MarK Friedl MODIS stuff which uses a metric Onset_Greenness_Increase to represent start of spring based on NDVI. Maybe this will work

[2018-02-05 14:57] AileneKane commented on #150
I think this is now done!

[2018-02-05 14:58] AileneKane commented on #139
Isabelle said to convert the fitness to presence/absence:
"Using the consensual distribution maps from Duputie et al GEB 2013, we had used fitness threshold of 0.1 for both Fagus and Quercus in the Duputie et al GCB 2014, which provided accuracies of 81% and 83%."

[2018-02-05 15:19] AileneKane commented on #147
@lizzieinvancouver @dbuona
I think more of the chilling issues should be fixed now that i pushed some code...

[2018-02-06 01:36] lizzieinvancouver commented on #150
@AileneKane @dbuona One point to discuss tomorrow: checking that if chilldays=0 chilling then Utah model, chillhours etc. should all equal 0 (remind me!).

[2018-02-06 01:40] lizzieinvancouver commented on #147
@AileneKane I am not seeing a change, did you re-run the cleaning code so there is a new output file?

[2018-02-06 14:17] cchambe12 commented on #147
I imputed force temp for gansert02, basler12, falusi96, gauk98, and morin10.
I did not push a new output file yet but I can if everyone is done cleaning!

[2018-02-06 14:21] cchambe12 commented on #147
psyche! I made a new output file. I wanted to run the models...

[2018-02-06 18:21] lizzieinvancouver commented on #139
We have data on FAGSYL, QUEPET, QUEROB: 1981-2000 means and projections for A1 and B2 for end of century. @AileneKane Will get photoperiod for each leafout date (and will put in projections/phenofit folder in analyses and maybe also make a projections folder in output). @MoralesCastilla Then get climate data and try a figure!

[2018-02-06 18:27] lizzieinvancouver commented on #144
@dbuona Try to get North America for 2017 (unless someone has been declaring average years?!)

[2018-02-06 18:35] lizzieinvancouver commented on #147
@AileneKane run again to see if it reduces NAs, then eventually we will add in Dan's stuff for imputing we do not want to do on the main file!

[2018-02-06 18:40] lizzieinvancouver commented on #147
@cchambe12 Look up chillR and PMP manual (and maybe google!): Utah, chill hours, chill portions and make a wiki page (main question: is no chilling really 0 chill hours etc.?)

[2018-02-06 18:42] lizzieinvancouver commented on #147
Update on forcing:
`> table(forceissues$datasetID)

    ashby62       boyer      lamb37 sanzperez10  skuterud94
         24          30          71          24          30 `

[2018-02-06 18:43] lizzieinvancouver commented on #130
Update on Schwartz ... climate file was just missing! Ailene has updated it on her drive.

[2018-02-06 18:49] lizzieinvancouver commented on #130
@AileneKane Move the daily*.csv to dailyclim folder and update paths!

[2018-02-06 18:50] lizzieinvancouver commented on #147
UPDATE: No way to fix gianfagna85  for photoperiod and no way to fix ashby62, boyer, lamb37, sanzperez10, skuterud94 .....

[2018-02-06 18:52] lizzieinvancouver commented on #147
@dbuona Check out NA response in zohner16 ... Lizzie will start on this and can ask Nacho for help

[2018-02-06 18:58] lizzieinvancouver commented on #146
done, see analyses/limitingcues/output

[2018-02-06 18:58] #146 closed

[2018-02-06 18:59] lizzieinvancouver opened #155 "get 2 months of min and max temp data for the limitingcues species"
and map it across range!

/analyses/limitingcues/output/fagpred.wlatlong.csv
/analyses/limitingcues/output/betpred.wlatlong.csv

[2018-02-06 19:01] lizzieinvancouver commented on #137
@MoralesCastilla will get 2 months of min and max temp data for the limitingcues species, and map it across range!

/analyses/limitingcues/output/fagpred.wlatlong.csv
/analyses/limitingcues/output/betpred.wlatlong.csv

[2018-02-06 19:01] #155 closed

[2018-02-09 19:56] lizzieinvancouver commented on #147
Working on respisssues (going back to papers to see what is up) ...
**basler12:** These are true NAs -- they did not sample the species at some elevations. We should delete these data.
**boyer:** This is a --- in the original data. Again, I think we can toss it.
**caffarra11b:** These are twigs that never burst bud (0% budburst). Not sure how to handle these....
**gianfagna85:** I think we lose th

[2018-02-09 19:59] lizzieinvancouver commented on #147
Summation of respissues (minus Zohner):
NAs that should just be deleted:
- basler12
- boyer
- skuterud94

NAs because twigs never burst bud:
- caffarra11b
- Heide03
- heide93a
- laube14a
- nienstaedt66 (mostly but not all)
- spiers74
- webb78
- worrall67 (1/3 NAs)

Deeper issues:
- howe95
- gianfagna85

Need more help:
- sonsteby14
- worrall67 (2/3 NAs)

[2018-02-09 20:01] lizzieinvancouver commented on #147
Okay! I worked on resp issues. Most are because the twigs never burst bud see issue #30

[2018-02-09 20:04] lizzieinvancouver commented on #30
See also issue #147 ... we do have some data with this issue. Not enough (maybe 200 rows out of 4000) in my mind to do a survival analysis approach but we could:

- label them all as some giant number (999)
- try the analysis with them set to the max budburst date
- # important note! If we do this we must remember that we also set a minimum %budburst threshold for data (see clean_bbperctodays.R) a

[2018-02-12 14:18] dbuona commented on #147
ZOHNER RESP ISSUES:

There are 135 Zohner NA's in our OSPREE. In the original data Zohner sent, there are 130 NA's and 5 entries he coded as NL.
Here is what he says in the suppliment:
"NL indicates that no leaf-out occurred under 8-h (NL in black) or 16-h (NL in grey) day length. Some species leafed out before the last cutting date (C3), which is indicated by missing bars for the C3 treatment".

[2018-02-12 16:00] AileneKane commented on #144
I think you already figured out  a good source for data, but i had asked Ben Cook about it last week, before I knew that, and here is what he sent me:
VIP is one option that calculates a variety of satellite phenology indicators:

https://lpdaac.usgs.gov/about/news_archive/nasa_vegetation_index_and_phenology_vip_data_released
https://vip.arizona.edu/VIP_Research.php

[2018-02-12 17:39] dbuona commented on #144
@lizzieinvancouver
The Friedl data only seems like it goes it up 2014.
Does this: https://www.globalchange.gov/browse/indicators/indicator-start-spring seem like an appropriate basis for choosing an average year? Looks like 2009, 2003 or 2002 could work

[2018-02-16 19:05] lizzieinvancouver commented on #144
@dbuona That's a super cool site! I think 2009 would work (if we later decide we want an early and late year 2012 and 2013 look good, but I think it's so hard to say what's early or late *across* the country that something average sounds good).

[2018-02-16 19:07] lizzieinvancouver commented on #144
@dbuona Maybe take a quick look also at the two sites Ailene sent? I think the Freidl one seems as good and easier but you might have a better sense than me. ...

[2018-02-16 19:24] lizzieinvancouver commented on #147
@AileneKane @dbuona @cchambe12 @MoralesCastilla
I think we can use brms for model imputation ... https://github.com/paul-buerkner/brms/blob/2456a00c607aa070c871da27c07f7fe1321eb69f/inst/doc/brms_missings.Rmd
So please download and try the brms code in the link before the retreat! (We'll again be in a limited internet access world so plan accordingly please!)

[2018-02-26 16:57] AileneKane commented on #151
sourcing done! i want to discuss ideas for converting table to figure.

[2018-02-26 16:59] AileneKane commented on #139
I have added the photoperiod to each leafout date- it is in the output projections folder

[2018-02-26 18:21] lizzieinvancouver commented on #30
@lizzieinvancouver Recode true non budburst as 999.

[2018-02-26 18:21] AileneKane opened #156 "Survival Analysis tutorial for retreat"

[2018-02-26 18:29] AileneKane opened #157 "Familiarize ourselves with Joel Kingsolver's work"

[2018-02-26 18:52] lizzieinvancouver commented on #147
**Update on chilling:** have recovered about half the data! Some of the remaining data we cannot get (come from Russia or Japan for example, and we only have climate data from North America and Europe).

* Gheraldini12: 109 rows of data, field sampling date is in figure but was not extracted (Dan will try to extract it)
* The rest of the problems are not so fixable (e.g., Falusi is missing a year)

[2018-02-26 19:00] lizzieinvancouver commented on #147
@AileneKane Give 1987-88 (that one winter) for year in Falusi 1996. Please make a note that we did this (and in what R file) in ospreexlsx_README.txt (because we also discuss Falusi a lot there). And update any chilling related README files! @dbuona Check that Lizzie wrote this down correctly.

[2018-02-26 19:08] MoralesCastilla opened #158 "Markdown tutorial @ retreat!"

[2018-02-26 19:10] AileneKane commented on #151
Try converting table to map. ask lizzie to send lines code

[2018-02-26 19:15] lizzieinvancouver commented on #130
@cchambe12 Check in on this and see if we're close to closing! Ailene thinks the daily data is all updated.

[2018-03-02 18:47] cchambe12 commented on #130
I've looked over the code to make sure that the above three criteria were met...

It seems that everything checks out although I'm not sure if the clean_ambientforcingfromdailyclimate.R is updating the forcetemp column. If I am missing it somewhere then everything else checks out and I think we can close this.

[2018-03-06 13:29] dbuona commented on #147
@lizzieinvancouver I don't think Gheraldini12 chilling can be imputed without going back to re-extract or using the figures with thermal time in them (eg 2 G-L). In fact, I think our response.time column values are downright incorrect. Happy to chat about this more, or save it for the retreat.

[2018-03-12 16:32] cchambe12 commented on #147
@lizzieinvancouver
worrall67: "Where there was no effect of photoperiod the 8 hour points were omitted for clarity, as is the point at 15 days (these plants did not leaf out).

sonesteby14: hmmm might be zeros actually...

[2018-03-12 17:09] lizzieinvancouver opened #159 "check out the papers with many photoperiod treatments"
and see what the response curve looks like

[2018-03-12 17:41] lizzieinvancouver opened #160 "find any good textbook figures about photoperiod across space and time"

[2018-03-12 17:46] lizzieinvancouver opened #161 "work on figure 1"
add a reference line (DC cherry blossoms before 1980 or current mean) and figure out how far a species would have to spatially shift to be equal to the shift in time (see also Cat's textbook work).

[2018-03-12 18:05] lizzieinvancouver opened #162 "update ospree figure"
- add ER spatially as something lighter going to pole
- add a different symbol for ER temporally

[2018-03-12 18:07] lizzieinvancouver commented on #162
Second panel:
* add different symbols for time and space
* color code NA and Europe

[2018-03-12 18:15] lizzieinvancouver opened #163 "subsample raster file"
for greenup, and add Europe

[2018-03-12 21:57] lizzieinvancouver opened #164 "work on the outline for limiting cues"
* main message (and, really, it's important): if you want to project climate change impacts, you need to focus on relevant changes in all three cues. The relevant changes part is about comparing cues, the all three cues is about interactive cues.

* don't forget: you need the extremes to parameterize models (you need to know where the zeros are)

* add section on paths forward: manipulating one cu

[2018-03-12 21:57] lizzieinvancouver opened #165 "make 3D phenofit figure"

[2018-03-13 17:28] #163 closed

[2018-03-13 17:40] dbuona commented on #150
We thought about it. And...yes. Chilldays 0 will make the models be 0.

[2018-03-13 17:40] #150 closed

[2018-03-13 17:42] dbuona commented on #130
@AileneKane Check that forcetemp column is updating,=. @lizzieinvancouver too.

[2018-03-13 17:45] #129 closed

[2018-03-13 17:46] dbuona commented on #107
redundant with issue #121

[2018-03-13 17:46] #107 closed

[2018-03-18 01:56] #159 closed

[2018-03-18 01:56] #160 closed

[2018-03-18 01:56] #58 closed

[2018-03-18 01:56] #76 closed

[2018-03-18 01:57] lizzieinvancouver commented on #165
- X: shift in space (apply mean shift to each grid cell)
- Y: shift in time (calculate change in photoperiod at same lat/long)
- Z: change in photoperiod

[2018-03-18 01:58] lizzieinvancouver commented on #127
Updates after the Saturna retreat:

Things to consider trying:
- Run without weinberger models
- Nacho’s residuals idea
- Run the full model with species on intercept only
- Cut the data in half
- Do model without main effects of forcing, chilling
- Do models that incl factors:
	- Weinberger
	- Field chill vs. exp. chill
- Fake data:
	- check the size of the fake data (how many rows? how many spp.

[2018-03-19 13:40] cchambe12 commented on #165
@AileneKane @MoralesCastilla

I updated the 3dplots_R.R (/analyses/photoperiod) script and added two .png files - one for FAGSYL (/photoperiod/figures/FAGSYL_shifts.png) and one for QUEROB (/photoperiod/figures/QUEROB_shifts.png). I tried to add OSPREE data onto the plots but I'm not sure if I did it correctly.. would either or both of you mind checking through my code when you get a chance to mak

[2018-03-19 21:07] lizzieinvancouver commented on #165
@cchambe12 Super cool plots! It actually looks like the geographical shift causes a bigger change to photoperiod than the temporal .... or am I looking at them wrong?

[2018-03-19 21:16] cchambe12 commented on #165
@lizzieinvancouver
That’s what I’m seeing too but I may have done something wrong, we’ll see if it passes the Ailene and Nacho test.

[2018-03-20 22:08] lizzieinvancouver commented on #147
@cchambe12 I know I was supposed to look at worrall67 for some reason but forget now. Do you remember? Was this one you suggested was incorrect and referenced a figure that does not exist or such?

[2018-03-20 22:08] lizzieinvancouver commented on #147
Update on gianfagna85: the 10 NA values will be recoded to 999 as they are >30 d to BB.

[2018-03-21 13:38] cchambe12 commented on #147
@lizzieinvancouver
worrall67 was the one that had very little clarity and grace in the caption...

"Where there was no effect of photoperiod the 8 hour points were omitted for clarity, as is the point at 15 days (these plants did not leaf out)."

We weren't sure if the 8 hour points overlapped with the 16 hour photoperiod points on the graph and back in the day they were unable to jitter points OR

[2018-03-22 14:08] AileneKane commented on #165
Great work @cchambe12! I have a few questions about it- I put some comments in the code, but maybe we can talk about it at our next meeting and/or set up a time to skype.  I think I would have calculated the OSPREE shifts differently. Also, I think this figure would be better suited for the photoperiod paper, rather than the limiting cues paper, as the label says, given that all the axes are relat

[2018-03-22 14:31] cchambe12 commented on #165
@AileneKane oh right yeah I think I messed the label up!! Definitely thought it was supposed to be for the photoperiod paper too. And yes, excellent, I was most nervous about how I calculated the shifts in OSPREE so I'd be happy to hear your ideas!

[2018-03-26 02:37] AileneKane commented on #162
I need Nacho's help with[ this figure ]( analyses/photoperiod/figures/ospree_photopmap.pdf)at this point (for example, it needs a different background map that doesn't cut out entire countries). my code is in analyses/photoperiod/photoshifts_map.R

[2018-03-26 17:13] lizzieinvancouver opened #166 "try different priors in BRMS model"

[2018-03-26 17:19] lizzieinvancouver opened #167 "try a few thing with Stan models ..."
- try adding <lower=0> to the mu_a variables in Stan
- try PP checks on models

[2018-03-26 17:28] lizzieinvancouver commented on #144
2012 is early for North America (NA)
2013 is late for NA

[2018-03-26 22:07] lizzieinvancouver commented on #162
@AileneKane Here is where Nacho has recommended to me to go for maps: http://www.naturalearthdata.com/ and I will email you some files!

[2018-03-26 22:53] lizzieinvancouver commented on #164
I put these edits in. I will keep working.

[2018-03-26 23:18] lizzieinvancouver commented on #154
cleaned up for now!

[2018-03-26 23:18] #154 closed

[2018-03-26 23:19] lizzieinvancouver commented on #147
@AileneKane I checked my clean_respvar.R code and it looks fine to me, okay to run!

[2018-03-26 23:20] lizzieinvancouver commented on #147
@dbuona I fixed up ghelardini10 in clean_misc.R, please take a look. Also check that the following two coding places we mention it should still run okay (I think so but could use another set of eyes):

**cleaning/CLEAN_PHOTO.R**
# Remove extra lines for ghelardini10 added by Dan that do not correlate to paper
d[-which(d$datasetID=='ghelardini10' & d$Entered.By == 'DF'), ]

**bb_analysis/cleaning/c

[2018-03-27 03:12] AileneKane commented on #151
This is very close to done! Just need to check a couple of weird values in the table...

[2018-03-28 03:03] AileneKane commented on #130
i was not able to update the forcing with the new daily climate files...something in clean_ambientforcingfromdailyclimate.R is now broken (it doesn't like something in the updated files) and i'm not sure what...i worked on it a bit but need to take a break tomorrow to work on other things, so may not be able to return to it for a day or two. If anyone else wants to take a look, please do!

[2018-03-28 23:52] lizzieinvancouver commented on #130
@AileneKane Hi Ailene!
Here's my update on what looks to be stuck in clean_ambientforcingfromdailyclimate.R:
- line 91, references 'stn' which I changed to 'uniqueID' (but please double check)
- after that it fails on line 98, specifically this piece:
`which(clim.i$year==year.end.i & clim.i$doy==doy.end.i)`
for the first 1 (ashby) it wants to gather data that ends on doy 93 of year 1957, but when

[2018-03-31 16:44] lizzieinvancouver opened #168 "what is up with Falusi96 (bbperctodays?)"
@AileneKane @MoralesCastilla
Ailene and Nacho, I think you both worked on this code and I am suspicious it’s part of why our bud burst models are failing. I have noticed a lot of the Falusi paper data is coming through with what really looks like multiple response times for identical treatments, when I look closer it looks like these come from % budburst by days to budburst figures where many of t

[2018-03-31 16:47] lizzieinvancouver opened #169 "double check some clean_respvarmore code"
@cchambe12 @dbuona
Hi Cat and Dan! I think one of you may have worked on this, but do loop in Ailene or Nacho if I am wrong.

I saw a warning in clean_respvarmore.R and in fixing it I worked on this code chunk:

[code]

Could whoever wrote it tell me what it does? And could you confirm that it’s working?

Thanks!
L

[2018-04-03 14:52] dbuona commented on #147
I think d[-which(d$datasetID=='ghelardini10' & d$Entered.By == 'DF'), ] in
clean_photo.R was already clean in clean_misc:

# ghelardini10 issues - removed 8 rows not affiliated with study
for(i in d){
  d <- d[!(d$datasetID == "ghelardini10" & d$material == "root cuttings") &
            !(d$datasetID == "ghelardini10" & d$Entered.By == "DF"),]
}

I also fixed an issue that came up in
*bb_analysis

[2018-04-04 10:47] cchambe12 commented on #169
It looks like my code! I think I was just figuring out what studies I needed to focus on... Dan is right, it doesn't change the existing data frame at all.

[2018-04-05 10:51] MoralesCastilla commented on #168
@lizzieinvancouver @AileneKane

Lizzie, Ailene, I have been going through bb_cleanmergeall.R. As set the code does not remove the data but instead adds columns. A way to remove the data that are not within targeted values in the code can be done by making the following simple change in line 109:

`d.subset.1<-subset(d,respvar.simple=="percentbudburst" & !is.na(maxperc_bb))`

When you do that and r

[2018-04-08 19:35] MoralesCastilla commented on #168
@lizzieinvancouver

Hi Lizzie,

I have gone through bb_cleanmergeall.R and added a few lines so that it actually removes unwanted rows. It seems that it deals ok with issues a) to c). Also, by tweaking the acceptablerange parameter, we can delete more/less rows, which may help removing repeated rows near to the max budburst values (e.g. 100% percent budburst).

If we need to make sure that we remo

[2018-04-09 18:25] lizzieinvancouver commented on #168
@MoralesCastilla
Thanks Nacho! I see what you're saying, but I think what we actually need is not to change the acceptable range (this is an important but separate issue) but to add code towards the end that deals with cases where >1 row is left per treatment and selects the row closest to the targtevalue. I think this is probably what you were thinking above when you wrote 'If we need to make sur

[2018-04-09 18:26] lizzieinvancouver commented on #168
@MoralesCastilla
Note though we don't want to deal with just cases where it's 100% we also want a solution that would handle a set of rows of say, 50%, 60%, 70% and just retain the 70% value (as it is closest to 80%, our current target).

[2018-04-09 18:27] lizzieinvancouver commented on #130
@AileneKane Nice work! We're getting close!

[2018-04-09 18:31] lizzieinvancouver commented on #169
@cchambe12 Okay, I deleted a little of it and left the bit that subsets down to identify which rows to look at (will push this shortly).

[2018-04-09 18:31] #169 closed

[2018-04-09 18:32] AileneKane commented on #130
I fixed the daily pulling code i think, and am rerunning everything now so hopefully we will have ore complete data later today. It would be helpful for @MoralesCastilla or someone to look at the clean_ambientforcingfromdailyclimate.R and check that my modifications are ok.

[2018-04-09 18:37] lizzieinvancouver commented on #130
@AileneKane Thanks! I am going to make some edits to bb_cleanmergeall.R and related files. We should not add simple lines of code to this file (e.g., the new 9) but instead should put that in clean_bbperctodays.R where it already should have happened.

[2018-04-09 18:48] lizzieinvancouver commented on #168
@MoralesCastilla (cc @AileneKane):

Hi Nacho,

Me again (with apologies for all the messages): could you also make sure in your updated code that all low values are also deleted. For example, at some point we added this to the bb_cleanmergeall.R (I worry I may have done this when not thinking! Apologies, Ailene, for thinking it was you):

`# Now remove any percentbudburst lower than 40% (clean_bbp

[2018-04-09 18:52] lizzieinvancouver commented on #147
@dbuona @lizzieinvancouver Thanks Dan, I think my next step is to double-check what ghelardini10 looks like after Ailene's pushes and then check all else ....

[2018-04-09 21:57] lizzieinvancouver commented on #147
Okay! Here's where we at with NA ...

`> table(forceissues$datasetID)

    ashby62       boyer      lamb37 sanzperez10  skuterud94
         24          30          71          24          30

< table of extent 0 >

caffarra11a  charrier11      cook05    falusi90   gansert02   granhus09     heide12 nishimoto95
          8          46          72          94           4          21          12

[2018-04-10 15:09] AileneKane commented on #130
I have updated the daily file again, but in doing so discovered that issues with 4 studies were not fixed by my latest round (fu12, "gunderson12" "skuterud94" "basler12"). I will get these fixed this week, but they are unlikely to be done by our meeting, given the long time that it takes to generate this file. I also have a few questions:
1) I am treating basler12 (in which forcing = "basler12") t

[2018-04-10 17:18] lizzieinvancouver commented on #147
Updates from lab meeting:

CHILLING
- cook05: from South Africa, they do report chilling but you cannot assign it to particular treatments conclusively
- charrier11: again, they do report chilling but you cannot assign it to particular treatments conclusively (**Lizzie will double-check**)
- falusi90: Need to pick a year (**Lizzie will double-check** ... maybe select a year similar to the other fa

[2018-04-10 17:32] lizzieinvancouver commented on #147
@lizzieinvancouver
MV notes from input_chilling and archive file somehow in bb_cleanmergeall.R

[2018-04-10 17:37] lizzieinvancouver commented on #144
@MoralesCastilla Add version comparing 2012 and 2013 (but keep both versions)

[2018-04-10 17:41] #137 closed

[2018-04-10 17:47] lizzieinvancouver opened #170 "clean basler12"
- check out figure 1 and text and updated forcing columns: both day and night
- do in same code file we fixed Laube

[2018-04-10 17:48] AileneKane commented on #130
Cat is going to look into basler12- it is more complicated than that!

[2018-04-10 17:54] lizzieinvancouver opened #171 "work on photoperiod response curves"
Criteria: study had to have 3 or more photoperiods (and only 3 studies!)

Next tasks:
- divide within each study by the mean response time
- label the differences on each curve

[2018-04-10 18:05] lizzieinvancouver opened #172 "plots and analyses of species by predictor"
- make some plots, color-coded by species (complex)
- photo ~ sp ... photo+force+chill~sp (sp as predictor!)

[2018-04-10 18:36] AileneKane commented on #130
@cchambe12, it looks like you have already looked at baller and fixed it in “clean_ambientforcing.R”
 @lizzieinvancouver  this made me realize that perhaps i should be using the version of ospree AFTER ambientforcing has been cleaning in the bb_daily_dataprep.R file. It starts with clean_ospree_withchill currently.

[2018-04-10 18:40] AileneKane commented on #130
After looking at skuterud94, it is not possible to tell explicitly which forcing temp goes with which budburst date.

[2018-04-12 20:43] lizzieinvancouver commented on #147
Today, Lizzie is working on chilling!

CHILLING
@dbuona
charrier11: again, they do report chilling but you cannot assign it to particular treatments conclusively, LIZZIE double-checked and agreed. They basically have data on chilling but what they report (as best I can tell is) is their estimated chilling requirements calculated from all their work, which we can't use. But someone should totally d

[2018-04-12 20:45] lizzieinvancouver commented on #168
@MoralesCastilla I think it looks good, could you just add some quick notes at the top that say what each of the types do ("add.columns","only.percentBB","BB_analysis")? Once done, could you tag Ailene ...

@AileneKane Once Nacho does the above, could you then triple-check the code? If it looks good I think we can close this!

[2018-04-12 20:48] lizzieinvancouver commented on #30
These data for BB are recoded to 999 and I made a note in bbcleaningresp_README.txt about the 'important note!' mentioned above

[2018-04-12 20:48] #30 closed

[2018-04-12 20:55] lizzieinvancouver commented on #168
@MoralesCastilla @AileneKane

Wait! Actually, the code is not working. Try running it on just:
d <- subset(d, datasetID=="falusi90")
And you'll see lots of values still remain that should have been removed. Part of this may be the code I added (to try to remove values BELOW the lowest allowed value), but I am not sure... @MoralesCastilla Can you take a look and let us know?

Thanks!

[2018-04-13 13:04] cchambe12 commented on #170
Fixed in clean_ambientforcing.R!

[2018-04-13 13:04] #170 closed

[2018-04-13 16:54] AileneKane commented on #130
@cchambe12 @lizzieinvancouver
I uncovered another mistake today! I take partial responsibility because I entered the original site into ospree wrong (schnabel87). It has also had some cleaning done to it that made it "wrong-er" - (in clean_forecetemp) things that were supposed to be ambient were changed to 24- not sure why!
Anyway, I'm seeking permission to fix this in the cleaning code! It needs