[2019-07-04 14:52] AileneKane commented on #249
This makes sense. I have pushed a new version of the ms with these added. I will add the thermoperiodicity ones to the supp soon!

[2019-07-05 22:35] lizzieinvancouver commented on #283
- Make sure everyone has addresses. Jehane is still UBC I think so I added that ... Tim is MIT ([see here](https://www.media.mit.edu/people/tsavas/overview/)) and is Harvard and U.S. DOT Volpe National Transportation Systems Center and Nacho is University of Alcala, which I added also (check my accents there compile and do not break the Rnw!).

[2019-07-05 23:24] lizzieinvancouver commented on #283
@AileneKane If we want to shorten the Weinberger we could switch to this:

`\par Progress on developing chilling models for wild species is especially slow, as only a small portion of studies (\Sexpr{totexpchill} of the total \Sexpr{nst} studies) manipulate chilling directly. Instead many studies (\Sexpr{weinchill} out of \Sexpr{nst}; the remaining studies did not not appear to manipulate chilling

[2019-07-06 00:16] lizzieinvancouver commented on #289
@cchambe12 Could you also references there or in Rnw where to find the defining budburst info? Thank you!

[2019-07-06 00:27] lizzieinvancouver commented on #281
@AileneKane And make sure they are all referenced somewhere ... we should not present any tables or figures we do not reference (I think we need all of them, we just also need to reference them!)

[2019-07-07 01:39] lizzieinvancouver opened #290 "add to supp how we estimated forcing and photo ..."
I started this in the supp Rnw:

But could use help ... @AileneKane @cchambe12 could you check this? @cchambe12 Can you add a line about what photoperiod we used for ramped studies?

[2019-07-07 23:48] #255 closed

[2019-07-07 23:50] lizzieinvancouver commented on #271
I think we're good, Cat's lit review (bb_analysis/pep_sims/pepsimslitreview.txt) should be noted also.

[2019-07-07 23:50] #271 closed

[2019-07-07 23:58] lizzieinvancouver commented on #268
I made some changes to the file to enter data (now called ospree_2019update) in ...

- There is no data_simple tab so I deleted all the meta-data about it.
- added details to meta tab for what to put in continent
- 'entered by' said 3-5 letter acronym, I changed to 'your initials (2 or 3 capital letters, no punctuation)' ... I also adjusted this a bit in the list of columns for source tab

[2019-07-08 00:14] lizzieinvancouver opened #291 "enter new papers (that are not about strawberries)"
Time to enter new papers! Want to know how? [Check out this great wiki page](https://github.com/lizzieinvancouver/ospree/wiki/Entering-new-Data-2019-and-Beyond)

[2019-07-08 00:23] lizzieinvancouver commented on #268
And then I updated the Rnw file with some URL links and again removed data_simple and references to it (we did used to have this, but it seemed pointless so we removed it).

[2019-07-08 00:27] lizzieinvancouver commented on #268
@DeirdreLoughnan  I recall you perhaps saying you checked for new papers but I cannot find the notes ... can you re-post them here and also give the exact date you checked?  If you only checked one database, can you and @DarwinSodhi check them both on the same date? Thanks! And Sorry I am being lame on finding the notes I know you posted.

[2019-07-08 00:31] lizzieinvancouver commented on #268
Could you each enter a paper following the [howtoscrape guidelines](https://github.com/lizzieinvancouver/ospree/wiki/Entering-new-Data-2019-and-Beyond) and update/improve them if needed? As I would like to get this done *quickly* I have picked two data-lite papers (I think).
@dbuona Fu_et_al-2018-Global_Change_Biology
@cchambe12 Richardson et al. 2018
If it's possible to do this by end of the day

[2019-07-08 01:47] DeirdreLoughnan commented on #268
@lizzieinvancouver I checked Web of Science on June 10, and the notes can be found [here](https://github.com/lizzieinvancouver/ospree/blob/master/notes/litreviewnotes/lit.rev.notes.June2019.txt). I will coordinate with @DarwinSodhi to check them on the same date this week.

[2019-07-08 13:01] cchambe12 commented on #289
Sure thing! Added!

[2019-07-08 18:36] AileneKane commented on #286
@dbuona and @cchambe12 I have modified your tables and table code to be consistent with the equations and with my tables, and have now pushed the pdf of the supp with these changes. please look at the code and the pdf and let me know if you notice any mistakes!

[2019-07-08 19:29] AileneKane commented on #267
@lizzieinvancouver hopefully when you update intxns code this will be fixed but there is currently a discrepancy between the number of studies in bbstan_mainmodel_countinxns.csv (38) versus by doing unique(bb.stan$datasetID) with the main == true (30). Similarly, the unique number of studies in the full ospree_clean_withchill_BB.csv is 49, but in bbstan_allsppmodel_countinxns.csv this is listed as

[2019-07-08 23:54] lizzieinvancouver commented on #267
@AileneKane My code is updated! I was just waiting on you to put in all the #s and then planned to check the numbers and close this issue.

I think you may just be confusing studies versus papers though? My numbers are all for paste(df$datasetID, df$study) ... the calculations for what I am doing have to be done at the study level. So is that the discrepancy?

[2019-07-09 04:47] AileneKane commented on #267
@lizzieinvancouver this is so helpful to know! I will go through the manuscript and be clear in the wording as currently we use the word "study" to refer to both "experiments" and "papers"

[2019-07-09 16:14] AileneKane commented on #282
This is now done!

[2019-07-09 16:14] #282 closed

[2019-07-09 16:15] AileneKane commented on #258
Done- thank you @lizzieinvancouver !

[2019-07-09 16:15] #258 closed

[2019-07-09 16:15] #265 closed

[2019-07-09 16:16] AileneKane commented on #275
I think this is done!

[2019-07-09 16:16] #275 closed

[2019-07-09 16:19] AileneKane commented on #259
ok, @lizzieinvancouver @cchambe12 @dbuona @jsamaha @tsavas @dflynn-volpe
A head to head vote: Please send me am email with your top choice of these two titles:
1. Winter temperatures dominate spring phenological responses to warming
2. Chilling dominates spring phenological responses to warming

[2019-07-09 17:27] AileneKane commented on #287
@lizzieinvancouver I pushed the cover letter [here](https://github.com/lizzieinvancouver/ospree/blob/master/docs/budburst/CoverLetter_Science.pdf) though I think we may not want to final version with list of recommended reviewers on git. could you edit?

[2019-07-09 17:41] cchambe12 commented on #291
For richardson18, one of the figure panels shows daystobudburst for two dominant shrub species but does not distinguish between the two since they used PhenoCams to capture the data. How should I enter this?

[2019-07-09 17:52] cchambe12 commented on #286
Looks great to me!

[2019-07-09 18:13] AileneKane commented on #290
loosk good! I think we can close this after @cchambe12 adds a line.

[2019-07-09 18:15] cchambe12 commented on #290
I'm ready to add it, I just saw you were working on the supp. Is it okay to add it now @AileneKane?

[2019-07-09 18:22] AileneKane commented on #290
@cchambe12 could you just paste it below and i will add it in?

[2019-07-09 18:26] cchambe12 commented on #290
Good thinking!

"For studies that ramped photoperiod, we used the photoperiod individuals initially experienced (e.g., studies with photoperiod lengthening from 6 hours until budburst, we recorded as `6')."

[2019-07-09 18:28] AileneKane commented on #283
@cchambe12 @dbuona @MoralesCastilla @jsamaha @tsavas @dflynn-volpe  I have updated affiliations so please check and let me know if yours is correct or how you'd like it changed (for example, some of you could be affiliated with the arboretum AND OEB I think? Please let me know your preference)

[2019-07-09 18:38] AileneKane commented on #290
@cchambe12 thank you!

[2019-07-09 18:38] #290 closed

[2019-07-09 19:53] dbuona commented on #268
I am having issues getting the Figure_Calibration plug in. It seems like there is a bug for me to download Java (I've downloaded it many times, but the installer never shows up). I am trying to figure out how to do it through terminal, but haven't had any luck yet...Cat did you have any of these problems?

[2019-07-09 20:08] cchambe12 commented on #268
I didn't have these issues for some reason! Have you checked security preferences to make sure it isn't being blocked? I know Java is constantly updating so developers frequently have issues with them, I hope that isn't the deal here.

[2019-07-09 20:27] dbuona commented on #268
Okay, I got Java going by blindly following someones github instructions and hoping it did't give me viruses. Now I have the plugin and am ready to scrape

[2019-07-09 21:16] dbuona commented on #268
I haven't finished entering this paper, but I've done enough to make some modifications to the how to scape instructions. I will finish it off after baby goes to sleep, but I don't anticipate needing to change the guide at all.

[2019-07-10 01:50] dbuona commented on #283
@AileneKane I think I'd like to be both arboretum and OEB. Also, in your (or others' )opinion. Is there an advantage to including a middle initial too? I notice that you and Lizzie tend to do so...

[2019-07-10 01:53] lizzieinvancouver commented on #283
@dbuona I think middle initials were (perhaps) originally used just to differentiate names (back when only English men with boring names published, maybe?). Now I think you can use the name you like, but you should try to pick one you want to stick with through time.

I also personally do just first initials because I don't think anyone needs to know my gender or such to read my papers.

[2019-07-10 01:54] lizzieinvancouver commented on #268
@dbuona @cchambe12 Thank you both! I will start assigning papers ... now.

[2019-07-10 02:05] lizzieinvancouver commented on #291
@cchambe12 Can you check how we did it for the Fu studies already entered? I am pretty sure those were also ambient + XX degrees (or you can search for those studies ... there would be a + sign in the forcing column) ... as for the PhenoCam. Good question! We previously ruled out anything that was not IDed to species (NDVI etc.) so I guess we should skip that figure also? What do you think?

[2019-07-10 02:07] lizzieinvancouver commented on #291
@DeirdreLoughnan @DarwinSodhi Time to enter papers! Please take a data/ospree_2019update.xlsx (but do **not** update this file!) for your assignments. Can you try to enter them by end of the day Friday?

[2019-07-10 02:11] lizzieinvancouver commented on #283
@dbuona Basically, if you like your initial or such, you should include it! But if not, `go with whatever you fancy' (says Jonathan Davies, who notes `12 million people have my name ... the whole of Wales for a start').

[2019-07-10 02:57] AileneKane commented on #283
@dbuona I do it simply because I like to have a remnant of my maiden name- and also in case there is some other A. Ettinger out there! I will add the arb to your affiliations!

[2019-07-10 04:13] AileneKane commented on #281
having trouble getting this to work! I have referencesd everything somewhere, I believe, but we might want to reference the supp more in the main text

[2019-07-10 04:45] #262 closed

[2019-07-10 04:46] AileneKane commented on #287
@lizzieinvancouver I like your edits and have pushed an updated version for your review!

[2019-07-10 04:46] AileneKane commented on #286
@dbuona if you agree, then I will close this!

[2019-07-10 04:55] lizzieinvancouver commented on #281
@AileneKane Do you mean the cross-ref isn't working? You do need to (1) compile the main text (leave all aux etc. files) then (2) compile the supp (leave all aux etc. files), then repeat 1-2 a couple times ... If that doesn't work you can try to find the error message about it (search through your log for 'xr') and google anything you find ... if none of that works I can try to take a look tomorro

[2019-07-10 05:25] lizzieinvancouver commented on #287
@AileneKane Thanks! Jonathan pointed out one dull sentence in a critical spot (I wrote it, sorry!) so I have pushed a new version with a little more oomph. See what you think....

[2019-07-10 12:08] MoralesCastilla commented on #261
@AileneKane
Sorry Ailene, this comment had slipped my mind. I have now used framed circles and triangles to distinguish among studies in/not main analysis, and studies manipulating chilling (or not). I hope it is clearer now. Let me know if you'd change some other aspect of it (the new version is in the figures folder).

[2019-07-10 15:56] AileneKane commented on #281
@lizzieinvancouver I will try repeating 1 -2 more and see if that works! I think i only did it once each. I'll let you know if it is still not working.

[2019-07-10 16:41] lizzieinvancouver commented on #281
@AileneKane You definitely it have do it more than once ... the first time through builds the aux files that yields has the labels each other file needs, the second time through each file can read the other aux file so once should basically never work ... same for bibtex and other such things often. Don't assume compiling once is enough. Let me know how it goes ... if it still fails please send me

[2019-07-10 16:51] DarwinSodhi commented on #291
@lizzieinvancouver Deirdre and I are going to meet tomorrow and tackle our papers! we will let you know if we come across any insurmountable challenges!

[2019-07-10 16:59] AileneKane commented on #281
@lizzieinvancouver I think I got it to work. I usually compile in rstudio, but if i compile in TexShop it seems to work. I tried for a test set, so i will convert all and try again. thanks!

[2019-07-10 17:22] AileneKane opened #292 "Variance changed?"
@lizzieinvancouver @dbuona @cchambe12 I noticed in checking over the tables and our manuscript that a statement we make is no longer true: chilling does NOT have lower variance than forcing in our current models. Could someone else fit the main model with z-scored predictors and check that you get the same result? I will refit my models to be sure that this is correct with z-scored predictors, too

[2019-07-10 17:27] AileneKane commented on #292
@lizzieinvancouver @dbuona @cchambe12  never mind. in looking at models_bb_compare.xlsx it looks like the variance has not changed recently - in march it was also true that variance was higher for chilling than for forcing for UTAH. I think this text was written when we were using chill portions (which does have higher variance in chilling than forcing).

[2019-07-10 17:57] lizzieinvancouver commented on #292
@AileneKane Here's what I get on the z-scored main model (37 sp. 1729 datapoints):

[code]
These numbers don't really line up with the figure though...

[2019-07-10 18:01] AileneKane commented on #292
@lizzieinvancouver Thanks! Glad your results agree. I have adjust the text, replacing the above two sentences (which didn't make sense given that chilling variance was HIGHER than forcing variance) to say:
'Species also showed fairly consistent responses to chilling, with all estimates less than zero (Fig. 1).
Responses to forcing, in contrast, spanned positive and negative estimates across specie

[2019-07-10 18:37] AileneKane commented on #281
Done!

[2019-07-10 18:37] #281 closed

[2019-07-10 18:57] dbuona commented on #286
sounds good!

On Wed, Jul 10, 2019 at 12:46 AM AileneKane <notifications@github.com>
wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2019-07-10 19:31] #286 closed

[2019-07-10 19:34] AileneKane commented on #292
OK, lizzie and i talked and decided instead to report the variance of forcing in chilling. so the above text has been replaced with
`Species responses to chilling were slightly more variable
(variance = 2.07 days per chill unit in the standardized model, Fig. 1) than responses to forcing (variance =0.91 days per forcing unit in the standardized model ,Fig. 1).'
Lizzie, I realized that the values y

[2019-07-10 19:44] lizzieinvancouver commented on #292
@AileneKane I changed the default in the code so I did report the z-score estimates ... so I think the numbers I reported should be what you also get in the z-score model (and you report the uncentered sigmas in the main text). What am I missing?

[2019-07-10 19:52] AileneKane commented on #292
@lizzieinvancouver i get z sigmas of 2.07 (chill) and 0.91 (force), and nonz sigmas of 7.36 (chill) and 5.67 (force). Originally i did report the nonz sigmas, but I'm thinking that if our goal is to compare their magnitude then we should use the z sigmas, right?

[2019-07-10 19:55] lizzieinvancouver commented on #292
@AileneKane Yes! I was thinking we should just report both ... I am jumping on a call now, but will check what I get carefully and post it this afternoon so we can triple-check.

[2019-07-10 20:19] lizzieinvancouver commented on #292
Okay, first model!

[code]
Any my sigmas are ...
[code]

[2019-07-11 00:51] lizzieinvancouver commented on #292
So, here's the z-score model:

[code]

And my sigmas are ...
[code]

[2019-07-11 00:53] lizzieinvancouver commented on #292
@AileneKane We get the same answers but your comment above:

Is just the reverse of what I get ... 7.36 (chill) and 5.67 (force) are my *z-score sigmas*

[2019-07-11 03:18] lizzieinvancouver opened #293 "small things to double-check before submitting"
- title matches across cover letter, supp and main text
- search the PDFs for 'still need' and '??' and 'XX' and 'lat, lon'
- uncertainty intervals should be the term so search that 'percentiles' is removed

[2019-07-11 12:47] cchambe12 commented on #291
@lizzieinvancouver we ended up not using Fu13 because it wasn't clear when the forcing started. I checked the other `ambient +' studies - most weren't included for various reasons except for guak98, which didn't have too high of response times.

[2019-07-11 16:16] lizzieinvancouver commented on #291
@cchambe12 Thanks! Fu13 is in the full OSPREE database but not in the current days to budburst work? Or did we not even enter the data?

[2019-07-11 16:18] cchambe12 commented on #291
@lizzieinvancouver it's in the full OSPREE database but not in the days to budburst work so we didn't correct for the high response.time values!

[2019-07-11 16:19] lizzieinvancouver commented on #291
@cchambe12 Okay, then we should still include the Richardson data for the update to OSPREE, and follow whatever we did in fu13 and similar studies (I imagine they too had really late days to budburst)?

[2019-07-11 17:51] AileneKane commented on #292
@lizzieinvancouver wow- thanks for checking that! I had switched the models in the main ms (i.e. i was loading the nonstandardized model and calling it the zmodel and vice-verse). All good now!

[2019-07-11 20:40] DarwinSodhi commented on #291
@lizzieinvancouver the figure I have to scrape is 7 graphs in one, based on Tim's instructions should I scrape every single graph separately? I have attached the screenshot I have here!
<img width="1108" alt="Screen Shot 2019-07-11 at 1 27 45 PM" src="https://user-images.githubusercontent.com/43154379/61083770-66d95900-a3e1-11e9-95b6-5cab5d0944f1.png">

[2019-07-11 21:01] DarwinSodhi commented on #291
I am attempting to scrape the data but I am having two problems: 1. The multi point tool doesn't let me select multiple points & 2. when I measure something I get this (look at attached screen shot). Anyone know what I can do? @lizzieinvancouver @dbuona @cchambe12
<img width="444" alt="Screen Shot 2019-07-11 at 1 59 06 PM" src="https://user-images.githubusercontent.com/43154379/61085110-570f4400-a

[2019-07-11 22:04] lizzieinvancouver commented on #291
@DarwinSodhi I don't know ImajeJ well enough to help with your second query ... but hopefully @cchambe12 @dbuona or @DeirdreLoughnan can help?

For the query on the 7 panel figure -- yes! They look like all unique datapoints so you will have to scrape each panel separately.

[2019-07-11 22:09] DeirdreLoughnan commented on #291
I think the issue is the rectangle masking the figure, but @DarwinSodhi, let me know if you are still having this issue and we can look at it together again.

[2019-07-11 23:18] DarwinSodhi commented on #291
@lizzieinvancouver @DeirdreLoughnan figured out the problem thanks to Deirdre!

[2019-07-11 23:42] DarwinSodhi commented on #291
@lizzieinvancouver I have a few more questions. when entering data into the data_detailed tab what do you do if there is a column that should be filled out but isn't mentioned in the methods? also, another figure I need to scrape is shown below, should I be getting both flushed and unflushed data?
<img width="969" alt="Screen Shot 2019-07-11 at 4 40 23 PM" src="https://user-images.githubuserconten

[2019-07-11 23:48] lizzieinvancouver commented on #291
@DarwinSodhi What's the column? (Sometimes it means we don't enter the paper, sometimes we leave it blank... often we try to convert the data in the paper so we have the data/info.)

For the above data  ... you need to figure our a %budburst for 'abnormal' to enter the data, if you can then you'd enter that number repeatedly for abnormal and you would enter unflushed as 0% budburst and you'd need

[2019-07-11 23:52] DarwinSodhi commented on #291
@lizzieinvancouver it is the field sample date, the authors used seedlings so there weren't any cutting and they also had an outside trial (which I assume means field chilling)!

[2019-07-12 00:36] lizzieinvancouver commented on #291
@DarwinSodhi There is field sample date. From Man et al. 2017 Budburst Experiments section:

`Batches of seedlings were sequentially moved into the climate chambers from outdoors at 10-day intervals between October 1st and January 1st and 20-day intervals thereafter to mid-April, which resulted in a time series of 16 budburst experiments for each species (15 in the climate chambers and 1 outdoors)

[2019-07-12 01:35] #292 closed

[2019-07-12 01:37] lizzieinvancouver commented on #293
@AileneKane One more! It occurred to me we should double check we actually present Utah units when we say we do (and Chill portions) ... if the natural-scale models still use chilling/240 as an input then we need to convert our parameters for chill from any of those models (or explain clearly that we are using 'adjusted chill units').

[2019-07-12 03:45] DeirdreLoughnan commented on #291
@lizzieinvancouver it is unclear whether Fu et al 2019 used 12 or 11 chambers (the text suggests both) and what the 11 open circles in Fig 2 represent. Should I just include the mean values shown in Fig 3, the exact values of which are in a table in the supplementary material?

[2019-07-12 05:48] AileneKane commented on #293
@lizzieinvancouver I converted everthing to be utah units (i.e. by multiplying by 240) in the figures. Let me know if there are particular instances where you think this should be done!

[2019-07-12 15:30] lizzieinvancouver commented on #293
@AileneKane Great. Have you also converted parameter estimates when mentioned in the text? I think would be it! (I am not sure how to convert the variance ... if that is an issue you could just focus on the standardized model there.)

[2019-07-12 16:13] AileneKane commented on #293
I did not convert parameter estimates in the text where we used the term "chill units" rather than utah untis. Perhaps I should define this i the supp?

[2019-07-12 16:21] lizzieinvancouver commented on #293
@AileneKane Yes! I think we should just define the term in the supp (and maybe explain it was necessary for model fitting). Thanks for putting up with all my niggling requests!

[2019-07-12 16:25] AileneKane commented on #293
@lizzieinvancouver I really appreciate your attention to detail!

[2019-07-12 16:27] lizzieinvancouver commented on #291
@DeirdreLoughnan That sounds good (esp. being able to use the exact values from the table). You should ask Mika or Kelley to double-check the chamber number and then put in your best guess (and make a note).

[2019-07-12 16:48] DarwinSodhi commented on #291
@lizzieinvancouver Having an issue with figure 4 again, the authors don't provide a value for %budburst for abnormal, instead, the authors state that "Budburst was considered abnormal if it started first in lower branches, stems, and roots in broadleaves and if bud and needle expansion were constrained in conifers". As for connecting the chill hours to the dates, that is relatively straightforward

[2019-07-12 17:00] lizzieinvancouver commented on #291
@DarwinSodhi Okay, I would enter 'abnormal' in the % column (or 0% for the other points) and add the definition of it in the notes.

[2019-07-12 18:00] AileneKane commented on #259
@lizzieinvancouver @cchambe12 @dbuona @jsamaha @tsavas @dflynn-volpe
FYI: the winnter is 1. Winter temperatures dominate spring phenological responses to warming

[2019-07-12 18:12] AileneKane commented on #287
@lizzieinvancouver I think this looks great! I recompiled and i believe the cover letter is ready to go!

[2019-07-12 18:12] #287 closed

[2019-07-12 18:39] kfslimon commented on #291
![Screen Shot 2019-07-12 at 11 07 34 AM](https://user-images.githubusercontent.com/52802928/61150847-42d94e80-a499-11e9-886a-407a4a6482fd.png)
![Screen Shot 2019-07-12 at 11 31 55 AM](https://user-images.githubusercontent.com/52802928/61150866-55ec1e80-a499-11e9-9b31-e03e5942ef73.png)

The figures I am attempting to scrape have arrows pointing to the lowest point with what look like coordinates fo

[2019-07-12 19:02] lizzieinvancouver commented on #291
@kfslimon Hmm, if you are 90% sure the coordinates are the temperature then I would use the temperature (you probably know this but in Europe they use commas for decimal places). You can ask @DeirdreLoughnan for a quick review of the paper and second opinion (we do that a lot).

[2019-07-12 19:03] DarwinSodhi commented on #291
@lizzieinvancouver I have all the data which is good! but I am unsure which column to put the chill hours for each measurement and also where to indicate if the measurement was from an abnormally flushed or unflushed seedling.

[2019-07-12 20:10] lizzieinvancouver commented on #291
@DarwinSodhi Good questions! `abnormal' (and 0 etc.) should go in the column `response`.  For the field chilling you use two columns:
[code]

[2019-07-12 20:11] DarwinSodhi commented on #291
@lizzieinvancouver another question what do you do if the provenance lat and long are ranges rather than specific values?

[2019-07-12 20:15] lizzieinvancouver commented on #291
@DarwinSodhi If they do not break the data out by each population (often they do) you should pick the most central ... you may need to enter them all in Google earth to do that. Be sure to give the population a name that indicates this, like: central BC-central latlong of multiple locations

Also given your study you need to carefully review ALL the columns. You have info for growing lat and growi

[2019-07-12 21:26] DarwinSodhi commented on #268
@lizzieinvancouver Deirdre and I looked for new papers today and I have updated the notes to reflect this!

[2019-07-16 01:20] m-yasutake commented on #291
Hi @lizzieinvancouver, Deirdre and I worked on the Vitra et al. paper today and came across a couple questions:

1) Does dehardening count as an "other treatment"?
2) Should we extract data from Fig. 2 if it's unclear if it represents the mean across treatments or under ambient conditions?
3) Do we want to extract data from Fig 3b and c?
4) Should the error bars from Fig 3 be extracted if the erro

[2019-07-16 05:00] lizzieinvancouver commented on #291
@m-yasutake @DeirdreLoughnan
1. Yes!
2. I am a bit out of time to help on this in the next while, @cchambe12 could you check if you know the answer to any of this query and/or could provide a second review?
3. No, since it's not phenology ....
4. Yes, put in all the info you can. (Again @cchambe12 could you see if you can deduce what the error bars are?)

[2019-07-16 17:53] DarwinSodhi commented on #291
@lizzieinvancouver @cchambe12 for each point in this figure there should be 15 points for both the black and white dots but none of these graphs actually have the 15 points. I don't quite know why and for Larix decidua it's hard to see all of the white points and I don't know how to proceed with that when scraping the data.
<img width="796" alt="Screen Shot 2019-07-16 at 10 43 21 AM" src="https://

[2019-07-16 18:50] cchambe12 commented on #291
@DarwinSodhi I am guessing the data points are overlapping each other. In the past, I have done my best to find each point. For the points I can't see, I just don't record them. I would check the rest of the paper or the supplement for a table to see if the missing points are listed. Sometimes they also list information in the caption. Hope this helps!

[2019-07-16 19:46] DarwinSodhi commented on #291
@lizzieinvancouver @cchambe12 The below panel in the picture above is a graph of the forcing unit sums by chilling unit sums. I am unsure if this in data that I should scrape or not?

[2019-07-16 20:58] cchambe12 commented on #291
@DarwinSodhi is it is the same data as in the row above? If so, we probably don't need the same data twice. If not, check out how we did laube14a, gheraldini10, or heide93! The respvar will be thermaltimetobudburst. We may decide later that we'll want to look at GDDs or chill utah to budburst so it may be useful to include.

[2019-07-16 21:33] DarwinSodhi commented on #291
@lizzieinvancouver @cchambe12 a few more questions. wouldn't photoperiod_night just be (24-photoperiod_day)? my paper does have field units but they use an equation to calculate it (showed below? for cu model what should I put?
<img width="506" alt="Screen Shot 2019-07-16 at 2 31 34 PM" src="https://user-images.githubusercontent.com/43154379/61331360-aedbef80-a7d6-11e9-9549-5c7e149fdd09.png">

[2019-07-16 21:46] kfslimon commented on #291
Two quick questions:

1. My last paper (ramos17) does not include the years they did their experiment anywhere in the paper or supplement. How big of a problem is this/ is there anywhere else I might find this info?

2. Is there a proper procedure in imageJ for getting the length of the error bars? Also, is the number recorded meant to be half of the bar (ex. +/- 1.5) or the whole bar (combined le

[2019-07-17 01:11] lizzieinvancouver commented on #285
@cchambe12 @dbuona Can you all check that you had 1 500 warm-up iterations followed by 2 500 sampling iterations? This should yield 10 000 samples. @cchambe12 I especially wanted you to double check this and the 713 n_eff (as that would be below 10% ... but close). Thanks!

[2019-07-17 12:17] AileneKane commented on #285
@lizzieinvancouver @cchambe12 @dbuona I believe that our models are actually coded to have 2500 total iterations (1500 are used for warm-up). This should yield 4000 samples. I wrote the text incorrectly in our manuscript. Sorry for the confusions!

[2019-07-17 12:47] cchambe12 commented on #285
Yes that sounds right, thanks Ailene! And yes, my code has 1,500 warm-up iterations and 2,500 sampling iterations.

[2019-07-17 15:10] dbuona commented on #285
mine too.

[2019-07-17 16:55] lizzieinvancouver commented on #285
@AileneKane @cchambe12 @dbuona Ah! Thanks everyone for checking and sorry for my panic. This means are n_eff are very good! Nice work!

[2019-07-17 17:24] lizzieinvancouver commented on #285
@AileneKane I think if we correct the supp text to make it clear there were 2500 total iterations 1500 are used for warm-up ... we should be good. We have good n_eff and Rhats so the models have converged on just 4K posterior samples, pretty good.

And maybe we can close this soon?

[2019-07-18 17:58] lizzieinvancouver commented on #291
@DarwinSodhi Okay! Yes, photoperiod_night is usually 24 hours minus photoperiod day ... unless they did something weird (which can happen, you can have a longer or shorter day in a chamber!).

And, I would call those harrington_chillunits .... not great, but people can look up what they did and we will know not to use them as Utah or such. Thanks!

[2019-07-18 18:03] lizzieinvancouver opened #294 "ramos17 needs year"
Making a new issue from issue #291 ....
@kfslimon Okay! We had two papers in the past without year .... you can see our notes [here](https://github.com/lizzieinvancouver/ospree/issues/8) and [here](https://github.com/lizzieinvancouver/ospree/issues/9)

And some more notes [here](https://github.com/lizzieinvancouver/ospree/blob/721ab668bb3b697efe6abbf88ee96507eb25dda5/data/ospreexlsx_README.txt) ..

[2019-07-18 18:35] lizzieinvancouver commented on #294
@kfslimon Can you email the corresponding author on the paper something like this (fill in the XX and check it makes sense). Let us know if you hear back!

Dear Dr. XX,

Apologies for the bother of this email. I am working on a meta-analysis  of published studies on woody species phenology in growth chambers and to answer a few queries am trying to track down the year if study in this paper (XXXX)

[2019-07-18 18:37] lizzieinvancouver commented on #291
@kfslimon Re: "Is there a proper procedure in imageJ for getting the length of the error bars? Also, is the number recorded meant to be half of the bar (ex. +/- 1.5) or the whole bar (combined length of the bar below and above the data point)."

As long as entered correctly, it's fine. So if these error bars are SE you could take the upper or lower half and report the error units as SE ... or you

[2019-07-18 18:46] lizzieinvancouver commented on #291
@kfslimon Addressed year in a [new issue](https://github.com/lizzieinvancouver/ospree/issues/294)

[2019-07-18 18:57] lizzieinvancouver opened #295 "check newly entered papers!"
@DarwinSodhi @DeirdreLoughnan @cchambe12 @dbuona Hi all! I have added cleaning assignments to this file: data/ospree_2019update.xlsx

Check for your initials and make comments here! I think all but Darwin's data are uploaded to review.

[2019-07-18 19:02] lizzieinvancouver commented on #295
@DeirdreLoughnan @kfslimon had some good comments on your paper entry. Could you review and update/fix or ... if not, explain why not:

**Comments/Questions for Fu19**

1. Error in the taxon.notes column under the study tab:

The paper describes them as ‘saplings ~1.5 m’, in the study tab sapling is mistyped as ‘sampling’

2. For the daylength,forcing column under the study tab and photoperiod_day

[2019-07-18 19:04] lizzieinvancouver commented on #295
@cchambe12 @kfslimon had some comments on your data entry. Can you either fix/address them or explain why not?

**Comments/Questions for richardson18**

1.  Add ‘5’ to Nlevels.chilling  and Nlevels.forcing column

2. My take on the paper is that the trees did spend the winter in the field so there would be filed chilling, given that I would:

-Add ‘ambient’ to chillphotoperiod and daylength.chilli

[2019-07-18 19:15] dbuona commented on #295
@DarwinSodhi I just realized I didn't enter my error bars either for Fu18...I will do so now and push my changes so hold off for a few before you check this paper...thanks!

[2019-07-18 19:29] lizzieinvancouver commented on #291
@DeirdreLoughnan I looked at Vitra Fig 2 and I agree it seems hard to know what data they are reporting and thus how to enter it. So we should skip it.

[2019-07-18 19:31] lizzieinvancouver opened #296 "check out PERPHECLIM data"
@cchambe12 Check for how much data they have on leafout or budburst for common species (betpen and fagsyl?)

[2019-07-18 19:35] lizzieinvancouver commented on #197
@dbuona Will update notes and report back tomorrow (Friday).

[2019-07-18 19:38] lizzieinvancouver opened #297 "phylogeny progress"
See also issue #228 ...
@MoralesCastilla Will make some notes on where we're at.

**Few notes from Lizzie:**
Jonathan still thinks if you have common species you can just prune the Zanne tree published a few years back (use congenerics if the exact species not present). He said it seems unnecessary to build our own tree when so many of the species will be missing ...

Also PWR is set up to do y ~

[2019-07-18 19:53] dbuona commented on #295
@dbuona okay, Fu18 is should be good. thanks for waiting

[2019-07-18 20:01] #285 closed

[2019-07-18 20:02] dbuona commented on #295
sorry the above @ should have been @DarwinSodhi

[2019-07-18 20:04] lizzieinvancouver opened #298 "look at cue correlations"
From budburst paper ... just plot cues against one another....

[2019-07-18 20:21] dbuona commented on #295
@m-yasutake Here are my thoughts for prevey18:
field.sample.date: should be reentered in an unambiguous format (dd-Mon-yyyy)

material: I think it would be just cuttings but maybe okay as you have it

respvar should be daystoflowering not budburst

chilltemp: this is a tricky one, because for some the actual chilling treatment is "ambient", but  the paper reports a mean temperature, and that is th

[2019-07-18 20:30] dbuona commented on #295
@DeirdreLoughnan @m-yasutake for vitra17
n: should be 5 except for 4 for prunus. Other than that seems good.

[2019-07-18 20:55] cchambe12 commented on #295
@kfslimon I addressed the issues mentioned for richardson18! Except I could not add the details for shrubs since the figure does not distinguish between species. Thanks!

[2019-07-18 20:57] lizzieinvancouver commented on #296
[The link I meant to include...](https://www6.inra.fr/projet-accaf-perpheclim_eng/The-PERPHECLIM-project)

[2019-07-18 21:34] lizzieinvancouver commented on #291
@cchambe12 Can you update your xlsx file to include raw data means and standard errors for each treatment from Flynn & Wolkovich?

[2019-07-18 21:58] lizzieinvancouver opened #299 "check out performance data"
_snippets.R ... shows:

[code]
Okay, but how much is really useful?

`> lookseegrowth <- subset(growthdat, select=c("datasetID", "study", "genus", "species", "respvar"))

    ashby62    basler14       boyer   cannell83   devries82    falusi90 guerriero90     heide05
          1          12           1           2           1           2           2           3
    heide08     heide11     heide12

[2019-07-18 21:58] lizzieinvancouver commented on #299
Another look:

[code]

[2019-07-18 22:54] DarwinSodhi commented on #295
@dbuona 1. on the study tab exp 2 should say ambient, ambient -1 and ambient +1
2. How did you get provenance for the fagus species?
3. respvar should say daystosenescence
4. growing lat/long is missing
5. error bars are still missing on my version

[2019-07-18 23:31] DarwinSodhi commented on #295
@kfslimon for Ramos et al. 2017 some of the resp_error have NA's while some have 0 but it isn't entirely clear to me how they were distinguished.
But other than that, the paper looks entered well considering all the complexities, good job!

[2019-07-18 23:54] DarwinSodhi commented on #295
@cchambe12 my data has been entered as of a few hours ago!

[2019-07-18 23:57] lizzieinvancouver opened #300 "cleaning issues ..."
I am not sure how we should clean new data ... and still retain the older data okay (as we need to). To discuss. Additionally in cleanmerge_all.R:
(1) source("cleaning/clean_misc.R") now has an error or warning it never had before ... need to look into this!
(2) with the new data we end up at 0 rows of data after this line: source("cleaning/clean_photo.R")

[2019-07-19 13:20] cchambe12 commented on #295
@DarwinSodhi I have a few things...

More nit-picky for cleaning later:
1. Could you remove the degree symbols from chilltemp
2. And make year just 2014, it makes it easier for calculating field chilling later
3. Could you change fieldsampledate format to dd-Mon-yyyy? It looks like you may have to change the entire column format
4. You have extra columns and rows at the end, could you delete these

[2019-07-19 13:57] cchambe12 commented on #291
@lizzieinvancouver For the chilling units reported in the supplement, should I report just the dynamic model? And why are the field chilling until Apr 1 and until May 1 reported in Table S2? I just want to make sure I'm not missing something!

[2019-07-19 16:01] cchambe12 commented on #295
@dbuona I think you are checking the flynn18 entries? If so, I just added them. I used an R script which you can find in ospree/data/update2019/addinflynndata.R. Thanks, Dan!

[2019-07-19 16:03] DarwinSodhi commented on #295
@cchambe12 Thanks for your feedback! I don't quite get you number 3 comment for Man2017 as the respvar is actually percentbudburst not daystobudburst! AB and 0 are the percentbudburst because they don't give values for AB which stands for Abnormal!

[2019-07-19 16:22] cchambe12 commented on #295
@DarwinSodhi Ahh I see yes it is only percentbudburst, sorry about that! The response.times are very high though. They should be 0-100 if the respvar is percentbudburst. Are the response.times in gdds? Or maybe even growing degree hours?

[2019-07-19 16:22] dbuona commented on #295
@cchambe12 the flynn data and code look good to me. In fact, the code seems quite elegant.

[2019-07-19 18:46] cchambe12 commented on #295
@DarwinSodhi okay, so I would scrape Fig2 and have the respvar be thermaltimetohours and report the raw values for the y-axis. As we discussed, the right most point will be the first fieldsample.date and then each point further left will be the next fieldsample.date and so on. Good luck! Such a painful one! Let me know if you have more questions

[2019-07-19 18:59] lizzieinvancouver commented on #291
@cchambe12 for Flynn & Wolkovich: 20-22 January 2015 for HF (so say 21 Jan 2015?) and 25-28 January 2015 for SH ... say 26 or 27 Jan 2015?

[2019-07-19 19:01] DarwinSodhi commented on #295
@cchambe12 I made the changes could you double-check I did it correctly, just to put my perfectionism at ease.

[2019-07-19 19:05] lizzieinvancouver opened #301 "set up new climate data to estimate chilling"
If we want to use most of the new data we've added; we may new climate data ... I have looped in @AileneKane @MoralesCastilla @cchambe12 for help.

First things first ... @AileneKane Can you tell us when the E-OBs and Livneh data currently end?

[2019-07-19 19:06] lizzieinvancouver commented on #301
If we need more recent data we have options:

[2019-07-19 19:11] cchambe12 commented on #295
@DarwinSodhi so fast!! Okay just a couple of minor things, response should be changed to 1 now instead of percentbudburst and then you have thermaltimetodays as the respvar -- which is fine! -- but the units of your response.time are in hours. So I would either divide your response.time column by 24 to convert to days or change your thermaltimetodays to thermaltimetohours. Great work!!

[2019-07-19 19:17] cchambe12 commented on #291
Thanks, Lizzie! All updated.

[2019-07-19 19:24] DarwinSodhi commented on #295
@cchambe12 Thanks for your help!

[2019-07-19 19:28] lizzieinvancouver commented on #299
I have to say my grant is not so amazing on this topic (though it has great text for starting a paper on the traits and/or performance!). It just says we will address this question: What is the relationship between phenology and performance in woody species? It also says we'll combine them with trait data to address: What is the relative importance of phenology versus other functional traits in pr

[2019-07-19 19:46] cchambe12 commented on #301
I found information about this in [ospree/notes/dailyclimatedata.txt](https://github.com/lizzieinvancouver/ospree/blob/721ab668bb3b697efe6abbf88ee96507eb25dda5/notes/dailyclimatedata.txt)

It looks like the best we have is through 2013. I followed the link [mentioned](https://data.nodc.noaa.gov/nodc/archive/data/0129374/daily/) which was last updated 11-Oct-2014...

[2019-07-19 19:52] lizzieinvancouver commented on #301
@cchambe12  Thanks! Can you check if Livneh is updated through 2015? I wonder if that would be easier than switching to a new dataset, depending on how much 2016 data we have.

[2019-07-19 20:38] cchambe12 commented on #301
@lizzieinvancouver It has not been updated unfortunately. I will look into Merra-2 and ERA-5!

[2019-07-19 20:43] lizzieinvancouver commented on #301
@cchambe12 Okay, but I think we'd probably start with the first suggestion: Justin Sheffield’s v3 of the Princeton Global Forcing dataset, which covers 1948-2016: http://hydrology.princeton.edu/data/pgf/v3/0.25deg/ ... but we should see how far beyond 2016 we need, maybe one of the others will be best....

[2019-07-19 20:46] cchambe12 commented on #301
Oh okay, I assumed we would need data past 2016. I will look into that now!

As an aside, the Merra-2 _could_ work but we would need to use hourly data (so it would be much slower) at 0.5 degree resolution - which doesn't seem ideal.

[2019-07-19 21:17] cchambe12 commented on #301
@lizzieinvancouver Okay, so the Princeton Global Forcing dataset seems great! You have to download the data by year but it seems very manageable and is at the same resolution as the E-OBS data. Temperatures are recorded in Kelvin and the layer names are not the dates so it takes some finagling but seems straightforward enough. I think we should switch to this if we need to. Hopefully we don't need

[2019-07-19 21:20] lizzieinvancouver commented on #301
@cchambe12 Awesome, thanks! I will make it a priority once we have reviewed data to figure out sample date years so we can decide next steps.

[2019-07-19 21:21] lizzieinvancouver commented on #291
1000+ rows of new data entered!

[2019-07-19 21:21] #291 closed

[2019-07-19 21:24] lizzieinvancouver commented on #295
@dbuona @cchambe12 @DeirdreLoughnan @DarwinSodhi  Once you have put up a new xlsx file of your entered data (@DeirdreLoughnan can you reply for Kelley and Mika's work also) and gotten it signed off on by your reviewer, please add a note to this issue such as:

@lizzieinvancouver My xlsx data file is ready to go!

Once I have this from everyone I will close the issue. Thanks!

[2019-07-19 21:25] DarwinSodhi commented on #295
@lizzieinvancouver My xlsx data file is ready to go!

[2019-07-19 21:25] DarwinSodhi commented on #295
@dbuona your changes look good!

[2019-07-19 21:26] lizzieinvancouver opened #302 "figure out if we can convert Biasi chill units"
Email the corresponding author in case we can convert to days of chilling ... otherwise the entered data won't be much use (see also issue #294 for a sample email).

[2019-07-19 21:30] cchambe12 commented on #295
@lizzieinvancouver all ready to go!

[2019-07-19 22:06] DeirdreLoughnan commented on #295
@lizzieinvancouver I uploaded my xlsx file and revised files for both ks and my

[2019-07-19 22:08] DeirdreLoughnan commented on #302
@lizzieinvancouver  I sent an email and can follow up in a week if I do not hear back.

[2019-07-19 22:09] lizzieinvancouver commented on #302
@DeirdreLoughnan Nice! We can given them two weeks seeing as it's summer.

[2019-07-19 22:09] lizzieinvancouver opened #303 "move forward with repo, introducing bbculdesac branch"
See also #300 ...
We need to think of branching the repo so we can maintain code for the manuscripts but work on adding new papers which will take some effort.

[2019-07-19 22:10] lizzieinvancouver commented on #300
For now, closing and making a bigger issue #303

[2019-07-19 22:10] #300 closed

[2019-07-19 22:17] lizzieinvancouver commented on #298
Done, the allspp model is not so great but you can look at analyses/bb_analysis/figures/cuebycue for one good plot.

[2019-07-19 22:17] #298 closed

[2019-07-22 14:56] cchambe12 commented on #296
Alright so I checked out Perpheclim for BETPEN and FAGSYL:

BETPEN: 818 data points for BBCH 15 - for 56 sites from 1880-2015

FAGSYL: 514 data points for BBCH 9 - for 45 sites from 1997-2014
                711 data points for BBCH 15 - for 59 sites from 1881-2015

Neither species had BBCH 19 recorded but spread of data covers France.

I'd be happy to look into more species if we think it would b

[2019-07-23 15:31] cchambe12 commented on #299
I have started a new [Wiki page](https://github.com/lizzieinvancouver/ospree/wiki/Performance-Data) about this question. Anyone should feel free to add to it as they see fit!

[2019-07-25 19:24] lizzieinvancouver commented on #295
@dbuona Did you upload a final file for your data? Once that's done, we're good to go...

[2019-07-25 19:31] lizzieinvancouver commented on #277
Wait, what was it in the end? I want to know so I don't make it (if I ever get better at climate data).

[2019-07-25 19:39] lizzieinvancouver commented on #295
@DeirdreLoughnan I just noticed a number of the fieldsample dates in ospree_2019update_ks.xlsx are listed without year ... can you check and update? Thanks!

[2019-07-25 19:44] lizzieinvancouver commented on #301
@cchambe12 @AileneKane
I just took a quick look at the new data and almost all the field sample dates are in 2016 or before. The latest is in January 2017 ... (Prevey & Harrington 2018 ... they took most of their cuttings in 2016 though, it looks like), it's on _Alnus rubra_, which is super cool, but it's also on effective chilling temperatures, also cool (but just one cue) so I think we should go

[2019-07-25 21:11] cchambe12 commented on #277
I accidentally called on Tmin twice rather than Tmin and Tmax! So I was essentially reporting Tmin values rather than the average of Tmin and Tmax.

[2019-07-25 21:34] lizzieinvancouver commented on #277
@cchambe12 Totally something I could do, glad you caught it!

[2019-07-27 17:04] DeirdreLoughnan commented on #295
@lizzieinvancouver the ramos17 paper does not say what year the data was collected and Kelley has not received a reply to her email to the authors (#294)

[2019-07-27 21:20] lizzieinvancouver commented on #295
@DeirdreLoughnan Yes, I forgot that -- but the way the dates are entered now it's not that there's truly no year (there is, it's 2019), you've just changed the Excel formatting to hide the year. I would put in a best-guess-placeholder-year for now and correct the formatting.

[2019-07-28 02:37] dbuona commented on #295
My data is good to go!

[2019-07-29 16:24] AileneKane commented on #280
These changes have been made!

[2019-07-29 16:24] #280 closed

[2019-07-29 16:27] #278 closed

[2019-07-29 16:33] AileneKane commented on #267
I have gone through and checked both the ms and the supp to make sure that we are consistent about study (which now means experiments within papers).

[2019-07-29 16:33] #267 closed

[2019-07-29 16:36] AileneKane commented on #264
Done!

[2019-07-29 16:36] #264 closed

[2019-07-29 16:36] #259 closed

[2019-07-29 16:37] AileneKane commented on #251
@lizzieinvancouver shall i close this now?

[2019-07-29 16:38] AileneKane commented on #126
@lizzieinvancouver @dbuona we can close this now i think?

[2019-07-29 18:47] lizzieinvancouver commented on #251
@AileneKane I wanted to work up some notes on this before we close ... can you point me to any notes and wiki pages on this and I will do it so we can close this? Thanks!

[2019-07-29 18:48] lizzieinvancouver commented on #126
@AileneKane @dbuona  ... I think so -- it's the eve of the issue's two year anniversary!

[2019-07-30 01:29] dbuona commented on #126
Yep!

[2019-07-30 01:43] #126 closed

[2019-07-30 20:38] AileneKane commented on #251
Sure! Here are links to the relevant files:

1. [wiki page: ](https://github.com/lizzieinvancouver/ospree/wiki/What's-the-story-with-all-this-chilling%3F)
2. [chillunits.litreview.csv](https://github.com/lizzieinvancouver/ospree/blob/master/notes/chillunits.litreview.csv)
3. Papers we looked should be [here ](https://drive.google.com/drive/folders/1KE3IUhW8RH1vY9XxeOyFq9-5UzIAqHqv)

[2019-07-30 20:46] AileneKane commented on #252
@lizzieinvancouver  i have added a short summary, so i think i can close this? please let me know if i should add more detail. https://github.com/lizzieinvancouver/ospree/wiki/Interacting-Cues

[2019-08-02 02:00] DeirdreLoughnan commented on #295
@lizzieinvancouver I added years for ramos17. According to their email, the years of study were 1996, 1997, and 1998, but there should be four years. I assumed they started Oct 1995 and finished Feb 1998, would you agree? I also corrected some of the dates and was wondering if the last sampling date for exp 1 should actually be March 7, as stated in the caption.

[2019-08-02 21:36] #276 closed

[2019-08-03 19:04] DarwinSodhi commented on #303
@lizzieinvancouver how does one "Create a .gitignore file that ignores all .RData and all .DS_Store files"?

[2019-08-05 01:27] lizzieinvancouver commented on #303
@DarwinSodhi Good question! As a start, can you let us know what online resources you have looked at that look most promising and what part you're first confused on (totally okay if it's very early in the process, but it would help to know what resources you're using to get started)?

Also, let's keep our questions open to the the whole lab group .... it's not just me (hopefully) who may know the

[2019-08-05 01:59] lizzieinvancouver commented on #295
@DeirdreLoughnan Copying your message to issue #294

[2019-08-05 02:00] lizzieinvancouver commented on #294
Here's the email:

[2019-08-05 02:01] lizzieinvancouver commented on #294
@DeirdreLoughnan I think we should go with 29 Feb (as entered) since they figure shows it as 29 Feb and the text reads "As sufficient natural chilling accumulated in the source trees, re- productive budburst could occur in the forced explants. Reproductive budburst of leafy explants started for 4 January samples from OFF trees and 24 January from ON trees, and continued until 15 February and 1 Mar

[2019-08-05 02:18] lizzieinvancouver commented on #295
@DarwinSodhi There is a bunch of numbers in columns BF-BT in your ospree_2019update_DSS.xlsx file ... are these important numbers or stuff that belongs in the scratch tab?

[2019-08-05 04:18] DarwinSodhi commented on #295
@lizzieinvancouver these are numbers that belong in the scratch tab!

[2019-08-05 17:26] lizzieinvancouver commented on #301
Looks like Livneh data is 4X higher spatial resolution than what we're switching to now (and to E-OBS) so that explains the slowness compared to E-OBS I imagine.

@cchambe12 Thanks for taking a first stab at this! Goal is to edit pullclimate_nam.R to now run off the Princeton Global Forcing dataset. Me and @AileneKane @MoralesCastilla stand at the ready to help.

[2019-08-05 18:35] lizzieinvancouver commented on #303
@DarwinSodhi I guess no one is jumping at gitignore excitement so much on a Monday, so let me know if this helps ....
[This tutorial](https://coursework.vschool.io/create-a-gitignore/) has some good info, though I personally would use `nano` instead of `vim` ... (more info on [setting up your text editor](https://github.com/temporalecologylab/labgit/wiki/helpful-unix-stuff))

[2019-08-05 18:36] lizzieinvancouver commented on #303
@AileneKane raised a good point about things like edits to the bib files that we may want in both master and bbculdesac, I think [we use git cherry-pick](https://git-scm.com/docs/git-cherry-pick)

[2019-08-05 21:04] lizzieinvancouver commented on #295
@DarwinSodhi Awesome -- thanks!

[2019-08-06 20:44] DeirdreLoughnan commented on #303
Here are the links I found useful when [creating a repo in terminal](https://help.github.com/en/articles/adding-an-existing-project-to-github-using-the-command-line) and for [editing text files with nano](https://askubuntu.com/questions/54221/how-to-edit-files-in-a-terminal-with-nano)

[2019-08-16 19:47] lizzieinvancouver opened #304 "clean updated data"
It's time to start cleaning the updated OSPREE data. Thanks to everyone who helped enter the new data. I have merged it and added it here:

`MASTER branch: analyses/cleaning/cleanmerge_all.R`

I am going to focus asking for help (for now) from those helped originally with cleaning just to keep things moving. So I am wondering if:

@cchambe12 could you review # 4 and # 5?

@dbuona  Dan, could you u

[2019-08-16 19:49] lizzieinvancouver commented on #294
@DeirdreLoughnan Can you confirm to me that year is fixed and looks okay in `ospree/analyses/output/ospree2019update.csv`? Then we can close this!

[2019-08-19 13:09] cchambe12 commented on #304
@lizzieinvancouver Sure thing! Do you mean #5 and #6? So that would be clean_photo.R and clean_forcetemp.R

[2019-08-19 18:29] lizzieinvancouver commented on #304
@cchambe12 (and @AileneKane @dbuona since I didn't make this very clear) Yes! The numbers are the numbers in cleanmerge_all.R, so yes, for you, Cat it would be clean_photo.R and clean_forcetemp.R. Thank you again! I am excited to get this moving.

[2019-08-19 19:11] cchambe12 commented on #304
@lizzieinvancouver @AileneKane @dbuona

We also need to clean chilling/cleaning_chilltemp.R before moving forward.

[2019-08-19 20:41] cchambe12 commented on #301
@cchambe12 fix fieldsample.date issues in clean_misc.R - just move code from chilling/fieldchillcalc_latlong.R

[2019-08-19 22:17] cchambe12 commented on #304
clean_photo.R and clean_forecetemp.R should be all cleaned!

[2019-08-21 18:05] AileneKane commented on #304
I just want to be sure tha ramos17 the Sciencia Horticultura paper from 2018 ("Chilling accumulation, dormancy release temperature, and the role of leaves in olive reproductive budburst: Evaluation using shoot explants"). Please let me know if I'm wrong about that!

[2019-08-21 18:37] AileneKane commented on #304
clean_latlong.R is cleaned.

[2019-08-21 18:40] lizzieinvancouver commented on #304
@AileneKane Yes! Note that all the new papers are in the same google drive folder as the other papers, they are just in their own folder (Papers_2016_2018 https://drive.google.com/open?id=1TsB7RN0Q2G8-91pDOfMgc-fo8wloj-Sm  ... let me know if you cannot see them).

[2019-08-21 18:43] AileneKane commented on #304
@lizzieinvancouver I can see them- I just can't add to the folder, which is why I added the ramos17 supp to the main Ospree Papers folder (you may want to move it into the Papers_2016_2018 folder)

[2019-08-21 18:48] lizzieinvancouver commented on #304
@AileneKane Sorry, I think you should have access now. Either way, can you please delete the Ramos17 paper from the main folder? Thanks!

[2019-08-21 18:51] AileneKane commented on #304
@lizzieinvancouver done!

[2019-08-21 20:39] cchambe12 commented on #301
This is very close! Currently *seems* to work on the new data but I still need to download all of the climate files to check on the older data in ospree. Unsure how long the code will take with the entire dataset but the code seems elegant and *possibly* faster than using the raster package - nice work @AileneKane!

[2019-08-21 20:44] AileneKane commented on #301
Thanks @cchambe12! I'm so glad it seems to be working for you.

[2019-08-22 16:30] lizzieinvancouver commented on #304
@cchambe12 for flynn18 I changed "daystoflowerbudburst" --> daystoflower (for respvar.simple). Please say if NOT okay.

@DarwinSodhi for man17, I changed 'thermaltimetohours' to 'cumchillinghours.' We usually use thermaltime to represent accumulated FORCING, but this is accumulated chilling, right?

@DeirdreLoughnan I made the following changes to papers you worked on for respvar.simple
ramos 17 -

[2019-08-22 16:33] lizzieinvancouver opened #305 "new respvar.simple for days to budburst NOT since forcing"
@cchambe12 @dbuona @AileneKane .... I don't think we had a respvar.simple for daystobudburst NOT since forcing conditions, did we? Does this just get handled in bb analyses when we add ambient forcing in such?

Help! Can someone remind me?

Depending on the answer do we perhaps want a new respvar.simple type?

[2019-08-22 17:53] lizzieinvancouver commented on #304
@cchambe12 clean_photo.R removes 78 rows, is that fine?

[2019-08-22 17:57] lizzieinvancouver commented on #304
@dbuona I took care of #7 in cleanmerge_all.R. Could you please do #3 in that file and #8 (same file) as soon as you have time? Thanks!

[2019-08-22 18:11] DarwinSodhi commented on #304
@lizzieinvancouver yes you are correct it should be for chilling rather than forcing.

[2019-08-22 18:15] lizzieinvancouver commented on #304
@DarwinSodhi Great! Thanks.

[2019-08-23 11:32] cchambe12 commented on #304
@lizzieinvancouver
1. I'm okay with the respvar change for flynn18
2. The removed rows from clean_photo.R is fine! That's from the original ospree clean.

[2019-08-23 11:37] cchambe12 commented on #305
@lizzieinvancouver I agree, I think this was cleaned in bb_analysis/cleaning/clean_respvarmore.R.

I vaguely remember a 'dayofyeartobudburst'... but I'm not sure if that was a respvar.simple option or a respvar option.

[2019-08-28 23:10] lizzieinvancouver commented on #301
@AileneKane Would you be willing to take a first look and then pass to me? I would like the chance to review it (so I can learn!) but am not sure I will be good at catching things so could use an extra set of eyes ....

Cat, did we do the below yet? Or can I help do it? (Just trying to keep track of things.)

[2019-08-28 23:13] lizzieinvancouver commented on #249
@cchambe12 I know I asked you this before so apologies for asking again, but can you remind me again why some datasetID x study show up multiple times in analyses/output/studytype_table.csv? For example caffarra11a  exp;  falusi97  exp1 ... Thank you again!

[2019-08-28 23:26] AileneKane commented on #301
@lizzieinvancouver  @cchambe12 I will do this by Friday!

[2019-08-29 14:46] cchambe12 commented on #249
@lizzieinvancouver No worries! It's because there are multiple species in those studies and sometimes different species received a different number of treatments. If you check out analyses/output/studytype_withBB.csv it has a better breakdown. Should I make a note of this somewhere do you think? Or maybe add in species to the studytype_table.csv?

[2019-08-29 14:53] cchambe12 commented on #301
@lizzieinvancouver yes I moved everything over to clean_misc.R and thanks @AileneKane for checking it out!

[2019-08-30 18:12] #252 closed

[2019-08-30 19:07] lizzieinvancouver commented on #249
@cchambe12 Okay! That's what I thought. Yes! Could we add species to studytype_table.csv? *And* I believe studytype_withBB.csv is only budburst studies, could we have a version of it for all woody species OSPREE studies (on bbculdesac)? Then I could use that I believe.

[2019-08-30 19:14] AileneKane commented on #301
@cchambe12 I am not done checking the climate/chilling code yet but I do have some questions for you:

1. 5 of the new studies are missing from the new climate pulling code. These are:

- fu19 and richiardso18 (missing because no field sample date- can we add this? have these been checked?)

- anzanello16- missing becuase its brazil- do we want to add this, since we have global data in the new cli

[2019-08-30 19:22] cchambe12 commented on #301
@AileneKane
1)
- richardson18 is an open-top-chamber study so there aren't any cuttings or anything so I'm not sure how to deal with this one...
- Looks like I can add a field sample date for Fu19, I'll dive into this paper more though to make sure
- Not sure how to deal with anzanello18 or where to get that climate data from @lizzieinvancouver @MoralesCastilla any ideas or thoughts on this one?
-

[2019-08-30 19:26] cchambe12 commented on #249
@lizzieinvancouver sure thing! So should I use ospree_clean_withchill.csv for this or just the ospree.csv?

[2019-08-30 19:32] AileneKane commented on #301
@cchambe12
for 1. I'm not sure that we WANT to add the anzanello studies- they are from south america, which I thought was included in the global princeton database we are now using for north america- i thought it might be an opportunity to add south america if we want to.

 for 2.  the column is added in fieldchillcalc_latlong.R, with the new studies (and old ones are commented out so I think it

[2019-09-02 01:13] lizzieinvancouver commented on #249
@cchambe12 Thanks! Can you use this:
[code]
And, can you help me understand why it shows caffarra11a  exp1 and exp3 as having 6 forcing treatments (or am I mis-reading this?) ... I checked the paper and am pretty sure that only exp2 varies forcing (see Table 1)? And similarly I think photo only varies in exp3 ...

[2019-09-03 14:07] cchambe12 commented on #249
@lizzieinvancouver great all set! And actually adding in the new columns fixed the issues you mentioned! I'm going to update these files on 'master' as well.

[2019-09-03 16:10] lizzieinvancouver commented on #249
@cchambe12 Thank you! If you want (and you committed these changes along with no major others) you can try https://git-scm.com/docs/git-cherry-pick to just push the commit over to master.

[2019-09-03 18:09] cchambe12 commented on #296
Not enough data to pursue.

[2019-09-03 18:10] #296 closed

[2019-09-03 19:41] lizzieinvancouver commented on #305
We talked about this and decided just to do what we did before -- deal with it later (e.g., in bb cleaning).

[2019-09-03 19:41] #305 closed

[2019-09-03 19:46] lizzieinvancouver commented on #301
@cchambe12 It looks like you did comment out the two lines that deal with the two previous ambient studies 15 days ago ...

https://github.com/lizzieinvancouver/ospree/commit/d47e4fb2be7322ff5c9c0990d97a8a69d13e0e9c

[2019-09-03 19:51] #303 closed

[2019-09-03 19:51] lizzieinvancouver commented on #294
@DeirdreLoughnan See note above -- thanks!

[2019-09-03 19:52] #293 closed

[2019-09-03 19:52] lizzieinvancouver commented on #284
This is done! A while ago....

[2019-09-03 19:52] #284 closed

[2019-09-03 19:52] lizzieinvancouver commented on #283
@AileneKane I think we can close? Please do quick review and close if possible.

[2019-09-03 19:52] lizzieinvancouver commented on #279
@AileneKane I think we can close? Please do quick review and close if possible.

[2019-09-03 19:53] lizzieinvancouver commented on #233
**Goal to have obtained trait data for updated species list and have all new and previous data clean by retreat.**

[2019-09-03 19:55] lizzieinvancouver commented on #297
**Goal to have analyses well underway by retreat ... Update on this from Nacho at next OSPREE weekly meeting.**

[2019-09-03 19:56] lizzieinvancouver commented on #197
Goal to have species list and all range climate info in hand for retreat @dbuona @MoralesCastilla

[2019-09-03 19:58] lizzieinvancouver commented on #304
Goal to have new species list well before retreat and have these data super clean (including to budburst date).

[2019-09-03 19:59] lizzieinvancouver opened #306 "work on percent budburst model"
Need alpha version of beta model ... goal to have fake data and model running by retreat (@dbuona )

[2019-09-03 20:44] lizzieinvancouver opened #307 "How do intxns work?"
@AileneKane @MoralesCastilla @cchambe12 @dbuona

[Here's the code](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/limitingcues/nonlinearities_intxns.R) I wrote to look at how interactions work ...

We generally discuss main effects of forcing, photoperiod and chilling that are negative (earlier days to budburst with greater forcing or chilling and/or longer daylength) and int

[2019-09-03 21:12] cchambe12 commented on #301
@lizzieinvancouver hahah well great that makes it easier to fix. Thanks Lizzie!

[2019-09-04 17:29] dbuona commented on #306
@lizzieinvancouver I am just curious...how did we get settled on a beta model?
I've been trying to read about beta models but according to this recent paper https://besjournals.onlinelibrary.wiley.com/doi/full/10.1111/2041-210X.13234, it seems like we might be more in the binomial/logistic camp since % budburst is based on count data?

Also dose-response models might be appropriate too?

In any ca

[2019-09-04 19:02] lizzieinvancouver commented on #306
@dbuona I don't see how %budburst is count data ... you can have 55.5% budburst if you want--humans just often fail to make the distinction. You could try to argue it's a beta model with some censoring so that it looks like count but I am not sure what we would gain from that .... I am not against another model being correct but am I wrong that a beta regression would be a simplification of most o

[2019-09-04 19:05] lizzieinvancouver commented on #306
@dbuona Just in case we're missing each other (I am confused how to use binomial on 0-100% data) some notes on the original model ideas [are here, see M2](https://github.com/lizzieinvancouver/ospree/wiki/Models!)

[2019-09-04 19:14] AileneKane commented on #306
@lizzieinvancouver @dbuona I am not super familiar with the beta distribution as I've never actually used it myself but i do think its what we want here, since we are working with percentages (and sometimes mean percentages reported in papers). The beta distribution is continuous whereas binomial is for intergers only. I found this article to be a helpful summary: https://onlinelibrary.wiley.com/d

[2019-09-04 19:37] AileneKane commented on #279
I checked these and we can now close!

[2019-09-04 19:37] #279 closed

[2019-09-04 19:40] #283 closed

[2019-09-04 19:42] #261 closed

[2019-09-04 19:44] #272 closed

[2019-09-05 17:04] dbuona commented on #306
Good points everyone. The only problem I can see with a traditional beta
distribution is that it seems can actually handle 0s and 1s (0% or 100%)
which I assume we probably have in the data. However there is a thing
called 0-1 inflated beta distribution that might be good.

On Wed, Sep 4, 2019 at 3:14 PM AileneKane <notifications@github.com> wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evol

[2019-09-05 17:28] lizzieinvancouver commented on #306
@dbuona Cool, but let's start with a simple beta regression and use PPCs to decide if we need a different distribution (with more parameters). Also, I think functionally 99.9% budburst is pretty similar to 100%  for this biology ... you could debate 0s being a different process but we don't have so many of them that I think we need to choose a model based on them ... though, **again**, I think the

[2019-09-05 18:29] lizzieinvancouver commented on #304
Working now on bb_cleanmergeall.R ...

@DeirdreLoughnan vitra17 has thermaltimetobudburst ... which we generally try to convert to daystobudburst. Is there a calculation from the paper I could use to do this?

@DeirdreLoughnan @dbuona @cchambe12  the below studies appear to be ambient forcing ... is that correct? And can you confirma that if we want to estimate forcing we'd need daily climate data

[2019-09-05 18:33] AileneKane commented on #307
@lizzieinvancouver I think it may just be a matter of the magnitude of the interaction, compared to the magnitude of the main effects (if the interaction is super small you will not see the expected effect). I modified your code a bit to show this [here](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/limitingcues/nonlinearities_intxns_AE.R) and made a couple of figures [here]

[2019-09-05 18:41] lizzieinvancouver commented on #304
@cchambe12 @dbuona Do either of you recall (or can find) our all notes on a more stringent cut-off? I recall something like two papers that manipulate two cues OR one paper that manipulates three cues and I could have sworn we wrote this down, but cannot find it. (I only have found [this](https://github.com/lizzieinvancouver/ospree/issues/232).)

[2019-09-05 20:09] AileneKane commented on #301
@cchambe12 i found a few more coding errors in pullcimate_nam.R:

Lines 51-54 did not work for me. Are you using the daily data from the link above? If so, I had to change "tmax" to be "tmax_daily_" and "tmin" to "tmin_daily_" for it to work.

Also, in line 54, to generate tminprev, you currently call on tmax rather than tmin. I didn't push my updates to the code in case you are using a different

[2019-09-05 20:23] AileneKane commented on #301
@cchambe12 I'm actually having problems with the netCDF files from http://hydrology.princeton.edu/data/pgf/v3/0.25deg/  my computer is not able to read them for some reason, so I may not be able to fully check your code.

[2019-09-06 19:51] cchambe12 commented on #301
@AileneKane I will check on these things more deeply on Monday but nice check with line 54! Otherwise, I changed the file names, which isn't necessary it just made more sense to me. As for the download, I can email them to you on Monday if that helps.

[2019-09-06 20:52] AileneKane commented on #301
@cchambe12 i have downloaded them all again and it seems to be working properly now. no need to email them to me but thank you! the last thing i wanted to do was just compare the temperature values obtained from each source to check that they are correlated. i'll let you know if i noticed anything strange but other than that your code looks ok!

[2019-09-06 21:15] cchambe12 commented on #301
@AileneKane Awesome! Thanks for checking on this and for all of your help so far!

[2019-09-09 16:58] cchambe12 commented on #304
@lizzieinvancouver There are some notes at the top of the bb_analysis/source/speciescomplex.R

## New Species complex f(x) that includes more studies
# criteria is just needs to be in one study now

##### Species were selected if they were in more than one study and if studies manipulated at least one cue
### Complexes were selected if (1) they were not already species (2) the genus was used in mo

[2019-09-10 01:51] DeirdreLoughnan commented on #304
@lizzieinvancouver

vitra17 does not include an equation and it is not clear to me how else it would have been calculated.

fu19: yes, the forcing treatments are ambient+treatment temperatures, using outdoor climate-controlled chambers.

[2019-09-10 03:08] lizzieinvancouver commented on #304
@cchambe12 Great! Thank you -- this is super helpful and just what I needed (@dbuona my above question is all set).

[2019-09-11 18:35] AileneKane commented on #301
@cchambe12 I have looked at this a bit more and other than what i noted above, i think it looks good! The new climate data yields chilling and forcetemps that are correlated, though certainly not identical to the old data. Here is a plot if you're interested
[oldnewclimplot.pdf](https://github.com/lizzieinvancouver/ospree/files/3602239/oldnewclimplot.pdf)

[2019-09-11 19:37] cchambe12 commented on #301
@AileneKane Awesome thanks for making the plots! Cool, I think I have addressed all of the above. Thanks again for all of your help.

[2019-09-11 20:27] cchambe12 commented on #304
@lizzieinvancouver

1. richardson18 is ambient or ambient + x
2.  bb_analysis/cleaning/clean_checkdateofclimatedata.R and bb_analysis/cleaning/clean_ambientforcingfromdailyclimate.R both look easy enough to fix
3. anzanello18 has different chill temperatures for day and night, I'm not sure how to address this.. with forcetemp  we have the two columns for day and night. For this study, there isn't

[2019-09-11 20:29] cchambe12 commented on #301
I am working on cleaning chilling/clean_chilltemp.R

For now, it looks like ramos17 is not working is due to the missing year. Can we fill this in? @DeirdreLoughnan @lizzieinvancouver

[2019-09-11 20:36] lizzieinvancouver commented on #301
@cchambe12 Sorry about this! I think @DeirdreLoughnan added the field sample date but not the year. I will fix this now.

[2019-09-11 20:46] DeirdreLoughnan commented on #301
@cchambe12 @lizzieinvancouver  Sorry, I can also fix it this afternoon if you are traveling Lizzie.

[2019-09-11 20:49] lizzieinvancouver commented on #301
@cchambe12 If you pull, I think it is fixed. Let me know if not! And thanks for catching this. @DeirdreLoughnan It was an easy fix, so all set, but thanks!

[2019-09-11 21:00] cchambe12 commented on #301
All set thank you both!

[2019-09-11 21:31] lizzieinvancouver opened #308 "make new speciescomplex for high-quality species"
@dbuona @cchambe12 Moving part of #304 to here ...
 I asked ...
Do either of you recall (or can find) our all notes on a more stringent cut-off? I recall something like two papers that manipulate two cues OR one paper that manipulates three cues and I could have sworn we wrote this down, but cannot find it. (I only have found this in issue #232 ...)

I have since found this wiki page [here](https:

[2019-09-11 21:32] lizzieinvancouver commented on #304
moving speciescomplex stuff to issue #308

[2019-09-16 17:25] dbuona commented on #308
@lizzieinvancouver As I am working on making a new species list, I have noticed there are typos in genus/species names that are making it appear that a single taxon are difference species (eg. Larix decidua and Larix decididua). I was looking back at cleanmergeall.R and was wondering.. did we run cleaning/clean_spp_match.R for the added data?

[2019-09-16 17:28] lizzieinvancouver commented on #308
@dbuona Thanks for catching that! I did run cleaning/clean_spp_match.R a couple weeks back and the commented out taxon cleaning script (it works off a big list so is slow) ... but obviously it didn't take. Could you run those scripts again and add any cleaning as needed?

[2019-09-16 18:03] dbuona commented on #308
Okay! I fixed a few species names and output a new ospree_clean.csv. The chilling cleaning doesn't run for me (chillmerge_all.R) doesn't seem to run on my computer, and I wasn't sure the status of chilling calculations anyway. @cchambe12 if its good to go would you be able, to run it and provide a new ospree_clean_withchill.csv?

[2019-09-16 18:29] lizzieinvancouver commented on #302
@DeirdreLoughnan I think we can add a note about whether you heard back and close this?

[2019-09-16 18:37] #302 closed

[2019-09-16 18:40] DeirdreLoughnan commented on #302
I did not receive a reply to my follow up email two weeks later (August 5) and could get the data needed to convert the days of chilling.

[2019-09-16 18:48] cchambe12 commented on #301
@AileneKane I am rerunning the chilling code and it seems like I'm missing some chilling estimates for a handful of European studies. One example is the ramos17, it now has fieldsample.date, provenance latitude and longitude information and year but still doesn't have chilling, is there another requirement to have chilling calculated? I think it may be related to chilltemp being NA but for those s

[2019-09-19 14:20] dbuona commented on #308
@cchambe12 @AileneKane @MoralesCastilla @DeirdreLoughnan @DarwinSodhi @md-garner @lizzieinvancouver
Hi everyone... I wanted to make you aware of our preliminary species list for the expanded ospree data. Please note that all the source files in bb_cleanmergeall.R have not been updated, so this list is subject to change over the next week or 2 ask we all finish our tasks. But in the meantime, you c

[2019-09-20 14:24] cchambe12 commented on #301
All set!! Issues are resolved and chilling should be updated.

[2019-09-20 14:24] #301 closed

[2019-09-20 19:41] cchambe12 commented on #304
I have cleaned all of the above! For now, I can't fix vitra17 photoperiod but if we are able to convert from thermaltimetodays to daystobudburst then I should be able to update it quickly.

[2019-09-26 14:05] dbuona commented on #304
I checked clean_rampedandexpforcing.R. It seemed to me that the only changes from addition data were the addition of 4 ambient forcing conditions and if I am not mistaken, those will get cleaned in clean_ambientforcingfromdailyclimate.R. @cchambe12 is that correct?

[2019-09-26 14:13] cchambe12 commented on #304
That's correct!

[2019-09-27 18:06] lizzieinvancouver commented on #304
@DeirdreLoughnan Still waiting on info on prevey18 (see above), Mika entered this but can you confirm and @dbuona same for you for fu18: it was ambient forcing ... is that correct? And can you confirma that if we want to estimate forcing we'd need daily climate data?

[2019-09-27 18:07] lizzieinvancouver commented on #304
Re: clean_rampedandexpforcing.R ... @cchambe12 @dbuona Thanks! Cat, are those papers cleaned currently in clean_ambientforcingfromdailyclimate.R?

[2019-09-27 18:08] lizzieinvancouver commented on #304
Checking on the above -- we need to get this stuff done soon ... @cchambe12 Let us know if you need help!
@cchambe12 check out clean_checkdateofclimatedata.R, clean_ambientforcingfromdailyclimate.R, clean_checkdateofclimatedata.R, clean_photoperiod.R (re-assign to others as needed ...)
@MoralesCastilla Check clean_bbperctodays.R again, why losing SO many rows now (with new studies)? Okay?

[2019-09-27 18:17] lizzieinvancouver opened #309 "vitra17 thermal time"
See also issue #304

@DeirdreLoughnan If you read Vitra17 "The method is well known and is used in studies that aim to determine the date of dormancy break (Dantec et al., 2014) or to assess the rela- tionship between chilling and forcing temperatures (Laube et al., 2014)." It sounds like perhaps the method to calculate thermal time in those papers. Could you check Dantec and Laube and if they use

[2019-09-27 18:18] lizzieinvancouver commented on #304
Only paper we need to add to clean_thermaltimetodays.R is vitra17 ... waiting on info -- see issue #309 ... also I need to update notes in bbcleaning_README.txt once I have back on vitra17, prevey and fu18.

[2019-09-27 18:32] lizzieinvancouver commented on #307
@AileneKane This is super helpful and it seems like when the intxn is 5-10% of the main effect we see it more (maybe we want some of this in a paper ... by we should check if it mathematically works across other numbers). It also looks like the subadditive effects do work the way I think. I need to check more. For now I updated the code so all of it is in one place, in case others want to work on

[2019-09-27 18:47] cchambe12 commented on #304
@lizzieinvancouver sorry everyone these have been done for a while now I just forgot to comment here!

[2019-09-30 06:04] DeirdreLoughnan commented on #309
@lizzieinvancouver
Dantec et al (2014) use two methods for calculating heat accumulation, and found the best method to be the sum of a function of the temperatures starting at a base threshold of 0C up to the temperature minus the base temperature (eqn 2). I may be misinterpreting the equation, however.

Laude et al (2014) calculate the total absolute amount of forcing as the sum of degree days bo

[2019-10-01 15:18] lizzieinvancouver commented on #309
We will try GDD with base 0 and see if it makes sense ...

[2019-10-01 15:20] lizzieinvancouver commented on #307
@lizzieinvancouver Will make a 4 (or 8? or whatever) panel plot showing what Ailene showed across:
- F increases, P, C constant
- F increases, P decreases, C constant
- F increases, P constant, C decreases
- F increases, P and C both decrease

Maybe we should also see what outcomes look like given sigmoidal responses (similar to threshold)?

[2019-10-01 15:21] lizzieinvancouver commented on #304
@lizzieinvancouver Will check prevey18 and fu18 ... @MoralesCastilla will send Lizzie the rows lost in clean_bbperctodays.R

[2019-10-01 15:24] lizzieinvancouver commented on #308
@dbuona @cchambe12 As discussed yesterday, we're not sure we have new code working how we want. We think we want (but could be convinced otherwise) species or complexes where
- all three cues were manipulated in one study (i.e., two levels)
- all three cues were manipulated somehow across >1 study (i.e., each study used must have two levels of at least one cue)

[2019-10-02 17:24] cchambe12 commented on #308
@lizzieinvancouver I will try and tackle this now.

Quick question:
1) All three cues manipulated in one study - would make a species
2a) all three cues across more than one study - would make both species and complexes or are we just looking for species at this point?
2b) It's okay if two cues are manipulated in one study and the third cue is in a separate study correct?

[2019-10-04 16:14] cchambe12 commented on #308
@lizzieinvancouver @dbuona
Okay I think this is all set... Gives us 65 species and complexes (55 species, 10 complexes)
@dbuona would you mind checking the code? I left notes throughout but if it doesn't make sense then I'll add more notes!

[2019-10-09 02:51] lizzieinvancouver commented on #308
Sorry I was slow on this ...
@cchambe12

1. All three cues manipulated in one study - would make a species YES.

2a. all three cues across more than one study - would make both species and complexes or are we just looking for species at this point? SPECIES and COMPLEXES still.

2b) So essentially we are just including species/complexes that manipulate all three cues regardless of number of studies

[2019-10-15 12:26] cchambe12 commented on #308
So the species list I came up with is:

[1] "Acer_pensylvanicum"     "Acer_pseudoplatanus"    "Acer_rubrum"            "Acer_saccharum"
 [5] "Alnus_glutinosa"        "Alnus_incana"           "Aronia_melanocarpa"     "Betula_alleghaniensis"
 [9] "Betula_lenta"           "Betula_papyrifera"      "Betula_pendula"         "Betula_pubescens"
[13] "Cornus_cornuta"         "Fagus_grandifolia"      "Fagus

[2019-10-15 17:53] lizzieinvancouver opened #310 "double check clean_bbperctodays.R"
@MoralesCastilla Thanks for sending the removed.cells.bbperctodays.csv file. Can you double-check it (make sure you run it on MASTER branch)? It shows only 2072 rows, while currently clean_bbperctodays.R is deleting 2398 rows. Thanks!

So it seems we should have some of the newer studies in this list:

list of unique studies + species in case it helps

[code]

[2019-10-15 18:00] lizzieinvancouver commented on #308
@cchambe12 Seems close! But I noticed this:
[code]
I don't see a reason we should gain rows on this join so I think something is wrong.

[2019-10-16 09:00] MoralesCastilla commented on #310
@lizzieinvancouver

I was working in bbculdesac, not master. I have re-run the code and yes, most of newer studies are kept (except for 6, see below).

This is a summary of rows/studies removed/kept:

- initial number of rows before running bbperctodays: 11404
- final number of rows after running bbperctodays: 9006
- total number of rows removed: 2398

- number of studies removed by bbperctodays:

[2019-10-16 15:41] cchambe12 commented on #308
@lizzieinvancouver phew great catch! I was accidentally changing the species name to 'complex' for the complexes so it was aligning with our data appropriately. It should be all fixed now. The updated species list is below: (unless I should remove crops...?)

[1] "Abies_alba"             "Acer_pensylvanicum"     "Acer_pseudoplatanus"    "Acer_rubrum"            "Acer_saccharum"
 [6] "Aesculus_hipp

[2019-10-16 17:34] cchambe12 commented on #308
@cchambe12 remove crops in code!

[2019-10-16 17:44] lizzieinvancouver commented on #309
@dbuona Will take over because Lizzie is making no progress. Try GDD model with 0 as base temp, see if it makes sense.

[2019-10-16 17:47] MoralesCastilla commented on #310
@MoralesCastilla
Re-check studies that are removed such as "ramos17"

[2019-10-16 18:52] #294 closed

[2019-10-17 12:43] cchambe12 commented on #308
New no crops list:
 [1] "Abies_alba"             "Acer_pensylvanicum"     "Acer_pseudoplatanus"
 [4] "Acer_rubrum"            "Acer_saccharum"         "Aesculus_hippocastanum"
 [7] "Alnus_glutinosa"        "Alnus_incana"           "Alnus_rubra"
[10] "Aronia_melanocarpa"     "Betula_alleghaniensis"  "Betula_complex"
[13] "Betula_lenta"           "Betula_papyrifera"      "Betula_pendula"
[16] "Betul

[2019-10-17 12:45] cchambe12 commented on #308
And the list of species within complex:
[1] "Betula_ermanii"            "Betula_nana"               "Betula_occidentalis"
 [4] "Betula_pendula,pubescens"  "Betula_populifolia"        "Hamamelis_japonica"
 [7] "Hamamelis_vernalis"        "Hamamelis_virginiana"      "Juglans_ailantifolia"
[10] "Juglans_cinerea"           "Juglans_regia"             "Juglans_spp"
[13] "Pinus_banksiana"           "Pin

[2019-10-20 19:37] lizzieinvancouver opened #311 "one more check on climate data ..."
@cchambe12 Can you do a summer summation of GDD and compare Livneh and Princeton climate datasets for how much they agree (given same sites and years of course)? Thank you!

From Ben Cook (1 Oct 2019, showed him Ailene's figure of chilling comparisons):

[2019-10-20 19:39] lizzieinvancouver commented on #197
@MoralesCastilla Will send @dbuona some code that does a couple example species, then @dbuona will take over pulling ranges and related climate data. Please have update on progress towards this by 30 Oct. Thanks!

[2019-10-27 13:57] lizzieinvancouver commented on #310
@MoralesCastilla
Would be great to have an update on this for the next meeting! As discussed it would be helpful to know why entire studies are being removed and if the code appears to be working properly (only removing lines with % budburst where we want to select a higher (or rarely lower) % budburst for the exact same treatment.

[2019-10-27 14:09] lizzieinvancouver commented on #304
Lizzie reviewed fu18 -- it looks like it is entered correctly (ambient+ experiments).

Here's the remaining issues to check on this issue (then we can close it, note that vitra thermal time and bbpercdays are handled in other issues so don't need to review here):

@cchambe12 check out clean_checkdateofclimatedata.R, clean_ambientforcingfromdailyclimate.R, clean_checkdateofclimatedata.R, clean_phot

[2019-10-27 14:09] lizzieinvancouver opened #312 "prevey18: What to do about temperature treatments"
This paper is confusing!

[2019-10-27 14:14] lizzieinvancouver commented on #312
I think this written rather confusing but Fig 1 shows the actual temperature regimes I believe. Do we want to take the means, which they give (and which we have entered), or try to extract ambient ourselves or what?

Sidenote: Photoperiod was always ambient I believe. "Photoperiods in growth chambers were set to match ambient photoperiods."

[2019-10-27 14:23] lizzieinvancouver commented on #295
@DeirdreLoughnan @DarwinSodhi @cchambe12 @dbuona
Please review this issue and check that:

1. All the data you entered has been checked by someone else and ...
2. all the checks/fixes requested you have done.
3. All the checks/fixes you requested of someone else's data have been done.

If you agree this is all done for all four of you, please close at next meeting!

[2019-10-27 14:24] #268 closed

[2019-10-27 14:27] lizzieinvancouver opened #313 "clean folders"
@AileneKane On branch master in bb_analysis there are a few forecast csv files. If you don't need these (I think they are yours) can you delete these?

[2019-10-27 17:26] lizzieinvancouver commented on #308
I reviewed this again and think it looks good -- I checked the code again (briefly) and spot-checked a few of the species complexes built. I got a different number than Cat but I think it just has to do with the crops, so I think okay.

@cchambe12 Can you note here which data you built to get the species list above then close this issue!

[2019-10-29 11:01] cchambe12 commented on #308
Species list is built using analyses/bb_analysis/source/speciescomplex.multcues.R

Requirements:
## 1. all three cues were manipulated in one study (i.e., two levels) - applies to species
## 2. all three cues were manipulated somehow across >1 study (i.e., each study used must have two levels of at least one cue) - applies to species and complexes

And then crops were removed: _Actinidia deliciosa

[2019-10-29 12:56] dbuona commented on #309
@lizzieinvancouver @DeirdreLoughnan If I understood this task correctly, I was supposed to assume this paper used GDD model with basetemp 0 and then back out the calculations to see if the time to budburst seemed reasonable. I did that for their Fagus and Prunus entries.

The Fagus twigs cut in Feb burst bud in 26 day and the ones cut in April 9.5 days. May cutting  burst bud in 2.5 or 0 days.
Pru

[2019-10-29 21:32] cchambe12 commented on #311
@lizzieinvancouver Alright so I calculated GDDs from June 1st through August 31st for both sets of climate data. I made a [figure](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/chilling/princetontest/livneh_vs_princeton.pdf) showing Princeton GDDs vs Livneh GDDs and a [.csv file](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/chilling/princetontest/livneh_vs_pr

[2019-10-30 12:41] MoralesCastilla commented on #310
@lizzieinvancouver

In the case of `ramos17, okie11, devries82, dantec14`, the reason these studies are removed is that their `response.time` column is empty. Because of this, in lines 174, 180, 211 and 213, these studies are deleted when we subset values that are not NAs in either `response.time` or `dbb`.

[2019-10-30 17:15] cchambe12 commented on #295
All good to go!

[2019-10-30 17:40] MoralesCastilla commented on #310
@lizzieinvancouver @MoralesCastilla @AileneKane @dbuona @cchambe12

Seems like at least some of these studies may not have time information at all (due to incorrect entering of the data perhaps?). We are going to revise a paper each to re-check this:
Nacho - okie11
Ailene - devries82
Dan - dantec14
Cat - ramos17

[2019-10-30 17:47] cchambe12 commented on #311
@cchambe12 we're not impressed. Check out outliers and then try fitting models to see the difference in outputs, chilling diffs next. Not sure what else to do.

[2019-11-01 09:27] lizzieinvancouver commented on #311
@cchambe12 It could be okay ... but let's get more data on the figure first if we can and see what it looks like (there should be more stations to compare? Or maybe these are al the stations we use). After that I would suggest plotting some of the raw data maybe ... or we can contact Ben again for suggestions (but first we need more points if easy). Thanks for working on this!

[2019-11-01 09:40] lizzieinvancouver commented on #309
@dbuona Thanks! I believe you understood it correctly. Perhaps best now just to contact Vitra and Yann (one email) and see if one can respond that these values and/or our method is correct. If we don't hear I think we should go forward with these values -- so let's add your work to the code flow for now so we can include Vitra in analyses.

[2019-11-05 21:27] cchambe12 commented on #311
@lizzieinvancouver In the first set of data I just used the stations and years present in the OSPREE data. I only used datasets that were before 2014 since Livneh doesn't extend past this. [Here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/chilling/princetontest/compare_gdd_tmin_tmax.pdf) is a new figure where I generated a list of 1000 latxlongs for different made up years. C

[2019-11-06 16:21] AileneKane opened #314 "Fit new ospree bb model with continent (for response to reviewers)"

[2019-11-06 16:22] AileneKane commented on #314
Because we only have chilling for NA and Europe options are continent a fixed effect or a model of bb ~ photo + force with continent on the intercept (latter seems better to Lizzie, include just in supp).

[2019-11-06 17:30] AileneKane opened #315 "Calculate 96 percent CI and add to main text"

[2019-11-06 21:58] cchambe12 commented on #310
ramos17: no time data in the paper. The figure has percent budburst as the y variable and the x axis labels cohorts by field sampling date.

"The amount and the nature (vegetative or reproductive) of budburst were recorded after two (at 30C), three (at 20C) **or a great and variable number of weeks** (at 12.5C)."

Just got a kick out of that and had to share

[2019-11-07 19:25] AileneKane opened #316 "Fit ospree bb model with material as a fixed effect"

[2019-11-08 15:34] DeirdreLoughnan commented on #295
@lizzieinvancouver I have checked MY and SL data as well. There are some discrepancies between what is in ospree_2019update_my and the new ospree2019_goo, including the date format and the name of the respvar.

[2019-11-08 17:00] AileneKane opened #317 "Summarize sliding windows results and add to supplement"
Reviewer 1 asked about the sliding windows approach from the Simmonds et al paper so we want to look into how this affects our simulation work in the supplement. Simmonds et al  used R package climwin and claim all code and data are at: https:// github.com/emilygsimmonds/Cue_Identification .

[2019-11-11 16:11] dbuona commented on #197
@MoralesCastilla  From the Caudullo 2017 paper I was guided to here (https://www.fs.fed.us/nrs/atlas/littlefia/#Introduction) and  was able to find shape files for 13 of our ospree North America trees. Do you know of any other places we might be able to find good north American range maps?

[2019-11-11 17:12] MoralesCastilla commented on #310
okie11: time data has not been entered in the dataset. Data comes from Fig.3 of the paper and reports %BB as a function of #days at 18.3C, however that number of days has not been reported in our dataset.

Also, as entered, forcing values in our table are the same 18.3, even though the amount of experience forcing differs. Should we re-enter the data?

[2019-11-12 10:48] MoralesCastilla commented on #197
@dbuona Hi Dan, the best repository for shapefile maps of northamerican species (that I'm aware of) is:
[https://github.com/wpetry/USTreeAtlas](url)
I have not checked it much recently, but for NA species in ospree that are not there, I guess we would need to use GBIF?

[2019-11-12 19:43] cchambe12 commented on #317
Okay so I reran the sliding window using the BETPEN PEP data.

The output from these results: (using May 31st as a reference day for the window)
## Pre CC SWA results
#   WindowOpen WindowClose  Variable     Int         EST           SE               R2
#1        -22          52                       1       157.0947   -5.50605    0.262991    0.4934151

## Post CC SWA results
#   WindowOpen Window

[2019-11-13 18:34] cchambe12 commented on #309
@cchambe12 check Dan's code!

[2019-11-13 18:36] AileneKane commented on #315
we decided to use 95% credible intervals, at least for now...

[2019-11-13 18:37] lizzieinvancouver commented on #295
@lizzieinvancouver Needs to check ospree_2019update_my versus ospree2019_goo -- ospree_2019update_my is correct, need to make sure these corrections are carried through!

[2019-11-13 18:39] lizzieinvancouver commented on #310
@lizzieinvancouver look at okie11 and ramos17! @MoralesCastilla will look at devries82

[2019-11-13 18:47] cchambe12 commented on #311
@cchambe12 manually check 5 sites to check code

[2019-11-13 18:53] cchambe12 commented on #317
@cchambe12 check out what mean temperature is within the window. Needs to have gone up!

[2019-11-13 20:28] AileneKane commented on #317
@cchambe12 Could you make a tale with these results and write a few sentences summarizing the methods? These can then be added to the supplemental methods into a new section that I have currently entitled "Applying the shifting windows approach to Central European data"

[2019-11-14 00:32] DeirdreLoughnan commented on #309
Vitasse replied to my inquiry into their methods with the following explanation:

"Typically for temperate trees a GDD with a base temperature of 5°C is used. In this paper because the samples were put in transparent climate chambers setup at 20°C it does not matter whether we used 5 or 0°C threshold as temperature remained constant around 20°C. So here we used growing degree days by accumulating

[2019-11-14 01:44] lizzieinvancouver opened #318 "fix provenance in model"
R3 complained about use of provenance and I think R3 had a point. Provenance is really about local adaptation so if we mix studies with real provenance info and those without it (i.e., where we don't really know where the seed came from) I think we are mushing an important issue in our latitude model.

To that end I just ran the code at the top of models_stan_lat.R and looked at what studies it us

[2019-11-14 05:31] AileneKane commented on #318
@lizzieinvancouver I have two (somewhat opposing) thoughts about this:
1) If it's relatively easy to fit the latitude model  with just the "okay" studies, that seems like a useful thing to do. It may change things, though, if lots of species need to be excluded, but I suppose it would be useful to know this.
2) I think the model is fine as it is. Our study is not intended to be about population ge

[2019-11-14 15:21] lizzieinvancouver commented on #318
@AileneKane  I think 1. would be good; re: 2 -- I think we can do that if we must but I'd prefer not to. When I helped Dan and Tim set up the database my intention of 'provenance' was to treat it as is traditionally done. I think what we strayed from that (understandably!) and the provenance column right now is not provenance as used in ecology or evolution, unfortunately. I think we also need to

[2019-11-14 16:16] AileneKane commented on #318
The other thing to keep in mind with this is that provenance latitude (I.e. the latitude at which samples were collected) is used to pull climate data and estimate chilling.

[2019-11-14 16:26] cchambe12 commented on #318
@lizzieinvancouver @AileneKane I will run this new model version today and report back here. Thanks, Lizzie, for going through all of the papers and sorting them for me! This is a tricky situation though because it would mean changing large portions of the data including---as Ailene mentions---the climate data. I toyed with the idea of trying a new model where I pull climate data from the growing

[2019-11-14 16:39] cchambe12 commented on #318
@lizzieinvancouver In regards to spann04 and spiers74, should those have been weeded out when we removed crops? Do I need to fix that code?

[2019-11-14 16:59] cchambe12 commented on #318
By removing the less great studies, I received the following warnings:

[code]

[2019-11-14 18:10] cchambe12 commented on #317
@lizzieinvancouver @AileneKane So mean temperature for post cc is lower within the window than for pre cc... I'm not sure what our next steps should be with this information.

Mean Temp PreCC: 7.86 degC
Mean Temp PostCC: 5.68 degC

And the slope and intercept are in days/degC.

I will work on the table and write-up now so we have it and we can discuss more how we want to deal with the temperature

[2019-11-14 19:02] cchambe12 commented on #317
@AileneKane I finished and pushed the table and write up for the sliding window. I was unable to compile the .Rnw though so please let me know if the table looks wonky or needs to be fixed!!

[2019-11-14 19:52] lizzieinvancouver commented on #318
@cchambe12 Thank you for this! Could you push the code so I can see what's up?

Regarding spann04 and spiers74, they do appear to be commercial blueberries ... so maybe we we forgot to toss out commercial blueberries in our crop code? Would be great if you could check.

I don't think we need to worry so much about the chilling ... for the most part *I think* the provenance column should be correct

[2019-11-14 19:55] cchambe12 commented on #318
@lizzieinvancouver Great about the chilling!! And yes, I did push it. It's nested within the earlier lat model code: analyses/lat_analysis/models_stan_lat.R

I will definitely check on the blueberries!

[2019-11-14 19:56] lizzieinvancouver commented on #317
@cchambe12 Awesome work! I think we're close, we just need some credible intervals ... the issue here is to divide out that temperature so (please check my work!)  ...

[code]
Are the equivalent estimates per equal thermal-day ... they look pretty similar so we probably need to add uncertainty estimates around them to see how similar they are.

[2019-11-14 20:30] lizzieinvancouver commented on #318
@cchambe12 Okay! Sorry, I see it now. Can you let me know what model you're running? I just tried m2l.inter and got only 4 divergent transitions ... I imagine those will go away with a higher number of iterations.

[2019-11-14 21:07] cchambe12 commented on #318
@lizzieinvancouver Weird!!! Me too! I'm rerunning it now on a new computer. I'll keep you posted! Hopefully something was just wonky the first time I ran it...

[2019-11-14 21:27] cchambe12 commented on #318
@lizzieinvancouver Woohoo!! Okay no idea what was going on but new warning messages below..

`Warning messages:
1: There were 1 divergent transitions after warmup. Increasing adapt_delta above 0.99 may help. See
http://mc-stan.org/misc/warnings.html#divergent-transitions-after-warmup
2: Examine the pairs() plot to diagnose sampling problems

3: Bulk Effective Samples Size (ESS) is too low, indicat

[2019-11-14 22:00] lizzieinvancouver commented on #318
@cchambe12 Thanks, but I need the code you ran (not the warnings).

[2019-11-14 22:08] cchambe12 commented on #311
Okay, I did a deeper look into the climate data and checked on 5 random sites from my dataset to make sure the code looks okay.

I added in leap years into the code just in case but since we are just looking at summer days, this had no effect.

Major takeaways:
1. Livneh has a lot more missing data
2. Princeton is generally higher in Tmin and Tmax
3. Livneh generally has a bigger difference betwee

[2019-11-14 22:09] cchambe12 commented on #318
@lizzieinvancouver I'm just running models_stan_lat.R lines 6-168

[2019-11-14 22:41] cchambe12 commented on #317
@lizzieinvancouver Ahhh okay... apologies for struggling through this but if I have the mean temperature across the window that will be in °C. If the model is in days/°C and we take the slope (in days/°C) and divide it by temperature (°C) then won't our units be days/(°C)^2? Your answers look correct but I'm struggling to figure it out!

Anyways, if this is correct, then would I just divide the ca

[2019-11-14 22:48] cchambe12 commented on #318
I ran the model 4 times, only the first one had severe mishaps so I think I had something up in my R. I increased the warmup and iterations and then created a new muplot: analyses/lat_analysis/figures/latanalysis_rmdatasets.pdf

[2019-11-14 22:55] cchambe12 commented on #308
Blueberries were sneaking into the dataset. I removed: "Vaccinium_ashei", "Vaccinium_corymbosum", "Vaccinium_myrtilloides" from source/speciescomplex.multcues.R

[2019-11-14 22:55] #308 closed

[2019-11-14 22:56] cchambe12 commented on #318
I cleaned this up in master, should I make the change in bbculdesac as well and then rerun the main model?

[2019-11-14 23:18] lizzieinvancouver commented on #318
Okay, I will probably trash my code -- it's running fine for me too (I upped warmup to 3K out of 4K iter) ... just so we have it, here is my output:

[code]
... and:

[code]

[2019-11-14 23:19] lizzieinvancouver commented on #318
And info on my datalist:

[code]

[2019-11-14 23:24] lizzieinvancouver commented on #318
@cchambe12 @AileneKane I personally would vote to switch to this model because it actually tests what we mean to test (local adaptation of photoperiod cue). If we use the model we currently have people could discount it because we don't only use provenance studies, even though actually the answer holds up.

[2019-11-14 23:26] lizzieinvancouver commented on #308
@cchambe12 Vaccinium_myrtilloides is not cultivated, is it? It's what we have in New England! I think it should stay, but I can check what studies it is in if you give me the datasetIDs ....

[2019-11-14 23:34] lizzieinvancouver commented on #317
@cchambe12 @AileneKane Yes, someone should think harder on this (maybe not me right now, as I am getting really tired). But I guess I was thinking it's days per C but then we need to correct for the thermal sum of each day ... so I guess I was thinking one is  -5.5 days per C per 7.86 degree C day and one is -3.6 per 5.7 C day but maybe the correct is multiplying or such? If you multiplied them th

[2019-11-15 00:06] AileneKane commented on #318
Sounds good! I can add this into the new ms version! If it’s possible to easily update your model table, cat, I’d love it! Otherwise, I can do it tomorrow. Thank you!

[2019-11-15 00:54] DeirdreLoughnan commented on #295
@lizzieinvancouver after speaking with Cat, I realized I was looking at the wrong file. The ospree_2019update file that is in the analyses/output folder is correct. The ospree_2019update_goo file that is in the analysis/input folder is not. Sorry for the confusion.

[2019-11-15 14:04] AileneKane commented on #317
@lizzieinvancouver @cchambe12 If I am  understanding this correctly, we just need to get both sliding windows estimates to have the same denominator. If we choose the pre-waming degree day deonominator (7.86C) then that would by (-3.6*7.86)/5.7 = -4.96 per 7.86 degree C day. IS it possible to use confint() on the models you get from this analysis?

[2019-11-15 14:21] AileneKane commented on #317
@lizzieinvancouver @cchambe12 Also, the variance in bb declines a long from pre to post cc. Was this true with the non slidding windows approach too?

Thank you for all your work on this!

[2019-11-15 14:23] cchambe12 commented on #308
@lizzieinvancouver Right you're right! Good catch! Okay, I will add Vaccinium_myrtilloides back in. Do I need to worry about the other two Vacciniums for the bbculdesac models?

[2019-11-15 14:31] cchambe12 commented on #318
@AileneKane I'm going to update the table now unless you're working in the supp!

[2019-11-15 14:48] dbuona commented on #310
I checked dantec14.
There is no reference to the figure in ospree but I am assuming it is figure 3b.
It is similar to Ramos in that there is no response time in the figure, rather it is percent budburst from different durations of chilling. That said, figure 3a, has growing degree days~chilling, so I'm not totally sure why we didn't capture those data originally as well.

[2019-11-15 14:51] cchambe12 commented on #318
@AileneKane Table should be all set!

[2019-11-15 14:58] cchambe12 commented on #317
@AileneKane Yes! Variance declined from pre to post cc in the sims and the PEP data.

As for the sensitivity: when we were using Lizzie's method the model was bbday~dailytemp and we calculated sensitivity difference by taking the slope from the post CC data and subtracting it from the pre CC slope, can't we apply the same method here?

confint() PreCC:
`2.5 %     97.5 %
#(Intercept) 152.960357 161

[2019-11-15 17:27] MoralesCastilla commented on #310
**devries82**: data comes from Fig. 2, which shows % of flowering (not BB) as as function of 3 forcing treatments and light intensity. There is no response time in the figure (nor in ospree rows corresponding to this study). So, perhaps it is ok that the code is removing the whole study?

[2019-11-15 18:29] #315 closed

[2019-11-15 18:30] AileneKane commented on #318
@cchambe12 Thank you cat!

[2019-11-15 20:12] lizzieinvancouver commented on #318
Just checked Heide 93a, which is multiple provenances and correctly entered!

[2019-11-15 21:23] AileneKane opened #319 "fit main bb mod without zohner16 to see how it affects estimates"
![image](https://user-images.githubusercontent.com/9097640/68976619-0a30e500-07ab-11ea-851c-6b180232cbd1.png)

[2019-11-15 21:24] AileneKane commented on #319
n_sp=30

[2019-11-15 21:31] AileneKane commented on #319
this is now added to the supplement for the main bb ms

[2019-11-15 21:46] lizzieinvancouver commented on #319
@AileneKane Awesome! looks great ... and interesting that chilling effect goes up and photoperiod goes down ... suggests to me part of difference could be that we don't treat chilling as a factor as zohner did.

[2019-11-15 21:47] lizzieinvancouver commented on #318
I think we're good to go!

[2019-11-15 21:47] #318 closed

[2019-11-15 21:48] lizzieinvancouver commented on #318
@AileneKane @cchambe12 Thank you both for working on this! I think it's a strong response and hope the reviewer agrees.

[2019-11-15 21:54] lizzieinvancouver commented on #317
@AileneKane @cchambe12 Thank you guys! I could not see through the math ... but it looks like the estimates are the same again. If you use Ailene's approach and compare pre-cc range of -6.0 to -5.0 and then do the below math to get post-cc, it's -5.5 to -4.3, so they overlap.

[code]
And I totally think we should write a short note on this and send it around the journals! Something to discuss next

[2019-11-16 18:47] lizzieinvancouver commented on #310
@cchambe12 @DeirdreLoughnan (as I think you helped with ramos17?) ... I agree about the figure but if you look at Table 1 and read section 2.2, doesn't it sound like we should have entered the forcing period to go with the figures? Did we? We should also make a note perhaps that observations were only weekly, which is pretty sparse....

[2019-11-16 18:53] lizzieinvancouver opened #320 "okie uh-oh"
see also #2 and #310 ...

So, if you look at okie, you see this in the figure cell:

"fig3 --   data are % budbreak ~ day, see okie11 tab for all data"

I entered the data ... I have 576 rows of data that look like maybe they never got added. I will upload the file now and we should discuss what to do.

[2019-11-16 18:53] lizzieinvancouver commented on #310
@dbuona @cchambe12 @MoralesCastilla So, if you look at okie, you see this in the figure cell:

"fig3 --   data are % budbreak ~ day, see okie11 tab for all data"

I entered the data ... I have 576 rows of data that look like maybe they never got added. I will upload the file now and we should discuss what to do.

[2019-11-16 18:54] lizzieinvancouver commented on #320
Actually, it's already there 00 see input/okie11tab.csv ... I think we just never merged it in?

[2019-11-16 18:55] lizzieinvancouver commented on #310
See #320 for okie11 ...

[2019-11-16 18:56] lizzieinvancouver commented on #308
@cchambe12 @AileneKane Yes, we should probably remove the blueberry crops there too and fix in master....

[2019-11-16 19:00] lizzieinvancouver opened #321 "clean devries82"
We should clean percentbudburst to percenflowertbudburst (fig2 data) or such in clean_respvar at the retreat. @cchambe12  and @lizzieinvancouver (yes, me) are familiar with this file and could do it.

[2019-11-16 19:01] lizzieinvancouver commented on #310
@MoralesCastilla Looks like (devries81) it's flowering and that the days to flowerburst are entered from Fig 3. For here, we're okay.

[2019-11-16 19:01] lizzieinvancouver commented on #310
Cleaning devries82, see issue #321

[2019-11-16 19:03] lizzieinvancouver opened #322 "check dantec14"
From issue #310:

[2019-11-16 19:05] lizzieinvancouver commented on #295
@DeirdreLoughnan .. okay, can you check if ospree2019_goo is tracked? I don't see it in this repo ....

[2019-11-16 19:06] lizzieinvancouver commented on #309
I saw the follow-up, where Yann said he did not know. Let's move forward with 0 ... and then not close this until we hear back (or if we don't, we should discuss what to do).

[2019-11-18 13:15] cchambe12 commented on #308
Should be all set!!

[2019-11-19 13:09] lizzieinvancouver opened #323 "sigmoid forcing model"
I ran the sigmoidal model on forcing -- but I ended up 67 divergent transitions (given the iterations though I am not sure that is so bad). I re-ran with an even longer warmup but still got proportionally the same divergent transitions. However, the results were stable and the model diagnostics all look pretty good, making me think the model is all stable.

If you look at the code (models_stan_sup

[2019-11-19 17:17] #295 closed

[2019-11-19 17:22] lizzieinvancouver commented on #309
@dbuona Will try 5C base temp and see how different estimates are...

[2019-11-19 17:27] lizzieinvancouver commented on #310
Papers were looked at and seem like they should have been deleted .... so we can close this and worry about other issues.

[2019-11-19 17:27] #310 closed

[2019-11-19 17:37] lizzieinvancouver commented on #312
@dbuona (@lizzieinvancouver can help) ...

- 'ambient' for lathouse/Webster nursery conditions
- 16 C in forcing
- 4 and 9 for growth chamber chilling
- Adjust field sample date for when plants went into forcing conditions

[2019-11-19 17:45] lizzieinvancouver commented on #322
@DarwinSodhi @FaithJones @md-garner Will enter these data, add to current data on this file.

[2019-11-19 19:04] AileneKane commented on #319
I think this is all set so I'm closing it

[2019-11-19 19:04] #319 closed

[2019-11-19 19:37] lizzieinvancouver commented on #306
@dbuona Sends some data to @legault (on seed germination for now).

[2019-11-19 21:36] AileneKane commented on #314
the models with continent are difficult...I'm having trouble interpretting the results. I've tried a few different random effects structures, to compare (using rstanarm across these different structures). here is a model with only the interecpt on species (6 species are consistent across north america and eurpope)
![image](https://user-images.githubusercontent.com/9097640/69188467-7411fd00-0ad1-11

[2019-11-19 21:38] AileneKane commented on #314
a different model structure: with no interactions, but allowing species differences for all fixed effects:
![image](https://user-images.githubusercontent.com/9097640/69188686-dd920b80-0ad1-11ea-85bd-2ab184477be6.png)

[2019-11-19 21:40] AileneKane commented on #314
They both (and all the other iterations I've tried) look weird, I think because the species on both continents are few and some are oddballs (e.g., Fraxinus had positive forcing in the main bb model)  The species are: "Picea_abies"           "Quercus_rubra"         "Acer_saccharum"
 "Pseudotsuga_menziesii" "Acer_complex"          "Fraxinus_complex"

[2019-11-19 23:08] dbuona commented on #309
We couldn't decide if it was 5 or 0 degrees for the GDD model. They are fairly similar with maximum difference of 9 days so we split the  difference with a 2.5 base temperature. Now we know its wrong but can be no more than 4.5 days from the true value.

[2019-11-19 23:08] #309 closed

[2019-11-20 00:12] dbuona commented on #312
done in clean_misc.R

[2019-11-20 02:06] lizzieinvancouver commented on #323
I got the model to run with just 1 divergent transition using the main model species -- there is still a bit of multimodality in the bchill but seems more okay. Here's the screen shot after running this code:
[code]

<img width="692" alt="m2l nisig forcemainmodel" src="https://user-images.githubusercontent.com/2153556/69202722-5061ad80-0af7-11ea-9a09-016adfaf3da4.png">

[2019-11-20 02:20] lizzieinvancouver commented on #323
@AileneKane Sorry I did not get further on this! Here's what I hoped to add to letter:
- This is certainly an important point as non-linearities in forcing definitely occur and including these has been shown to improve models (cite Wang 2017 paper I added to bib). These non-linearities however often occur at very low temperatures or above 40 C, depending on the plant species (https://www.springer.

[2019-11-20 02:25] lizzieinvancouver opened #324 "add something on publication bias in meta-analyses ..."
We should say that ...
- publication bias can lead to both positive results being published more often and larger effect sizes being published (cite Kicinski_2018 or such).
- there are methods that can try to diagnose these, such as funnel plots, which have pros and cons (cite some of the papers I uploaded)
- we did not use these methods given that: (1) our design is slightly more complicated in t

[2019-11-20 02:27] lizzieinvancouver commented on #324
Should also add something about we do know the physiological basis for these cues generally so most studies have positive results for some of them (e.g., every study I know of finds a forcing and chilling effect ...).

[2019-11-20 17:26] cchambe12 commented on #249
gomory15 multiple forcing in @cchambe12 code but not in @lizzieinvancouver - double check paper and double check code @cchambe12

[2019-11-20 17:59] lizzieinvancouver commented on #311
From 18 Nov 2019 email from Park Williams ...

[2019-11-20 18:04] dbuona commented on #312
@cchambe12 check dan's code at bottom of clean_misc.R and close issue if its okay

[2019-11-20 18:45] cchambe12 commented on #311
@cchambe12 find problem areas and plot rasters

[2019-11-20 20:31] legault commented on #320
okie11 data added

[2019-11-21 07:47] lizzieinvancouver commented on #323
@AileneKane See edits to letter just pushed, still need to add quantile ranges of forcing temperatures...

[2019-11-21 08:36] lizzieinvancouver commented on #324
@AileneKane I added some text to to supp section, 'The Observed Spring Phenology Responses in Experimental Environments (OSPREE) database.'

Still need to:
1. Add sample size range and % of studies with sample size.
2. Update the PRISMA checklist and where we refer to the numbers of it we did.

[2019-11-21 18:21] cchambe12 commented on #312
@dbuona all checked and looks good! I'm going to close this now

[2019-11-21 18:21] #312 closed

[2019-11-21 19:28] DarwinSodhi commented on #322
I just checked @md-garner Data and it looks good to go!

[2019-11-21 21:16] DarwinSodhi commented on #322
I just checked @FaithJones 's Data and it looks good to go!

[2019-11-21 22:26] lizzieinvancouver opened #325 "update wheredatacodelive for OSPREE"
Working on updating our doc [here](https://docs.google.com/document/d/12C3WrXPNN2AZZpJI7f2aLm-7S8_7ai7x25CQXOLZwlo/edit)

@dbuona Can you try to track down (or update) this reference? growthchambers_litreview_2016-01-15.xlsx

@cchambe12 Can you update where climate data are and make some notes on original versus 2019update climate data?

[2019-11-22 16:48] lizzieinvancouver opened #326 "make separate repo for code for budburst ms"
I generally don’t like pointing to an active repo for published code. We should pull the main files into a separate repo before publication. Maybe we can even put them on the temporalecology git repo.

[2019-11-22 17:51] AileneKane commented on #326
totally makes sense! Should I do this before submitting or can I work on it after subimtting (if I promise to do it within 1-2 weeks!)

[2019-11-22 18:20] lizzieinvancouver commented on #326
@AileneKane Sorry! I should have added here -- no need to worry about this now! We should just do it before publication, so PLENTY of time. I would actually wait until it's accepted somewhere to worry about this. I just didn't want to forget it.

[2019-11-22 18:51] AileneKane commented on #317
@cchambe12 Thanks so much for adding the standardized slopes to the SWA table- could you add in paranetheses, the  95 percent uncertainty intervals?

Also, the "results_swapre_mayref.csv" and "results_swapost_mayref.csv" files do not appear to have been pushed so that part of the code does not run. Could you push those files?

[2019-11-22 18:56] lizzieinvancouver commented on #321
Cleaned on master commit #75d4069cec852190a1f647dbcb8e5005e48fabe3 and cleaned on bbculdesac commit #857bb7ba083b244352f59f3869439c7a7e2e07ce @AileneKane devries82 is deleted entirely by clean_bbperctodays.R so should not impact our results (and so I did not even re-run to update ospree_clean.csv)>

[2019-11-22 18:56] #321 closed

[2019-11-22 19:06] cchambe12 commented on #311
More updates on the climate saga:

@cchambe12 Try to tackle some of Park's additional suggestions for a more thorough analysis

Breakdown pre vs post 1979 and remove monthly climatological means (de-seasonalized data)

Park

-----------------------------------------------------------------------
Park Williams
Lamont Associate Research Professor, Junior Staff
Lamont-Doherty Earth Observatory of Col

[2019-11-22 19:51] lizzieinvancouver commented on #297
A few to do items to not forget ...
- loo on similar models but one with and one without phylogeny
- Run this model: a[sp-phylo] + bchill[sp] + bforce[sp] + bphoto[sp]
- run without gymnosperms

[2019-11-22 20:24] cchambe12 commented on #317
@AileneKane I've updated the files and code! But the standardized slopes are going to be the same for both correct? Just the intervals should change slightly?

[2019-11-22 22:13] AileneKane commented on #317
@cchambe12 thank you! i fixed the code just now- you had accdentally referenced post code instead of pre code in one location.

[2019-11-22 22:19] AileneKane commented on #317
@cchambe12 actually, you don't seem to have divided by temperature, which i think was the point. i am correcting this

[2019-11-22 22:22] cchambe12 commented on #317
@AileneKane Thank you!!

[2019-11-23 00:07] lizzieinvancouver commented on #297
A few more ideas ....
* We may want to calculate days to BB using our model output for each species and a baseline scenario .... could help with structuring the paper.
* We need to read Zohner paper (NCC paper from 2017 or 2018, need to find), Davies etc.

[2019-11-25 05:26] lizzieinvancouver opened #327 "finish cleaning TRY"

[2019-11-25 05:27] lizzieinvancouver opened #328 "fit species (not species complex) models for phylogeny"

[2019-11-25 05:27] lizzieinvancouver opened #329 "percent budburst -- fitting to simulations"
See also #306 ...

[2019-11-25 05:28] lizzieinvancouver opened #330 "finish pulling European ranges"

[2019-11-29 19:06] lizzieinvancouver commented on #324
Done.

[2019-11-29 19:06] #324 closed

[2019-11-29 19:07] lizzieinvancouver commented on #314
Did as best possible (also occurred to me after the fact we could pull the species estimates from each continent and compare those! Not great, but okay approach too...).

[2019-11-29 19:07] #314 closed

[2019-11-29 19:08] lizzieinvancouver commented on #323
This was as unsatisfying as expected, but we did what we could and it's in the letter.

[2019-11-29 19:08] #323 closed

[2019-11-29 19:08] lizzieinvancouver commented on #317
Thank you @AileneKane @cchambe12 !

[2019-11-29 19:08] #317 closed

[2019-12-02 12:07] MoralesCastilla commented on #330
I have uploaded new within-range climate data to the `analyses/ranges/output/` folder. Still 4 EU species to be added the script generates an error with those.

[2019-12-06 20:07] lizzieinvancouver commented on #306
Goal for mid-December: Solve the scaling issue

[2019-12-09 03:46] lizzieinvancouver commented on #307
@cchambe12 @AileneKane @dbuona @MoralesCastilla  I did the suggested plots ... please check out commit 1b2c7bbcdec1f3d85df31408ec95a17654b97db8 and/or analyses/limitingcues/figures/intxnsims_changingFP.pdf and analyses/limitingcues/figures/intxnsims_changingFC.pdf

My takehome is that interactions do NOT cause non-linearities, they only cause them alongside multiple cues also shifting (i.e., forci

[2019-12-09 03:48] lizzieinvancouver opened #331 "need help with citations for limiting cues"
@cchambe12 @dbuona @AileneKane @MoralesCastilla
I am working on a draft of limiting cues to send you ... but I could use help reviewing the literature. Could you all review the below and suggest any relevant citations by end of day 11 December (Wednesday). Thank you in advance!

1. Studies using long-term data to try to tease out forcing and/or photoperiod and/or chilling cues
2. chilling varies b

[2019-12-09 14:16] cchambe12 commented on #310
@MoralesCastilla It seems that we are losing data after running the bb_analysis/cleaning/clean_bbperctodays.R code. One study I'm looking at in particular is one from the original OSPREE dataframe (falusi96). Before, this code would cut down falusi96 rows from 425 to 49 rows but for some reason it is now going doing to 15 rows. This could definitely be an issue with my climate code but I was wonde

[2019-12-09 16:46] dbuona commented on #331
I know of some helpful citation (unfortunately mostly from crops or
Arabidopsis). Lizzie I can send you the citations directly via email but
will post them here so we all don't overlap our efforts too much:
For 3. Simpson and Dean 2002 provide a nice review of this in Science for
flower induction in Arabidopsis.
For 6. Major 1980 test this in crops and find in long day cultivar there is
no max thr

[2019-12-12 12:16] MoralesCastilla commented on #331
I am adding a few possibly relevant refs here:

For

10. time lags to shift spatial range

`
@article{bertrand2011changes,
  title={Changes in plant community composition lag behind climate warming in lowland forests},
  author={Bertrand, Romain and Lenoir, Jonathan and Piedallu, Christian and Riofr{\'\i}o-Dillon, Gabriela and de Ruffray, Patrice and Vidal, Claude and Pierrat, Jean-Claude and G{\'

[2019-12-12 23:09] cchambe12 commented on #331
Sorry for the delay!

1) @article{zohner2014,
	Author = {Zohner, Constantin M. and Renner, Susanne S.},
	Doi = {10.1111/ele.12308},
	Eprint = {https://onlinelibrary.wiley.com/doi/pdf/10.1111/ele.12308},
	Journal = {Ecology Letters},
	Keywords = {Chilling, forcing, leaf-out, phenology, photoperiod, temperature},
	Number = {8},
	Pages = {1016-1025},
	Title = {Common garden comparison of the leaf-out

[2019-12-16 04:14] lizzieinvancouver commented on #331
@dbuona @cchambe12 @MoralesCastilla
Thank you all so much for your help! And kudos for rocking the older citations (that made me soo happy).

I think we still need citations for (please correct me if you sent one):
7.  For example, if some species have a critical photoperiod for budburst and warming means forcing cues are met before the critical threshold, then we would expect incomplete or highly

[2019-12-19 15:33] cchambe12 commented on #311
@MoralesCastilla @lizzieinvancouver @dbuona @AileneKane @legault @FaithJones @DeirdreLoughnan @DarwinSodhi @md-garner

The climate data seems to be done... But we are losing more rows of data than we used to after running the bb_analysis/cleaning/clean_bbperctodays.R. I think it may have to do with the photoperiod column? Have we always had clean_photoperiod.R after clean_bbperctodays.R? Otherwise

[2019-12-19 15:54] cchambe12 commented on #311
@lizzieinvancouver @dbuona @MoralesCastilla @AileneKane @FaithJones @legault @DeirdreLoughnan @DarwinSodhi @md-garner

Looking for a friend! I think I have finally found the issue... bb_analysis/cleaning/clean_ambientforcingfromdailyclimate.R lines 129-139. The calculated forcing temperatures are not being appended to the main dataframe at all. I haven't used this approach before so I'm struggling

[2019-12-20 01:58] lizzieinvancouver commented on #311
@AileneKane Would you be able to look at this sometime? Cat and I worked on this today and the indexing in bb_analysis/cleaning/clean_ambientforcingfromdailyclimate.R lines 129-139 does seem to be returning all NAs, but I could not tell if it was because some rows were deleted so the indexing no longer works or something else. Any help would be much appreciated!

[2019-12-20 04:30] AileneKane commented on #331
@lizzieinvancouver @dbuona @MoralesCastilla I'm sorry for my delay- I will certainly keep these in mind as I read the limiting cues manuscript and try to add some citations on these topics!

[2019-12-20 05:27] AileneKane commented on #316
This is finished and included in the new bbmanuscript!

[2019-12-20 05:27] #316 closed

[2019-12-20 05:36] AileneKane commented on #311
@cchambe12 @lizzieinvancouver yes! I will look at this in the next few days!

[2019-12-22 22:52] AileneKane commented on #311
@lizzieinvancouver @cchambe12 a question before I start looking at this: is the problem only with  livenh, only princeton, or both?

[2019-12-24 18:59] lizzieinvancouver commented on #311
@AileneKane My understanding is that it worked in your code (i.e., with Livneh), but is not working with Princeton.

[2020-01-02 15:38] cchambe12 commented on #311
@AileneKane That's correct! Worked with bbculdesac but is no longer working for Princeton. It seems to be that the new data frame I am building with Princeton has different row names

[2020-01-07 01:07] AileneKane commented on #311
@lizzieinvancouver @cchambe12 When I ran this code, it seemed that lines 129-139 returned NAs for about half of bb uniqueIDs (558/1015). This was because there were no climate data for these unique IDs.  Is this what you also found?

[2020-01-07 14:59] cchambe12 commented on #311
@AileneKane For some reason I am only getting avg_bbtemp for 73 out of 11,959 rows of data... I've tried two computers now and am getting the same thing but it sounds like it is working for you - at least working better for you.

[2020-01-07 15:48] cchambe12 commented on #311
@AileneKane @lizzieinvancouver

So, if I try to merge avg_bbtemp to d without indexing I can run the following lines:

`## saving results to output - d
bb.sub <- subset(bb, select=-c(expstartdate, response.time.integer, bbdate, lastchilldate, uniqueID))
d <- full_join(d, bb.sub)`

Which works! The dimensions are the same and we retain all of the unique values for bb$avg_bbtemp (1560). I know we li

[2020-01-07 16:09] cchambe12 commented on #308
@lizzieinvancouver If we are now using speciescomplex.multcues.R does that mean we need to change our flagging in bbstanleadin.R to use.multcuespp==TRUE ? Should I just change the speciescomplex.multcues.R code to be simply speciescomplex.R to better match bbculdesac?

[2020-01-07 18:13] DeirdreLoughnan opened #332 "Check new data file for completion and relevancy"
We need to make decisions based on applied treatments whether to include all datasets. @DarwinSodhi could you make a list of what treatments where applied to different studies to help make these decisions?

[2020-01-07 18:18] DeirdreLoughnan opened #333 "Trait exploratory plots"
@legault could you make some exploratory plots using the TRY data (similar to the ones we made at the retreat)?

[2020-01-07 18:34] DeirdreLoughnan opened #334 "Finalize hypotheses"
After reading the literature, finalize hypotheses to test.

[2020-01-07 18:34] DeirdreLoughnan opened #335 "Read and discuss literature"

[2020-01-07 18:56] DeirdreLoughnan commented on #335
@DeirdreLoughnan will read Ishioka2013, Zettlemoyer2019, Zhu2016; @FaithJones will read Bock2014, Dorji2013, Du2017; @DarwinSodhi will read Jing2016, Khan2018, Ladwig2019; @md-garner will read Lasky2016, Munson2017, Park2018; and @legault will read Sharma2019, Suzuki1997, and Xavier2019.

[2020-01-08 18:30] AileneKane commented on #311
@cchambe12 @lizzieinvancouver No, it's not working for me. I am only getting avg_bbtemp for 72 out of 11,959 rows of data in d. I was just curious if you are concerned about the many sites for which we do not have climate data, or if that makes sense to you! I'm looking at this more about the indexing.

[2020-01-08 19:47] AileneKane commented on #311
@cchambe12 @lizzieinvancouver It is clear that the indexing is not working. It selects the same number of rows from both bb and d, but the rows it selects are not equivalent because the two dataframes are not in the same order (e.g., row 2 in bb is in d, but it is not row 2 in d- it is row 5). I'm actually surprised that it worked in bbculdesac- we should check this.
The choices to solve this that

[2020-01-09 13:24] cchambe12 commented on #311
Thanks @AileneKane! I will triple check bbculdesac but when I was trying to solve this problem on master it seemed like it was working just fine. I'll make sure the lines were matching up appropriately though. I was unable to make option 1 (with the indexing) work so I went with join in dplyr. @lizzieinvancouver is this okay or would you rather I used merge?

[2020-01-09 13:26] cchambe12 commented on #308
@AileneKane in bbculdesac did we ever use the speciescomplex.multcues.R source code which would make the flag use.multcuespp==TRUE?

[2020-01-14 18:19] DeirdreLoughnan commented on #335
We concluded that we need to do a more specific search of the literature.

[2020-01-14 18:48] DarwinSodhi commented on #332
I added a csv file into the traits folder in osprey with the different treatments! The name of the file is TreatmentnamesTRY.CSV

[2020-01-15 08:26] MoralesCastilla opened #336 "Determine which results are needed (figs and tables)"
On Jan 22, we should discuss what additional results are needed (on top of what is already done) .

- Is it ok to restrict analyses to include phylogeny? How can we make this piece a bit more exciting?

Any suggestions are very welcome!

[2020-01-15 09:02] MoralesCastilla opened #337 "Add references to phylorefs.bib"
A new .bib file containing references to be cited in the Phen_phylogeny ms. More refs are needed, please add any that you think may be relevant.

[2020-01-15 16:56] MoralesCastilla commented on #328
This was done in December, see Fig: analyses/phylogeny/figures/Sensitivities_phylosig_spslev.png

I'm closing this issue.

[2020-01-15 16:56] #328 closed

[2020-01-15 17:20] MoralesCastilla commented on #330
1 species (i.e. _Alnus incana_) to go. It was not running because the code was not initially written to deal with subspecies. It is running already and results will be uploaded in a few hours.

[2020-01-15 20:16] cchambe12 commented on #311
@lizzieinvancouver I can't figure out merge!! Not sure why I always have so much trouble with it. Check analyses/bb_analyses/cleaning/clean_ambientforcingfromdailyclimate.R lines127-132. I have notes. I can get `goo' to work but that's using full_join otherwise merge subsets the dataframe to only rows that have ambient forcing calculated.

[2020-01-15 20:27] cchambe12 commented on #308
Updated bb_analysis/source/bbstanleadin.R to include speciescomplex.multcues.R

[2020-01-17 23:38] legault opened #338 "Fit model to simulated data"

[2020-01-17 23:39] legault commented on #338
Done

[2020-01-17 23:39] #338 closed

[2020-01-17 23:39] legault opened #339 "Fit model to real data"

[2020-01-17 23:40] legault opened #340 "Review phenology literature and present findings in context"

[2020-01-17 23:41] legault opened #341 "Prepare draft manuscript"

[2020-01-22 23:03] lizzieinvancouver commented on #311
@lizzieinvancouver Should do this! @cchambe12 Please pester me about it in February.

[2020-01-22 23:18] lizzieinvancouver opened #342 "Figure our some reasonable scenarios"
for the budburst date ... then check signal on these dates.

[2020-01-22 23:20] lizzieinvancouver opened #343 "What species should we use for phylogeny paper"
Nacho has tried a bunch in the phylogeny outline to check out. I think the only set NOT yet are done is what @AileneKane suggested today which is the species that are 'high quality' but WITHOUT including any complexes ...

See also #308.

[2020-01-22 23:28] lizzieinvancouver opened #344 "Lit review for phylogeny paper"
We should do a lit review of phylogeny papers that might be relevant to our manuscript!

I set up a file here:
docs/phylogeny/phenophylolit.csv
Can people add to it? And then we can assign people papers.

I already listed some papers [here](https://github.com/lizzieinvancouver/ospree/wiki/Phylogeny-and-phenology) so hopefully someone can add those (@MoralesCastilla ?).

Might be good to also have

[2020-01-22 23:32] lizzieinvancouver opened #345 "Run the models without pooling ..."
@MoralesCastilla Can I ask you to run two more models and see how they compare in R2 and LOO? Could you run (1) eqns 1 and 2 (from your outline) but WITH phylogeny and WITHOUT spp on the intercept (aka eqns 3-4 but drop spp on the intercept)? What I think is an issue here is that *both* partial pooling and phylogeny correct for the non-independence of species, and I think we should show that witho

[2020-01-23 14:10] MoralesCastilla commented on #342
These are the scenarios I used so far:

# scenario 1) High chill, long-ish photoperiod, and moderate forcing (regular scenario)

[code]
# 2) Low chill, shorter photoperiod, higher forcing (climate change scenario)

[code]

However, I guess these may not be great as they are hard to interpret. So I was thinking to start working with Ailene's forecasting code (I may bug you, Ailene, if doubts arise)

[2020-01-24 14:58] cchambe12 commented on #343
@MoralesCastilla @AileneKane @lizzieinvancouver

I made a new source file analyses/bb_analysis/source/speciescomplex.phylogeny.R which uses the newest parameters set under speciescomplex.multcues.R but removes all complexes. This creates a new list of species:

`[1] "Fagus_sylvatica"        "Pseudotsuga_menziesii"  "Betula_pubescens"       "Betula_pendula"
 [5] "Prunus_padus"           "Populus_tr

[2020-01-25 01:03] AileneKane commented on #326
@lizzieinvancouver I did make a source file to flag the models used in the main budburst ms. It is only on bbculdesac now ([commit](https://github.com/lizzieinvancouver/ospree/commit/1e60550fcfb40c82266e80f37e54ef53dab743dd)). Could you look at it and if its what you want? If so, should i  add it to the develop branch?

[2020-01-25 01:06] AileneKane commented on #343
@cchambe12 to confirm: are the species that have enough replication across the database that they do not need to be merged into complexes?

[2020-01-25 01:09] AileneKane commented on #342
@MoralesCastilla Please do let me know if you need help understanding my code. you will likely need to pull the new climate data...

[2020-01-25 01:10] #251 closed

[2020-01-25 16:00] cchambe12 commented on #343
@AileneKane Yes!

Here are the parameters we set originally. I'd be happy to adjust though if we want to be more strict!

##### New requirements for species
## 1. all three cues were manipulated in one study (i.e., two levels)
## 2. all three cues were manipulated somehow across >1 study (i.e., each study used must have two levels of at least one cue)

[2020-01-27 03:09] lizzieinvancouver commented on #343
@MoralesCastilla (and @cchambe12 @AileneKane) -- this seems like a good list to me. Nacho, can you see what your answers look like using this subset?

[2020-01-27 03:11] lizzieinvancouver commented on #342
@MoralesCastilla @AileneKane ... for ease to get started could we just use some of the +6 C or such estimates from your models Ailene? If this sounds okay, @AileneKane could you list here the estimate numbers to put in for chill, force, photo under a +0 and under a +5 or +6 scenario?

[2020-01-27 03:17] lizzieinvancouver commented on #326
@AileneKane Thanks! Yes this is what I was thinking. Can you delete the non-relevant comments (e.g., I think anything mentioning 'default' may be confusing or maybe I am reading it wrong?) and add a quick comment explaining what each model is before each 'if' statement (if easy add number of studies and taxa from your paper, we can then update this on master)? Then it would be great to add this to

[2020-02-05 03:55] AileneKane commented on #342
@lizzieinvancouver @MoralesCastilla Sure- should I just choose a random location? any preference for a site that has chilling increase vs decrease with the warming scenario?

[2020-02-05 05:07] AileneKane commented on #342
for one of the betpen sites plotted in our manusucript, the chilling values (in Utah units/240) were:
4.91 (without warming), 3.61 (+5)
daylength bbdoy= 13.15 hrs
sprtemp (force, without warming) = 0.43, 5.43 (+5)
Please let me know if you need anything other than that!

[2020-02-05 13:43] MoralesCastilla commented on #342
@AileneKane
Thanks Ailene! I'll start working with these and see how it goes.

[2020-02-11 20:51] dbuona opened #346 "phenology and ranges lit review"

[2020-02-17 22:15] cchambe12 opened #347 "North American climate data"
@dbuona Ranges are done except for BETPAP. There's something going on with the shapefile... do you mind redownloading it and passing it along? I will continue to try and figure out exactly what's going on but this might be the easiest place to start!

[2020-02-18 21:08] dbuona commented on #346
Hi Everyone,
I have started putting together a lit review for the role the relationships between species' phenology, cues, and ranges. The good and bad news is it seems like pretty slim pickin's as far as thinking about how phenological cues are related the the environment of a species range. I've pulled about 15 papers so far (that may not even be very useful), but we probably need more. So here'

[2020-02-18 21:20] dbuona commented on #347
yes. I'm pretty sure the columns are weird on betpap, they were giving me
some errors too when I was making the range maps. I'll look more closely
and see if its an easy fix

On Mon, Feb 17, 2020 at 5:15 PM cchambe12 <notifications@github.com> wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2020-02-18 21:28] dbuona commented on #347
@cchambe12 I added the bet pap to the same NA_ranges_files folder

[2020-02-18 21:58] cchambe12 commented on #346
@dbuona I'm happy to go through the first four papers to start!

Osada2018
Morin2008
Liang2019
Kramer2017

And then I'm happy to do another search and see if I can find anything else you may have missed.

[2020-02-18 22:06] DarwinSodhi commented on #346
@dbuona

I can do:

Brown et al 2016
Chuine et al 1999
Chunie 2010
Clark et al 2014

[2020-02-19 00:29] DeirdreLoughnan commented on #346
@dbuona

I can also review the papers you found and do:

Muffler et al. (Distribution ranges and spring phenology...)
Doi et al 2008
Ford 2001
Guilbault 2012

[2020-02-19 12:30] MoralesCastilla commented on #344
@lizzieinvancouver @AileneKane @dbuona @cchambe12 @legault @DeirdreLoughnan @FaithJones @DarwinSodhi @md-garner

I have updated the .csv file for lit review of the phylo paper.

For discussion/review on our next ospree meeting, it would be great if you could go through the papers on the list and make a few short notes about their take message and if/how it is relevant for our study. Currently ther

[2020-02-19 21:02] dbuona commented on #346
@DarwinSodhi @cchambe12 @DeirdreLoughnan Thanks yall. I will make some sort of spread sheet to track things and push it to git hub later today

[2020-02-19 21:16] dbuona commented on #346
said spread sheet is in ospree/analyeses/ranges/lit_review_ranges.csv

[2020-02-19 21:54] DarwinSodhi commented on #344
@MoralesCastilla Done! when would you like this done by ideally?

[2020-02-20 07:49] MoralesCastilla commented on #344
@DarwinSodhi Ideally by next Wednesday, in case people want to report super exciting findings in their revised papers that should not be missed in the writing of our paper.

Thanks!

[2020-02-20 07:51] DarwinSodhi commented on #346
@dbuona it would be helpful for procrastinators like myself to have a firm deadline when this needs to be done!

[2020-02-25 18:47] dbuona commented on #346
@DarwinSodhi @cchambe12 @DeirdreLoughnan As for a deadline is Friday March 6 reasonable?

[2020-02-26 17:40] MoralesCastilla commented on #343
Done!

Please see the new [phylogeny/figures/Fig. Phylosig - hq species.png](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/phylogeny/figures/Fig.%20Phylosig%20-%20hq%20species.png).

Unfortunately, the estimates of phylogenetic signals do not seem to match closely those for other subsets of species.

The estimates of the effects of each cue, remain relatively stable though:

- M

[2020-02-26 18:13] MoralesCastilla commented on #345
I have only checked the model coefficients so far and they seem. Still need to check phylosignals and accuracies (R2s and LOOs)

The estimates of the effects of each cue, remain qualitatively similar for eq 1, but do not converge for eq 2

- Model eq 1 - Forcing (-6.65) ; Chilling (-5.33) ; Photo (-0.95) - none overlaps with zero

- Model eq 2 - it does not converge // crashes

[2020-02-26 20:06] cchambe12 opened #348 "Check new model output and compare to old models"
Step 1: rerun same model as we used in original budburst manuscript
Step 2: rerun model using only data before 2014
Step 3: rerun model using old species and complex requirements
Step 4: rerun model with combo of 2 and 3

[2020-02-26 20:14] cchambe12 commented on #348
Step 1:
`> m2lni.sum[grep("mu_", rownames(m2lni.sum)),]
                   mean    se_mean        sd      2.5%       25%       50%       75%      97.5%    n_eff      Rhat
mu_a_sp       29.875359 0.01655550 1.2961297 27.324123 29.017394 29.890311 30.701511 32.4644358 6129.320 0.9994977
mu_b_force_sp -4.914900 0.01417855 0.9805337 -6.795286 -5.559872 -4.923439 -4.259585 -2.9412009 4782.574 0.9998747

[2020-02-26 20:25] cchambe12 commented on #348
Step 2:

 mean    se_mean
mu_a_sp       30.086507 0.01872090
mu_b_force_sp -5.400936 0.01338801
mu_b_photo_sp -1.961453 0.01178286
mu_b_chill_sp -5.338641 0.01691064

[2020-02-26 20:33] cchambe12 commented on #348
Step 3:

mu_a_sp       31.903170 0.02376869
mu_b_force_sp -4.810116 0.02188890
mu_b_photo_sp -1.698200 0.01612668
mu_b_chill_sp -5.094670 0.02131322

[2020-02-26 20:40] cchambe12 commented on #348
Step 4:

mu_a_sp       31.928427 0.03072536
mu_b_force_sp -4.856911 0.02414347
mu_b_photo_sp -1.699426 0.01949806
mu_b_chill_sp -5.106080 0.02324447

[2020-02-26 20:49] cchambe12 commented on #348
I added a step 5 that was more specific... I used old species code and removed all new studies.

mu_a_sp       30.972195 0.02807039
mu_b_force_sp -4.683755 0.01921579
mu_b_photo_sp -3.315974 0.02259264
mu_b_chill_sp -7.547119 0.02549184

[2020-02-26 20:51] cchambe12 commented on #348
@AileneKane @lizzieinvancouver The suspense!!! But it seems that a new study is driving the strength of the forcing cue up. I _think_ it's the ramos17 study because when I just looked at data from 2014 or earlier in step 3 and 4, the chilling and forcing estimates were very similar. This dataset has 326 rows of data and is from 1995-1997.

[2020-02-26 20:59] lizzieinvancouver commented on #348
@cchambe12 This is awesome work! (And exciting, watching it come in.) Thank you! Is ramos17 the olive study? Also (you might be doing this already), can you run step 2 or 3 but exclude ramos17?

[2020-02-26 21:00] cchambe12 commented on #348
@AileneKane @lizzieinvancouver Just kidding, we have a few new studies that are before 2014. I excluded ramos17 and it's not the bad guy. I'll keep checking and keep you posted!

[2020-02-26 21:22] cchambe12 commented on #348
@lizzieinvancouver @AileneKane Doesn't seem to be ramos17, man17, anzanello16, anzanello18 or nanninga17... but

Excluding malyshev18:
mu_a_sp       30.747696 0.02010689
mu_b_force_sp -4.089160 0.01597065
mu_b_photo_sp -2.233037 0.01616122
mu_b_chill_sp -5.802668 0.01655264

[2020-02-27 17:06] lizzieinvancouver commented on #348
@cchambe12 Thanks for your work on this! This seems like good news in that the climate data appears to be generating similar answers to your last climate data, do you agree (check me here, I am teaching so a little wonky-headed)?

I am looking malyshev18 and can see how it would have an influence: lots of data and 8 species (common ones too). But I am concerned the data are entered wrong. I can't

[2020-02-27 17:06] lizzieinvancouver opened #349 "do some checks on the newly entered data"
@lizzieinvancouver Needs to add some tasks here!

[2020-02-27 17:08] lizzieinvancouver commented on #344
@FaithJones @legault @AileneKane still time to jump in on a few papers! Nacho will also be updating the file soon with a few extra columns. Nacho I jotted down a bunch -- select/add/adjust to the ones that seem best to you:

For relevant papers:

- how many spp
- where
- method for signal (e.g., PGLS)
- phenophase
- phenophase response to …
- strength of signal
- did they deal with intraspecific v

[2020-02-27 17:13] cchambe12 commented on #348
@lizzieinvancouver That was my takeaway! I agree we should move forward with main bb ms and we can trust the new climate data now.

I think I was in charge of checking malyshev18 from Darwin so I can look at this too. But I agree it may be a good idea to check all of the new papers. By just excluding malyshev18, the chilling effect went up a lot but it still wasn't as high as when I excluded all n

[2020-02-27 17:30] FaithJones commented on #346
I cant find the right google folder. The only one that might be it is the Wolkovich general Lab folder, but I dont see any OSPREE stuff there. Could someone share it with me please?

[2020-02-28 17:43] lizzieinvancouver commented on #346
@dbuona The paper Ally Phillimore suggested mentions 'northern species' responding one way in the abstract, maybe worth a skim? https://onlinelibrary.wiley.com/doi/full/10.1111/gcb.12896

@FaithJones In case no one has yet I will email you the link now!

[2020-03-06 19:54] DarwinSodhi commented on #346
@dbuona I added my comments on the CSV!

[2020-03-19 17:21] AileneKane opened #350 "Check n and error in ospree bb papers"
Instructions for Getting n and error for OSPREE papers
1)	To see what papers you are assigned to check, see [need.n.errorcheck.csv](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/output/need.n.errorcheck.csv) (the “person_checking” column)
2)	The goals are:
a.	to get n (per group/treatment) as well as the number of groups/treatments, if that’s possible without scraping.
b.	To

[2020-03-25 05:21] AileneKane commented on #350
We may need to revisit this- I want to make sure that what we're getting is the error and sample size associated with each scraped data point in OSPREE (that is how to make this most useful).

[2020-03-25 05:25] AileneKane opened #351 "Add detail and clarify descriptions of modelling methods and experimental methods in bb ms"
Including that we use standard metrics of chilling.

[2020-03-25 05:28] AileneKane opened #352 "Simulate data similar to OSPREE to understand effects within subject centering"

[2020-03-25 05:30] AileneKane opened #353 "Make maps of min and max treatments of chill, force, photo"
To address comments about treatments varying spatially.

[2020-03-25 16:55] MoralesCastilla commented on #353
@AileneKane
Hi Ailene, should I extract the min and max values for each species and then plot them? I wonder if it would make sense to do this by studyID (I guess not). Let me know how do you prefer to proceed.

[2020-03-26 01:26] lizzieinvancouver opened #354 "fix malyshev18"
Fig 1 suggest to me there is a chilling treatment ...

[2020-03-26 01:30] lizzieinvancouver opened #355 "Check up for the new data"
Following up from today, we want to cross-check our newly entered data for whether it makes sense, things to watch out for (it's all crops or the experiment seems odd) and whether it was all entered correctly.

You are all in teams (see the CSV [here](https://github.com/lizzieinvancouver/ospree/tree/master/analyses/misc/datacheck). You are your teammate should (by next Wednesday):

- Check your pa

[2020-03-26 04:29] AileneKane commented on #353
@MoralesCastilla it should be by unique location (growing lat/long) and species, i think, since we're mapping it. if you can use the symbols/colors to match particular species in the model, that would be great, but there are definitely some sites that we may want to just say "multiple spp"...Let me know if you have questions or want to talk anything through!

[2020-03-26 05:42] AileneKane commented on #350
UPDATE: Please add the n, error, and error type (SD, SE, VAR, etc) to OSPREE, IF these can be gathered without scraping,  in the following script:  analyses/bb_analysis/cleaning/clean_addnanderror.R
I have also added a new column to need.n.errorcheck.csv to verify that you've done this additional step.
(So far, I'm finding n is possible, SE is not without scraping)

[2020-03-26 05:45] AileneKane opened #356 "Please check that I've added the slope/intercept covariance matrix correctly!"
The model is [here](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/bb_analysis/stan/nointer_2level_cov.stan)

[2020-03-26 14:09] dbuona commented on #352
@AileneKane   I just pushed a simulation for within-group centering (wgc). for the most part, the wgs models come out with the same or very similar estimates as the non-wgs models, which surprised me (I expect the wgs models to be worse). The code is in analyses/bb_analysis/withingroupcenter_fake.R-- if you want to take a look and make sure it matches your understanding of what wgc is. I was lazy

[2020-03-26 17:08] cchambe12 commented on #350
@AileneKane None of my papers reported error!! I'd be happy to check out more papers if you need help with the rest.

[2020-03-27 02:57] lizzieinvancouver opened #357 "Add info on joint models"
@legault Can you add notes on marginalizing over the joint distribution as a potential alternative approach to [here](https://github.com/lizzieinvancouver/ospree/tree/master/notes/jointlatentmodels)

[2020-03-27 16:01] AileneKane commented on #352
@dbuona Thank you for your work on this! A couple of requests/thoughts:
1) The models you ran are all get singular fit warmings. That means the model has as many parameters as the data, so there is no variation in random effects or anything else. I think that's why the estimates are the same across all the models. Perhaps you need to add more studies to your simulated data? Or fewer parameters to

[2020-03-27 22:19] FaithJones commented on #355
Hey all. I am still not sure what the difference is between mall and mdbb in the cleaning script. What information should I be looking at to assess why I might have lost data?

[2020-03-27 22:39] FaithJones commented on #355
Also Dan and I have been assigned ramos17, but I dont have a ramos17 in dbb. Did you mean ramos99?

[2020-03-28 00:30] lizzieinvancouver commented on #355
@FaithJones mall is subsetting to your particular papers from ospree_clean.csv (ospree clean is the data run through https://github.com/lizzieinvancouver/ospree/blob/master/analyses/cleaning/cleanmerge_all.R (check out the README in the same folder). mdbb is cleaned further via https://github.com/lizzieinvancouver/ospree/blob/master/analyses/chilling/chillmerge_all.R (again, there's a README) and

[2020-03-28 18:33] lizzieinvancouver commented on #352
@AileneKane @dbuona Acting in opposition to my own strong advice -- but based on Dan and Andrew's views -- I just uploaded cheap ugly code (models_stan_wgc.R) that I think does within-group-centering (I did it on our complex, as I am pretty sure this is how we should apply it given our model and all the decisions that went into that model) on the predictors and it gives basically identical answers

[2020-03-28 20:48] AileneKane commented on #352
Wow @lizzieinvancouver! Thanks! That's great! Yes, I'll add a table of those results and call it good!
Thank you @dbuona  for your work, too!

[2020-03-28 21:21] DeirdreLoughnan commented on #355
@lizzieinvancouver we think two of our papers are being removed because the forcing or photoperiod are entered as 'ambient.' Do you want us to try and get the climate data necessary to include these papers?

[2020-03-28 22:30] lizzieinvancouver commented on #352
@dbuona Do you know if in the van de Pol paper the partial pooling is ONLY on the intercept? (I still can't see through this problem, even for observational data (unless, perhaps you pool on only intercepts and not slopes.)
@AileneKane Maybe best not to add to supp ... as it is so similar to our other models. See my edits in letter (will push final updates if my internet holds up, depends on the w

[2020-03-29 05:03] AileneKane commented on #352
that's a good question about intercepts vs slopes, @lizzieinvancouver
also, @dbuona in my earlier note (1.) I should have said "When I ran your models, I got singular fit warnings" Did you get those too or did i do something wrong?

[2020-03-29 10:57] dbuona commented on #352
@lizzieinvancouver yes, the van de pol paper only uses varying intercept models...but in the last paragraph they say something like " the next step is to apply this method to varyibg-slope models, which should also be helpful" (paraphrased).
@AileneKane yes I did get singular fits for many of the models. I can try to complicated them, and run the base model you described

[2020-03-30 05:47] AileneKane commented on #355
@lizzieinvancouver I have dug into the code for one of these two papers, fu18, and found that the problem is in "bb_analysis/cleaning/clean_ambientforcingfromdailyclimate.R"
The chill.day file does not include fu18, nor does the the other climate (climdat) files, so perhaps the climate data have not been pulled for this site yet?
I also got an error when running this code, which may or may not be

[2020-03-30 17:27] lizzieinvancouver commented on #355
@DeirdreLoughnan @AileneKane Thanks guys! It does seem like E-OBS should have the data for fu18 (Antwerp) and we should check that error. If it's in the climate code, we'll need to ask @cchambe12 for help.

[2020-03-30 21:32] AileneKane commented on #355
@lizzieinvancouver @DeirdreLoughnan @md-garner I have looked into a bit more and we definitely need to get insight from @cchambe12 because there is code written by her in bb_daily_dataprep_get_expclimdat.R that explicitly removes fu18 from the climate data code- not sure why!

[2020-03-30 21:57] cchambe12 commented on #355
Hi all, please keep making notes. I clearly need to revisit the climate data which I will fix once everyone updates their issues. I have a new plan of attack. Sorry for all of the frustration.

[2020-03-30 22:29] AileneKane commented on #350
@cchambe12 Ok! Thanks for checking them! Can you add sample size to analyses/bb_analysis/cleaning/clean_addnanderror.R for those that have sample size and need it entered?

[2020-03-31 00:31] lizzieinvancouver commented on #355
@cchambe12 Or I wonder if I am to blame here? I feel like there could have been a conversation where I suggested we skip fu18? (Maybe?) Anyway, we can discuss!

[2020-04-01 05:42] AileneKane commented on #356
@lizzieinvancouver i found it very challenging to add the covariance matrix to our model, the way it is currently coded- i think i did not do it correctly as the model had incredibly poor fit! I have not pushed the code, because i found myself basically replicating the map2stan code.
Both map2stan and brms estimates were very simple for the model with centered predictors (see below).
shall we incl

[2020-04-01 11:36] cchambe12 commented on #355
I've added a new column to the misc/datacheck/datacheck_assign.csv that labels why the chilling code or photoperiod conversions aren't working. We are missing a lot of field sample dates (richardson18 - because it is an open top chamber experiment). Fu18 is missing provenance information. Vitra17 is missing information in the chilltemp column. I think I need to rerun the chilling code for ramos17

[2020-04-02 01:10] AileneKane commented on #352
@lizzieinvancouver I'm making these tables for the suppand could not find a file you use in the code: bbstan_mainmodel_countinxns_datasetIDs.csv
could you push it, or is it something i should generate for myself using the countintxns code?

[2020-04-02 02:05] lizzieinvancouver commented on #352
@AileneKane I forgot to push it! I am sorry! Pushed now, and I will make a note to try to double-check that code too.

[2020-04-02 02:16] lizzieinvancouver commented on #355
@FaithJones @AileneKane @DeirdreLoughnan @MoralesCastilla @dbuona @cchambe12 @md-garner Can you all add info on the three new columns in datacheck_assign.csv?

- location -- what general area was the study done?
- respvar -- what are the response variables(s)?
- sampling_yr -- what year(s) did the experiment happen?

Thank you!

[2020-04-02 02:19] lizzieinvancouver commented on #356
@lizzieinvancouver said I would try to vectorize code for fun, but I think we can close this issue.

[2020-04-02 02:21] lizzieinvancouver opened #358 "fix fu18"
@AileneKane See also issue #355, please add provenance and check all other columns we can enter are entered. Thank you!

[2020-04-02 02:24] lizzieinvancouver opened #359 "add chilltemp to vitra17"
@DeirdreLoughnan please help vitra17 (see also issue #355) ... @cchambe12 we need 'ambient' in the chilltemp column if it was ambient, right?

[2020-04-02 02:41] lizzieinvancouver opened #360 "work on anzanello18"
@md-garner Check on these issues and fix (maybe @AileneKane can hopefully suggest where in code to do changes, depending on what they are).

- What should the chilltemp and chilldays be entered as? You'll need to read the paper to check we didn't calculate the average temp here? (I tried but too complicated to figure out on quick glance.) We do this conversion in analyses/chilling/cleaning_chillte

[2020-04-02 02:44] lizzieinvancouver commented on #355
@cchambe12 Do you recall what I need to check on man17?

[2020-04-02 02:49] lizzieinvancouver commented on #354
@dbuona @FaithJones Can you both think about how best to fix this one? Given the issue it might be a case where fixing it in the original file is allowed (maybe). @DarwinSodhi Since this was your paper, can you work on extracting the critical data in Figure 1 (bottom panel, we need the DATES ... which I think are each represented twice so I would take the average)?

[2020-04-02 02:49] lizzieinvancouver commented on #354
see also #355

[2020-04-02 02:50] lizzieinvancouver commented on #360
See also #355

[2020-04-02 02:50] lizzieinvancouver commented on #355
@cchambe12 Ignore me, I remember!

[2020-04-02 02:51] lizzieinvancouver opened #361 "correct man17 data"
see also #355

[2020-04-02 02:52] lizzieinvancouver opened #362 "double check ramos17"
See also #355 @AileneKane

[2020-04-02 02:55] lizzieinvancouver commented on #355
@MoralesCastilla @legault I don't think we can enter the Fig 2A data in Prevey18 because there are no datapoints, just lines ... right? It would be really hard to decide how/where to click. Am I wrong?

[2020-04-02 02:58] lizzieinvancouver opened #363 "check fu19"
@DeirdreLoughnan Can you check the below ... it does seem like we have no entries of the response for the 'ambient' treatments. Do you recall why?

[code]

[2020-04-02 02:59] lizzieinvancouver commented on #363
@legault Let me know if I have the above wrong ... see also #355

[2020-04-02 03:03] lizzieinvancouver opened #364 "anzanello16 issues"
@legault @MoralesCastilla I agree it seems like we have Fig 10 entered when it looks like it should be fig 5 (as there is no Fig 10) ... @DeirdreLoughnan before we bother Kelley (who entered this), can you tell me if you remember anything about it and check any old notes? (see also #355)

[2020-04-02 03:05] lizzieinvancouver commented on #349
Repeat! See #355!

[2020-04-02 03:05] #349 closed

[2020-04-02 03:09] lizzieinvancouver commented on #355
@FaithJones @AileneKane @DeirdreLoughnan @MoralesCastilla @dbuona @cchambe12 @md-garner @DarwinSodhi Please do your new cleaning issues *before next Wednesday* ... note that only richardson18 and flynn18 did not have issues (if you cleaned those and think I am wrong, shout!), and @cchambe12 I think you're working on cleaning nanninga17 (if there are more issues there, let me know).

Note that the

[2020-04-03 17:10] AileneKane opened #365 "share best citations supporting that experimental growth chamber studies are the best way to disentangle chilling vs forcing"
Perhaps basic plant phys text book or classic articles?

[2020-04-03 17:12] AileneKane commented on #365
@lizzieinvancouver @cchambe12 @dbuona @MoralesCastilla you can add ideas below or to the reviewer response letter that  I send you on Monday April 6!

[2020-04-03 17:50] cchambe12 commented on #365
@AileneKane I've been doing a lot of digging through my books. The best I have so far is Sakai and Larcher, 1987 (Frost Survival of Plants) they talk about cold acclimation a lot and chilling requirements along latitudinal gradients. They definitely talk about using growth chamber studies to disentangle chilling and photoperiod but still looking for chilling and forcing.

[2020-04-03 20:27] AileneKane commented on #365
@cchambe12 Thank you! These are great!

[2020-04-03 21:22] lizzieinvancouver commented on #365
@cchambe12 Thank you! That one sounds great.

@AileneKane Yes, I think some of the old papers might work best with a few more current ones. In OSPREE I recommend Junttila & Hänninen 2012 (which says, "Bud dormancy is released by an exposure to chilling temperatures in late autumn and early winter (Worrall and Mergen 1967, Sarvas 1974, Leinonen 1996).") and Worrall & Mergen 1967 (mix of experiment

[2020-04-03 21:40] AileneKane commented on #365
@lizzieinvancouver Thank you for these suggestions!

[2020-04-06 21:41] DarwinSodhi commented on #354
@lizzieinvancouver Where should I put the extracted date data?

[2020-04-06 21:45] lizzieinvancouver commented on #354
@DarwinSodhi Thanks! I would put it in update2019 and maybe give it a name like ospree_2019update_DSSaddmaly18 Also tagging @dbuona @FaithJones here as I am sure they need this.

[2020-04-06 23:14] DarwinSodhi commented on #354
@lizzieinvancouver Do you want me to attach the field sample dates to the original data I scarped? This will probably take some more time because there aren't 15 data points for each species in figure 2 but there are 15 field sampling dates. This would require me to re-scrape all the data again and observe which specific field dates are missing as I would need to compare it to my now scarped sampl

[2020-04-06 23:19] lizzieinvancouver commented on #354
@DarwinSodhi I am not sure, @dbuona and @FaithJones are supposed to head up how best to correct the data so I leave it to them.

[2020-04-06 23:39] DarwinSodhi commented on #354
@lizzieinvancouver Okay last question which may actually null and void this whole date scraping business is that in figure 1 (attached here) it is not clear what the final date on the X-Axis should be. How should I proceed to me the last date could be April 31st 2014 but this could be a very dangerous assumption to make
<img width="857" alt="Screen Shot 2020-04-06 at 2 59 19 PM" src="https://user-

[2020-04-06 23:42] lizzieinvancouver commented on #354
@DarwinSodhi You should use ImageJ to extract the dates! You probably need to calculate DOY for each of the tick dates, then extract DOY, then @dbuona and @FaithJones (and me if it helps) can discuss how round to the correct date. But -- assuming the papers gives no dates (is that true?) -- we should not be guessing or assuming, just extracting the dates as we extract all other data.

[2020-04-06 23:51] lizzieinvancouver commented on #330
@MoralesCastilla Can we close? If you think so please do. (also @dbuona)

[2020-04-06 23:52] lizzieinvancouver commented on #346
@dbuona Can you update us on this issue this week?

[2020-04-06 23:53] lizzieinvancouver commented on #347
@cchambe12 Can we close this? Otherwise, add it to the wiki to discuss at lab meeting please!

[2020-04-06 23:56] lizzieinvancouver opened #366 "plots for ranges!"
We're sharing our range plots at lab meeting this week. @AileneKane @DeirdreLoughnan @legault @DarwinSodhi @md-garner @FaithJones, please bring some plots and thoughts to discuss! Cat's email below... I will try to also!

[Here](https://github.com/lizzieinvancouver/ospree/wiki/Ranges) is the beautiful wiki page that Dan has done a great job updating! And you can find some initial plotting code at

[2020-04-07 00:44] DarwinSodhi commented on #354
@lizzieinvancouver Yes! I followed the instructions from the Entering new Data 2019 and Beyond wiki. The issue becomes that through the entire paper they tell you the first date they did field sampling which was "December 13th 2013" but not the last date (this is important because you need this information in order to calibrate the figure or in this case set the scale for the x-axis in order to ca

[2020-04-07 00:47] lizzieinvancouver commented on #354
@DarwinSodhi You should be able to calibrate the distance between the tick marks to make it work. I will leave it to you and @dbuona and @FaithJones to work out together as I think this is a tractable issue.

[2020-04-07 02:20] DarwinSodhi commented on #354
@lizzieinvancouver @FaithJones @dbuona I added the field sampling date for malyshev18. You can find it under ospree/data/update2019/ It is named ospree_2019update_DSSaddmaly18 let me know if there is anything else I can do.

[2020-04-07 05:29] DeirdreLoughnan commented on #364
@legault @MoralesCastilla I second that it looks like the entered data is from figure 5. I don't have anything in my notes about it. Are there concerns about the values entered?

[2020-04-07 05:45] DeirdreLoughnan commented on #363
@legault @lizzieinvancouver I do recall discussing this at the time it was entered. My interpretation of the text is that they included two controls, one true control that they did not manipulate and a disturbance control in which the transplanted trees were placed in a climate-controlled chamber but not heated. Based on figure 1, I think the true control is the ambient column and the disturbance

[2020-04-07 17:44] FaithJones commented on #354
@DarwinSodhi thanks for adding field sampling data. I have taken another look at the manuscript, and I think we also need a bit more data scraping, specifically chilling hours in Figure 1. As @lizzieinvancouver mentioned above, you should be ok scraping the data. Just calibrate from the 13th of December to the 1st of April, then the program will extrapolate from there. Once we have the days since

[2020-04-07 18:15] DarwinSodhi commented on #354
@FaithJones are you referring to the chilling temperature sum data in figure 1 correct?

[2020-04-07 18:26] FaithJones commented on #354
@DarwinSodhi  yep, thats right

[2020-04-07 18:45] DarwinSodhi commented on #354
@FaithJones Done!

[2020-04-07 22:59] DarwinSodhi commented on #366
Hello! @lizzieinvancouver. While plotting the chill portions in ranges_climclean.csv, I realized there is a reoccurring error in Cat's code (ospree/analyses/ranges/clean_rangesclimatedata.R) in line 147 there shouldn't be a function that specifies sd (standard deviation) and again on line 181.  I think this only effects the barplot code, should I fix this and remake the plots for tomorrow?

[2020-04-07 23:01] lizzieinvancouver commented on #366
@DarwinSodhi Thanks for this, I suggest checking with @cchambe12 before changing any global code. I will also take a look when I have a chance.

[2020-04-07 23:15] cchambe12 commented on #366
@DarwinSodhi Nice catch Darwin, yes please go ahead and fix that!

[2020-04-07 23:31] cchambe12 commented on #355
nanninga17 should be all fixed! Two issues: 1) year was correct but field sample date was mis-entered 2) there seems to be random NAs in the new climate data for some studies. I have removed those rows for now (there were about 5-6 total rows across all studies and it seems to not be impacting our results but I do want to investigate this further to be sure)

[2020-04-08 02:05] lizzieinvancouver commented on #357
Chatted with Mike B and I think our code is okay for this! We just need to give the code some more checks and maybe optimize it.

[2020-04-08 08:50] MoralesCastilla commented on #330
@dbuona
I have not looked at this in a while but I think it can be closed. I'll do it if Dan gives the thumbs up.

[2020-04-08 13:43] MoralesCastilla commented on #364
@DeirdreLoughnan the values should be ok, but I guess we need to change the reference to the correct figure in the database.

[2020-04-08 14:50] cchambe12 commented on #347
North American climate data is all fixed!

[2020-04-08 14:50] #347 closed

[2020-04-08 14:50] cchambe12 commented on #355
Never mind! Climate data is all fixed!

[2020-04-08 15:41] legault commented on #355
@lizzieinvancouver @MoralesCastilla
prevey18 appears to have raw data available here: https://peerj.com/articles/5221/#supp-2

I believe we should be using these data instead of the summary statistics currently entered for prevey18

[2020-04-08 16:08] legault commented on #363
@lizzieinvancouver @DeirdreLoughnan Is what you're describing the difference between "ambient" and "ambient+0"?

[2020-04-08 16:12] dbuona commented on #354
@DarwinSodhi @FaithJones  Hi Yall, the data that was originally scraped was from figure 2. I don't think figure 1 gives us enough information about the species or experimental treatments which is ultimately what we want.

I think figure 2 is the information we need. the top panel has "days since Dec 1" on the x axis. and days to bb at 20 degrees on the y axis, with 2 different photoperiod. I think

[2020-04-08 16:17] legault commented on #357
Here's another way of thinking about error in the trait measurements:
https://mc-stan.org/docs/2_22/stan-users-guide/bayesian-measurement-error-model.html

Note that their version includes data on uncertainty in their measurement (see "tau" in their data block) which we may not have.

[2020-04-08 16:21] dbuona commented on #330
@MoralesCastilla I think its mostly done, maybe we just need to figure out why Aesculus and Acer psudopalantus have the same values?

[2020-04-08 16:22] lizzieinvancouver commented on #357
@legault Thanks! I think this could also be a good link if we ever want to try to integrate study-level error from OSPREE into our models.

[2020-04-08 16:46] AileneKane commented on #358
I added the chilltemp column (which is the same as the forcetemp column: ambient plus warming treatment).

[2020-04-08 16:48] AileneKane commented on #358
There is no provenance information on the material, but the chilling/climate data should use the growing latitude as the sample were grown from seed.

[2020-04-08 16:50] DeirdreLoughnan commented on #363
@legault Yes, that is how I interpret it.

[2020-04-08 17:05] AileneKane commented on #358
I think i discovered why the climate data for this study is not getting pulled. It is because we have NA for provenance lat. The provenance lat is unknown, but what we should use is the growing lat anyway. There is a line of ode in fieldchillcalc_latlong.R that removes rows with any NAs. fu18 is the only study with an NA in provenance.lat/long. My question is: should I alter the code so that not a

[2020-04-08 17:08] cchambe12 commented on #358
@AileneKane Could we add a line that deletes code if provenance.lat, provenance.long and growing.lat and growing.long are all NAs? Do you think that would solve the problem?

[2020-04-08 17:08] cchambe12 commented on #358
Oh wait yeah I like the first option you said!

[2020-04-08 17:10] MoralesCastilla commented on #330
@dbuona I had forgotten about that! I've checked the shapefiles and it does not make any sense that the two species have identical values. I'm re-running the code for these two species now.

[2020-04-08 18:10] lizzieinvancouver commented on #355
@cchambe12 will look at this and see if she can adapt Flynn code to extract what we need.

[2020-04-08 18:12] lizzieinvancouver commented on #358
@AileneKane will fix one thing, then flag @cchambe12 when she can help ...

[2020-04-08 18:21] lizzieinvancouver commented on #360
@md-garner will add chilling info (probably in clean_misc.R), possibly back-convert chilling to chilldays and report back

[2020-04-12 18:59] dbuona commented on #346
first pass of lit review is now over.  It wasn't super helpful, but the info is here:
 ospree/analyeses/ranges/lit_review_ranges.csv

[2020-04-12 18:59] #346 closed

[2020-04-13 20:34] cchambe12 commented on #355
@lizzieinvancouver prevey18 raw data looks similar to what we already have inputted but it only has daystoflower as a respvar. Is it still worth scraping the raw data?

[2020-04-13 21:39] lizzieinvancouver commented on #197
Making a reference to this in our wiki pages and closing!

[2020-04-13 21:39] #197 closed

[2020-04-13 21:41] lizzieinvancouver opened #367 "make it easier to merge climatic and geographical range data"
@MoralesCastilla will work on this. Current estimates are in m in Europe and lat in NA, so need a common metric and file that can be easily merged with climate data.

[2020-04-13 21:42] lizzieinvancouver opened #368 "organize the ranges folder"
Would be good to clean this up, suggested @dbuona and @cchambe12 coordinate on this, ideally do this by 22 April if possible.

[2020-04-13 21:45] lizzieinvancouver opened #369 "look at spatial versus interannual variation in range data"
Make some plots to help understand where variation is coming from. Possible by 22 April?

[2020-04-13 21:47] lizzieinvancouver commented on #355
@lizzieinvancouver Tough call! In general we have always scraped all relevant respvars to keep our methods constant. If it is a ton of work to scrape it though, we could re-assess! Let me know.

[2020-04-13 21:49] lizzieinvancouver commented on #356
I am going to admit that I will not get around to this soon and close it. Hopefully some other day!

[2020-04-13 21:49] #356 closed

[2020-04-13 21:56] lizzieinvancouver commented on #359
This all looks fixed! So I am closing ...

[2020-04-13 21:56] #359 closed

[2020-04-13 22:19] lizzieinvancouver commented on #361
I think we can use the man17 data. Here's what I understand of their experiment that's especially relevant for how we enter data (but please re-read and check my work!):
* They tell us their field sample dates in the text and in Figure 1.
* They tell us their forcing treatments: "the experiments were conducted in two computer-controlled walk-in climate chambers (i.e., two replications) set at 15◦C

[2020-04-13 22:28] lizzieinvancouver commented on #364
Lizzie wrote Kelley today ... will see what she says hopefully.

[2020-04-13 22:29] lizzieinvancouver commented on #365
Lizzie also suggested Bonhomme et al 2010.

[2020-04-13 22:29] #365 closed

[2020-04-14 14:18] cchambe12 commented on #368
@dbuona I took a stab at cleaning this up. The `climoutput' folder is the only folder that has to stay as it is, I open all the climate folders at once to make a master .csv file. Otherwise, make any changes you think I missed!

[2020-04-14 17:28] cchambe12 commented on #361
@DarwinSodhi @dbuona I'm going over this now and it does look like we can figure this out. I will start the code in bb_analysis/cleaning/clean_thermaltimetodays.R.

In the meantime, the entered data looks great but I am not sure where the 31-May-2015 field sample date is coming from. Would either or both of you check this out and see if it needs to be fixed or if it is correct?

[2020-04-14 17:57] cchambe12 commented on #361
@DarwinSodhi @dbuona Okay, I added notes and code to bb_analysis/cleaning/clean_thermaltimetodays.R

Would you both mind checking it? I'm not terribly confident it's completely correct!

[2020-04-14 18:01] DarwinSodhi commented on #361
@cchambe12 Hello Cat, I will take a look after scrum!

[2020-04-14 20:13] lizzieinvancouver commented on #360
Some notes for future me or future you (if you're reading this). The tricky bit about this study seems to be that they do NOT report the days to budburst after forcing started, so I am not sure we can use these data (we can still enter them).

Here's what they do:

1. They take a ton of winegrape cuttings when dormant (don't be alarmed, it's in South America so the dates are fall, not spring)
1. T

[2020-04-14 20:14] lizzieinvancouver commented on #360
So ... we think the response.time data (chill hours) actually belongs in chilldays and we don't think we have response.time (as in OSPREE our response.time should be days since forcing applied).

[2020-04-14 21:59] DarwinSodhi commented on #361
@cchambe12 Hello Cat I looked through your code and it makes sense to me to subtract field forcing and divide by gdh based on being in the climate chamber. For the outdoor treatment it never goes into the climate chamber so we shouldn't divide by gdh but subtracting field forcing makes sense to me.

Yes 31-May treatment is the one left outside. So AB is for abnormal flushing and 0 is for unflushed

[2020-04-15 05:09] AileneKane commented on #362
ramos17 has  chilling data calculated from field chilling with the climate data, as it should. It also has forcing and photoperiod treatments. The chilling code seems to to pull the climate data, and We should be able to use this study, i think. It disappears from the d dataframe in step 5c of bb_cleanmergeall (clean_ambientforcingfromdailyclimate.R).  ramos17 doesn't show up in the "chilly" file

[2020-04-15 05:10] AileneKane commented on #362
@lizzieinvancouver @cchambe12 Shall I check the bb_daily_dataprep_get_expclimdat.R file?

[2020-04-15 05:15] AileneKane commented on #358
@cchambe12 I fixed the line of code in fieldchillcalc_latlong.R so that that it does not remove rows with any NAs. I didn;t rerun all the other code, since I don't have the climate data. I'm passing it off to you, @cchambe12

[2020-04-15 05:16] AileneKane commented on #352
Thanks for all your work on this! I think we're good to close it now!

[2020-04-15 05:16] #352 closed

[2020-04-15 05:17] AileneKane commented on #351
This has been done!

[2020-04-15 05:17] #351 closed

[2020-04-15 05:17] AileneKane commented on #350
Yay! this is done!

[2020-04-15 05:17] #350 closed

[2020-04-15 05:18] AileneKane commented on #353
Thank you @MoralesCastilla these are beautiful!

[2020-04-15 05:18] #353 closed

[2020-04-15 14:00] cchambe12 commented on #355
@lizzieinvancouver Okay, I fixed prevey18. Since I was re-entering data, should I rewrite Mira's updated file ('data/update2019/ospree_2019update_my.csv), should I delete Mira's entries and then add the new prevey data to my update file or do something else entirely?

[2020-04-15 14:05] cchambe12 commented on #361
@DarwinSodhi Okay great! That all makes sense. As for accounting for multiple field seasons, since they aren't monitoring budburst for the first couple of seasons we do not need to include this in our database. They just gave a lot of details about their study. @dbuona Do you agree we do not need to included these other details?

As for the 31-May treatment, since it was left outside for the entir

[2020-04-15 15:16] MoralesCastilla commented on #367
@lizzieinvancouver
This should be fixed now. I have coded a new script to extract extent coordinates (max and min latitude and longitude of each species' range) and transform them to geographic coordinate (lat/long degrees, instead of meters). The code is [get_range_extent.R](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/get_range_extent.R), and the corrected version for

[2020-04-15 15:55] lizzieinvancouver commented on #322
@md-garner Flash back to last year! Let's talk about this today as I am confused by the dantec14 data still:
1. There is variable chill (in chill units) but no variable field sample date or experimental chill, so how is that possible?
1. We should add the figure we scraped from, if we know it.
1. I just wanted to check where we put notes on how we did this.

[2020-04-15 16:52] cchambe12 commented on #362
@AileneKane I'm looking now, it seems that ramos17 is missing info in the response.time column so it's being removed in clean_ambientforcingfromdailyclimate.R on line 70

[2020-04-15 17:19] AileneKane commented on #362
@cchambe12 Oh- great catch! I was thinking it didn't need that column because it is a percentbudburst response, but you're right. I can add this in clean_responsetime.R at least for some of the experiments (e.g., for Fig. 1 it says they were forced at 30 degrees for 3 weeks, so responsetime would be 21 days).

[2020-04-16 04:50] AileneKane commented on #362
@lizzieinvancouver @cchambe12 I have added the response time from figs 1-4 in ramos 17. for some of the responses, the paper says forcing occurred for "2-3 weeks" in which case I entered 18 (the mean) for response time. For some other responses, they said "2-5 weeks" and I did not enter the mean for those- it seemed to variable. Do you want me to do anything different?

[2020-04-16 04:51] AileneKane commented on #362
also,  i'd love a double check if someone doens't mind looking at the paper...

[2020-04-16 15:39] cchambe12 commented on #362
@AileneKane It looks great to me! I just fixed the exp 2, 12.5C forcing treatment. In the very fine print it looks like the time was denoted in weeks not days so I just updated that in clean_responsetime.R in your new code block. Thanks Ailene! I am going to close this now.

[2020-04-16 15:39] #362 closed

[2020-04-16 15:40] cchambe12 commented on #355
prevey18 is all set and updated!

[2020-04-16 17:24] DarwinSodhi commented on #354
@FaithJones @dbuona I have scraped the data but it is still in days since December 10th, do either of you know a simpler way of converting the data to actual dates? I can also do it by hand but thought I would ask first!

[2020-04-17 12:18] dbuona commented on #361
@cchambe12 I'll look at it today. And I agree, it doesn't seem like the preseason conditions were treatments.

[2020-04-17 16:01] dbuona commented on #361
@cchambe12 code looks good to me

[2020-04-17 17:07] cchambe12 commented on #358
Should be all set!

[2020-04-17 17:07] #358 closed

[2020-04-20 22:25] lizzieinvancouver commented on #364
@MoralesCastilla @legault Here's the reply from Kelly. Please fix this in clean_misc.R, double-check it's working and close the issue.

[2020-04-21 18:47] lizzieinvancouver commented on #322
@md-garner
* Figure out where data Faith and Mira scraped went!
* Check field sample date for both experiments (leaf unfolding versus dormancy) -- if we do not know the exact field sample date (

We should enter the full range possible
* Figure out which figure data came from make sure all accurately entered (clean_misc.R)
* Make sure chilling data are included if applicable, with a note on how th

[2020-04-21 21:20] AileneKane commented on #360
@md-garner Do you want me to look at this? Or do you have questions about how/what changes to enter?

[2020-04-21 23:16] md-garner commented on #360
@AileneKane @lizzieinvancouver I just added my code to cleaning_misc.R. One of you could check it and then I need to add into totalchillcalc.R, correct?

[2020-04-22 14:37] MoralesCastilla commented on #364
@lizzieinvancouver @legault

`clean_misc.R` is now edited to change `fig 10` by `fig 5` in anzanello16. I'm closing this issue.

[2020-04-22 14:37] #364 closed

[2020-04-22 16:00] lizzieinvancouver commented on #360
Thanks @md-garner, I will check this now. @AileneKane

[2020-04-22 16:06] lizzieinvancouver commented on #360
Looks good!

[2020-04-22 16:06] #360 closed

[2020-04-22 16:11] lizzieinvancouver opened #370 "Tidy the notes in clean_misc regarding freeze"
@AileneKane @dbuona Could one of you tidy the notes slightly in clean_misc.R so they more read what you think and thus decided to do, versus sounding a little in-progress. For example:
`#d$freeze.treatment.temp_day[d$datasetID=="biasi12"]#this study actually did freeze treatments! but the columns are somehow shifted the values do not make sense for temperatures, mistake?`

Could be:
`#d$freeze.tre

[2020-04-22 16:56] lizzieinvancouver commented on #368
@cchambe12 Thanks! @dbuona this looks good to me, but perhaps you can check, do any final tidying and close this? Thanks!

[2020-04-22 16:58] lizzieinvancouver commented on #348
@cchambe12 Once we have finished cleaning malyshev, would you be willing to run the basic models again? Maybe with and without crops?

[2020-04-22 16:59] lizzieinvancouver commented on #310
@cchambe12 @MoralesCastilla See Cat's query above -- should we re-open this issue?

[2020-04-22 20:18] dbuona commented on #368
I did some cleaning too and I think its in good shape

[2020-04-22 20:18] #368 closed

[2020-04-22 20:28] dbuona commented on #354
@DarwinSodhi Darwin, did you scrape a response variable for malyshev18? I think, if I am not mistake, the newly scraped data needs to have the same format as the  data_detailed tabs in order for it to integrate nicely with the rest of the database (see the prevey datasheets addinpreveydata.R for an example of what the final product should look like). @FaithJones does this seem right?

[2020-04-22 20:36] DarwinSodhi commented on #354
@dbuona The response variable was already scraped in the original file (ospree_2019update_DSS). I can re-add the y-variable to my current update as long as we don't end up with duplicates!

[2020-04-22 21:07] dbuona commented on #354
@DarwinSodhi I think the end goal of the task is to get the data in a format so that they can be added to the main database, which sounds like it will involve some sort of merger between what you originally scraped and the new field sample dates. Probably best to do in R so we can trace it. Do you want to give it a try and I can check any code you generate?

[2020-04-22 21:09] FaithJones commented on #354
@DarwinSodhi @dbuona , I taken a look, and am now a little confused. I thought we needed the chilling data, but I don't see it in the scraped data. Dont we need the data from the forcing units/chilling units panels too?

[2020-04-22 21:15] dbuona commented on #354
@FaithJones The chilling will bet calculated in the ospree code. We needed accurate sample dates to be able to do that. Figure 1 does report chilling units at the field site up to each sample day, but the data we actually need  for the analysis come from figure figure 2 which has the budburst data.

We could "combine" the two figure and report the chill units they report for each field sample day

[2020-04-22 21:19] DarwinSodhi commented on #354
@dbuona Yeah I can merge the two datasets in R and let you know when the code is done!

[2020-04-22 22:40] lizzieinvancouver commented on #354
@dbuona @FaithJones This is hard because they seem to have given us chill and field sample data (which is not very common), and -- to be standard across studies -- we used gridded climate data to convert field sample date to field chill units. I think we just need the data in Figure 2 with field sample date calculated from the x axis and response.time is y axis. @DarwinSodhi  it looks like you did

[2020-04-22 22:42] lizzieinvancouver commented on #354
To clarify, we can skip scraping the chill units data then. But we should note that it is exists and in which CU model in the notes column.

[2020-04-22 22:48] DarwinSodhi commented on #354
@lizzieinvancouver I scraped the x-axis on Figure 2 6 days ago, but I converted the data to calendar dates in excel, should I revert the data back to days since December 1st and re-add the data to ospree_2019update_DSS?

[2020-04-22 22:50] lizzieinvancouver commented on #354
@DarwinSodhi Did you post the data unconverted in any way in Excel previously? (That's what we want ... converting back and forth in Excel is very bad as it do funny things due to leap year usually.) I can revert back to that if you did post it at some point.

[2020-04-22 22:52] DarwinSodhi commented on #354
@lizzieinvancouver no but I have the data saved in a file on my computer!

[2020-04-22 22:52] DarwinSodhi commented on #354
@lizzieinvancouver no but I have the data saved in a file on my computer!

[2020-04-22 22:53] lizzieinvancouver commented on #354
@DarwinSodhi That's good! Please post that and I will take a look.

[2020-04-22 23:04] DarwinSodhi commented on #354
@lizzieinvancouver Done the data should be in ospree/data/update2019/ospree_2019update_DSSaddmaly18.xlsx

[2020-04-22 23:11] lizzieinvancouver commented on #354
@DarwinSodhi Thanks, I will see where I can get then pass it off to @dbuona and @FaithJones to check.

[2020-04-23 02:19] lizzieinvancouver commented on #354
@FaithJones @dbuona I worked on some code in analyses/cleaning/merge_update2019.R but it needs some extra checking (based on one plot I am concerned it is not correct). Whoever has time first tomorrow -- @FaithJones @dbuona -- please work on it and report back!

@cchambe12 If you don't hear any updates on this by 3pm EDT, please just start re-running the cleaning code so we can stay on track.

Tha

[2020-04-23 02:28] lizzieinvancouver commented on #355
@FaithJones @DeirdreLoughnan @AileneKane @cchambe12 @MoralesCastilla @DarwinSodhi @dbuona @legault @md-garner nalyses/misc/datacheck/datacheck_assign.csv is updated with new assigned paper (two set per team). Please wait fo @cchambe12  to give the go ahead before diving in on your new sets of data.

Re-read the top of this issue for what to do (by Wed 29 April). You should fill in all columns *exc

[2020-04-23 02:29] lizzieinvancouver commented on #354
@dbuona @FaithJones One more cleaning issue for this paper -- sample size should be checked and corrected if needed!

[2020-04-23 13:04] cchambe12 commented on #310
This can stay closed! It was an ambient forcing issue in the climate code that has since been fixed.

[2020-04-23 15:55] lizzieinvancouver commented on #310
@cchambe12 Great -- thank you!

[2020-04-23 19:45] cchambe12 commented on #354
@FaithJones Great! I'm going to do common garden observations so I won't rerun the climate data until later anyways.

[2020-04-23 20:01] md-garner commented on #322
I found Faith and my data from October ([ospree/data/Dantec14add](https://github.com/lizzieinvancouver/ospree/tree/master/data/Dantec14add)) but the problems with the original data were carried over to these datasets.

 Can I change the .xlsx files since they are not yet added to the ospree database?

[2020-04-23 20:15] FaithJones commented on #354
@dbuona @lizzieinvancouver @DarwinSodhi I checked the merging code, and to mee it all looks good. @lizzieinvancouver I don't understand where you see a problem with Figure 2. When I looked the figure from the script matched the figure from the article closely. The species were in different orders, and the bottom panel with the chilling hours was missing, but I think it is supposed to be missing? T

[2020-04-23 20:16] FaithJones commented on #354
@dbuona @lizzieinvancouver @DarwinSodhi Re sample size, I checked how many data point I could see, and I saw 181. This is the same number of data points Darwin scraped. I couldn't find a clear answer from the paper as to how many data points there should be.

[2020-04-23 22:25] lizzieinvancouver commented on #354
@FaithJones Thanks for working on this!
Quick reply ...
First, 181 is not the sample size we want, we want the actual sample size that led to each data point; it's usually not on the graph, but may be mentioned in the methods.
Second, I have put in two plots -- the first one uses the updated data and look like this:

![fig1](https://user-images.githubusercontent.com/2153556/80155465-9f17e580-8576-

[2020-04-23 23:45] FaithJones commented on #354
@dbuona @lizzieinvancouver @DarwinSodhi OK, i dived back in, and this is my current take on the situation. I still think the data generally looks accurate. @lizzieinvancouver, when I converted the dates into Dates rather than characters, it looked the same as the dayssince plot. So this might be the cause of the problem? I updated the cleaning scrips (including the setwd, sorry).

As for numbers o

[2020-04-24 00:13] lizzieinvancouver commented on #354
@FaithJones Thanks! Yes, I thought it was likely it was just a plotting issue, but I did not have time to check and fix it. I will check on the sample size and >60 value and get back to you when I am next online. @cchambe12 please go ahead on cleaning/merging the full data and thank you!

[2020-04-24 13:55] cchambe12 commented on #355
@lizzieinvancouver @FaithJones @AileneKane @DarwinSodhi @dbuona @DeirdreLoughnan @md-garner @legault @MoralesCastilla  The data is all ready to be checked!

[2020-04-27 12:22] cchambe12 commented on #348
@lizzieinvancouver Much better!

Without crops:
                   mean           sd
forcing       -5.21           0.86
photo         -2.45          0.77
chill            -9.10           2.02

All species:
                   mean           sd
forcing       -6.15           0.88
photo         -1.42           0.50
chill            -9.53           1.14

[2020-04-27 17:23] lizzieinvancouver commented on #348
Yes! I would have expected our estimates would be more stable, as these suggest. Compared to the budburst ms:

Without crops:
mean
forcing -4.35
photo -2.95
chill  -8.35

All species:
forcing -6.17
photo 1.02
chill  -8.00

So overall the forcing and chilling effects both go up a little and the photo down (a hair) given the additional data, and we again see that the model with crops has a stronger

[2020-04-27 17:34] lizzieinvancouver commented on #354
@FaithJones I think you are right! They have just n=1 for each data point ("We therefore used one tree seedling per sampling date per photoperiod treatment (i.e. we allocated the 15 tree seedlings per species across the maximum number of sampling dates)"). A bit weird, but I think correct given that they go on to defend this at length in the paper. I also agree that Acer value >60 looks very wrong

[2020-04-27 17:38] lizzieinvancouver commented on #322
@md-garner We only change the xlsx when it's a major pain to do code the change; is that the case here?

Side note: Why is there a PDF in the folder? It should be deleted and double-check it's in the proper place on google drive.