[2018-04-13 17:02] lizzieinvancouver commented on #130
@AileneKane You have my approval!

[2018-04-19 17:54] cchambe12 commented on #172
I made a new script - bb_analysis/collinearity_check.R and some new plots bb_analysis/figures. I'm not entirely confident I did it correctly so I would love to go over it all next meeting! I tried removing any species culprit and the model did work after that but it left us with only 222 rows of data...

[2018-04-23 19:15] AileneKane commented on #130
Ok, I have corrected the schnaebel87 data in clean_photo.R and clean_forcetemp.R, have rerun cleanmerge_all.R and chillmerge_all.R to create new versions of ospree_clean.csv and ospree_cleanwithchill.csv. Next step is to add the super weird treatments they did to bb_daily_dataprep.R

[2018-04-23 19:17] AileneKane opened #173 "Check for mistakes in data entry similar to the schnaebel87 mistake"
in which gradually decreasing photoperiods were entered as multiple rows, each with a different photoperiod, for the same budburst event (i.e. with the same response time).

[2018-04-25 09:42] MoralesCastilla commented on #144
I am uploading the greenup figure comparing 2012 with that of 2013 (79bde19a5e244c44d028a9a479dd76f043f24a70)

[2018-04-25 14:32] AileneKane commented on #130
I have updated this with the latest data! There are still 7 studies that are missing some daily temperature data to calculate forcing (calme94, campbell75, hawkins12, heide12,partanen01,skre08, and skuterud94). I'm not so worried about skuterud94, since I know we can't distinguish the forcing treatments to use it anyway, but if we want to have ambient climate data to calculate forcing for any of t

[2018-04-26 11:03] MoralesCastilla commented on #168
@lizzieinvancouver @AileneKane

I have made new changes to the code 130e889703efee4832a80a1a7086876461ac943e. Now it does the following:

When a given treatment has >1 records,

- if many records fall within target range, it will only keep the closest to 90.
- if many records fall within target range and one of them equals 90, it will keep that one
- if no records fall within target range, it will

[2018-04-30 21:43] lizzieinvancouver commented on #168
@MoralesCastilla I will look at this! I think it sounds close, though have one query. In the first case ('When a given treatment has >1 records') you wrote:

We should delete ALL records that fall outside the targetrange so I think your code sounds good once we change this. So it should be: if no records fall within target range, it deletes the records.

Let me know when you have made the change a

[2018-04-30 21:47] lizzieinvancouver commented on #130
@AileneKane Thanks for this! Hopefully we can go through it tomorrow. One other question, in working yesterday I noticed the rows in ospree_clean_withchill.csv went down a little, from 12743 to 12693, does this change make sense to you?

[2018-04-30 21:48] lizzieinvancouver commented on #130
@AileneKane Re:

It's okay for now, but if we ever add them back in we'll need the data .... right now the ones that are just no response because they never leafed out are re-coded to 999 in clean_respvarmore.R

[2018-04-30 21:59] lizzieinvancouver commented on #125
[code]
So about 917 rows. Do we need to do anything else with this?

By the way ...
[code]

[2018-05-01 02:09] AileneKane commented on #130
Yes, it does make sense that the rows went down from 12743 to 12693. These are the erroneous rows that I removed from schnabel87.

[2018-05-01 17:53] lizzieinvancouver commented on #165
@cchambe12  Next tasks!
- Look at the extreme points and what causes them (ask Isabelle about them once you check it)
- Try showing all the points
- Make 3D versions in same colors and way as 2D

[2018-05-01 23:19] lizzieinvancouver opened #174 "work on figures for limiting cues"
@cchambe12 @dbuona @AileneKane @chuine @MoralesCastilla
Any ideas on how to visualize our data would be good. I am struggling with its multivariate nature. Here's the figure notes I am working through ... (numbers are just for reference):

1. Number of studies by year (OSPREE)... How best to show? Such as, by number of species studied by year. Show crops or remove or show separately?
2. Map of stu

[2018-05-07 19:40] lizzieinvancouver opened #175 "check studytable"
@cchambe12  Hi Cat!
Can you check your code for studytype_table.csv and see why biasi12-exp1 has two lines of data? It says on one there are 14 sampling dates and for the other it says 18 (from the paper I think 18 is correct) ... I want to make sure our code is doing what we think it is.
Thank you!

[2018-05-07 20:33] cchambe12 commented on #175
@lizzieinvancouver  it looks like there were two species and one species was sampled 14 times (grapes) whereas the other was sampled 18 times (kiwis)! Do you want me to change it somehow or leave it as is?

[2018-05-08 14:11] AileneKane commented on #144
Thank you for all your work on this @MoralesCastilla and @dbuona! Can we close this issue?

[2018-05-08 17:40] AileneKane commented on #130
fixed code for calme94, campbell75, and partanen01 in bb_daily_dataprep.R. STill need to fix hawkins12, heide12,skre08, and skuterud94 and then rerun code

[2018-05-11 19:06] lizzieinvancouver commented on #173
@AileneKane Shall we close this then?

[2018-05-11 19:07] lizzieinvancouver commented on #144
No one asked me, but I think so!

[2018-05-11 19:07] #144 closed

[2018-05-11 19:07] lizzieinvancouver commented on #175
@cchambe12 Ah! Thanks for catching that. I think we're all set. I will open a new issue if I decide we need to change it or have other issues pop up. Thanks!

[2018-05-11 19:07] #175 closed

[2018-05-11 19:13] AileneKane commented on #173
Yes! Done!

[2018-05-11 19:13] #173 closed

[2018-05-29 14:40] cchambe12 commented on #165
1.  I made a map to show why there seems to be extremes - Fagus_projected_map.pdf

2. I added jitter points to map code so hopefully this helps! - 2D_fagus_actual.pdf & 2D_quercus_actual.pdf

3. Made 3D versions - FAGSYL.png & QUEROB.png

[2018-05-29 18:27] cchambe12 commented on #165
@cchambe12 scale the OSPREE data for days to budburst and adjust using first Phenofit datapoint

[2018-05-29 18:27] AileneKane commented on #162
Added legend, Still need to update colors (salmon4=temporal shifts; blue = spatial shifts)

[2018-05-29 23:01] lizzieinvancouver commented on #174
Next steps:

1. make 3 panel version of heat map
2. % of studies that manipulated each cue (table)
3. photo x chill map
4. chilling x weinberger: make heatmap version once I have corrected how we count fieldsample dates! (only count sample dates that are two weeks apart)
5. re-make maps and check on lat/long

[2018-05-29 23:08] lizzieinvancouver commented on #130
@AileneKane In running bb_analysis/cleaning/clean_ambientforcingfromdailyclimate.R from the main BB cleaning code today I got this error at counter 2804:

[code]

[2018-05-29 23:55] lizzieinvancouver opened #176 "What is up with freeze.treatment.temp_night?"
@dbuona @AileneKane
I am working on what to do with studies with other treatments. ... in doing this I got to looking at falusi90 where we list values listed under 'freeze.treatment.temp_night' in looking at this I started wondering if this is how we should  have correctly entered this. And then in looking further I wondered if anything in these columns is correctly entered ...

Could you each **i

[2018-05-29 23:58] lizzieinvancouver commented on #176
# Read this later ....

I went back to a really old commit: https://github.com/lizzieinvancouver/ospree/commit/70e8cf156049061210a088f76715a40d467439ff
And downloaded growthchambers_litreview_2016-01-15.csv ... in this file we had column: response   (pre-treatment) ... and I wonder if something was messed up in Excel conversions ....

[2018-05-29 23:59] lizzieinvancouver commented on #168
@AileneKane I think this looks good to me, could you double-check the code one last time for Nacho and me?

[2018-05-30 01:32] lizzieinvancouver commented on #127
@AileneKane @cchambe12 @dbuona @MoralesCastilla
Just a reminder to try playing around with your favorite days to BB Stan model before the next OSPREE meeting, Ailene may update the data further but feel free to start whenever you like (and just keep pulling to get the most recent data).

Here's what I have from today's progress for take-homes:
- **Be sure to look at all your models LOTS, including

[2018-05-30 01:33] lizzieinvancouver commented on #127
If you want more of the intervals from above:

[code]

[2018-06-01 16:01] dbuona commented on #171
@AileneKane @lizzieinvancouver While I was working on the photo curves I noticed a problem with Caffarra11b. In exp 2, all the treatments produce the same Total Chilling, despite different chilling hours. I reread the paper, and here is how chilling was done. Starting late November (2004), twigs were field chilled for  0, 30, 55, or 95 days, and then forced at different photoperiods. The different

[2018-06-04 16:38] AileneKane commented on #130
@lizzieinvancouver I have fixed this problem, and rerun the bb_cleanmergeall code.

[2018-06-04 16:40] AileneKane commented on #151
I checked/fixed the weird values. Table could be done?

[2018-06-04 17:20] AileneKane commented on #147
For some reason I'm just seeing this now... i checked ospree_clean.csv, ospree_clean_withchill.csv, and ospree_clean_withchill_BB.csv, and they all have year=1988 for falusi90.

[2018-06-04 17:30] AileneKane commented on #139
@lizzieinvancouver @cchambe12 can we delete this issue, as i think it is functionally now a duplicate of  #165 ?

[2018-06-04 17:41] cchambe12 commented on #139
I'm okay with that!!

[2018-06-04 18:52] AileneKane commented on #147
falusi96 looks good too.

[2018-06-04 23:56] lizzieinvancouver commented on #139
@AileneKane Me too, delete!

[2018-06-04 23:57] lizzieinvancouver commented on #151
@AileneKane Yes, you're lead on photoperiod so I think you can close any photoperiod MS issues you deem closed. Nice work!

[2018-06-05 01:51] #151 closed

[2018-06-05 01:51] #139 closed

[2018-06-05 02:03] AileneKane commented on #176
Ok @dbuona I have looked at these and have my theories about them. Can we discuss sometime before our next OSPREE meeting? Email me to set up a time!

[2018-06-05 02:52] AileneKane commented on #171
I can fix this in the chilling code!

[2018-06-05 19:18] AileneKane commented on #176
Dan and I looked at this independently and discovered a couple of different types of mistakes in the data in this (and all freeze.treatment) columns. The mistakes include: data getting shifted over by one or more columns from its correct column (basler12 and biasili12), and data that simply doesn't belong in those columns (spann04,ruesink). We now have 2 questions:

1. should we clean the data in

[2018-06-05 19:53] cchambe12 commented on #125
@lizzieinvancouver it looks like it's percent budburst! Should I fix this in the main cleaning folder in clean_respvar.R or in the bb_analysis/cleaning/clean_respvarmore.R?

[2018-06-08 00:19] lizzieinvancouver commented on #125
@cchambe12 If it's fundamentally entered wrong (which I think it is) then we should clean it in clean_respvar.R. Thank you!

[2018-06-08 14:01] cchambe12 commented on #125
@lizzieinvancouver cleaned! and a new clean file was created. We lost 60 rows of data because of this fix because percent bud burst does not exceed 30% in this paper

[2018-06-13 01:20] AileneKane commented on #176
@dbuona
I have added most of the required cleaning to aalyses/cleaning/clean_misc.R. Could you check my code and add biasi12? You seemed to have a better handle on what needed to be done with that study.

Still to do: incorporate the chilling data from basler12 into ospree_clean_withchill.csv

[2018-06-13 02:40] AileneKane commented on #166
changing the priors did not affect things much...but maybe i didn't change them enough?

[2018-06-13 02:41] AileneKane commented on #162
Done, I think!

[2018-06-13 02:41] #162 closed

[2018-06-13 13:06] dbuona commented on #176
@AileneKane
I fixed most biasli12 columns in analyses/cleaning/clean_misc.R. No freeze treatment were actually applied. 1 column remains dirty (d$freeze.treatment.temp_day) because I think it would need to be migrated later in the chilling calculations, but I wasn't sure where exactly. See note in line 95-96 of clean_misc.R and we can discuss where it makes sense to put this.

[2018-06-13 18:21] AileneKane opened #177 "Write legend for Figure 2 (green-up date) in Photoperiod manuscript"

[2018-06-13 18:21] lizzieinvancouver opened #178 "don't forget about no response"
See also:

[2018-06-13 18:21] lizzieinvancouver commented on #125
All fixed! But new issue starting to not forget about this: see issue #17

[2018-06-13 18:21] #125 closed

[2018-06-13 18:23] AileneKane opened #179 "Write legend and summary of methods for Figures 4-5 in photoperiod ms"
Phenofit estimates of current/projected with ospree comparisons for Fagus and Quercus

[2018-06-13 18:24] AileneKane opened #180 "Write legend and methods paragraph for photo experiments fig photoperiod ms"
Plant responses to changes in daylength figure (across populations/latitude)

[2018-06-13 18:25] lizzieinvancouver opened #181 "apples: do they affect model output much?"

[2018-06-13 18:26] AileneKane opened #182 "Update photoperiod 1 figure and write legend"
delete bottom inset, shorten tick mars, remove some text from labels, stack insets on right

[2018-06-13 18:26] lizzieinvancouver opened #183 "chill units: should we switch to dynamic model chill portions?"
How much data do we lose? Does it alter the answer (in the centered models)?

[2018-06-13 18:27] lizzieinvancouver opened #184 "impute (statistical methods)"
(1) impute with mean of study means (not grand mean of data)
(2) impute with mean of each study if there is one
(3) ...model imputation?

[2018-06-13 18:27] lizzieinvancouver opened #185 "what is up with BRMS being a little different?"

[2018-06-13 18:28] lizzieinvancouver opened #186 "post some models and updates"
(1a) Post the rstan and rstanarm code (Lizzie) -- done
(1b) Post the BRMS code (AIlene)--done
(2) Some figures (Lizzie) -- done
(3) Some notes (Lizzie) -- done (see bb_analysis/modelnotes folder)

@AileneKane Feel free to close this issue when (1b) is done!

[2018-06-17 21:02] lizzieinvancouver commented on #168
@AileneKane  I think this looks good to me, could you double-check the code one last time for Nacho and me? Then we can close it!

[2018-06-28 12:40] cchambe12 commented on #181
I removed apples from the brms model because it was just easier coding (I can do the main rstan model as well if we deem it's necessary!)

Model output with apples:
#a 94.7, f:-1.83,p:-1.4,c:-6.97. f*p0.01,c*p=.11, f*c=15 sigma 14.59

Model output without apples:
# a: 95.50; f: -1.92; p: -1.46; c: -7.02; fp: 0.01; fc: 0.15; pc: 0.11; sigma: 14.96

[2018-06-28 15:41] cchambe12 commented on #165
I checked out those 15 data points that had the significantly later budburst times than the current days to budburst and found...

12 out of the 15 data points had photoperiods that were 5-8 hours shorter than was biologically possible.

The last three data points:
2 data points either had very low or no chilling and the last data point had 61.115 chill portions (pretty middle of the road, slightl

[2018-06-28 16:45] cchambe12 commented on #179
first stab in /analyses/photoperiod/PhenofitFigs_methods_caption.txt !

[2018-06-28 20:14] cchambe12 commented on #121
Study breakdown:
_Betula pendula_ : 12
_Betula pubescens_ : 8
_Fagus sylvatica_ : 10
_Picea abies_ : 12
_Pseudotsuga menziesii_ : 3
_Ulmus compelx_ : 2

[2018-06-30 23:04] lizzieinvancouver opened #187 "compare field sampling dates"
Comparing: analyses/output/studytype_withBB.csv with dates2weeks (need to run analyses/limitingcues/studydesignplots_more.R to line 75)

Example of some differences:
ashby62 exp 1 -- I have no field.sample.dates, your file says 5 dates
ashby62 exp 2 -- I have 4 dates, your file say 5
biasi12 exp 1 -- only 9 dates two weeks apart?
Also, some give field.sample.date as 1 when I think there is no samp

[2018-07-02 16:33] #186 closed

[2018-07-02 17:42] #182 closed

[2018-07-02 17:45] AileneKane commented on #165
Interesting! Not sure how to explain that last datapoint...but the 12/15 now make sense...

[2018-07-02 18:00] AileneKane commented on #183
We lose a little data, but not too much:
Rows of data: 4608 for utah, 4490 for chill portions
Num spp: 85 for both units
Num studies: 63 for utah, 61 for chill portions

I have fit models using chill portions and utah units, for comparison. Here are the coefficients from models without interactions:
![image](https://user-images.githubusercontent.com/9097640/42178882-f0c31876-7dff-11e8-85a6-4f06a0c

[2018-07-02 19:22] AileneKane commented on #183
Here are the coefficients from models WITH interactions and WITH study id as a random effect:
![image](https://user-images.githubusercontent.com/9097640/42182312-c91b5dea-7e0b-11e8-8129-227749248bbf.png)

[2018-07-02 19:31] AileneKane commented on #183
Utah units (range=-1304.5-4724) , mean=1192.415) look more normally distributed than chill portions (range=0-180,mean=67)...my code exploring these is here

[2018-07-02 19:59] AileneKane commented on #176
Ok, I added the biasli12 columns to totachillcalc.R! I think this is all set, but Dan, could you check the ospree_clena_withchill file to make sure that it looks ok to you?

[2018-07-02 20:04] AileneKane commented on #179
Thanks Cat! Could you add a bit more detail to the methods, including:

1. Which warming scenario was used
2. How the temporal shifts were quantified (within only cells that that were in both current and projected range right?)

[2018-07-02 20:10] cchambe12 commented on #179
Oh right the projections! Sure thing, I'll add that now. And yes, I only looked at cells that were in both ( (I will also add that now...) but we ended up just doing Days to Budburst rather than calculating any shifts so it ended up being pretty straight-forward.

[2018-07-02 20:54] dbuona commented on #176
@AileneKane to me it doesn't look like anything in ospree_clean_withchill changed for biasli12.

[2018-07-02 21:16] dbuona commented on #171
@AileneKane just wanted to remind you about the issue with the chilling in Caffarra11b exp2 above. Now looking at it again, I think there are also weird issues for exp3 in this study too. Maybe be should touch base tomorrow on this?

[2018-07-02 22:36] cchambe12 commented on #187
@lizzieinvancouver

Ahh! Yes, my code was counting both blanks and NAs - I think it's all fixed now! As for biasi12, I just counted the number of field sample dates recorded in the ospree sheet, so 18 for the one species and 14 for the other. For the wein column, if there were 2 or more field sample dates that were at least 2 weeks apart then I gave it a 1. If they were within 2 weeks of each othe

[2018-07-03 01:20] AileneKane commented on #176
That's super weird- you checked the Field_Chilling_Hours and Total_Chilling_Hours columns? In my file versions that are no longer NAs, they are filled in with the data previously in the freeze.treatment.temp_day column. Perhaps you try pulling again and check?

[2018-07-03 02:08] AileneKane commented on #171
Thank you for the reminder! I started to work on this, but got completely confused, as there seem to be many things wrong with this one. The field sample date for all of the cuttings  of caffarra11b is 1-Jun-2004. However, the paper says that "In late November of Year 2, 10 one-year old clones of B. pubescens, kept in a heated greenhouse, were placed outdoors to receive natural chilling."
So, firs

[2018-07-03 15:53] dbuona commented on #176
@AileneKane I pulled on my arb computer and now it looks good. I'll have to figure out why it seems my laptop isn't updating from github.

[2018-07-03 16:05] dbuona commented on #171
I agree with you about the field sample date for experiment 2.  I don't see %bb as a response for this study. I am looking at ospree_clean_withchill_BB.csv and "daystobudburst" is the response. However the figure in the paper does have %bb. Should I be looking at an ospree datasheet that is further upstream?

[2018-07-03 17:29] lizzieinvancouver opened #188 "fix Caffarra11b"

[2018-07-03 17:32] lizzieinvancouver opened #189 "spot-check some papers! Maybe photoperiod ones ..."
... eventually.

[2018-07-03 17:46] lizzieinvancouver opened #190 "look for non-linearity in forcing or chilling responses"
goes with limitingcues paper

[2018-07-03 17:51] lizzieinvancouver commented on #181
Apples are not a big deal! We can easily rm them from the models in a supp as needed

[2018-07-03 17:51] #181 closed

[2018-07-03 17:55] lizzieinvancouver commented on #183
@AileneKane what is the R2 for each model?

[2018-07-03 18:03] lizzieinvancouver opened #191 "check Picea abies"
_Picea abies_ is the most widely planted outside its range ... check its range vs where our OSPREE data.

[2018-07-03 18:04] lizzieinvancouver opened #192 "check Ribes ..."
Why is delaying with forcing?

[2018-07-03 18:16] lizzieinvancouver commented on #172
not needed anymore!

[2018-07-03 18:16] #172 closed

[2018-07-03 18:17] #165 closed

[2018-07-03 18:17] #161 closed

[2018-07-03 19:45] AileneKane commented on #183
R2 is higher for the chill portions model:
![image](https://user-images.githubusercontent.com/9097640/42241295-0f1ba1ac-7ed8-11e8-92f8-1fbbff901785.png)

[2018-07-03 20:01] AileneKane commented on #179
one more thing related to this figure- perhaps we should combine the two two-paneled figures in to one four-paneled one with fagus on the top, and quercus on the bottom?

[2018-07-03 20:01] AileneKane commented on #180
You can close this if you are done with it, Dan!

[2018-07-03 21:09] lizzieinvancouver commented on #174
@AileneKane @dbuona @cchambe12 @MoralesCastilla
Hi all,
Please review the limitingcues.pdf file within two weeks and also review all the figures ... then suggest which figures should be priorities for the manuscript.
You can add votes/notes here.
Thanks!

[2018-07-04 13:48] cchambe12 commented on #179
Yes, I envisioned that as well! And honestly, I'm not even sure if we need Quercus as well if we feel figure heavy. Also, I just added a bit to the caption to cover those 15 extra data points!

[2018-07-04 14:42] cchambe12 commented on #192
[Rplot.pdf](https://github.com/lizzieinvancouver/ospree/files/2163600/Rplot.pdf)

[2018-07-04 14:48] cchambe12 commented on #192
The most frequent forcing temperature used for the Ribes studies is 20 degrees (
[Ribes_ForceTX.pdf](https://github.com/lizzieinvancouver/ospree/files/2163612/Ribes_ForceTX.pdf)) whereas the rest of the studies have an evenly distributed range of forcing temps 5-30 (
[AllBB_ForceTX.pdf](https://github.com/lizzieinvancouver/ospree/files/2163614/AllBB_ForceTX.pdf).

If I look at say _Fraxinus excels

[2018-07-04 20:57] lizzieinvancouver commented on #179
@AileneKane @cchambe12 I would keep in Quercus! Fagus is often considered a weird outlier so it's better to show more species in this case.

[2018-07-06 00:15] lizzieinvancouver commented on #192
@cchambe12 Interesting! Could you try plotting the overall response time versus force, photo and chill (3 graphs) for Ribes versus Fraxinus or any other one easy to grab?

[2018-07-06 14:41] cchambe12 commented on #192
Here they are!
[Main_respPlots.pdf](https://github.com/lizzieinvancouver/ospree/files/2170884/Main_respPlots.pdf)
I can add more species after I get back if we want them!
 it's also in bb_analysis/figures/Ribes/Main_respPlots.pdf..

[2018-07-06 17:03] AileneKane commented on #188
@dbuona I believe this is done! Could you check it and then close this?

[2018-07-06 17:05] #166 closed

[2018-07-09 17:05] lizzieinvancouver commented on #187
Okay, I think we're good! If we ever want to count field sample dates I have code that counts them based on some number of days apart (you can set the days). It's the f(x) countfieldsample in misc/getfielddates.R

[2018-07-09 17:05] #187 closed

[2018-07-09 17:06] lizzieinvancouver commented on #174
@cchambe12 I really like this suggested figure:

`Figures - for (5) it feels like there is a lot of overlap with those figures... What if we had one figure that had year on the x axis and frequency on the y axis (like you have already `pubyear.pdf') but could we color code the bars by number of cues they manipulated? Maybe we'll see a trend from studies just looking at photoperiod, for example, ea

[2018-07-12 15:13] AileneKane commented on #168
@lizzieinvancouver @MoralesCastilla Ok, I have looked at this finally. It looks good except for one thing: in lines 206-210. the "too low" values are not currently being removed because of line 210 (d.subsetted <- d).
Is this intentional? if so, I wasn't sure why...

[2018-07-16 18:49] #177 closed

[2018-07-16 20:32] dbuona commented on #188
Done and Done!

[2018-07-16 20:32] #188 closed

[2018-07-16 20:33] dbuona commented on #171
I think I am mostly done, other than tweaks.

[2018-07-17 15:39] AileneKane commented on #174
@lizzieinvancouver  @dbuona @cchambe12 @MoralesCastilla
Here are my notes on the figures:

1. I really like the heat maps. This is a great way to make the point that we need more combinations of cues to better understand which ones are limiting and under what conditions. I like the idea of having  a summary table to go with them, in the supplement (7 in the list of Figures: "Not a Fgure, but analy

[2018-07-18 23:16] lizzieinvancouver commented on #174
Dan and I chatted today, his email is below but the take-homes were:

- heat-maps good
- one time-series figure (the one Cat suggested) is also good
- maybe update the map .... see notes below

map_datasetID: Good addition, but ... any way to show the uniqueness of species? So somehow color or such the points that all does Betula for example? Or heatmap the number of cues instead of showing spp N?

[2018-07-31 17:28] cchambe12 commented on #174
I just took a stab at the proposed histogram figure. The code is /limitingcues/studydesign_numcues.R and the figure is /limitingcues/figures/studyyearcues.pdf!

[2018-07-31 17:42] lizzieinvancouver commented on #174
So cool! What do the NAs mean?

[2018-08-03 16:37] dbuona commented on #191
It turns out the Pinus sylvestris is the most widely planted species outside of its native range not Picea abies... :\.... BUT.... a relatively large study (Worrall67) looked Picea abies in North America (it's Native to Europe). So basically 18% of our Picea abies data in bb analysis comes from outside of the species native range.

Perhaps we could try running the model excluding Worrall '67 to se

[2018-08-03 17:24] dbuona commented on #185
I haven't made much progress in actually understanding these code differences, but I have created some files that might help better STANers than me wrap their heads around this. In the bb_analysis/brms folder there are now 3 new files:
--m2l.winsp.brms_codeextract.txt (This is the stan code used under the brm() "hood")
--ospree_brms_stan_param_comp (This is direct comparison of the parameter block

[2018-08-03 19:12] AileneKane commented on #176
@dbuona @lizzieinvancouver Can we close this issue?

[2018-08-03 19:13] AileneKane commented on #147
Can this issue be closed?

[2018-08-03 19:16] lizzieinvancouver commented on #176
@AileneKane It's slated to be closed at the meeting next week after a quick check-in!

[2018-08-03 19:27] lizzieinvancouver commented on #147
@AileneKane Sure!

[2018-08-03 23:12] lizzieinvancouver commented on #174
@cchambe12 I am running into a similar issue as I see in your figure ... what are the studies that don't manipulate cues doing? Do they do provenance or something else?

[2018-08-04 13:27] cchambe12 commented on #189
Not sure if this is where this should go but in /cleaning/clean_respvar.R there are two lines

d$respvar[d$respvar == "percentbloom"] <- "percentbudburst"
d$respvar[d$respvar == "percentflowering"] <- "percentbudburst"

I'm guessing we want to change this...?

[2018-08-06 17:59] AileneKane commented on #190
I made some figures for forcing...only 2 studies could really be plotted/evaluated, using my current method (see this [commit](https://github.com/lizzieinvancouver/ospree/commit/15a4870d3700a1210b33398c25460022ab0bf1ad)).
I'm looking for ideas for how else to do this and how to do this for chilling

[2018-08-07 15:28] AileneKane commented on #176
@dbuona @lizzieinvancouver I realized that I never posted my question about basler12, related to this. I was not able to add the chilling data from the paper to ospree because the paper reports the chilling in "chilling days" (the number of days since 1 November with daily mean temperature≤5 ◦C). I don't think we can convert this to any of our chilling metrics, can we?

[2018-08-07 15:34] AileneKane opened #193 "Write photoperiod paper!"

[2018-08-07 15:35] AileneKane commented on #193
I started the intro, which I feel is quite short currently. I would love ideas for additional important points to include...

[2018-08-07 17:26] lizzieinvancouver commented on #171
@dbuona

- Italicize species names
- Make Fagus like Tilia, make Tilia super fine dots

[2018-08-07 17:29] lizzieinvancouver opened #194 "what is up with Atlantic lat/long?"

[2018-08-07 17:34] cchambe12 commented on #174
@cchambe make separate color for manipulating just field sample date and then have an `other' category (non-environmental? - think of how to label it!)

[2018-08-07 17:40] lizzieinvancouver commented on #174
@lizzieinvancouver
Work on code to figure out cues and fix sections 4-5.

[2018-08-07 17:54] lizzieinvancouver commented on #185
Lizzie extract the parameters to start and look into slope/intercept correlation.

[2018-08-07 17:57] lizzieinvancouver commented on #191
Work on rm Worral67

[2018-08-07 18:00] lizzieinvancouver commented on #192
@cchambe12
- check if >200 obs of high force are all one study and should be entered correctly
- check Balser and Laube and see if they say anything.

[2018-08-07 18:03] cchambe12 commented on #121
check without latxchill and add Ribes back in

[2018-08-07 18:33] lizzieinvancouver opened #195 "finalize to do list on OSPREE"
- look at responses in and outside the range
- revisit Weinberger
- relatedly, what about chilling (what about fitting a model with studies with no field chilling? Or look at studies that calculated their own units)
- % budburst models and flowering
- phylogenetic structure?
- climatic niche and phenological response? Any predictions? (Size of nice relates to variance in responses; bigger niche mo

[2018-08-14 16:32] cchambe12 commented on #192
Of the 260 observations with forcing at 20 degC
jones12: 21 observations
pagter15: 42 observations
sonsteby14: 197 observations

All of the sonsteby14 response times are low and seem great. The pagter and jones seem  a bit high.

pagter15: starts applying forcing temperatures very early in the year (February or even November in some cases) so very little chilling.

jones12: also manipulated chilli

[2018-08-14 18:08] cchambe12 commented on #189
Seems sonsteby14 exp5 is entered incorrectly... the forcetemp should be 9, 15, and 21 and the photoperiod should be 20, not 24. I can't remember if I clean this in the original cleaning folder or if I do this in the bb_analysis/cleaning folder.

[2018-08-20 15:37] lizzieinvancouver commented on #191
rm 29 rows ... made the value MORE positive.
The old mean was 0.5 (-0.6 to 1.6, 2.5% and 97.5%) and now it's 2.6 (-2.3 to 7.4). So I think we should double-check what the Picea abies studies found.

**We should also check my models_stan_plotting.R code is lining up the species correctly!** Why is unique(bb.stan$complex.wname) giving 42 names, but we only have 38 species in the models?

Note that I

[2018-08-20 16:41] AileneKane commented on #194
I think this error was because ospree (not ospree_clean) was used...does that sound right? Could you point me to the code for the map so i can double check?

[2018-08-20 17:01] lizzieinvancouver commented on #194
@AileneKane It's in limitingcues/figures/maps/map_photo_sppn.pdf ... which uses ospree_clean.csv

[2018-08-20 17:19] lizzieinvancouver commented on #192
Pagter15 and Jones12 had high forcing and no chilling ... only one study had multiple forcing levels. So response could be an artifact of study design, will double-check one study with multiple forcing levels.

[2018-08-20 17:26] lizzieinvancouver commented on #185
@AileneKane will add BRMS output to models_bb_compare.xlsx
@cchambe12 will add rstanarm output

Model is a[sp]+f[sp]+p[sp]+c[sp] + 2 way interactions.

[2018-08-20 18:06] lizzieinvancouver commented on #121
Here's the centered model without lat:chill (which look collinear):
`amily: gaussian
  Links: mu = identity; sigma = identity
Formula: resp ~ forcez + photoz + sm.chillz + latz + photoz:latz + forcez:latz + forcez:photoz + forcez:sm.chillz + sm.chillz:photoz + (forcez + photoz + sm.chillz + latz | sp)
   Data: ospr.stan (Number of observations: 1516)
Samples: 2 chains, each with iter = 4000; warmu

[2018-08-20 18:06] lizzieinvancouver commented on #121
amily: gaussian
[code]

[2018-08-20 18:07] lizzieinvancouver commented on #121
@cchambe12 Next up! Check out interactions, try model with lat:chill and paste output.

[2018-08-20 21:10] lizzieinvancouver commented on #195
@lizzieinvancouver will update this in the files and send around!

[2018-08-20 21:13] lizzieinvancouver commented on #192
@lizzieinvancouver should check again....

[2018-08-20 21:15] lizzieinvancouver commented on #174
@lizzieinvancouver See task above and work on heat maps and PEP figure.
@cchambe12 Work on map figure
@dbuona Work on regressions with latitude.

[2018-09-05 21:28] dbuona commented on #191
Picea problems:
1. gomery15 is complete wrong, and should probably be thrown out. It is, in actuality, a reciprocal transplant study with no cues manipulated. It seem like photoperiod and field sample date were rather arbitrarily assigned. This is the one that is dragging our results because a 1 hour increase in photoperiod corresponds to a ~30 day delay in our data, which is, again, totally made

[2018-09-05 22:13] lizzieinvancouver opened #196 "ground-truth new data and species"
@dbuona Can you ground-truth the added species (4 I think)? Make sure they meet all our requirements and that they are being properly parsed in bbstanleadin.R and within that within speciescomplex.R.

@AileneKane Can you pull some of the old datafiles (from github) and compare to the new ones and make sure what has changed makes sense to you?

[2018-09-09 19:05] lizzieinvancouver commented on #191
@dbuona We actually do not throw studies out just because they are reciprocal transplants; if they meet our search criteria and they manipulate cues somehow they stay in (this is an issue with every meta-analysis I have done, you usually end up touching on some much bigger/different literature but it can be hard to define how/why to throw out such studies so we don’t generally and in this case a s

[2018-09-10 19:32] cchambe12 commented on #121
Update: with added level of hierarchy to interactions as well

[code]

[2018-09-10 22:53] AileneKane commented on #194
the lat/long in the middle of the atlantic is from chavarria09, which is supposedly in south america, so i think the latitude is missing a negative sign! I added a line to clean it in the clean_latlong.R file.

[2018-09-11 18:30] #176 closed

[2018-09-11 19:31] cchambe12 commented on #191
Partanen98: I only fixed the 'ambient' inputs it seems because the other values didn't show up as an issue, the ones I fixed follow Dan's suggestion but the other cells need to be tweaked. I can work on that! As for Partanen01, it was not cleaned anywhere for photoperiod so it must have been filled out entirely when originally inputted. I will check that out as well! I agree with Dan, they should

[2018-09-11 23:35] AileneKane commented on #193
I have a very rough version done, and it needs help!

Specifically,
1. Let me know where you think additional detail/explanation/examples are needed (right now it is very short!).

2.  If you have ideas about the particular details/explanations/examples that would be strong, please add them to the sweave file or post them on git/email them to me!
It would be great to have your feedback within a we

[2018-09-11 23:38] #147 closed

[2018-09-11 23:46] AileneKane commented on #184
I have started on this imputation in [analyses/bb_analysis/testdata_impute.R](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/testdata_impute.R)

[2018-09-12 04:12] AileneKane commented on #196
I have done some comparisons between the current ospree_clean_withchill_BB.csv file, as well as a version of it in July and in March. between march and now, we have gained chilling data (this may have been responsible for adding 5 new species), lost forcing data from the forectemp column (this makes sense- erroneous schnabel and basler12 data), and lost photoperiod data (from erroneous schnabel da

[2018-09-12 18:18] lizzieinvancouver commented on #189
@dbuona Will send out a list (a subset of the studies in ospree_clean_withchill_BB.csv) for us to tackle!
The goal is to compare what's in the paper to what's in ospree_clean_withchill_BB.csv and whats in ospree.csv and see if you see any errors or concerns....

[2018-09-12 18:20] lizzieinvancouver opened #197 "continue excellent efforts on species ranges in OSPREE"
I suggest starting with fagsyl and betpen and try to calculate some of the metrics we're interested in:

- geographical position within (or beyond) range of each species in each study
- climatic position within (or beyond) range of each species in each study
- distance to coast

See how far you get ..

[2018-09-12 18:20] lizzieinvancouver commented on #196
@AileneKane Will rerun the data, then Lizzie will re-run the model, then back to Dan....

[2018-09-12 18:21] lizzieinvancouver commented on #174
@lizzieinvancouver needs to work on density curves for PEP725 comparisons

[2018-09-12 18:38] lizzieinvancouver opened #198 "check forcetemp"
from issue #196
`Side question that i want to make sure to ask: do we use the avg_bbtemp column at all? It doesn't look like it from the model code that i have checked, but perhaps i'm missing it. i think there are some studies with NAs for forcetemp that we have data in this column...`

@cchambe12:  can you check? I thought we used this when forcetemp was empty or NA in the bb_cleaning....

[2018-09-17 15:45] dbuona commented on #196
I think there are definitely problems with the complexes. It seems we have 2 files, one which we update complexes manually and one through code. Our current models source a list that was made manually and hasn't been updated, since summer 2017.

I think I have a more sophisticated version almost running, but Cat and I will take a look at it together today, and once it is good, we can discuss where

[2018-09-17 18:58] cchambe12 commented on #196
@dbuona I made some small tweaks to your code, I think it's all fixed! Do you mind checking through it again and if it's okay can you write a new .csv file using the last line of code before the break?

[2018-09-17 21:33] AileneKane commented on #196
II have updated the data, and Lizzie has updated the model graphs etc.- she noted that they still appear to have the same weird FP interaction etc.

[2018-09-22 22:32] lizzieinvancouver commented on #196
@dbuona @cchambe12 Nice work! Once we're happy with it we need to clean it up so it's a ready-to-go source file (delete any setting of working directory and deal with the conflicts tidyverse is creating  ... do we need tidyverse or can we get by with less? It conflicts with rstan ....). Let me know if I can help.

[2018-09-22 22:33] lizzieinvancouver commented on #196
Here are the current conflicts ...

[code]

[2018-09-22 23:30] lizzieinvancouver commented on #193
@AileneKane I just added some comments in commit 1adc8ee827982458a5dc041a16a8bb1319f102b2 ... I think it's a great start but there are a lot of ways I think we could all push harder to remember and spell out why this paper is important!

[2018-09-26 00:42] dbuona commented on #196
Cat, The loop looks good to me and the output makes sense to me (thanks for doing it!). Perhaps tomorrow we can all discuss how to best integrate this in to the workflow.

[2018-09-26 16:51] #194 closed

[2018-09-26 17:36] lizzieinvancouver commented on #196
@dbuona @cchambe12 source the new speciescomplex in bbdataplease ... updated bbdataplease and delete source of speciescomplex in bbdataleadin....

[2018-09-26 17:45] lizzieinvancouver commented on #189
@AileneKane will take this over

[2018-09-26 18:24] lizzieinvancouver opened #199 "figure out to add photoperiod to statistical models (e.g., PhenoFit)"

[2018-09-28 01:53] lizzieinvancouver commented on #196
@dbuona @cchambe12 @AileneKane I updated the models today ... and they are still wonky (and actually not fitting super well when you check the n_eff). But I am not sure the complexes is working. Some examples:
- Prunus persica: only one factor varies and it looks like one study (see M1inter_collinear.pdf for what I am looking at, I checked these against the data in the bb.stan object too)
- Picea

[2018-09-28 02:00] lizzieinvancouver commented on #189
@cchambe12 Comment from Aug 4 ... There is a 'blame' feature I used to look into this (check out: https://github.com/lizzieinvancouver/ospree/blame/master/analyses/cleaning/clean_respvar.R) and it looks like this code is OLD. Jehane wrote it a long time ago.

So I went and checked and it looks like NO DATA has these respvar values ... I checked two ways, here's one of them:
`> sort(unique(d$respva

[2018-09-28 02:06] lizzieinvancouver commented on #168
@MoralesCastilla Nacho, when you have a time ... can you check this? It would be good to close this issue, but better to make sure the code is doing what we want!

[2018-09-28 02:11] lizzieinvancouver opened #200 "sontesby14"
@cchambe12 wrote:

I don't see this ... I think you're looking at the dormancy induction info. Here's what I read for the forcing treatments:

Can you double-check?

[2018-09-28 02:17] lizzieinvancouver commented on #196
@AileneKane Can you add these studies to those we double-check? I wanted to make sure we have not corrected papers into being wrong when they were right to begin with:

- schnabel87
- guerriero90
- morin10
- hawerroth13
- linkosalo06
- hawkins12
- cronje03
- devries82
- heide15
- thielges75
- ghelardini10
- ashby62
- caffarra11b
- basler12
- ruesink98
- spann04

By the way, here are the explicit i

[2018-09-28 10:53] cchambe12 commented on #196
@lizzieinvancouver I will fix the `require' issue now - that's good to know. I always wondered what the difference was!

As for the issues, I think I may know what's going on... I think we forgot to take out the ones that only manipulated one cue. I will work on this today and try and finish it by the end of the day so we're all caught up. Thanks for catching this!

[2018-09-28 11:49] cchambe12 commented on #189
@lizzieinvancouver phew!! Yes, I also made sure we didn't make new respvars anywhere else in the code.

@AileneKane do you mind updating the data just so we're sure this wonky data didn't sneak in? Thanks!

[2018-09-28 13:42] cchambe12 commented on #196
@dbuona I _think_ we should be good to go now. Would you mind double checking everything to make sure it looks okay? I added code to make sure that we were including studies that manipulated more than one cue and I also moved the source code around. The biggest issue was I had it set up to make the species list first, before subsetting the data to just daystobudburst and percentbudburst so many mo

[2018-09-28 20:20] dbuona commented on #196
@cchambe12 The speciescomplex.R code looks good to me, and the integration with the rest of it seems to mostly make sense. I am a little confused about how we go from bb.noNA (line 26) to bb.noNA.wtaxa (line 35). It seems to me like we aren't really using bb.noNA (lines 23-28) in the generation of our working data. Am I correct about this and is this intentional?

[2018-09-28 20:57] cchambe12 commented on #196
@dbuona the way I tried to set it up (please check to make sure!)... is that I used the bb.noNA in the speciescomplex.R source code. So the first two source codes are used and create a new dataframe (which ultimately is called `d') and then that is used in the speciescomplex.R code

[2018-10-01 21:44] AileneKane opened #201 "Cross-check photoperiod and other treatments"
@lizzieinvancouver @cchambe12 @dbuona @MoralesCastilla
I created folder called "checkphotoperiod" that contains a file with assignments for files to check for two things:
1) That all forcing, chilling, and photoperiod columns in ospree_cleanwithchill_BB.csv are correct and consistent with the paper. Also check that ospree.csv is correct and consistent with the paper.
2) Note which studies that man

[2018-10-02 18:06] AileneKane commented on #196
@dbuona @cchambe12 Should I go ahead and update ospree_clean, ospree_cleanwith chill, etc?

[2018-10-02 19:00] cchambe12 commented on #196
@AileneKane I think you can go ahead! Thanks!

[2018-10-08 18:42] cchambe12 opened #202 "Paper check: basler12"
basler12 photoperiod is wrong. Initial photoperiod is used in our dataframe but they increased photoperiod by 3-4min per day in the experiment

[2018-10-08 19:21] cchambe12 opened #203 "Paper check: hawkins12"
nothing was inputted to ospree.csv for all three cues from hawkins12. This needs to be updated! They do an entire photoperiod experiment

[2018-10-08 20:13] lizzieinvancouver commented on #203
@cchambe12
I see there is mention of a photoperiod experiment in the paper, and I see data across populations entered in the ospree database. But I don't see the data on the photoperiod experiment that we could actually extract ... could you please specify where the data are in the paper that should be extracted?

[2018-10-08 20:15] lizzieinvancouver commented on #202
@cchambe12 Okay, this is not necessarily wrong but a really tricky one. What do you suggest we change photoperiod to? Average over the time from start to budburst? This gets messy fast....

[2018-10-08 20:18] cchambe12 commented on #203
@lizzieinvancouver
Under `Methods & Materials' on pg 510 under a subheading _Photoperiod experiment_
"On 8 January and again on 20 February 2001,
five trees from each population were placed in two
controlled environments: long days (LD) 16/8 h D/N
and short days (SD) 8/16 h D/N with 218C
day temperature and 128C night temperature."

[2018-10-08 20:19] cchambe12 commented on #202
@lizzieinvancouver
ahh right! I seemed to remember when this came up in the past we would use the photoperiod at budburst, which I can calculate if we want to do this!

[2018-10-08 20:20] lizzieinvancouver commented on #202
@cchambe12 Let's discuss at the meeting. We should only change OSPREE data that is really wrong. I am not sure this is.

[2018-10-08 20:20] lizzieinvancouver commented on #203
@cchambe12 Okay, so what figures/tables does this match up with?

[2018-10-08 20:23] cchambe12 commented on #203
@lizzieinvancouver Figure 5

[2018-10-08 20:31] lizzieinvancouver commented on #203
@cchambe12 Okay, it's unclear if that figure is entered in OSPREE, it's hard to tell as the figure numbers are not entered, but the only data entered are for 1998 and the photoerperiod treatment happened in 2001 so I highly doubt it. Unless you think these data are entered, these are unentered data and I would go with the original data enterer's decision not to enter them.

[2018-10-08 20:32] lizzieinvancouver commented on #200
I am closing this; based on above conversation **data were correctly entered in original data entry.**

[2018-10-08 20:32] #200 closed

[2018-10-08 20:36] cchambe12 commented on #203
@lizzieinvancouver
Okay! I was hopeful we could get some additional data from this study but that makes sense. Good catch with the year!

[2018-10-08 20:36] lizzieinvancouver commented on #203
Closing issue as no evidence there's anything wrong, but there's potentially more data in the paper ...

[2018-10-08 20:36] #203 closed

[2018-10-09 01:06] lizzieinvancouver commented on #196
Okay! I finally sat down for a while on this today. Prepare yourself ....

First, I pulled the ospree_clean_withchill_BB.csv from two previous dates: 8 Jun and 2 July 2018 ...
Then I ran the models now and then:

[code]

[2018-10-09 01:11] lizzieinvancouver commented on #196
Next I spent a while trying to compare the data then and in June. This was hard, as there are A LOT of differences, but in looking at the two files in FileMerge, I realized the main things to worry about are our changes in forcetemp, photo and chill so I built some smaller datasets to help me compare them:

`nowd<- read.csv("~/Documents/git/projects/treegarden/budreview/ospree/analyses/output/ospr

[2018-10-09 01:20] lizzieinvancouver commented on #196
@AileneKane @cchambe12 @dbuona @MoralesCastilla

I just updated this issue!

Please check out my two recent posts on this. I think we may have inadvertently just tested our hypothesis that you can't estimate photoperiod effects given ambient photoperiod?! I posted some of the needed files if you want to look also in my commit: 7d7a9a76aa844c4366e7e1cae43946cd48bebe9b

What to do next? Let's discus

[2018-10-09 23:19] AileneKane commented on #189
@cchambe12 I have updated the data.
I made a new issue for spot-checking photoperiod and other treatments: #201 (https://github.com/lizzieinvancouver/ospree/issues/201)

[2018-10-09 23:22] AileneKane opened #204 "Make a conceptual diagram for photoperiod paper"

[2018-10-10 20:06] AileneKane opened #205 "Modify spring green-up maps"
Make current panel c (the difference) larger and the first panel. The other panels should be smaller and below. Let Ailene know if this is not clear!

[2018-10-10 21:53] lizzieinvancouver opened #206 "Paper check: morin10"
This study is a field warming experiment. It looks to be entered okay save for a few things:

1. field sample date is entered 1 Jan 2004 but the plants were just outside always @AileneKane @dbuona @cchambe12 do any of you recall a rule where we set field sample date to 1 Jan for certain studies? I checked the metadata etc. but found no mention of this.
2. Either way (1) goes the first field sample

[2018-10-10 21:54] lizzieinvancouver opened #207 "make a new column for type of chilling"
I made this up, change as you see fit!
exp: experimental only
fc: field chilling
exp.fc: experimental and field chilling
none: no chilling (just leave empty?)

[2018-10-10 21:58] lizzieinvancouver opened #208 "make a new column for type of photoperiod"
Make new column that explains what sort of info is in the 'photoperiod_day' column of clean BB data...
I made these categories up, change as you see fit!
exp: experimental photoperiod with set day/night lengths that are constant across experiment
amb: ambient photoperiod
ramped: ramped photoperiod (or similar?)
none: no photo info (just leave empty I think?)
... there are also a few where the phot

[2018-10-10 21:59] lizzieinvancouver commented on #207
It also occurred to me we should make clear if this info is general (then we would have this info for some studies where we don't calculate field chilling as we don't have climate data) or only applies to our chilling calculation columns. Doing the former would be more complete but I am HAPPY to do the latter if it's easier.

[2018-10-11 17:36] lizzieinvancouver commented on #197
As discussed on 10 October 2018: First steps could be:
1. Get a list of all species in OSPREE that are in more than two papers
2. Also get a list of all species in OSPREE in any one paper that manipulates all three cues (I suspect this is not many)
3. Pull range maps for said species!

[2018-10-11 17:39] lizzieinvancouver commented on #198
@AileneKane @cchambe12 After looking at Morin10 I wanted to pick up this issue (note that in morin10 it has 'ambient' in the forcetemp column but this doesn't turn into a calculated value in the BBwithchill file). Can one of you head up efforts to see what happened with updating forcetemp with extracted gridded climate data when it was set to ambient (or ambient + 1 etc.)?

At this point I think w

[2018-10-11 17:53] AileneKane commented on #198
@lizzieinvancouver @cchambe12 this type of thing gets done in bb_daily_dataprep.R However, I do not remember doing anything for Morin10, and I'm not sure why.

This daily data then gets used to calculate average forcing temps through till the bb date in clean_ambientforcingfromdailydata.R in bb_cleanmergeall.R. However, I believe it is the case that we do not use this averaged daily data (which is

[2018-10-12 02:37] lizzieinvancouver commented on #208
@cchambe12 I just noticed that for "partanen01" two of the three photoperiod treatments are RAMPED. It's noted in "other.treatment" ... so we should be sure to check this column for our photoperiod work!

[2018-10-12 02:44] lizzieinvancouver commented on #198
@AileneKane @cchambe12 I think we must add it somewhere under some rules ... I just noticed for sanzperez10 we have some the ambient values changed to actual numbers but not all of them.

Could it be that this only works when we had info to calculate chilling? (Though on quick glance this does not make sense for sanzperez10.)

[2018-10-12 02:46] lizzieinvancouver opened #209 "paper check: sanzperez09"
@AileneKane Since you entered sanzperez09, can you take a double look at it for me? I am not sure why forcetmp_night was entered as ambient ....

[2018-10-12 13:31] cchambe12 commented on #198
@AileneKane @lizzieinvancouver
I think I discovered the problem! In bb_analysis/cleaning/clean_ambientforcing.R I changed a handful of studies (including Morin10 and sanzperez10) that were ambient and estimated the forcing temperature at bud burst based on figures in the papers. I can definitely remove these lines of code so that they are fixed in clean_ambientforcingfromdailydata.R!

[2018-10-12 17:35] cchambe12 commented on #208
I think this is done!  I added the four types and the break down is...

   amb      exp        none     ramped
  1346     5875       100         49

[2018-10-12 19:20] AileneKane commented on #204
@MoralesCastilla could you send me the conceptual diagram that might be a good inspiration (you mentioned this in our ospree meeting}?

[2018-10-15 16:59] lizzieinvancouver commented on #191
**RECAP:** At least two studies are weird here: gomory15 and Partanen98. These two really do show that longer photoperiod leads to later budburst, but with a lot of complexities! And both of these show up HEAVY on datapoints because they have lots of ambient or ramped treatments, so we need to work on this.

Here's code to use with bb.stan data to look at this:
[code]

[2018-10-15 17:03] lizzieinvancouver commented on #191
@AileneKane Hi Ailene! Since you're in charge of checking partanen98 can you let us know here if the photo treatments are correct (that is, some are truly ambient and others are ramped)?

[2018-10-15 17:33] lizzieinvancouver commented on #198
@cchambe12 (cc @AileneKane)

Ah! That makes sense. So I think we have a few things to do:
(1) We should only change ambient in clean_ambientforcing.R if the paper gives us a clear good estimate to use. If not, see (3)....
(2) We should also add a force_type column in clean_ambientforcing.R for exp or amb.
(3) Move any code you have in clean_ambientforcing.R into clean_ambientforcingfromdailyclimat

[2018-10-16 19:16] AileneKane commented on #209
I carefully reread the paper, and I agree that there is no mention of night temperatures being ambient. i am not sure why it was entered that way. after rereading the paper, i would assume that night temperatures were the same as day temperatures. do you want me to clean this? So sorry about this mistake! I guess that's why we're doing this though....

[2018-10-16 19:32] AileneKane commented on #206
I do not remember a general rule about field sample date, though there were one or two where i remember adding a reasonable field sample date, based on the study, for chilling calculations (e.g. basler12, charrier11). these dates were added in "cleaning_chilltemp.R"

[2018-10-16 19:37] AileneKane commented on #206
As for 3. (photoperiod changing but not forcetemp), this goes back to an earlier comment that i made in issue #198 - the ambient forcetemp calculations get averaged in a column called avg_bbtemp but i don't think these values ever get added into the "forcetemp" column, which is what we use for model fitting.

[2018-10-16 19:48] AileneKane commented on #209
a note to myself (assuming that i am the one who cleans this): for this study, and any others changed from "ambient" to something else- check the "clean_ambientforcing" and "clean_ambientforcingfromdailyclimate" files to make sure that any lines calculating the ambient forcing data are removed for this study.

[2018-10-16 20:39] AileneKane opened #210 "paper check: devries82"
Two mistakes found in ospree.csv:

1. Plant height measurements (y-axis) do not match those in Figure 1.

2.  Irradience treatments (which should be 8, 16, 24) and forcing temperatures (which should be 16, 20, 24) are switched (i.e., irradiance treatments are in the forcetemp column and vice-verse)

One mistake found in ospree_clean.csv
1. "photoperiod_day" is listed as "24" for rows in Figure 1.

[2018-10-16 20:43] AileneKane commented on #210
@lizzieinvancouver
it looks like the daylength was changed to 24 by you in clean_photo.R. Could you double check this? From my reading, the paper looks like it used 8h of light for all experiments.

[2018-10-16 20:52] lizzieinvancouver commented on #210
@AileneKane @cchambe12
I just changed the 'constant.' The code that changed the photoperiod looks to have been originally created by Cat ... Cat, any recollection of this?

[2018-10-16 20:57] lizzieinvancouver commented on #210
@AileneKane
As for the other issues, you can clean them in clean_misc.R at the bottom (see section for cleaning in this round). I think you can just delete plantheightatflowerbudappearance rows for now but note there are data there is someone wants to re-extract it.

[2018-10-16 21:00] cchambe12 commented on #210
@lizzieinvancouver @AileneKane

No recollection! But I have a hunch I was checking the various inputs for photoperiod_day and assumed "constant" meant constant photoperiod (I.e. 24 hour daylength). I'm going to delete these two lines I added because they seem very wrong to me!

[2018-10-16 23:49] AileneKane opened #211 "hawerroth13"
add figure number to hawerroth13? currently missing from ospree (Figure 2).
also, it has chilling data (NC units)- is this convertable somehow? i think not....

[2018-10-18 18:07] lizzieinvancouver commented on #211
@AileneKane Sure! You could add the fig number in clean_misc.R.

....and for the chilling what does NC stand for? I would just do a quick search for that and converting it to Utah or such and if you don't turn up anything let it go.

[2018-10-18 18:16] lizzieinvancouver commented on #209
@AileneKane I just changed it, see commit a0435d40e8a08472deed218c61713e6dbfeb83ef ... I checked and did not see it in the other clean forcing files, I think probably because it was only in the forcetemp_night column.

[2018-10-18 18:16] #209 closed

[2018-10-18 18:54] lizzieinvancouver commented on #208
@cchambe12
And one more query in addition to the above! There are some labelled "none" that have photoperiod ... could you take a quick look at those?

[2018-10-18 21:50] cchambe12 commented on #208
@lizzieinvancouver for two studies I imputed data using the geosphere package but there was no mention of photoperiod in the paper so I labelled them as "none". Should I remove those imputations?

And... Yes you are right about Basler12 & 14! Your code looks good but it did not show up in my version of ospree_clean.csv... maybe a new version of ospree_clean.csv needs to be updated and pushed to th

[2018-10-18 23:03] AileneKane commented on #211
@lizzieinvancouver it stands for North Carolina.
 In looking at this more, I realize that there are more data that can be added from the paper. There is experimental chilling reported (in hours) at multiple temperature. I will add this data in clean_misc, as well as the Figure number.

[2018-10-18 23:50] AileneKane opened #212 "heide12"
Two things are wrong with these data:
1) Chilling is blank.. However, the paper says "chilled at 2C in darkness for breaking of dormancy. After 10–12w of chilling..." For Table 1, chilling was 10 w, for table 2 it was 12w.
2) There are several rows of data from Figure 2 for which response is listed as "percentbudburst." However, the y-axis on the figure is "percent flowering plants." Fix?

[2018-10-19 17:44] lizzieinvancouver commented on #212
@AileneKane I gave the paper a double look and agree it looks like an error, please fix in clean_misc.R

[2018-10-19 17:50] lizzieinvancouver commented on #208
@cchambe12
Can you pull and check your ospree_clean.csv again? I see the ramped_photoperiod in other.treatment in mine (note for basler14 some of the photoperiods are NOT ramped, as best I understood it so you'll see it for only some treatments). I am not sure if this will carry through to the rest of the OSPREE data as Ailene has to re-run the chilling code for that.

As for the two 'none' photop

[2018-10-19 20:46] AileneKane opened #213 "myking97"
For this paper, there are not 2 different photoperdiod treatments (as currently entered into ospree). The authors vary forcetemp only.  They write `plants received LD(24h), consisting of 12 h daylight suppplemented with 112,,,,PAR from high pressure mercury lamps...' thus, i think photoperiod_day should be 24 for all rows.

[2018-10-19 21:42] AileneKane opened #214 "partanen98 question"
for this study, nearly all of the photoperiods should be ramped (some are lengthening and some are shortening) if they are not ambient. in ospree.csv only the starting photoperiod is used.
@cchambe12 i think you changed these values to the photoperiod on the day of budburst.
2 questions:
1) @cchambe12 is this correct?
2) @lizzieinvancouver Is the approach we want to use? (alternatively, we could u

[2018-10-19 22:18] AileneKane opened #215 "Skuterud94 question"
@lizzieinvancouver
This is the paper with the weird 3d barplots. The paper has 3 figures that summarize the same data in 3 different ways. right now, ospreebb keeps all of these. I wanted to check that we think this is ok?

[2018-10-19 22:55] AileneKane opened #216 "chilling for viheraaarnio06"
this study had no chilling. the chilltemp and chilldays columns are blank. should we change chilldays to 0?

[2018-10-20 03:16] lizzieinvancouver commented on #215
@AileneKane For your first question, it's definitely okay. We a lot of code that deals with this. For the second, yes, change as long as you're sure it's incorrect. If you're not, please ping Cat or Dan and ask them for a second look.

[2018-10-20 03:17] lizzieinvancouver commented on #216
@AileneKane Can you check for whether we ever entered chilling as zero and let me know? I don't think we did ... so if we start doing it now, we should think carefully about that.

[2018-10-20 03:19] lizzieinvancouver commented on #214
@AileneKane Doesn't it say in other.treatment that they are ramped? I am not sure how we should handle it but I think it should happen in the bb cleaning and we should discuss it.... @cchambe12
I think you tried to standardize to one method for the BB cleaning, right?

[2018-10-20 03:45] lizzieinvancouver commented on #213
@AileneKane This is so weird! Do you have a guess of why some were entered as 12 h?

The other weird part is the methods text: "The plants received LD (24 h), consisting of 12 h daylight supplemented with 112C5 mmol m±2s±1 PAR from high pressure mercury lamps (Philips HPI-T 400 W) in daylit phytotron compartments. The rest of the day the plants received low irradiation, about 5 mmol m±2s±1 PAR, fr

[2018-10-23 18:38] cchambe12 commented on #208
@lizzieinvancouver Yes, I see ramped_photoperiod in ospree_clean.csv but not in ospree_clean_withchill.csv and it looks good!

As for `none', yes these studies don't even specify if they were ambient or otherwise but was likely ambient.

[2018-10-23 18:41] cchambe12 commented on #214
@lizzieinvancouver @AileneKane

Yes, I changed these values to the photoperiod at the day of budburst. And yes, I used this same method across ramped studies or ambient studies - found the photoperiod for the day of budburst.

[2018-10-23 19:05] AileneKane commented on #207
I did the latter for now, in totalchillcalc.R,  as it was easier to do. It shouldn't be too hard to add a new category for sites that we have no information because there are no climate data available, if we want that. The categories are:
### 6 types:
           ### NA (no info on chilling);
           ### exp (experimental chilling only)
           ### fldest (our estimate of field chilling, base

[2018-10-23 19:15] AileneKane commented on #198
in regard to the Note above, the explicit incorporation of ambient and ambient +1, etc happens in bb_daily_dataprep.R, which creates the daily climate data files used in clean_ambientforcingfromdailyclimate.R. Should I remove the sentence above, as it may be confusing?

[2018-10-23 22:19] lizzieinvancouver opened #217 "fix bbstanleadin.R"
It is supposed to be a common file we all use, but people are creating new versions of it. Try to fix!

[2018-10-23 22:24] lizzieinvancouver opened #218 "delete bbstanleadin for chill units?"
@AileneKane Can you check if checking_chill_units.R is working given the new bbleadin.R code I wrote, adjust as needed and delete bbstanleadin_units.R once working?

[2018-10-23 22:27] lizzieinvancouver opened #219 "more speciescomplex work"
@dbuona @cchambe12 Sorry for this request but can we re-write the speciescomplex code so that it works later in the code ... ? Right now we do it early but I think we could delete there and move down ... so it can be used several times in bbleadin.R

(1) On all the bb data (bb.stan.allphoto)
(2) On just the expphoto data (current bb.stan)

[2018-10-23 22:31] AileneKane commented on #201
@cchambe12 Thank you for all your work on your papers! I have a favor to ask, if it is not too much trouble: in the "photo.eff.description" column, for studies in which there was a significant effect of photoperiod, could you add specifically what the effect was? For example, instead of  "especially when coupled with low chilling" as is currently written for hawkins12, it would be more helpful if

[2018-10-24 14:49] MoralesCastilla commented on #205
@AileneKane
Apologies for the delay, I have prepared a new version for the figure (see at 2700b5eaccb43aca3068ce2b6d4ff473a5881557). Let me know what would you change and I'll make modifications accordingly.

[2018-10-24 15:34] cchambe12 commented on #208
@lizzieinvancouver Update with notes on what each category means, check the new ramped photoperiods show up... and close issue after all that is okay.

[2018-10-24 15:37] cchambe12 commented on #202
@cchambe12 Clean in clean photo for budburst analysis only and just do what you have been (photo at budburst).

[2018-10-24 17:45] lizzieinvancouver commented on #216
@AileneKane add to clean_misc.R  ... but make a big note that we inconsistently did this when we first entered data so other entries may be 0 also but not listed as such

[2018-10-24 17:46] lizzieinvancouver commented on #214
All set!

[2018-10-24 17:46] #214 closed

[2018-10-24 17:47] lizzieinvancouver opened #220 "check for studies with thermoperiodicty versus photoperiodicity!"

[2018-10-24 19:06] AileneKane commented on #215
@cchambe12 could you check the skuterud94 paper for photoperiod treatments should be? i think we need to change the database but would like a second opinion first.

[2018-10-24 19:21] AileneKane opened #221 "build on the photoperiod conceptual diagram"
@MoralesCastilla let me know if you have any questions! here is the file https://github.com/lizzieinvancouver/ospree/blob/master/analyses/photoperiod/figures/photocondiag2.ai

[2018-10-24 20:59] AileneKane commented on #216
I've done this.

[2018-10-24 21:01] #216 closed

[2018-10-24 21:17] AileneKane commented on #211
i could not find a way to convert north carolina to utah or chilling hours or chill portions. so, sadly, i think we cannot use the chilling data for these studies...i have added the figure number.

[2018-10-24 21:17] #211 closed

[2018-10-24 21:46] AileneKane commented on #212
done!

[2018-10-24 21:46] #212 closed

[2018-10-25 20:28] AileneKane commented on #207
@lizzieinvancouver I believe this is done, but it would be helpful for someone to check...

[2018-10-25 22:18] lizzieinvancouver commented on #198
@cchambe12 @AileneKane
Next steps as I recall (please add what I forgot):

- Ailene should adjust notes in clean_ambientforcingfromdailyclimate.R as noted above
- Cat will work on forcetemp_type column, including multiple types of ambient (amb_frompaper, amb maybe?)
- Cat, will review  clean_ambientforcing.R and clean_ambientforcingfromdailyclimate.R; Move any code we have in clean_ambientforcing.

[2018-10-26 10:53] cchambe12 commented on #219
I think this is done! I only added bb.stan.allphoto and bb.stan for now. Would someone mind checking double this to make sure it's working correctly?

[2018-10-26 11:30] cchambe12 commented on #208
I added notes to the bbcleaning_README.txt and to the clean_photoperiod.R script and I checked the ramped photoperiods and all seems good!

[2018-10-26 14:40] #202 closed

[2018-10-26 15:48] cchambe12 commented on #201
Done! @AileneKane let me know if I need to further clarify any notes in particular!

[2018-10-26 15:56] cchambe12 commented on #215
@AileneKane I agree, I think they should all be 8 hours of photoperiod!

[2018-10-26 22:34] AileneKane commented on #201
Thank you @cchambe12! looks great!

[2018-10-29 15:20] cchambe12 commented on #198
@AileneKane  @lizzieinvancouver I think I'm all done with this! Please let me know if something looks wonky!

I added a force_type that is `not enough info'. This is for the skuterud paper that has `mean of 9, 12, 15' in the force temp column. We weren't able to determine which of the three temperatures they used for each observation due to the ambiguity of the figure. I also have `not enough info

[2018-10-29 19:33] lizzieinvancouver commented on #198
@cchambe12 I think it looks great! I made a few formatting tweaks but I think we can close this when you're ready.

[2018-10-29 19:34] lizzieinvancouver opened #222 "add note to clean_photoperiod.R"
In running bb_cleanmergeall.R I noticed that clean_photoperiod.R has no 'stop' comment and has warnings, can you check the code and add the usual 'not an error..' and 'these warnings mean X and are/are NOT okay ...' printed messages?

[2018-10-29 19:35] lizzieinvancouver commented on #213
@AileneKane I think that sounds great! Let's just make sure there is a note and/or data on the 5 mmol PAR in the database.

[2018-10-29 19:38] lizzieinvancouver commented on #208
@cchambe12 Looks great! I am closing this one.

[2018-10-29 19:38] #208 closed

[2018-10-29 19:55] lizzieinvancouver commented on #219
@cchambe12 @dbuona Could you take another look at the speciescomplex code? We're going from 181 species to just 21 now, which is much lower than we have ever ended up before, even though the rows of data are not so different at all.... It would also be good to clean up the commenting on the speciescomplex.R code, then I can help check it (add cleaner notes throughout and overview of criteria at th

[2018-10-29 20:09] cchambe12 commented on #219
I have a guess of why this is, I can take a look!

On Mon, Oct 29, 2018 at 3:55 PM lizzieinvancouver <notifications@github.com>
wrote:

--
PhD Candidate
Harvard University | Arnold Arboretum
Department of Organismic and Evolutionary Biology

[2018-10-29 20:32] cchambe12 commented on #222
fixed!

[2018-10-29 20:32] #222 closed

[2018-10-29 20:58] cchambe12 commented on #219
@lizzieinvancouver
If you use `sort(unique(bb.stan$complex.wname))` then there are complexes shown. Using this method, there are 40 species/complexes for the bb.stan.allphoto and 21 species/complexes for the bb.stan. I tried to add more notes, if it still seems surprising or something is unclear let me know and @dbuona and I can sit down and go through it together!

[2018-10-29 20:59] #198 closed

[2018-10-30 17:00] AileneKane commented on #213
@lizzieinvancouver ok- i can certainly add this note to the readme. if we want it in the datafile I'm not quite sure where to put it. could add to "other.treatment" though there is already something there. ALternatively, in the irradiance column?

[2018-10-30 17:53] lizzieinvancouver commented on #213
@AileneKane Yes, it should go in the irradiance column ... any data on irradiance should go there!

[2018-10-30 18:11] lizzieinvancouver commented on #219
@cchambe12 Okay. Here's what we have lost in species since June 2018:

Abies_alba
Acer_complex
Acer_pseudoplatanus
Aesculus_hippocastanum
Betula_complex
Cornus_alba
Cornus_mas
Fraxinus_complex
Fraxinus_excelsior
Larix_decidua
Populus_complex
Prunus_avium
Prunus_complex
Pseudotsuga_menziesii
Quercus_rubra
Robinia_pseudoacacia
Symphoricarpos_albus
Syringa_vulgaris
Tilia_cordata
Vaccinium_complex

Co

[2018-10-30 21:31] lizzieinvancouver commented on #219
Gained (probably due to finalized chilling so not a problem):
Actinidia_deliciosa
Vitis_vinifera

[2018-11-01 19:45] dbuona opened #223 "linkosalo06"
I think our understanding of forcing in this exp is wrong.  We say force temp 15 for ever row, but its a bit more complicated.

The authors differentiate between forcing and warming treatments, and both involve some sort of ramping or fluctuating temperature regime.

Our figure (Fig3) reports differences in bb for treatments where temperatures were raised for different parts of the day.

I'm not s

[2018-11-02 00:38] lizzieinvancouver commented on #223
@dbuona Did you notice the other.treatment column (below) ... any guess on what that refers to?

0.75
--
1.5
3
4
5

[2018-11-05 14:49] dbuona commented on #223
yes, I think the forcing temperatures were applied for that many hours a day.

[2018-11-05 15:48] cchambe12 commented on #219
@lizzieinvancouver
Back in June, Dan and I just made a new data frame for species that included all ospree data. So the species list was made including all respvars. After we fixed this in September, the species list was parsed down significantly to the list below, which is the same as the current bb.stan.allphoto species list.

[1] "Abies_alba"             "Acer_complex"           "Acer_pseudopla

[2018-11-05 23:52] lizzieinvancouver commented on #219
@cchambe12 @dbuona  I am not sure this answers my query, but maybe I am missing something?

I think we need to think about the cut-offs we have imposed in speciescomplex.R and if they make sense (unfortunately I don't think we all thought about this a lot back in the spring). One way to start thinking about this would be to understand why the species I listed above are now being lost ... when in J

[2018-11-06 20:02] AileneKane commented on #213
This is now done!

[2018-11-06 20:03] #213 closed

[2018-11-07 15:46] MoralesCastilla opened #224 "Photoperiod check - Schnabel87"
I´m marking the treats.okay column (checkphoto_info) as an N for this study, because of some non-numeric values in the forcetemp night and photoperiod columns. I'm guessing you're aware of this. Double-checking just in case.

[2018-11-07 18:12] lizzieinvancouver commented on #224
@cchambe12 Cat will look into!

[2018-11-07 18:14] lizzieinvancouver commented on #223
@dbuona Double-check then add to that cleaning clean_ambientforcing... then bounce to @lizzieinvancouver to check how I handle this other.treatment.

[2018-11-07 18:16] lizzieinvancouver opened #225 "rename clean_ambientforcing.R"
@cchambe12 to more appropriate name!

[2018-11-07 18:34] AileneKane commented on #207
@dbuona could you check the code?

[2018-11-07 18:34] #218 closed

[2018-11-07 18:49] lizzieinvancouver opened #226 "gamma and inv_gamma models"
@cchambe12   Try running our main Stan models with gamma (or inv_gamma) ... maybe try adding small numbers to zeroes (i.e., compare adding 1 versus 0.01 to ALL DATA)

[2018-11-09 19:11] AileneKane commented on #204
@MoralesCastilla As I was working on the photoperiod manuscript today, I had some ideas for the conceptual diagram, so I modified your version slightly and it is now in the manuscript. I will push the manuscript later today, and perhaps that will help you with ideas for this diagram as well. I'm sure you can improve on my changes!!!

[2018-11-15 20:30] lizzieinvancouver commented on #219
@cchambe12 Could you make up a second spcomplex f(x) that only requires the species (or complex) to be present in more than one datasetID?

[2018-11-16 16:33] cchambe12 commented on #219
@lizzieinvancouver that is currently how we have the code -- needs to be in at least 2 or more datasets. I made a new spcomplex f(x) though that includes species that are in one dataset but manipulates more than one cue just to see. For the subset that includes all photoperiod treatments there are 191 complexes and for only experimental photoperiod there are 166 complexes.

As an aside, the "use.a

[2018-11-16 19:16] cchambe12 commented on #219
@lizzieinvancouver All set! It adds only 3 more species to all photoperiod types but 8 more species/complexes to our bb.stan data frame. I added the new complex code to bbstanleadin.R and added new data frames with .onecue added to the end of each data frame name so we can see how they compare to the bb.stan original versions.

[2018-11-16 19:21] cchambe12 commented on #226
I started working on this: 1) only Gamma works - not inverse 2) we need to use centered data (uncentered model output was comical) 3) The results are pretty wonky but the posterior predictive checks and R hats are really nice.

[2018-11-17 01:08] lizzieinvancouver commented on #226
@cchambe12 I think you have to back convert the numbers! For the negative binomial I have running the numbers make sense if I exponentiate them but I think it's more gymnastics for the gamma. Maybe see if you can find some vignettes online?

[2018-11-17 01:08] lizzieinvancouver commented on #219
@cchambe12 Thank you!

[2018-11-19 17:08] dbuona commented on #223
@lizzieinvancouver, additionally,

1. The response variable is wrong. The figure (fig 3) give date of budburst, but even as far back as ospree.csv, it was already converted to Day Of Year (calculated this from 01-01-2004) but the forcing conditions started either on Feb 22, or March 8. Why is this ambiguous you might ask...

This paper differentiates forcing and warning conditions.  **Forcing cond

[2018-11-19 17:54] AileneKane commented on #193
@dbuona @MoralesCastilla @lizzieinvancouver Please check out the latest draft of this- looking forward to getting feedback on it! (Thank you @cchambe12 for yours!)

[2018-11-19 17:55] AileneKane commented on #189
I think we can close this issue?

[2018-11-19 17:57] lizzieinvancouver commented on #223
@AileneKane Would you mind working with Dan on this? I am a little underwater on handling so many of the papers. I can provide a third opinion if needed.

[2018-11-19 17:59] lizzieinvancouver commented on #189
@AileneKane We have to wait until all the papercheck issues are closed I think...

[2018-11-19 17:59] dbuona commented on #207
this code all looks right to me!

[2018-11-19 18:00] lizzieinvancouver commented on #193
@AileneKane  I have comments written on the paper form that I will try to scan and email you tomorrow (I am in the Okanagan now). Generally it seems much improved!

[2018-11-19 20:45] AileneKane commented on #223
@dbuona @lizzieinvancouver I will take a look at this!

[2018-11-20 16:02] MoralesCastilla commented on #193
@AileneKane
I have pushed my comments to the ms., which btw is looking great Ailene!

[2018-11-21 15:05] AileneKane commented on #223
@dbuona Your interpretation looks correct to me! I the place to incorporate the other.treatment.column is in bb_daily_dataprep.

[2018-11-21 15:13] AileneKane commented on #223
@dbuona i noticed a problem with your code in clean_misc.R. The library for for yday (is it lubridate?) needs to be loaded.

[2018-11-21 15:29] AileneKane commented on #207
great! I think we can close this

[2018-11-21 18:49] lizzieinvancouver opened #227 "find out if we have weinberger studies coded"
@AileneKane @cchambe12 can maybe help ....

[2018-11-21 18:50] lizzieinvancouver opened #228 "get a phylogeny of all species (200 now)"

[2018-11-21 18:56] AileneKane opened #229 "Add linksaloo06 to ambient forcing from dailydata"

[2018-11-21 18:57] #207 closed

[2018-11-21 22:27] lizzieinvancouver opened #230 "add spcomplex without crops"
@cchambe12 These are the three species I see as the main issues, if you have more you're sure are crops feel free to add them:

`cropspp <- c("Actinidia_deliciosa", "Malus_domestica", "Vitis_vinifera")
`

[2018-11-21 22:36] lizzieinvancouver opened #231 "run models"
**Please try to finish your models by noon PDT on 29 November! If you are not done then, please post what you have.**

1. Make an R file similar to models_stan_normal.R
2. Be sure to edit bbstandleadin.R so it produces any form of the data you need (do NOT create a new bbstanleadin.R, just ask it to output what you need)
3. You should run three main types of models as outlined in models_stan_norma

[2018-11-21 22:54] lizzieinvancouver commented on #223
@dbuona You may be able to just use the base commands in R instead of needing to add a package. Check out conversion stuff here https://www.statmethods.net/input/dates.html

[2018-11-28 15:15] MoralesCastilla commented on #228
@lizzieinvancouver
My first stab at getting a phylogeny for the species in ospree is now pushed (49e31d3708cc725a16be5b27013c1cfbb38f139b). It contains 211 species, to encompass as many species as possible from the global dataset. My next step is to prune this tree and produce an `ospree.clean.phylo.tre` with only 200 species.

[2018-11-28 17:47] AileneKane commented on #231
@lizzieinvancouver  Yes, I will help collate CSV files into OSPREE_compare tab as they come in?

[2018-11-28 19:54] AileneKane commented on #231
@lizzieinvancouver I wanted to confirm that we should all use centered data? (use.zscore=TRUE)?

[2018-11-28 21:35] dbuona commented on #231
I was using z.score=TRUE.

[2018-11-29 15:12] cchambe12 commented on #231
Sorry everyone, the no crops code is now uploaded! Please pull from git to get the new code. I won't have models until the end of the day, my potting took a lot longer than anticipated.

[2018-11-29 16:49] dbuona commented on #231
@cchambe12
Hi Cat and all, I am using the data bb.stan.nocrops from bbstanleadin.R that I think you just made.
There are 35 unique species in complex (numbered 1-37, and skipping  complex 5 and 19).
When I run models, they are estimating values for complexes 5 and 19, which as you might guess, are very close to the global means.

Basically from a modeling perspective, is this okay?

[2018-11-29 20:09] cchambe12 commented on #231
@dbuona That seems really weird to me. I'll look into it now.

[2018-11-29 20:20] cchambe12 commented on #231
@dbuona I removed the crops earlier in the code and that seems to fix the issue! Nice catch and sorry about that. Should be all set now

[2018-11-30 03:36] AileneKane commented on #231
Sorry- I will not be able to post the rest of mine until tomorrow! My computer died this morning and it slowed me down considerably.

[2018-11-30 05:49] AileneKane commented on #231
What about using a truncated normal distribution? i think we've talked about this before.
https://discourse.mc-stan.org/t/declaring-constrained-parameters/1539

[2018-12-04 20:05] lizzieinvancouver opened #232 "run some more models (has spp-with-more-data list)"
Run a few models on the most ideal data (which is still not a dream):

(1) Run single species models on the 'great' species with interactions using exp and ramped photo and forcing....
(2) Run all species below with and without study on intercept (partial pooling), no interactions

Great:
Fagus sylvatica
Betula_pubescens
Picea_abies

Okay:
Betula_pendula
Corylus_avellana
Ribes_nigrum
Quercus_robur

[2018-12-05 00:30] lizzieinvancouver opened #233 "pull and clean trait data, as possible"
Trying ...
- BIEN
- TRY
- [ARGON](https://pearselab.github.io/argon/)

[2018-12-05 00:31] lizzieinvancouver commented on #197
Update: Progress ongoing at the 2018 Dec Retreat!

[2018-12-05 22:40] lizzieinvancouver commented on #219
Filing some notes from the big data change we say between July and October 2018....

8 Jun 2018 versus 8 October 2018 ...

chavarria09 (Prunus) -- added photoperiod (was ambient)
falusi96 -- added previously missing photoperiods
guak98 -- added photoperiod (was ambient)
jones12 -- added photoperiod (was ambient)
rinne97 -- added photoperiod (was ambient)
sanperez10 -- added photoperiod (was ambien

[2018-12-05 22:40] #219 closed

[2018-12-06 00:34] lizzieinvancouver commented on #228
Table S2: Chill units in the field before harvest (January 2015), until 1 April and 1 May 2015 at each site, and in growth chamber conditions (including field chilling experienced before cuttings entered the chambers).
 Site
Harvard Forest
St. Hippolyte
Treatment
Field chilling until collection Field chilling to 1 Apr
Field chilling to 1 May
Field chilling + 4.0 àC x 30 d Field chilling + 1.5 àC

[2018-12-06 00:41] lizzieinvancouver commented on #228
@MoralesCastilla We decided it would be best to do models with fixed effects for species using ONLY studies where they manipulated both forcing and photoperiod at once. For this we can also include Flynn experimental data....

Cat (@cchambe12)  added some info on which OSPREE data meet this criteria and I added an ugly format of the Flynn data (sorry); I think I gave all the treatment info you nee

[2018-12-06 00:44] dbuona commented on #230
Cat did it. Closing it! Thanks Cat!!

[2018-12-06 00:44] #230 closed

[2018-12-06 00:45] lizzieinvancouver commented on #228
@MoralesCastilla So next step would be to format the Flynn data so it can be added early in the phylogeny/source/bbstanleadin.phyla.R code, then that code should give you data to work with for the phylogeny!

[2018-12-06 00:45] dbuona commented on #227
Updated a new, more precise script  called weinberger.check.R. Can close this issue pending someone making sure it looks right

[2018-12-06 00:46] dbuona commented on #226
Don't work.

[2018-12-06 00:46] #226 closed

[2018-12-06 01:22] cchambe12 commented on #220
added a new script /bb_analysis/thermovsphotoperiodicity.R with notes.
Partanen01: seems to be the real only example with different forcing temperatures from day and night cycle. Only studies _Picea abies_.

Myking97: may be another example - either has constant forcing or fluctuating forcing but it as little less descriptive.

[2018-12-06 05:31] lizzieinvancouver commented on #228
@MoralesCastilla I chatted with Jonathan and he says ...
(a) You should not fit a model to get estimates of each cue and then look at phylogenetic signal (pagel's lambda) on the cues, instead you should fit a phylogenetic mixed model in BRMS and it will give an equivalent estimate of lambda (I will try to send some papers).
(b) You should use a decent tree, but Jonathan thinks if you have common s

[2018-12-06 06:23] lizzieinvancouver opened #234 "check for new papers"
search Google Scholar and ISI ... but first must find our old search criteria! @cchambe12 @dbuona @AileneKane .... I know I have seen it but can now not find it ...

[2018-12-06 17:33] AileneKane opened #235 "Compare photoperiod effect size for studies with constant forcing vs carying force/photo"

[2018-12-06 19:40] lizzieinvancouver opened #236 "fix goo in studydesignplots.R"

[2018-12-07 05:49] dbuona commented on #236
removed goobers etc.

[2018-12-07 05:49] #236 closed

[2018-12-07 17:32] lizzieinvancouver commented on #231
This was a useful exercise, we've moved on .. see issue #232 and see wiki: comparing models.

[2018-12-07 17:32] #231 closed

[2018-12-07 17:32] lizzieinvancouver commented on #228
Way to go!

[2018-12-07 17:32] #228 closed

[2018-12-07 17:33] lizzieinvancouver commented on #227
see script weinberger.R (weinberger.check.R is now renamed and better than ever!).

[2018-12-07 17:33] #227 closed

[2018-12-07 17:36] cchambe12 commented on #225
renamed to clean_rampedandexpforcing.R, changed in bb_cleanmergeall.R as well.

[2018-12-07 17:36] #225 closed

[2018-12-07 17:39] lizzieinvancouver commented on #221
@MoralesCastilla Graciously offered to work on next steps... clean up photodiag4_EMW.ai ... maybe call it 5?!

[2018-12-07 17:41] lizzieinvancouver commented on #174
@lizzieinvancouver Will get the densities for the PEP725 figure today hopefully.

[2018-12-07 17:42] #220 closed

[2018-12-07 17:42] lizzieinvancouver commented on #217
@cchambe12 will delete some stuff from this code and close.

[2018-12-07 17:43] lizzieinvancouver commented on #199
@lizzieinvancouver Says she will do this ASAP.

[2018-12-07 17:46] lizzieinvancouver commented on #196
We covered this ... in meetings and wrapped up at the retreat. Adding ambient photoperiod is just hot a super idea when you are otherwise working on EXPERIMENTAL photoperiod. Want more evidence of this? Try making your ramped treatments sort of ambient.

[2018-12-07 17:46] #196 closed

[2018-12-07 17:46] lizzieinvancouver commented on #195
@lizzieinvancouver Will update from new retreat work!

[2018-12-07 17:47] lizzieinvancouver commented on #192
Yeah, Ribes is a crop with tons and tons of data on it, with weird treatment. It is now part of the crops list and thus generally excluded (also Vitis, Malus, Kiwi).

[2018-12-07 17:47] #192 closed

[2018-12-07 17:48] lizzieinvancouver commented on #191
@lizzieinvancouver Update this!

[2018-12-07 17:49] lizzieinvancouver commented on #190
@AileneKane Will pick this up.. and work on chilling.

[2018-12-07 17:50] lizzieinvancouver commented on #185
You know, a lot of things. It definitely fits a covar between random slopes and random intercepts, it handles the random effects a little differently than we do but we did not dig in to find out why. So, now we just use Rstan! More coding, more fun!

[2018-12-07 17:50] #185 closed

[2018-12-07 17:51] cchambe12 commented on #217
removed altramped from bbstanleadin and bbdataplease!

[2018-12-07 17:51] #217 closed

[2018-12-07 17:51] lizzieinvancouver commented on #184
@AileneKane Will update notes here and close.

[2018-12-07 17:53] lizzieinvancouver commented on #183
@AileneKane Will update with news models.

[2018-12-07 17:54] lizzieinvancouver commented on #180
@dbuona Make some changes to figure ... change a and b to zoom, make lines thicker etc. and then close. Write a better captions!

[2018-12-07 17:56] lizzieinvancouver commented on #179
@cchambe12 Work on the caption and close.

[2018-12-07 17:57] lizzieinvancouver commented on #171
see #180 we're done here.

[2018-12-07 17:57] #171 closed

[2018-12-07 17:58] lizzieinvancouver commented on #168
@MoralesCastilla Nacho, when you have a time ... can you check this? It would be good to close this issue, but better to make sure the code is doing what we want!

[2018-12-07 17:59] lizzieinvancouver commented on #167
we have tried soooo many things.

[2018-12-07 17:59] #167 closed

[2018-12-07 18:00] lizzieinvancouver commented on #145
Sounds fine.

[2018-12-07 18:00] #145 closed

[2018-12-07 18:00] #130 closed

[2018-12-07 18:01] #128 closed

[2018-12-07 18:04] lizzieinvancouver commented on #127
We've moved on, see so many related issues I can't list them here.

[2018-12-07 18:04] #127 closed

[2018-12-07 18:05] lizzieinvancouver commented on #126
@dbuona Will update soon!

[2018-12-07 18:06] lizzieinvancouver commented on #100
@lizzieinvancouver Double check when these are in the data and close.

[2018-12-07 18:07] lizzieinvancouver commented on #82
speciescomplex deals with this.

[2018-12-07 18:07] #82 closed

[2018-12-07 18:07] #52 closed

[2018-12-07 18:07] #51 closed

[2018-12-07 18:09] lizzieinvancouver commented on #42
This is open until we publish paper, wait 6 months and receive no alarming technical comments. But, we know we have worked very hard on this and we think we have done real good (sic).

[2018-12-07 19:02] lizzieinvancouver opened #237 "Find all methods related to searching the lit"
Do at Weld Hill together in December.

[2018-12-07 19:08] cchambe12 commented on #237
I added a new folder with some files from Dan F and Tim... ospree/notes/litreviewnotes

[2018-12-07 19:43] lizzieinvancouver commented on #237
Great!

[2018-12-07 19:43] #237 closed

[2018-12-07 19:49] lizzieinvancouver commented on #234
@DeirdreLoughnan @DarwinSodhi We just pulled some more notes on our methods, see ospree/notes/litreviewnotes/ and please add a new TXT (use TXT, not doc!) with your updates.

[2018-12-07 19:57] lizzieinvancouver commented on #100
in bb.stan when you have 37 species (no crops, species complex, exp and ramped):
17 rows of laube14b ...
29 rows of worrall67
0 rows fu13 (not used)

So I tried ... bb.stan <- subset(bb.stan, datasetID!="worrall67" & datasetID!="laube14b")
and then recreated the datalist and ran the models. Here's BEFORE I excluded the data:

`List of 7
 $ y    : num [1:1556] 60 60 60 60 60 60 60 60 60 60 ...
 $ c

[2018-12-07 19:57] #100 closed

[2018-12-07 20:10] lizzieinvancouver commented on #191
As part of cross checking all the papers I looked at the PICABI studies and they are weird... Here are some notes:

See also, partanen98 (opposite effects)... these studie shave the species:
`[1] "basler12"   "basler14"   "laube14a"   "partanen01" "partanen98" "zohner16"`

basler14, basler12 shows only very small photo effects (but normal: short delays) so I think the partanen work may drive thing

[2018-12-07 20:10] #191 closed

[2018-12-07 20:21] lizzieinvancouver commented on #195
Updated, but maybe not finalized.

[2018-12-07 20:34] AileneKane commented on #229
After looking again at our bb_daily_dataprep code, it is not designed to deal with linksalo06 and other studies that only do experimental chilling and forcing. (It is designed to deal with studies that do ambient chilling and/or ambient forcing, at least for some period of time). Thus, we do not incorporate the linksalo06 in the daily data.

[2018-12-07 20:34] #229 closed

[2018-12-07 20:34] cchambe12 commented on #224
There were a couple of rows of data that were ramped. I fixed this to follow the new ramped protocol in clean_photoperiod.R. That said, it's a Vitis study, which is currently removed.

[2018-12-07 20:34] #224 closed

[2018-12-07 20:35] AileneKane commented on #201
Thank you everyone! Yay!

[2018-12-07 20:35] #201 closed

[2018-12-07 20:35] AileneKane commented on #189
All done! Thank you everyone!

[2018-12-07 20:35] #189 closed

[2018-12-07 22:33] cchambe12 opened #238 "Determine change in chilling and forcing before and after 1980 using PEP"

[2018-12-07 23:56] dbuona commented on #126
@lizzieinvancouver We think we need to change to data so we can directly compare weinberger to more experimentally derived methods:
we want chilling data excluding "fieldest" but not weinberger and run the models again.

[2018-12-08 02:44] AileneKane commented on #183
I fit our standard model with utah units and with chill portions (with and without crops for each). Here are comparisons:
![image](https://user-images.githubusercontent.com/9097640/49681020-203d0e00-fa50-11e8-8ce2-d9e23acea42e.png)

[2018-12-08 03:19] lizzieinvancouver commented on #183
@AileneKane Thanks! What do the "" without numbers mean for the utah.wcrops?

And what R2 did you use? I am thinking I should perhaps check it for the weinberger models that I am working on ...

[2018-12-08 03:43] lizzieinvancouver commented on #183
@AileneKane No need, I thought as much!

[2018-12-08 03:44] lizzieinvancouver commented on #126
@AileneKane @dbuona So ... the answers we get are pretty sensitive to whether or not we include partial pooling beyond the intercept. See the compare models xlsx we've been using for some updates.

Any ideas on how to check what model is actually better for our data or thoughts most welcome!

[2018-12-08 03:51] AileneKane commented on #184
I abandoned this effort because we opted not to use brms to fit our models, favoring the flexibility of writing our own stan code. We also discovered that a lot of the data imputation we had done for photoperiod and forcing actually led to some model-fitting problems.

[2018-12-08 03:51] #184 closed

[2018-12-08 04:16] AileneKane commented on #126
@lizzieinvancouver I like the idea of looking at R2. @dbuona be aware that when you remove "fieldest" you lose a LARGE number of studies- perhaps half?

[2018-12-08 04:33] lizzieinvancouver commented on #126
@AileneKane We only remove fldest from the non-Weinberger studies. Dan suggested this and I think he is correct; if we do not do this, is it really a good comparison of how weinberger versus experimental chilling works (or, put another way, do we predict/expect a difference between field-chilled and weinberger?).

[2018-12-08 04:37] lizzieinvancouver commented on #126
@AileneKane Also, we do show the difference in the compare models. You lose 200 rows of 1500 when you remove fldest ... and it does have a big effect on forcing. It drives the main effect of forcing down and drives up the force*weinberger effect ... again, we have to think of some ways (visualization?) on what models actually work better. I will try some R2 for now.

[2018-12-08 05:09] AileneKane commented on #126
ah- i see! Sounds good!

[2018-12-08 05:54] lizzieinvancouver commented on #199
Emailed Isabelle.

[2018-12-09 02:20] lizzieinvancouver commented on #126
@AileneKane @dbuona I made a tab in models_bb_compare to look at some of the models ... I think the next steps would be to re-do the plots (see bb_weinberger_mainplots.pdf) with the model output overlaid to understand what is going on.

[2018-12-09 03:53] lizzieinvancouver commented on #174
@MoralesCastilla Okay, I added the data for the density lines to add to limiting cues PEP 725 histograms:

Please add two lines to each histogram -- one for all species and one for the particular species (except for FAGSYL min temps as we have no chilling temp treatments on FAGSYL), here are the files.
- all spp for forcing (max temps), see analyeses/limitingcues/output/cueschilltemo.alldiffs.csv

[2018-12-09 17:38] lizzieinvancouver commented on #234
@DeirdreLoughnan @DarwinSodhi Update the files so no merge conflicts, update the file (lit.rev.notes.Dec2018) on where to put unprocessed papers and put them there (google drive) and then but alert @lizzieinvancouver that the papers are ready.

[2018-12-09 17:43] AileneKane commented on #183
here is the code from ChillR, showing how they estimate chilling with the chilling function:

function (hourtemps = NULL, Start_JDay = 1, End_JDay = 366, THourly = NULL,
    misstolerance = 50)
{
    if (is.null(hourtemps) & !is.null(THourly))
        hourtemps <- THourly
    if ((length(names(hourtemps)) == 2) & ("hourtemps" %in% names(hourtemps))) {
        QC <- hourtemps$QC
        hourtemps <

[2018-12-09 17:46] lizzieinvancouver commented on #183
@AileneKane Change the default in models_stan.R to chill portions.

[2018-12-09 17:48] lizzieinvancouver commented on #183
@AileneKane Fit the basic models and add to bb compare. Spcomplex no crops expramped fp and all species with expramped.fp

[2018-12-09 17:48] AileneKane commented on #183
Add model output to compare document (spcomplex. no crops, all sp with expandrampedfp). give up on exponly.fp.

[2018-12-09 17:49] lizzieinvancouver commented on #183
add to models compare file...

[2018-12-09 18:01] lizzieinvancouver commented on #126
@dbuona Add R2 for all models (there's R2 code in models_stan.R ... could also find other code for this?). And then plot the model estimates and the data!

[2018-12-09 18:46] lizzieinvancouver opened #239 "projections for Europe to plot our results"
@MoralesCastilla
We discussed maybe we should best exploit our budburst results by showing how our estimates affect projections (e.g., we could show projections where we just use forcing in our model versus projections with all three cues) but for this we need daily projections. @cchambe12 thought maybe she or you could help ... I will start by asking Ben Cook which projections we might use and th

[2018-12-09 19:59] lizzieinvancouver commented on #239
I emailed Ben Cook and found this ... https://link.springer.com/chapter/10.1007/978-3-319-14200-5_9

[2018-12-09 20:54] lizzieinvancouver commented on #61
@dbuona @lizzieinvancouver suggest two:
Are we Out of the Woods? https://www.youtube.com/watch?v=JLf9q36UsBk
Modern Love:  https://www.youtube.com/watch?v=HivQqTtiHVw

[2018-12-10 06:29] AileneKane commented on #183
I have added model summaries for crops and no crops (with sp complex and expramp.fp) to bb compare. I will run the not z-scored models tomorrow!

[2018-12-11 20:02] DeirdreLoughnan commented on #234
@DarwinSodhi I updated the file and created a folder in the google drive to upload the new papers to (OSPREE papers-->Papers_2016_2018). Could you upload your papers as well?

[2018-12-12 12:05] MoralesCastilla commented on #221
I have now made a couple 'cleaned' versions of the figure. The bottom right panel still needs work. I'll see what suggestions you guys have later today.

[2018-12-12 12:24] MoralesCastilla commented on #168
@lizzieinvancouver @AileneKane
Ailene, you were right, I had totally missed that line 210. I have now changed it by `d<-d.subsetted` which I think was the original intention. Now, if we input the subset data for Falusi96 it leaves 219 observations (and not 235). This should be ready to be closed, doesn't it?

[2018-12-12 18:41] lizzieinvancouver commented on #197
@AileneKane Will send a couple lines of code for calculating chill portions using mean (and for min and max), then @MoralesCastilla will try to add.

[2018-12-12 18:43] lizzieinvancouver commented on #233
TRY data are 90K lines of data. They do not seem to want to authorship, but we have to cite them and acknowledge that we used that.

[2018-12-12 18:44] lizzieinvancouver commented on #234
@lizzieinvancouver Should check the papers in the folder and write an update!

[2018-12-12 18:56] lizzieinvancouver commented on #126
@dbuona Next steps are to plot the models using the two stan models plotting scripts ... alter the pp plotting script to contrast wein_intpoolonly and weinberger_fewint (lizzie can help if needed!)

[2018-12-12 18:56] AileneKane commented on #183
Because we found better fit with chillportions and because this unit seems to be more stable and recommended (according to ChillR authors), we have switched to using chillportions for our chilling units.

[2018-12-12 18:56] #183 closed

[2018-12-12 18:58] lizzieinvancouver commented on #121
@cchambe12 double-check plots and photoperiod plots and push them (incl. muplot with species). Let everyone know they can look at plots when pushed! (Update this issue.)

[2018-12-12 19:02] lizzieinvancouver commented on #238
@AileneKane @cchambe12 Ailene will send chill portions code, Cat will update data and figures, and update the issue when done!

[2018-12-12 19:03] AileneKane opened #240 "use z-scored and not z-scored model to compare effect of a one degree C increase"
on forcing (and/or chilling) and budburst. Make sure that results are similar across models.

[2018-12-12 19:04] lizzieinvancouver commented on #235
@lizzieinvancouver see thermovsphotoperiodicity.R and decide on next steps!

[2018-12-12 19:15] lizzieinvancouver opened #241 "more plots"
@lizzieinvancouver

Overall, we said we want:
- expramped photo: mu plot of all species, of w/crops; no crops: do non z-scored and z-scored (mostly DONE, see comment on 1 Jan below)
- Tables: of the results with and without study ID; with different chill units (mostly DONE)
- Remember to to think on photo (check out again what ambient does, but generally ignore this as complicated).
- Marginal eff

[2018-12-12 19:19] lizzieinvancouver commented on #121
@cchambe12 Try with non-z-scored data.

[2018-12-12 21:38] lizzieinvancouver commented on #168
@AileneKane And ... can you update all the main BB output code with the new change?

[2018-12-12 23:02] AileneKane commented on #197
@MoralesCastilla @cchambe12 Below is some code to calculate chilling with ChillR, starting with fake climate data that has a Tmin and Tmax (Step 2, using functions in ChillR to create hourly data specific to a latitude) and then with climate data that has just Tmean (not using the ChillR functions to create hourly data, but using ChillR to estimate chliling). For the values that i picked, the two

[2018-12-12 23:59] AileneKane commented on #168
@lizzieinvancouver @MoralesCastilla
When I try to run step 5a of bb_cleanmergeall.R (source("bb_analysis/cleaning/clean_rampedandexpforcing.R" by @cchambe12 i think), I get the following error:
Error in file(filename, "r", encoding = encoding) : cannot open the connection

Do you get this error too? If so, it should be looked into- it does not run for me and I'm not sure why!

[2018-12-13 00:01] AileneKane commented on #168
@MoralesCastilla Otherwise, the falusi issues appears to be solved and I think the bbperctodays code runs fine.
@lizzieinvancouver @cchambe12  I'm hesitant to update all the main BBoutput with this error.

[2018-12-13 01:52] lizzieinvancouver commented on #168
I am not getting that error, here's my code:

`> ## housekeeping

+ } else if
+ (length(grep("Ignacio", getwd()))>0) { setwd("~/GitHub/ospree/analyses")
+ } else if
+ (length(grep("ailene", getwd()))>0) {setwd("/Users/aileneettinger/git/ospree/analyses")
+ } else
+   setwd("~/Documents/git/ospree/analyses")

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    fi

[2018-12-13 01:53] lizzieinvancouver commented on #168
@AileneKane Can you check your paths and that you have the file?

[2018-12-13 05:39] AileneKane commented on #168
@lizzieinvancouver ok- found the problem and fixed it! I have updated ospree_withchill_bb.csv

[2018-12-13 17:52] AileneKane commented on #168
Ok to close now?

[2018-12-13 22:54] lizzieinvancouver commented on #168
@AileneKane Sure! Go for it.

[2018-12-13 22:57] #168 closed

[2018-12-15 01:46] lizzieinvancouver commented on #234
**Of the 13 papers noted, these two would not be included in OSPREE:**

- Zohner et al. 2016 is already included (yay!).
- Sønsteby et al. 2016 is on strawberries, so should technically not be included, but maybe we should since we accidentally included so many strawberry studies?

**Of the rest:**

These focus on crops:
- Anzanello & Biasi 2016 (peach and plum cultivars I believe)
- Anzanello et

[2018-12-15 01:52] lizzieinvancouver commented on #241
Need to work on average predictive comparisons: see [here](https://rdrr.io/github/dchudz/predcomps/#vignettes)

[2018-12-17 19:02] lizzieinvancouver commented on #174
@MoralesCastilla The new figure (Fig1_noblues_densities.png) looks great! I have only one question -- shouldn't the black (assuming black are all species) density lines be the same for Fagus and Betula?

[2018-12-17 19:12] lizzieinvancouver commented on #138
This issue is now superseded by #174

[2018-12-17 19:12] #138 closed

[2018-12-17 19:17] lizzieinvancouver commented on #174
Notes for Lizzie:
- Made in ggplot but nice and multi-paneled: [see here ](https://jcoliver.github.io/learn-r/006-heatmaps.html)
- Some customizations of base f(x): [see here](https://www.r-graph-gallery.com/215-the-heatmap-function/)

[2018-12-17 23:59] lizzieinvancouver commented on #239
See also this recent paper: https://www.sciencedirect.com/science/article/pii/S2405880717300067 which sort of suggests we could use EUOPHORIAS or SPECS.

[2018-12-18 15:03] dbuona commented on #126
@lizzieinvancouver I made some of the above mentioned plots... am not totally sure it is what you had in mind....

The figures are in the figures folder with names like "models_WEIN_compare_pp_chill.pdf", and the modified plotting code is in the bottom of the weinberger.R file. Happy to tweak it as necessary.

[2018-12-21 01:30] AileneKane commented on #180
@dbuona your photocurves figure looks great! Could you add some detail to the legend: 1) Cite the studies included in this figure here in the caption.2) Make the lines in the legend a bit longer, so that you can see the difference between the dashed lines (Tilia?) and solid lines (Betula) 3) Explain that the different lines within same chill treatment are different populations (perhaps adding lati

[2018-12-21 01:54] AileneKane commented on #204
@MoralesCastilla I made some tweaks to this after talking with Lizzie. Thanks so much!

[2018-12-21 01:57] AileneKane commented on #193
I've incorporated changes based on comments from the retreat. I don't think anyone needs to read it again now, unless you're really excited to. I have asked 1 or 2 of you for specific things related to it. otherwise, let's all take a break from it for a bit and focus on the other ospree tasks!

[2018-12-21 01:57] #204 closed

[2018-12-21 01:58] AileneKane commented on #221
@MoralesCastilla I made some tweaks to this after talking with Lizzie. Thanks so much!
I also closed issue #204

[2019-01-01 21:55] lizzieinvancouver commented on #241
Okay, I have added:
- lots of models as needed to models_bb_compare file
- mu plots and compare plots for non-z-scored data (using chill portions)
- mu plots with crops for z-scored, using chill portions we only add 1 species (_Ribes nigrum_) when we add crops so I did not also do the non-z-scored version, but that would be straightforward for someone else to add.

[2019-01-03 17:40] cchambe12 commented on #238
Thanks @AileneKane! I have updated the data and main figure which is now /bb_analysis/PEP_climate/figures/ChillandForce_combo_ports.pdf

[2019-01-03 20:18] lizzieinvancouver commented on #238
@cchambe12 These are so cool! Are they for the same sites across the two time periods?

[2019-01-03 22:48] lizzieinvancouver commented on #239
@AileneKane Tell Lizzie to email Iñaki if we don't find anything.

[2019-01-03 23:16] lizzieinvancouver opened #242 "work on marginal effects for main models"
See also #241 ...
@AileneKane Will work on climate data to estimate how much 1-5 degree warming over spring (Mar-May) and winter (Oct-Feb) months alters mean spring temp (force) and chill portions.
@lizzieinvancouver Will redo her code to work off the posterior.

[2019-01-04 12:15] cchambe12 commented on #238
@lizzieinvancouver Yes the same 15 sites across the two time periods! There isn't necessarily data for each site for each year but most years are represented. But I can parse down to only sites that are represented every year in the two time periods if we think that is better!

[2019-01-04 15:09] cchambe12 commented on #121
Non-z-scored Model Output: 10 divergent transitions, 34 species, 1482 observations

[code]

I added a new figure: analyses/lat_analysis/figures/non_centeredspcom_expramp_fp.pdf

[2019-01-08 23:01] AileneKane commented on #242
I did find this article that forecasted future chilling (and GDH). I haven't found their code or forecasts available online yet, but I have contacted the authors. [https://link.springer.com/article/10.1007/s10584-018-2337-5](url)

[2019-01-09 17:32] lizzieinvancouver commented on #242
Okay, we can also keep moving by using:

1. past climate data (i.e., pull 5 years from one site for a start, or just one year) and add 1 degree of warming to Oct-Feb or Mar-May or Oct-May ....
2. monthly mean projections (Nacho has I suspect)

[2019-01-09 17:41] lizzieinvancouver commented on #121
@cchambe12 We should see where the divergent transitions are happening ... maybe we can use a non-centered parameterization to get rid of them.... Can you check in shinystan using the bivariate plotting featuring and checking EACH sigma values against the log posterior and see if there is any weird behaviour (normal would be a scattershot look with the divergent transitions all over).

[2019-01-09 18:20] AileneKane commented on #221
Ailene will make colors higher contrast, make model x.axis be temperature and forecast x.axis be year

[2019-01-09 18:34] lizzieinvancouver commented on #238
@cchambe12 Compare utah and chill portions for same sites; look at variation across a couple draws of sites ... check code and also add budburst across years (BetPen and FagSyl)

**Some notes:**
Spring temp is Mar-May
Chill months used were: Sep 1 - end of Feb
Avg budburst across sites
Sites are different between Utah and Chill portions (but same sites over time periods)

[2019-01-09 18:42] lizzieinvancouver commented on #121
@cchambe12 Compare utah and chill portions!

[2019-01-09 18:42] lizzieinvancouver opened #243 "update chill x force figure: Utah and Chill portions"

[2019-01-09 18:57] AileneKane commented on #126
@AileneKane will look at the error around species estimates in model with slope and intercept pooling

[2019-01-09 18:57] lizzieinvancouver commented on #126
@dbuona Try model in col G (no fldest from nonwein ... intpool only) with chill versus utahj

[2019-01-09 19:02] lizzieinvancouver commented on #243
Also, could check intpool only model for fc

[2019-01-18 23:46] AileneKane commented on #242
Here is my first attempt at a forecasting plot for one site in germany [https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/tempforecast.pdf](url)
Next: try multiple sites, using coefficients for Betula and Fagus.
@cchambe12 could you point me to BBDOY estimates for  Betula and Faga from PEP data?

[2019-01-23 02:34] lizzieinvancouver commented on #243
Simple linear regression across all data ... force and utah are correlated (slope of -0.07; rsq 0.017) and force and chill are twice as correlated (slope of -1.1; rsq 0.035)

[code]

[2019-01-23 02:39] lizzieinvancouver commented on #243
see also: quick_forcechill_portions.pdf and quick_forcechill_utah.pdf
and
cues.pdf versus chillports.cues.pdf ... compare Pseudotsuga plots (more correlated with chill ports) and Sorbus (more correlated with Utah)

[2019-01-23 18:34] lizzieinvancouver opened #244 "get cold tolerance trait data?"
@MoralesCastilla Will get list from his database @cchambe12 will get a list from Sakai, Larcher & Lenz

[2019-01-23 18:38] cchambe12 commented on #197
@MoralesCastilla  See Chill portions code in ospree/analyses/bb_analysis/PEP_climate/fagsyl_climate_prep.R (you can change it from `Chill_portions' to `Utah_Model' to compare) starting at line 207

[2019-01-23 18:45] lizzieinvancouver commented on #126
@dbuona Add 50% intervals to a couple major model, add note to xlsx file about which models are best, add a species list.

[2019-01-23 18:51] lizzieinvancouver commented on #121
@cchambe12 Write up a paragraph about model results! Whoop!

[2019-01-23 19:16] lizzieinvancouver commented on #238
@cchambe12 Add betpub!

[2019-01-23 19:18] AileneKane commented on #240
We have decided to use z-scored models, and present conversions i plots to facilitate interpretation.

[2019-01-23 19:18] #240 closed

[2019-01-23 20:39] cchambe12 commented on #238
There's no betpub data for Germany!! I'm shocked... and hardly any betpup data in PEP. I'm going to try and find at least one other species that matches well.

[2019-01-24 05:26] #180 closed, assigned to dbuona

[2019-01-24 05:39] AileneKane commented on #179
@cchambe12 These plots look good! I did notice one small thing, in addition to adding more details to the caption: in panel B the symbols for "OSPREE" and current are incorrect. Could you write more detail on how projected ranges  were projected, and how you estimated "expected shifts in phenology" This may be more detail than we would ideally have in a legend, eventually, but it seems like a good

[2019-01-28 20:15] lizzieinvancouver commented on #199
Emailed Isabelle again, see also [this paper](http://esapubs.org/archive/ecol/e090/085/appendix-a.pdf)

[2019-01-28 21:09] lizzieinvancouver commented on #235
I got the bb.stan for SOME of the data using models_stan.R (so this list is NOT exhaustive) then wrote:

[code]

Then I just went study by study ...

**Studies with constant photo:**
falusi03: Photoperiod is always 12 hr
falusi97: Photoperiod is always 12 hr
myking97: Photoperiod is always 12 hr
thielges75: Photoperiod is the same across treatments
webb78: Photoperiod is the same across treatments

[2019-01-28 21:12] lizzieinvancouver commented on #235
Take home message for now ... we should write some code to tease out which studies actually vary BOTH photo and force at the same time, then check them for the main paper. But, overall, it seems hard to say much about teasing out these issues.

**Though can still try to see if the photo x force studies show stronger effects ....**

[2019-02-02 00:15] AileneKane commented on #179
Thanks for doing that, @cchambe12!

[2019-02-02 02:53] lizzieinvancouver commented on #199
From Isabelle:

I am just following up on the below message from December. Ailene is working on a paper on photoperiod, we reference your papers with Caffara a good bit but are still trying to figure if photoperiod plays a role in the PhenoFit models (e.g., publications with Beaubien or Morin). Do you know if those models have photoperiod playing a role in determining budburst or leafout?

Take ca

[2019-02-02 02:53] #199 closed

[2019-02-04 18:06] dbuona commented on #126
@lizzieinvancouver I am suddenly getting identical model output in the weinberger.R  when I switch between chill.portions and Utah. I've been doing this by changing use.chillports=TRUE or FALSE. Is there something else I am supposed to do? Would it matter if use.z= is TRUE or FALSE?

[2019-02-04 19:37] AileneKane commented on #126
@dbuona I have looked at the code and it's because the weinberger code creates its own datalist (wein.data). It does not rely on the datalists generated in bbstanleadin.R. You will need to use "chillport" rather than "chill" if you want to generate your own datalist within the weinberger code. If you want to use centered data, you will need to source  bb_zscorepreds.R as is done in bbstanleadin.R.

[2019-02-04 21:02] dbuona commented on #126
@AileneKane Thanks for looking at this. I think I understand, and will make the changes in the script.  Thanks!

[2019-02-05 15:58] dbuona commented on #235
@lizzieinvancouver I checked laube14a, forcing was not manipulated, but was ramped consistently for all photoperiod treatments.

[2019-02-05 20:22] AileneKane commented on #242
Updates for these model are: [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/tempforecast_bothspp_PEPBB_wdl.pdf),  [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/tempforecast_betpen_minmaxlat_PEPBB.pdf), and [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/tempforecas

[2019-02-05 23:01] lizzieinvancouver opened #245 "Read up on Utah vs. Dynamic models"

[2019-02-06 18:39] lizzieinvancouver commented on #126
@dbuona Check out further the experimental design of non-weinberger studies (for matching species)

[2019-02-06 18:47] AileneKane commented on #235
Ailene will check on the details of treatments for spann04 so we can decide whether or not we should include all the rows with different number.longdays treatments.

[2019-02-07 01:30] lizzieinvancouver commented on #245
@lizzieinvancouver @AileneKane I thought maybe we should do this also for next Thursday...

[2019-02-07 01:33] lizzieinvancouver opened #246 "How best to plot/visualize variation in climate data across space?"
For everyone on the budburst paper: We see variation in how winter versus spring waring affect budburst depends a lot on the local climate data. So how can we deal with this?

1. Change the plots to show more sites?
2. Visualize variation across sites more than across warming amount?
3. Other ideas?

[2019-02-07 20:24] cchambe12 commented on #244
There are a LOT of species listed in Sakai and Larcher. Mostly they are from Japan so I listed any species that may be related to our OSPREE list. LTi = incipient frost damage; LT0 = no damage, damage limit; LT50 = 50% lethality.

Genus | Species | Tmin | min_metric
-- | -- | -- | --
Abies | balsamea | -70 | LT0
Acer | crataegifolium | -25 | LT0 for xylem
Alnus | firma | -25 | LT0 for xylem
Betula

[2019-02-20 02:36] lizzieinvancouver commented on #235
Repeat posts from above so we can get these studies sorted...

* Sanz-Perez09: ONLY 1 row of data, appears forcetemp night is always AMBIENT (@AileneKane Can you check? @cchambe12 Maybe this study has come up?)
* spann04: Needs a double-check, all treatments except number.longdays seem identical (AE entered, @AileneKane Can you check these data as they appear in bb.stan? Seems weird that they are

[2019-02-20 08:27] lizzieinvancouver opened #247 "Request usage of PEP725 data?"
I think we may need to let them know if we're using it for something outside of the originally requested project? I am not sure, but we should check!

[2019-02-20 15:42] cchambe12 commented on #235
Sanz-Perez09: it doesn't specify the nighttime temperatures

[2019-02-25 19:20] dbuona commented on #126
Can't remember what I was supposed to be looking for exactly on this, but I added the chilling treatment information to the weinburger_summaries.xls file.

[2019-02-26 16:59] cchambe12 commented on #235
Sorry caffarra11b somehow slipped by!

It is confusing... looks like they are maintaining a constant forcing temperature of 22C across all photoperiod treatments. There are 4 photoperiods - 10, 12, 14, or 16h.

[2019-02-26 17:14] cchambe12 commented on #247
Looks like we do! I'll reregister now and let them know what we're up to.[ Here](http://www.pep725.eu/data.php) is a link to the PEP725 data use policy here so we have it. Should I put it in the ospree repo at all?

`PEP725 Data Attribution Policy
6) Acknowledgement: The following acknowledgement must be included in either the main text or Acknowledgments section of all publications using PEP725 d

[2019-02-26 17:17] cchambe12 commented on #247
I used the temporalecology@gmail.com address for our registration for anything OSPREE! Not sure where to keep a record on the password and login information... to discuss tomorrow!

[2019-02-27 17:57] AileneKane commented on #235
For spann04: I don't think we need to include all rows, as they are cumulative percent budburst. There are 2 treatments that differ in the length of time that plants received short days (4 weeks or 8 weeks).

[2019-02-27 18:10] AileneKane commented on #235
For Sanzperez09- I don't understand why there is only one row of data for one species. This study included 2 different oaks, with short and long day treatments and different forcing temperatures so i would have thought there would be more rows of data (at least 4 rows per species).

[2019-02-27 19:19] cchambe12 commented on #247
@cchambe12 email PEP725!

[2019-02-27 19:20] cchambe12 commented on #238
@cchambe12 make a boxplot for leafout, look at temp two months before BB and then look at GDD two months before BB

[2019-02-27 19:47] lizzieinvancouver commented on #197
@MoralesCastilla Will update the posted data, then @dbuona will lead efforts on next steps.

[2019-02-27 19:50] lizzieinvancouver commented on #126
@dbuona Pots! Would be good to have some like:
(1) modelscompare.ni.combined.pdf (that is, color coded by species (maybe different symbols for study design?), with the lines plotted on top; fine to use one model and plot two lines: one for non-weinberger studies and one for weinberger studies)
(2) muplotmodelspcomwcrops_expramp... pdf Basically just plot up model estimates!

[2019-02-27 19:51] lizzieinvancouver commented on #244
@DarwinSodhi agreed to transcribe these data in to a CSV file and make a plain text readme file to explain where the data come from (and reference this issue).

[2019-02-27 19:52] lizzieinvancouver commented on #235
@AileneKane The ambient forcetemp_night is in the raw (never cleaned data). Could you triple check the paper then change this (if needed) in clean_misc.R?

[2019-02-27 20:15] lizzieinvancouver opened #248 "Figure out issue in clean_bbperctodays.R"
Working on issue #235 I noticed Sanz-perez09 is being deleted down to one row  in clean_bbperctodays.R (it's otherwise 151 rows). Many more than one of these rows looks like it should survive the clean_bbperctodays.R  but somehow we just end up with one row (and it's oddly low budburst compared to other values in the study). Either I am missing something or something is wrong with this code (clean

[2019-02-27 20:46] lizzieinvancouver commented on #235
I have moved Sanz-perez09 to issue #248

[2019-02-27 21:22] lizzieinvancouver commented on #193
Start with NCC, then GCB, then maybe New Pyht or some plant journal ....

[2019-02-27 23:01] lizzieinvancouver commented on #126
@dbuona I stared at the model summaries more and here are some guesses and what we wanted to look at (or should like):

- Are the amounts of chilling comparable across these w/non-w (plots will do this)?
- Are the amounts of forcing and photo fairly equivalent across w/non-w (again, plotting would do this)?
- Maybe a map of the studies (crude is fine) as w/non-w?

And, hmm, I got nothing on specie

[2019-03-03 04:53] lizzieinvancouver opened #249 "calculate number of interactions per datasetID x study"
We need to count up the number of interactions across:
- photoperiod_day
- force
- chill
- chill days
- field.sample date
On both the BB data for OSPREE and the full OSPREE database (minus woody species). Please take a stab at it!

Since you should always start on a simple example I provide one here for photo x force:

[code]

All welcome to participate in this challenge! Especially @dbuona @ccham

[2019-03-06 21:01] MoralesCastilla commented on #248
@lizzieinvancouver
Lizzie, I've been working on this (see 51a4eebd747fffd6a1b1eea87d0dddda2d7242f6). I have added a script called "clean_bbperctodays_correct.R" to the cleaning folder instead of changing the "clean_bbperctodays.R", because I'd rather have someone having a look at this to make sure it works. Then, I'll introduce the changes to the original file so we only keep one.

This new versio

[2019-03-07 05:14] lizzieinvancouver commented on #248
@MoralesCastilla Thanks! Will look. Can you tell me why only the last row in the code/data I posted above has a dist.50bb value and the rest are all NA? This seems to mean we drop down to just ONE final row in the budburst data which seems odd since we want one row per unique treatment ....

[2019-03-08 18:15] AileneKane commented on #248
I'm looking into this...the "correct" version keeps too many rows. This study has 8 treatments, so 8 should be the final number of rows. However, there should not be so many NAs. I'll keep working on it today.

[2019-03-08 18:47] AileneKane commented on #248
@MoralesCastilla @lizzieinvancouver I think the problem in the original file (clean_bbperctodays.R") was with the following code on line 98:
values.in.target[mindist]
this results in NA for Sanz-perez09(and maybe other studies- i didn't check)
This was changed in the corrected code (clean_bbperctodays_correct.R"), but selecting only the row with the mindist was thrown out (which it should not have

[2019-03-13 17:04] MoralesCastilla commented on #248
@lizzieinvancouver @AileneKane

Thanks Ailene for correcting it. I have been re-checking the code and now the NAs at dbb are solved. I have changed "dist.50bb" to "dist.targbb" as you suggested.

Regarding why we ignore rows with 100 percent budburst, I remember we decided to do that long ago but I don't remember why. I can go through old issues to find out.

[2019-03-13 17:39] lizzieinvancouver commented on #126
@dbuona Nice! Good to add mu plots of all parameters (e.g., muplotmodelspcomwcrops_expramp... pdf). And make plots using the model slopes and intercepts (e..g, modelscompare.ni.combined.pdf). Code for these is in stan models plotting files I believe -- let me know if you cannot find it!

[2019-03-13 19:45] lizzieinvancouver commented on #249
@lizzieinvancouver Needs to follow up on this!

[2019-03-13 19:48] lizzieinvancouver commented on #248
Seems like we're close on this. I checked [issue 81](https://github.com/lizzieinvancouver/ospree/issues/81) and think we do want to delete super high values (>110 I guess) but see no mention of deleting 100% values so we should include those.

@MoralesCastilla Will make changes and let us know! We can check again and re-run models ...

[2019-03-13 19:50] lizzieinvancouver commented on #121
So close! @cchambe12 next steps ...

- Clean up code so only the main models are still obvious (similar to what we have done for main bb models),
- Compare z-score and non-z-score NCP models, same general answeres?
- Update figures (@AileneKane also).

[2019-03-13 19:51] lizzieinvancouver commented on #197
@MoralesCastilla Will expand to 6 species we think we have decent data on...

[2019-03-13 20:01] lizzieinvancouver opened #250 "finalize range hypotheses, and check models"
@MoralesCastilla @AileneKane @DeirdreLoughnan @cchambe12 @DarwinSodhi @dbuona
Please check out [our range page](https://github.com/lizzieinvancouver/ospree/wiki/Ranges) and ...

1. flag any hypotheses you see any issues with
2. add any major hypotheses we are missing (major only! We don't have much data so cannot afford too many hypotheses)
3. see if the models I proposed make sense (if not, comme

[2019-03-14 00:26] AileneKane opened #251 "Lit review of chilling units"
@lizzieinvancouver @AileneKane @dbuona @cchambe12 @MoralesCastilla
I have assigned each of you to read a couple of papers on chilling units. Please read your papers and summarize them in the chillunits.litreview.csv  [spreadsheet](https://github.com/lizzieinvancouver/ospree/blob/master/notes/chillunits.litreview.csv)

You can find the full reference for each paper in the budburst outline [here](ht

[2019-03-14 00:29] AileneKane opened #252 "Lit review of cues and their effects"
@lizzieinvancouver @AileneKane @dbuona @cchambe12 @MoralesCastilla
I have assigned each of you to read a couple of papers on about forcing, chilling, and photoperiod cues. Please read your papers and summarize them in the cue.litreview.csv [spreadsheet](https://github.com/lizzieinvancouver/ospree/blob/master/notes/cue.litreview.csv)

You can find the full reference for each paper in the budburst o

[2019-03-14 00:33] DarwinSodhi commented on #244
@lizzieinvancouver Data + Read me put into trait folder under Ospree_analysis_traits

[2019-03-14 16:30] cchambe12 commented on #249
I can mostly get this to work but I'm coming across an issue.... some datasetIDs are doing multiple things but they aren't broken up by study so I'm not picking up on them in my new code. I've tried making the function run over each `figure.table..if.applicable.` but it makes the function super slow. Does anyone have any other suggestions on how to parse these datasetIDs apart other than study? Ma

[2019-03-14 17:56] cchambe12 commented on #249
Just kidding, I figured out a work around! Works with test data and hopefully with the real data!

[2019-03-18 02:34] lizzieinvancouver commented on #249
@cchambe12 Your code helped me figure out an error in my code (thank you)! I need to look more closely but I think our results almost match now.

[2019-03-18 02:35] lizzieinvancouver commented on #251
@AileneKane @MoralesCastilla @cchambe12 @dbuona
If you have extra notes you want to make, you can also add them [to our wiki here](https://github.com/lizzieinvancouver/ospree/wiki/What's-the-story-with-all-this-chilling%3F)

[2019-03-18 17:15] lizzieinvancouver commented on #248
@MoralesCastilla Have you been able to push new code for this? I want to be able to double-check results ASAP. Thanks!

[2019-03-19 10:43] MoralesCastilla commented on #248
@lizzieinvancouver
I have included a little tweak to not delete anything below 110%. I have:

- moved the old version of `clean_bbperctodays.R` to analyses\bb_analysis\zarchive
- renamed clean_bbperctodays_correct.R as clean_bbperctodays.R

The new version of the code leaves 7653 lines in the data frame.

[2019-03-19 15:50] lizzieinvancouver commented on #248
@MoralesCastilla Fantastic! Thank you!

[2019-03-25 03:16] lizzieinvancouver opened #253 "discuss: covar(slopes, intercepts)"
Should we add covar(intercepts, slopes) to OSPREE models?

[2019-03-25 03:24] lizzieinvancouver commented on #251
@AileneKane Can you add a README or such? I don't recall what all the columns mean:

strength_utah
weak_utah
thresh_utah
strength_chillport
weak_chillport
thresh_chill
species
test_utah_cp
other_notes

[2019-03-25 19:27] AileneKane commented on #251
Great idea, @lizzieinvancouver ! Sorry about the confusion! I have added a readme. Also, here:
chillunits.litreview.csv READ ME
<><><><><><><><><><><><><><>

The goal of this lit review is to summarize differences in how chilling is measured/estimated/quantified and the implications of these differences.

The spreadsheet contains the following columns:
strength_utah= strengths/benefits of using Ut

[2019-03-25 19:45] AileneKane commented on #252
@lizzieinvancouver @AileneKane @dbuona @cchambe12 @MoralesCastilla I should have been a bit more clear about directions for this. Please put the direction of each effect (i.e. negative, positive, ns, or NA if not tested) in the column of each cue. You can also add caveats/interactions in each cue column. the "most.impt" column should list what the authors interpret to be the most important cue.

[2019-03-27 16:09] lizzieinvancouver commented on #244
@DarwinSodhi Nice work! Thanks.

[2019-03-27 16:09] #244 closed

[2019-03-27 16:12] lizzieinvancouver opened #254 "mv traits files to data or input as appropriate"
@DarwinSodhi @DeirdreLoughnan  I just noticed we need to clean up the analyses/traits folder in OSPREE so it follows our lab protocol:

- original data files you receive (or create) go in the data/traits folder.
- from there you can make a copy of files needed for R code and it goes in traits/analyses/input
- all your R files should then be able to move out into analyses/traits (generally)

Thanks

[2019-03-27 16:58] DeirdreLoughnan commented on #254
Thanks for the reminder!
I created a data/trait folder and moved the data files over.

[2019-03-27 17:29] lizzieinvancouver commented on #248
This should be fixed, added maybe 300 rows, re-ran some of the models -- and they look pretty similar.

[2019-03-27 17:29] #248 closed

[2019-03-27 17:38] lizzieinvancouver commented on #250
@MoralesCastilla @lizzieinvancouver @dbuona Take species-level means from posterior for chill and forcing cues ... and then look for basic tests of relationship.... Should get a bigger team working on this at a retreat or such.

[2019-03-27 17:59] lizzieinvancouver commented on #253
@AileneKane ... will plot slopes versus intercepts on centered model.

[2019-03-27 19:23] lizzieinvancouver commented on #247
@cchambe12 Will add a README regarding where the original PEP data live in the ospree/data file (maybe start a pep725 folder?) and also include the info regarding PEP's policy on using their data and a copy of the email she sent them (time and date-stamped) ... then close this issue!

[2019-03-28 22:32] AileneKane commented on #252
@lizzieinvancouver @AileneKane @dbuona @cchambe12 @MoralesCastilla
Please add whether or not the study used the weinberger method (add yes/no to the "wein" column) and also separate our different experiments included in the paper- these should be in different rows and the "study" column should correspond to the experiment in ospree (e.g. "exp1") (@dubuona I split out your caffarra experiments into

[2019-03-28 22:36] AileneKane commented on #251
@lizzieinvancouver @AileneKane @dbuona @cchambe12 @MoralesCastilla please add your chilling units paper to the google driver [here](https://drive.google.com/drive/u/2/folders/1KE3IUhW8RH1vY9XxeOyFq9-5UzIAqHqv)

[2019-04-01 19:28] lizzieinvancouver commented on #252
@AileneKane I am lost on what Caffarra paper you want me to review Caffarra2011(IJB) *is an OSPREE paper.* It's cafferra11a ... @dbuona What paper did you review?

[2019-04-01 19:42] lizzieinvancouver commented on #252
@AileneKane @dbuona ... Okay, I think:
Ailene wanted Dan to do this one `Modelling the timing of Betula pubescens budburst. II. Integrating complex effects of photoperiod into process-based models', which is NOT in OSPREE as best I can tell, but she labelled it cafferra11a, so instead Dan did this one: The ecological significance of phenology in four different tree species: effects of light and te

[2019-04-01 19:49] lizzieinvancouver commented on #252
@AileneKane Me again (sorry)!

Okay, so this paper is actually comparing different models, it is not introducing new experimental data ... so I am not sure it fits in your cue review. The data it uses are in the paper Nacho entered and it also uses some PEP data to help parameterize the models.

That said I think it would be a good paper for your photoperiod review. First it shows: "Firstly, photo

[2019-04-01 21:51] AileneKane commented on #252
@lizzieinvancouver Thank you for pushing ahead and doing it! Will definitely incorporate into photoperiod! I will fix the names in the spreadsheet. thank you!

[2019-04-01 22:01] AileneKane commented on #251
I have added my papers [here](https://drive.google.com/drive/u/2/folders/1KE3IUhW8RH1vY9XxeOyFq9-5UzIAqHqv)

[2019-04-01 22:04] AileneKane commented on #251
@lizzieinvancouver "Also, can you update your README to explain what children units are?" by this do you mean that i should define chill portions and utah units in the readme file?

[2019-04-01 22:30] lizzieinvancouver commented on #251
@AileneKane Ah, I think I just mean a typo ... **Children** portions is chill portions? Maybe then just correct spelling and add chill portions (dyanmic model) at the first mention of chill portions?

[2019-04-02 17:48] AileneKane commented on #251
@lizzieinvancouver got it! this is done!

[2019-04-02 18:56] AileneKane commented on #242
[Here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/bbmod_3dplot_4panels.pdf) is a 4-panel figure showing marginal effects over the range of experimental data for chill portions and utah units, 2d and 3d versions. Looking forward to getting your feedback!

[2019-04-02 19:01] AileneKane commented on #251
@AileneKane @MoralesCastilla @cchambe12 @dbuona
Please put your chilling paper summaries here if you haven't already!

[2019-04-03 17:02] lizzieinvancouver commented on #250
Closing, bounce back to #197 ...

[2019-04-03 17:02] #250 closed

[2019-04-03 17:03] lizzieinvancouver commented on #197
Next steps are some simple models ... [see here](https://github.com/lizzieinvancouver/ospree/wiki/Ranges) : Take species-level means from posterior for chill and forcing cues ... and then look for basic tests of relationship.... Should get a bigger team working on this at a retreat or such.

[2019-04-03 17:04] lizzieinvancouver commented on #238
@cchambe12 Just going through issues and wondering where we're at with this one. Did we do the GDD task above?

[2019-04-03 17:11] lizzieinvancouver commented on #252
@AileneKane I suggest you check answers you've received against notes [here](https://github.com/lizzieinvancouver/ospree/issues/235) and against countintxns code ... for example, only these papers seem to have f x p interactions are:

[code]

So I think the studies that give effects for photo and forcing in one row don't necessarily mean that study manipulated both at once.

[2019-04-07 15:41] cchambe12 commented on #247
I added a new folder to the ospree/data folder and added a README

[2019-04-07 15:41] #247 closed

[2019-04-07 22:37] lizzieinvancouver commented on #247
@cchambe12 Thanks! Can you point me to the README? I can't seem to find it.

[2019-04-08 11:59] cchambe12 commented on #247
@lizzieinvancouver well that's because I saved it in a totally random repo on accident! haha I've now moved it to ospree/data/pep725

[2019-04-09 19:33] dbuona commented on #251
Not sure if people are already aware of this, but I just stumbled across this paper[Problems in standardizing methods for evaluating the chilling requirements for the breaking of dormancy in buds of woody plants](https://journals.ashs.org/hortsci/view/journals/hortsci/38/3/article-p347.pdf) which is a nice short summary of how the chilling models were developed and a bit of a comparison between th

[2019-04-09 20:37] dbuona commented on #197
for brms model: chilling effect size ~ (mean SD of GDD) + (mean SD of chill portions)
Population-Level Effects:
            Estimate Est.Error l-95% CI u-95% CI Eff.Sample Rhat
Intercept        -9.39    9.28   -25.55     9.10       1523   1.00
meanSDchill    0.55    0.39    -0.12       1.34       1224   1.00
meanSDforce  0.00    0.07    -0.16       0.13       1097  1.00

Family Specific Parameters

[2019-04-10 00:23] lizzieinvancouver commented on #251
@dbuona Yes! I agree this seemed super nice. This is the paper I said everyone doing cutting experiments should read and I think it's the best one I have read for us to cite as it states you should not assume the models measure chilling so much as measure a hypothesis or something that stands in okay for chilling, at least when parameterized to a specific plant species.

[2019-04-22 16:47] cchambe12 commented on #238
I have some new plots! [Utah/Portions/GDD/MST](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/PEP_climate/figures/betpen_utahportsgddmat.pdf) and also a [boxplot of leafout](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/PEP_climate/figures/betpen_loboxplot.pdf)

[2019-04-23 01:13] lizzieinvancouver commented on #238
@cchambe12 Nice! Is this for one site? If so, can we add many 10 sites or so as in the other figures (BETPEN_multruns_utah for example) ...

[2019-04-23 12:53] cchambe12 commented on #238
It’s actually 40 sites! And each site is represented for each year. So each
point represents a year and a site.

On Mon, Apr 22, 2019 at 9:13 PM lizzieinvancouver <notifications@github.com>
wrote:

--
PhD Candidate
Harvard University | Arnold Arboretum
Department of Organismic and Evolutionary Biology

[2019-04-25 21:11] AileneKane commented on #242
I think we can close this!

[2019-04-25 21:11] AileneKane commented on #245
We can closet this, yes?

[2019-04-25 21:16] AileneKane commented on #193
Ailene needs to:
1. make paths relative in sweave file
2. incorporate feedback from NOAA presentation
3. Add to supplement
4. Send to friendly reviewers

[2019-04-25 21:57] AileneKane commented on #253
i plotted the intercepts vs slopes from the centered model [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/slopes_v_ints_points.pdf). If you want to see each species' line plotted its [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/slopes_v_ints_lines.pdf).

[2019-04-25 22:32] AileneKane commented on #253
I'm not sure that we need to allow them to be correlated in our model- I'm still learning about this- but I would be curious if it would affect our estimates much (I expect that it would not). I found these articles helpful in thinking about this: http://www.stat.columbia.edu/~gelman/research/published/chung_cov_matrices.pdf, http://jakewestfall.org/misc/SorensenEtAl.pdf, https://mc-stan.org/docs/

[2019-04-26 17:08] #245 closed

[2019-04-26 17:08] #242 closed

[2019-04-26 17:11] lizzieinvancouver commented on #234
I think we should get started on this soon so we can move ahead on traits, ranges and phylogeny this summer (aim to have this ready by end of June or mid-July meeting?). Steps would be:

1. Someone who entered OSPREE data originally would create an empty version of this: https://github.com/lizzieinvancouver/ospree/blob/master/data/ospree.xlsx
2. Divvy up new papers
3. Enter data
4. Clean it!

[2019-04-26 17:12] lizzieinvancouver commented on #238
@cchambe12 Cool! I think we don't want to fit a line across all years x sites though ... could you fit the lines by site? Thanks!

[2019-04-26 17:19] AileneKane commented on #246
[Here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/forecasting/forecastbetpenPEPBB_mapwgradient.pdf) is a heat map showing change in budburst across a subset of sites (still waiting for chilling estimates to finish for full range of betpen in PEP)

[2019-04-26 17:47] AileneKane commented on #252
@AileneKane will write a summary of these plus the nonospree papers we reviewed on the [wiki.](https://github.com/lizzieinvancouver/ospree/wiki/Interacting-Cues)

[2019-04-26 18:26] lizzieinvancouver commented on #238
Cat subsets to sites with all years (84 sites): 1950-1960 and 2000-2010 ...
Ailene requests a table (or one table per variable) with each site x year's value:
- MST
- chill portions
- budburst
- mean winter temp

[2019-04-26 19:36] AileneKane commented on #253
@AileneKane will fit models in rstanarm (and maybe brms) and read about their approach to covar(slopes,ints) to see how model estimates change with this included.

[2019-04-30 21:25] cchambe12 commented on #238
I have made a new plot with updated GDD...

-  [Portions, GDD, and MAT](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/PEP_climate/figures/betpen_multruns_portsgddmat.pdf)

And @AileneKane, you can find a .csv file with all of the above information [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/PEP_climate/output/betpen_allchillsan

[2019-05-06 15:47] AileneKane commented on #253
I compared our stan model with utah and centered predictors to rstanarm and brms models: chilling is a bit higher for our stan model than the other two, but otherwise they are all quite similar.
![image](https://user-images.githubusercontent.com/9097640/57236832-ba42bb80-6fda-11e9-924a-db90581feae3.png)
code is here: https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/mode

[2019-05-07 23:04] lizzieinvancouver commented on #253
Cool! I feel like we could close this if you want?

[2019-05-10 20:48] AileneKane commented on #243
Relatedly, I hate to reopen an issue, but I think we had decided to use the Chill Portions model in the main text, with utah in the supp but I'm wondering if we should switch these around. My reasoning is that, atleast for the nonz model, the chill portions model has 2 species estimates that are positive (this is weird, and diverges from the findings of the original papers from which we took the p

[2019-05-13 22:37] AileneKane commented on #249
Is this now done @lizzieinvancouver ?

[2019-05-23 00:27] lizzieinvancouver commented on #238
@cchambe12
Hi Cat! I have been using your PEP data to refine and compare my sims, and I have a couple request (sorry, I know this is unending) ....
(1) Could you add a REAME to PEP_climate (especially explaining output folder)?
(2) Could you add a spring temp column? It could just be the two months around mean LO (that would be fine) ... I realized I need it based on how I do my sims I think.
Than

[2019-05-23 14:18] cchambe12 commented on #238
@lizzieinvancouver - no problem!
I have cleaned up the repo a lot and removed unnecessary files and I have also added a readme '_pepclimateREADME.txt' to the PEP_climate folder.

I have a spring temp column which is under /output/betpen_allchillsandgdd_45sites_mat.csv under the 'mat' column (can find further details in the readme)

[2019-05-26 18:48] lizzieinvancouver commented on #249
@AileneKane Yes, I just need to set up a way to make sure the code uses what *you* use for the OSPREE manuscript ... I think you say there are 74 studies or such in the main text, can you tell me how to get that number (I assume it is a certain set of flags in models_stan or such) and I will update my code and put the numbers in the main ms file ... thanks!

[2019-05-26 18:51] lizzieinvancouver commented on #238
@cchambe12 Nice! Can you just also add a pointer to the data file for people wondering where the data could be found? After that I sort of think we could close this, but we should ask @AileneKane ...

[2019-05-26 18:53] lizzieinvancouver opened #255 "finish pep sims"
I need to:
(1) check var versus SD in both files (the sims and the pep climate)
(2) add SE to % estimates
(3) Make sure diffs are taken the same way across the files (the sims and the pep climate)

[2019-05-26 18:56] lizzieinvancouver opened #256 "help me with the treatment heat maps!"
@cchambe12 @MoralesCastilla @dbuona @AileneKane

I need help finishing my heatmaps. Specifically I need help to:
(1) Adjust the font size and spacing on axes, plot titles etc.
(2) Figure out how to change the label on the color bars.

The code is [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/studydesignplotsbb.R) and the problematic figure is [here](https://gi

[2019-05-27 12:06] cchambe12 commented on #238
Updated! @AileneKane can I close this?

[2019-05-27 18:13] cchambe12 commented on #256
I'm happy to take a stab at this! I'll work on it tomorrow and pass along my final touches to see if anyone wants to take over after that.

[2019-05-27 23:05] lizzieinvancouver commented on #256
@cchambe12 Awesome! Thank you!

[2019-05-28 17:09] cchambe12 commented on #256
@lizzieinvancouver I worked on the heatmaps. I wasn't sure how you wanted to label the legends and if I adjusted as you wanted but I would be more than happy to keep working on it if you have other tweaks in mind.

[2019-06-05 17:19] AileneKane opened #257 "Ask Tim and Dan F to write up search criteria and identifying studies"

[2019-06-05 17:21] AileneKane opened #258 "Add model equation to budburst supplemental"

[2019-06-05 17:24] AileneKane opened #259 "Email Title ideas to Ailene"

[2019-06-05 17:24] AileneKane opened #260 "Add details on species complex to supplement"

[2019-06-05 17:31] AileneKane opened #261 "Make map of OSPREE study locations"

[2019-06-05 17:34] AileneKane opened #262 "Improve Ailene's start on a map of forecasted changes in budburst and chilling"

[2019-06-05 17:35] AileneKane commented on #262
current code is here: https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/forecasting/forecast_heatmaps.R

[2019-06-05 17:44] AileneKane opened #263 "Make plots of experimental versus field chilling and mean winter temperature"

[2019-06-05 17:45] AileneKane opened #264 "Plot chilling versus amount of warming for 4 betpen/fagsyl sites"

[2019-06-05 18:02] lizzieinvancouver commented on #256
@cchambe12
(1) Make 1 row, 3 columns.
(2) Make axes test much bigger.
@lizzieinvancouver
Check what we did with NAs!

[2019-06-05 18:13] lizzieinvancouver commented on #262
@Morales Can you make it look like Figure 3 from our NCC wine paper from 2018 (where you show the elevation a little)?

[2019-06-05 18:13] lizzieinvancouver commented on #262
@MoralesCastilla  Can you make it look like Figure 3 from our NCC wine paper from 2018 (where you show the elevation a little)?

[2019-06-05 18:18] lizzieinvancouver opened #265 "new latitude figure"
@AileneKane
To show photoperiod x latitude effects ... try FagSyl and maybe just show both winter and spring warming ... with and without photoperiod added to model.

[2019-06-05 18:19] lizzieinvancouver commented on #126
@dbuona
(1) Switch to Utah units
(2) Write up weinberger

[2019-06-05 18:25] lizzieinvancouver opened #266 "check versus non-linear model"
@lizzieinvancouver Will find old non-linear code and pass to @dbuona to run/work on (this is hopefully supp material).

[2019-06-05 18:43] lizzieinvancouver opened #267 "Update numbers for species/studies etc. for budburst ms"
@AileneKane Figure out another (more species model) to also report in supp and then put the flags for this (versus the main model) and the species and study numbers you're getting here for @MoralesCastilla @lizzieinvancouver tasks!

[2019-06-05 19:51] cchambe12 commented on #256
@lizzieinvancouver I fixed #1 & #2, let me know if you want any further tweaks!

[2019-06-05 23:21] AileneKane commented on #249
here is a code snippet used to get the numbers in the manuscript (I may not have fully updated all parts of the manuscript but will shortly!):
https://github.com/lizzieinvancouver/ospree/blob/master/notes/snippet_for_ns.R

[2019-06-06 00:58] lizzieinvancouver commented on #234
@DarwinSodhi @DeirdreLoughnan will check again!

[2019-06-06 01:00] lizzieinvancouver opened #268 "prep to enter new papers"
@cchambe12 will work up new excel file (Lizzie can review), @dbuona will work up how-to doc (Cat and Lizzie will review) and then @lizzieinvancouver will assign new papers (see also #234 ).

[2019-06-06 16:48] MoralesCastilla commented on #262
@AileneKane

Ailene, in line 31 of the script `forecast_heatmaps.R`:

spests <- read.csv("..//output/betpen_for3dplot/betpen.forecast.forheatmap.csv", header=TRUE)

However, I can't find that file. Could you please push it again or re-direct me to that file (or its replacement?). Thank you!!

[2019-06-06 17:05] AileneKane opened #269 "Ailene and Cat coordinate climate and PEP data used"
underlying data should be the same. Ailene uses a wider range of sites. Differences summarized here: https://docs.google.com/spreadsheets/d/1MXhI_82W3AC81sSdoUZFvB3CRn483aqYkGaGC9MBk5o/edit#gid=0

[2019-06-06 17:39] AileneKane commented on #262
I added the file! Sorry about that! I'm still updating it to include more points.  Let me know if you have questions about the code!

[2019-06-06 20:12] AileneKane commented on #267
the snippet of code i use to get numbers of species, studies, and experiments is [here](https://github.com/lizzieinvancouver/ospree/blob/master/notes/snippet_for_ns.R)
to get the highest number of species and studies, I modified the main model flags to include crops and all species with the following flags:
use.chillports = FALSE
use.zscore = FALSE
use.allspp = TRUE#for the main model this is fals

[2019-06-06 21:25] lizzieinvancouver commented on #266
@MoralesCastilla
Check out: nointer_2level_interceptonly_sigmoid.stan and models_stan_supp.R ... let us know how it goes!

[2019-06-06 21:25] AileneKane commented on #269
We discovered that cat was using mean temps to calculate chilling whereas i was using min and max temps (as we had done for main model). we were also using different versions of the EOBs data (though this likely had less of an effect). Cat will switch to using the tmin/tmax approach and update her files and figures.

[2019-06-06 21:26] lizzieinvancouver commented on #269
@cchambe12 @AileneKane Awesome work! @cchambe12 ping me when things are updated and I will update my PEP sims code....

[2019-06-06 21:26] AileneKane commented on #267
I believe this can be closed, if everyone agrees with the flags I used...

[2019-06-07 07:48] lizzieinvancouver commented on #256
@cchambe12 Awesome! But, I am missing it somehow ... can you point me to the new figure?

[2019-06-07 07:49] lizzieinvancouver commented on #267
@AileneKane Okay, so we'll report the model that comes from these flags in the supp?

[2019-06-07 07:50] lizzieinvancouver commented on #258
I did this, could someone volunteer to check for the current recommended ways to reference Stan and update the bib file for that and R? Also, @AileneKane I left in some XX around the equations we should fill in.

[2019-06-07 12:28] cchambe12 commented on #256
@lizzieinvancouver I should've added a link! [Here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/figures/studydesign_heat3panel.pdf) ya go!

[2019-06-07 21:33] AileneKane commented on #267
Yes- I will add this to the supp. could be zscored or not i suppose.

[2019-06-10 07:00] DeirdreLoughnan commented on #234
I checked for new papers in WOS and created a new notes document with the number of search results for each combination of search terms. I found one additional paper and added it to the OSPREE papers folder.

[2019-06-10 15:21] AileneKane commented on #263
Code for this is [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/exp_vs_field_chill.R); Figure is [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/figures/exp_vs_field_chill_withwarming.pdf)

[2019-06-11 14:13] dbuona commented on #126
The estimates seem to have changed since weinberger_modelsummaries.xls was made. In that doc,  with Utah units, weinber studies had stronger chilling and photo effect and weaker forcing. Now it is the opposite. I'm going to take an nap and then run the model again to double check the it was I did all the flagging right.  It's possible the data changed, but the it is running on the same number of r

[2019-06-12 13:54] MoralesCastilla commented on #261
I have made a first attempt at it (see 9382b4da20b333484b576bd8da437f8431c9df02)... not super happy about it yet, so any suggestions are welcome (make the points smaller? use other color scheme? add species symbols and colors according to other figures in the ms.?)

[2019-06-12 13:59] MoralesCastilla commented on #262
@AileneKane
I've given a first shot at mapping the forecasts (88b56900c5cf1e7f2e89136f745f65698f69e1c8). Still need to work on it more because I have added the topography through R, and I don't love the hillShade. I could add the topography to other surrounding countries, but the topography for Germany (which is pretty flat BTW) and Austria is going to be almost fully covered by points, regardless

[2019-06-12 14:45] cchambe12 commented on #268
I have loaded a new empty dataframe in ospree/data/ospree_newpapers.xlsx. I will work on adding in the papers Deirdre and Darwin found into the 'source' sheet. There were no columns that were never filled so I left all columns from the original ospree.xlsx sheet.

[2019-06-12 15:29] cchambe12 commented on #268
Alright all set! All papers have been added to the source tab

[2019-06-12 18:23] AileneKane commented on #126
@dbuona Thanks for getting to this! I am not surprised as, even though the data has not changed since you last ran the model, I remember we had to fix some flags that were incorrect as well as the order that the centering was done in in bbstanleadin, so one of those things likely altered the data that were read into the model. I would trust your new numbers, although it is always a good idea to do

[2019-06-12 18:49] AileneKane commented on #259
Below is a list of title ideas received so far (requirements are  96 chars including spaces (Science, 90 for Nature):

1. Cold winters cue temperate trees, but more so in growth-chamber experiments (char: 75)

2. Cold winters cue temperate trees, but more so in experiments (60)

3. Cold winters cue temperate trees more than warmth and daylength, in experiments (79)

4. Chilling cue temperate trees

[2019-06-12 19:01] AileneKane commented on #126
@dbuona After further thought- it would be good to double check all the flags in the sourced files to make sure that they are selecting the correct data for the weinberger studies. Could you do this, Dan?

[2019-06-12 22:18] AileneKane commented on #262
@MoralesCastilla This looks great! and SO MUCH better than mine! Thank you! There are a few little things I'd suggest:
1. I updated the betpen_for3dplot/betpen.forecast.forheatmap.csv file to include more lat/longs.
2. If it doesn't look too weird (too wide), I'd like it to be just 2 rows- one for chilling, and one for budburst. It would make it easier to compare the chilling changes to the budbur

[2019-06-12 22:23] AileneKane commented on #261
@MoralesCastilla Awesome! Thank you! Looks great! I think it would be good to make the points slightly smaller. Also, if we want people to be able to patch up the point with the name, then i think we will need to add more contrasting colors or different shapes. perhaps we can make them shapes based on their chilling treatment method (weinberger vs experimental chilling)? or different shapes based

[2019-06-12 22:26] #253 closed

[2019-06-12 22:28] AileneKane commented on #238
Yes @cchambe12 we can close this i think.

[2019-06-12 22:29] #179 closed

[2019-06-12 22:30] AileneKane commented on #193
Sent to Heather Kharouba!

[2019-06-12 22:30] #193 closed

[2019-06-12 22:32] #221 closed

[2019-06-13 01:31] dbuona commented on #126
@AileneKane  I'll give it a look tomorrow

[2019-06-13 12:11] MoralesCastilla commented on #261
@AileneKane
new versions ready see (6573fa70ff53a6dc69079f96d8e329a233989a16), haven't applied different symbols yet, do you think we need that?

[2019-06-13 12:13] MoralesCastilla commented on #262
@AileneKane
new version ready (6573fa70ff53a6dc69079f96d8e329a233989a16). I've tried to follow your suggestions and it looks better now (I think). I'm happy to hear more recommendations.

[2019-06-14 09:32] lizzieinvancouver commented on #259
@AileneKane We should be careful to not be too close to other titles (e.g., Laude 'Chilling outweighs photoperiod in preventing precocious spring development') so may want to google titles before we pick top ones.

[2019-06-14 14:59] dbuona commented on #126
@AileneKane I think there is a flagging issue, perhaps because I resource bb.zscorepred after making the weinberger columns. Basically if I flag use.chillports=TRUE I get a different model output than when it is false even though I am running the model on utah units in all cases. The discrepancies are listed in the excel file weinberger_modelsummaries.xls. Could you take a look the weinberger.R co

[2019-06-14 17:59] AileneKane commented on #262
@MoralesCastilla I love it!!! could you tell me how many sites are included on this map? I was having some discrepancies and problems getting all the lat/longs in the file and want to check that they all made it in.

[2019-06-14 18:06] AileneKane commented on #261
@MoralesCastilla Awesome! Thank you so much! It looks great! I think we will want to use different symbols, but we should discuss how to decide on their symbols. I will think on it as I work on the revised draft and would like to talk it over with @lizzieinvancouver, @dbuona, and @cchambe12 too.

[2019-06-14 21:34] AileneKane commented on #126
@dbuona I added some code to select the chil.lportions.z column instead of utah ("chill.z") units in the weinberger.R code.
The problem that i ran into with the code is that bb.stan.alt.wein and bb.stan.alt.exponly.wein are used but not defined in the code so i wasn't able to create the following:
bb.stan.alt.matchsp
bb.stan.alt.exponly

I did run the model with bb.stan.alt and got:
![image](https

[2019-06-15 16:04] lizzieinvancouver commented on #261
@MoralesCastilla @AileneKane I think they look great! One thing I think we should do before we switch symbols (which we may need to do for clarity) is subset to the largest dataset we'll actually use in the paper. @MoralesCastilla Can you make sure you subset down to flags [we use here](https://github.com/lizzieinvancouver/ospree/blob/master/notes/snippet_for_ns.R)?

[2019-06-15 16:05] lizzieinvancouver commented on #262
@MoralesCastilla Just adding that I think it looks amazing -- thank you!

[2019-06-15 16:45] lizzieinvancouver commented on #238
@cchambe12 Sorry! I realized I need a few new things and/or some clarification:

(1) We discussed GDD from Jan 1 to date of leafout (so adjusted for **each** site and year). The README suggests that we do not (or maybe do) have this, can we add it and/or clarify the README (so it mentions all files)?
(2) I also requested 'a spring temp column? It could just be the two months around mean LO (that w

[2019-06-16 21:06] dbuona commented on #126
@AileneKane ahh, I must have deleted some lines when I was cleaning up the code. I added them back and now the script runs as it should. I just re=ran the model and updated the manuscript accordingly, but it is probably worth giving it one more  glance if that's not too much trouble. Thanks!

[2019-06-17 10:34] MoralesCastilla commented on #262
@AileneKane
Ailene, I've been checking and there are 3072 sites included in these maps. Let me know if that is ok and/or if I need to re-do the maps. Thanks!

[2019-06-17 17:14] AileneKane commented on #262
@MoralesCastilla Great! The only thing that I'd love to have added now is a points for the 2 sites that are used to showcase budburst responses  to chilling and forcing with warming for Betula in 3d plots. If you could add black symbols (or something that shows up on top of the different colored dots you've already mapped) so that readers can see where the 3d plots are from. The two sites are: lat

[2019-06-17 17:16] AileneKane commented on #126
@dbuona I will try to look at them today!

[2019-06-17 17:54] cchambe12 commented on #238
@lizzieinvancouver Sorry my README was out of date, I should have double checked this before closing.

1) So to better match Ailene's work, I changed the GDDs from March 1st until day of leaf out (for each site and year). Ailene calculates Chilling from Sept 1-May 1 and Forcing from March 1 - May 1. Would you prefer I use Jan 1 until leafout for GDD?
2) And yes no problem! Just to clarify.. I shou

[2019-06-18 01:45] dbuona commented on #268
@cchambe12 @lizzieinvancouver I started a Rnw and pdf file in ospree/notes/howtoscrape/howtoscrapejune2019. I am not sure that my synthesis is very helpful, as the only data I ever entered in ospree is Zohner which was not scraped from a paper.

It seems like at some point Tim created screen shot videos about how to use Image J for scraping, but the links from howtoscrape_withnotes.pdf are broken.

[2019-06-18 18:56] AileneKane commented on #126
@dbuona the code looks ok. Could you add a weinberger figure plus legend to the supplement and update the text with these results?

[2019-06-18 19:14] cchambe12 commented on #238
@lizzieinvancouver I have updated the README and I have added new code and output files for your pepsims! I changed the dates to match what you mention above.

output/betpenallchillandgdds_45sites_mat_tntx_forsims.csv

mat.lo: is the mean spring temperature 30 days prior to leafout
mat: is mean spring temperature from Jan 1st until leafout

I am happy to adjust dates as you need them! If you'd rat

[2019-06-19 13:45] cchambe12 commented on #268
@dbuona I added a video from Tim that I found in the W drive, I think it's the same as the broken link and it seems very helpful. I put it in the same folder... notes/howtoscrape/Data Scraping Tutorial.mp4.

I modified your .Rnw slightly and compiled a new pdf. I copied pieces from the howtoscrape.txt that Lizzie made in 2017. And I think we should add a note about the difference between response

[2019-06-19 18:15] lizzieinvancouver commented on #238
@cchambe12 Thanks Cat! I think you've done what I wanted so I will try to work on it soon. And just to confirm there are only 45 sites all sites that have leafout data for Betula pendula for 1950-1960 and 2000-2010?

[2019-06-19 18:22] cchambe12 commented on #238
@lizzieinvancouver yup! There are only the 45 sites that have leafout data for all 20 years.

[2019-06-21 14:21] dbuona commented on #126
@AileneKane I switched the weinberger figure to be a mu plot to be consistent with the other two supplemental model figures. I also started writing the model, but its not in the correct for yet.

[2019-06-21 16:33] AileneKane commented on #126
@dbuona thanks! I'm happy to help work on the model too- let me know!

[2019-06-21 16:37] AileneKane opened #270 "check cp z model and bbstandleadin"
@lizzieinvancouver @cchambe12 @dbuona @MoralesCastilla Could someone run the chill portions z model and check the mu_sp_ests? In making the model table for the [supp](https://github.com/lizzieinvancouver/ospree/blob/master/docs/budburst/budburst_supp.pdf) I noticed that the cp.z model has chill estimate that is smaller than forcing and photoperiod. seems odd to me and i didn't remember that from e

[2019-06-23 20:19] lizzieinvancouver commented on #270
@AileneKane

I did these flags:

[code]

and got this:

      mu_a_sp mu_b_force_sp mu_b_photo_sp mu_b_chill_sp
    29.955191     -4.368213     -3.152990     -8.856283

Am I looking at the wrong thing? Let me know, I am happy to take a look.

I did notice one weird thing though ... if you use the flag use.zscore = TRUE you get 37 spp and 1729 rows, but as FALSE it's 41 species and 2129 rows. That

[2019-06-24 17:28] lizzieinvancouver opened #271 "papers for Lizzie to review"
Asse 2018: Warmer winters reduce the advance of tree spring phenology induced by warmer springs in the Alps
—> Thermal sum problem in part of paper

Clark 2014: The seasonal timing of warming that controls onset of the growing season
—> Another possible issue, but not ours (Check also for variance)

Wang 2014: The influence of local spring temperature variance on temperature sensitivity of spring

[2019-06-24 19:56] lizzieinvancouver commented on #268
@dbuona I have access to the 'how to scrape link' ... here's what's included:

To to W: drive > WeldShare > Wolkovich Lab > Budburst Review > meta_analysis_labmembers > your folder

In your folder, you'll find a zip file for ImageJ; install this. Add the Figure_Calibration.class, which will help for giving x and y calibrations to images.

You each have an Excel workbook to add data to. Tim and I w

[2019-06-24 20:05] lizzieinvancouver commented on #268
@cchambe12 @dbuona Thanks for your work on this! I have now:
- changed the name of the xlsx (because what is 'new' could change)
- added the info from the link, you should review the files I uploaded as they have A LOT of questions and answers I did not post above that are relevant
@dbuona Can you review the new files and update yours? And change as Cat requested (I believe she is correct unless y

[2019-06-25 01:25] lizzieinvancouver opened #272 "Adjust caption for PhenoFit in photoperiod paper"
@cchambe12 Can you add info on how we calculated budburst date from OSPREE data to the PhenoFit/OSPREE figure in the photoperiod paper.

Also, @cchambe12  and @AileneKane I asked Isabelle about the figure and she seemed fine with it but felt we could make the point of what we are trying to get the reader to see clearer.

[2019-06-25 20:22] MoralesCastilla commented on #262
@AileneKane
Hi Ailene, I guess we'll need to discuss about Sarah's suggestion to include this figure in the main text including a third line for GDD. If/when we decide to go for it, I will prepare a final version including the 3d plots locations.

[2019-06-25 20:40] AileneKane commented on #272
@lizzieinvancouver thank you for checking with her! That's good news and helpful feedback!

[2019-06-26 15:58] lizzieinvancouver opened #273 "3D figures debate"
@AileneKane Jonathan suggested you could make your 3D figures 2D as heatmaps: spring warming on X or Y, winter warming on X or Y and days to buburst as color. I think we *should* have alternative figures of some sort in the supp... but I am still pretty pro-the 3D figures for various reasons we can discuss more in the coming days.

[2019-06-26 22:42] cchambe12 commented on #266
@dbuona @MoralesCastilla we're curious if either of you have any updates on the nonlinear model?

[2019-06-26 23:11] AileneKane commented on #261
@MoralesCastilla Thank you again for your work on this map- it looks great! I have a few requests:

1. Please make sure that it is only showing the sites included in the bb_analysis. We can include the maximum number of studies of any budburst model, which is the all species model with the following flags:
## set up the flags
use.chillports = FALSE
use.zscore = FALSE
use.allspp =TRUE # for the mai

[2019-06-26 23:25] AileneKane commented on #261
@MoralesCastilla To do Item 3 you can use the studytype_withBB.csv table. Studies that have manipulated chilling will have >1 in the "chill" OR "chilltime" columns OR have 1 in the "wein" column. Let me know if you have questions!

[2019-06-27 00:18] lizzieinvancouver commented on #270
Reviewed, this seems fine ... and we fixed the z-score error!

[2019-06-27 00:18] #270 closed

[2019-06-27 00:19] lizzieinvancouver commented on #257
see notes/earlywriting/budreview for this info

[2019-06-27 00:19] #257 closed

[2019-06-27 02:52] lizzieinvancouver opened #274 "heide05 exp2"
I think the treatment with 9 forcetemp_night and 21 forcetemp may be incorrectly entered. Need to double check ...

[2019-06-27 14:16] dbuona commented on #266
Sorry, I forgot about this. I'm running the nonlinear model now

[2019-06-27 14:48] lizzieinvancouver commented on #261
@AileneKane @MoralesCastilla  As of yesterday afternoon you can just use analyses/output/bbstan_allsppmodel_utahzscore_wcrops_allfp_allchill.csv for the all spp model or the simply:
[code]
in models_stan.R

For the main text model:
bbstan_mainmodel_utah_allsppwcrops_allfp_allchill.csv
[code]

[2019-06-27 15:02] lizzieinvancouver commented on #266
@dbuona Thanks! Could you check the rsq? And then plot the parameters for chill? You can set up a fake set of chilling by making a vector from low to high chill values in small increments and then calculate Y (using the equation in Stan) -- you can then plot Y versus X...

`fakechill <- seq(from=0, to=1000, by=0.1)
`

[2019-06-27 16:25] AileneKane commented on #259
**Top contenders**
Chilling dominates phenological responses to warming in experiments but not natural systems (90)
Chilling dominates spring phenological responses (48)
Strong chilling, forcing and daylength cues are prevalent across woody species (78)
Chilling drives spring phenology across experiments and complicates forecasting (79)
Winter temperatures dominate spring phenological responses (4

[2019-06-27 17:13] lizzieinvancouver commented on #246
Done! See issue #262

[2019-06-27 17:13] #246 closed

[2019-06-27 18:46] cchambe12 commented on #268
@dbuona to add relevant links for folks to reference when inputting data
@cchambe12 to go through .xlsx and find extra mp4

Then... bounces to @lizzieinvancouver to check through and assign papers

[2019-06-27 18:51] lizzieinvancouver commented on #274
False alarm! This seems okay, but the paper is really confusing (go Tim!). Here's the relevant quote:

[2019-06-27 18:51] #274 closed

[2019-06-27 18:54] lizzieinvancouver commented on #273
@AileneKane Add to supp ... Put in old-style 2D figures (spring-only, winter-only, both warming but clean up):

- remove titles
- add site info and daylength to caption
- remove param estimates
- keep 50% intervals
- add degree symbol
-Days to budburst (not BB)
- make sure legend on only one panel

[2019-06-27 18:59] lizzieinvancouver commented on #269
We discussed how we calculate chill (1 Sept to 30 April and force is 1 March to 30 April) and we feel okay with this.

[2019-06-27 18:59] #269 closed

[2019-06-27 19:02] lizzieinvancouver opened #275 "Better define our chill models"
In supp, say we used chill R and positive Utah and Dynamic Chill  ... and give brief overview of how this works (high temps can remove accumulated chilling in that season, chilling is generally higher above X and below y) and add refs within chill R if possible. (Ailene says she has article.)

[2019-06-27 19:05] lizzieinvancouver commented on #265
In supp now, tweak:

- remove titles
- bigger fonts
- BB to budburst
- add degree sign
- change colors
- be sure to define both warming
- check intervals are 50%
- in caption reference mu_plot figure

[2019-06-27 19:09] lizzieinvancouver commented on #264
- fix degree sign (look at it with Lizzie)
- increase height and check it increase y axis labels
- increase font
- add lat long to caption and cross-reference main text figure

[2019-06-27 19:09] lizzieinvancouver commented on #260
Done!

[2019-06-27 19:09] #260 closed

[2019-06-27 19:09] #263 closed

[2019-06-27 19:11] lizzieinvancouver commented on #243
We focus on Utah, we mention Dynamic model and include in tables.

[2019-06-27 19:11] #243 closed

[2019-06-27 19:13] lizzieinvancouver commented on #241
Sure, done.

[2019-06-27 19:13] #241 closed

[2019-06-27 19:13] lizzieinvancouver commented on #239
We do simple projections! +1 C, +2C  ...

[2019-06-27 19:13] #239 closed

[2019-06-27 19:15] lizzieinvancouver commented on #238
@cchambe12 Add notes on what we did in the end here (in issue)! Make sure issue is ref-ed in README in code repo.

[2019-06-27 19:17] lizzieinvancouver commented on #235
@dbuona Maybe someday useful for your stuff? Leaving open for now (apparently we have closed this twicea already).

[2019-06-27 19:18] lizzieinvancouver commented on #234
See issue #268

[2019-06-27 19:18] #234 closed

[2019-06-27 19:19] #232 closed

[2019-06-27 19:20] lizzieinvancouver commented on #190
We are on this in issue #266

[2019-06-27 19:21] lizzieinvancouver commented on #190
But this is for limiting cues ...

[2019-06-27 19:23] lizzieinvancouver commented on #121
@cchambe12 Finish figure for ms and close soon!

[2019-06-27 19:24] lizzieinvancouver commented on #126
@dbuona Make colors and figure design match the rest of the ms figures and ask @AileneKane to check.

[2019-06-27 19:25] lizzieinvancouver commented on #126
@dbuona Rm underscore and italicize species names, fix y labels, check all spp show up ....

[2019-06-27 19:26] lizzieinvancouver commented on #126
@dbuona Update code to use new flags and re-run!

[2019-06-27 19:27] lizzieinvancouver commented on #121
Update code to use new flags and re-run!

[2019-06-27 19:34] lizzieinvancouver opened #276 "incorporate Heather's edits on photo"

[2019-06-27 19:36] cchambe12 commented on #268
I updated the .xlsx and removed the reference to Dropbox by updating it with a reference to the Google Drive folder. I also went through the W drive very thoroughly and did not find the missing .mp4

[2019-06-27 19:53] cchambe12 commented on #238
Find details in analyses/bb_analysis/PEP_climate/_pepclimateREADME.txt. The issue is also referenced there. Closing now!

[2019-06-27 19:53] #238 closed

[2019-06-27 20:36] cchambe12 commented on #121
We did it!!

[2019-06-27 20:36] #121 closed

[2019-06-27 20:50] lizzieinvancouver commented on #256
Just updated this to allspp and main model figures and wrote in new paths to supp ....

[2019-06-27 20:50] #256 closed

[2019-06-27 20:57] cchambe12 commented on #272
@AileneKane I updated the caption, would you mind checking it over? Thanks!

[2019-06-27 21:18] lizzieinvancouver commented on #261
@MoralesCastilla Okay! Check output/bbmapdata.csv -- it has the info you need for the maps (though you need to merge in the lat/long for each datasetID/study) ... please make a map with each location labeled by (just) datasetID. Use different symbol for yes/no for chill.manipulated and outline in black those studies where mainmodel==yes.

[2019-06-27 22:13] lizzieinvancouver commented on #259
Counts of some phrases in titles of Nature/Science papers (ISI):

winter temperature* -- 6 but ONLY once were words published together (e.g., 'Mechanisms of Age-Dependent Response to Winter Temperature in Perennial Flowering of Arabis alpina')

chilling -- 16 but only TWO apply to plants I think ('GENETICALLY ENGINEERED ALTERATION IN THE CHILLING SENSITIVITY OF PLANTS' or 'PROTOPLASMIC STREAMING I

[2019-06-28 00:26] dbuona commented on #266
with proper flagging:
12 divergent transitions
b_force -0.9385382
b_photo -0.2641393
a_chill 10.0604101
b_chill  4.9189167

Rsq= 0.34

[2019-06-28 00:29] dbuona commented on #266
@lizzieinvancouver  as for the plotting, I think I might be misunderstanding what you are looking for. What is the the Y in this case? Is this the Stan equation you mean: (1 / ( 1 + exp(a_chill*(chill[i]-b_chill)) ) )?

[2019-06-28 00:32] lizzieinvancouver commented on #266
@dbuona Hmm, I think we could do both:
ychill = (1 / ( 1 + exp(a_chill*(chill[i]-b_chill)) )
ypred = mu_a+b_force*force + b_photo * photo + (1 / ( 1 + exp(a_chill*(chill[i]-b_chill)) )
... for the latter you have to equally build fakeforce and fakephoto.

[2019-06-28 00:36] lizzieinvancouver commented on #266
@dbuona Also, can you do the same and report the parameters from nointer_2level_interceptonly.stan (which I just pushed and may need to be tweaked to run)?

[2019-06-28 00:57] AileneKane commented on #259
**Final contestants:**
Chilling dominates spring phenological responses (48)
Chilling drives spring phenology across experiments and complicates forecasting (79)
Winter temperatures dominate spring phenological responses (49)

[2019-06-28 00:57] lizzieinvancouver commented on #267
@lizzieinvancouver Check intxns of cue numbers are updated!

[2019-06-28 01:08] dbuona commented on #266
linear model:
b_force -0.9258096
b_photo -0.2860911
b_chill -2.2256866
with rsq of .40

...still working on the plots

[2019-06-28 01:35] dbuona commented on #266
I just pushed a figure bb_analysis/figures/nonlinearplotbad
It looks weird. I can't tell if the I am misunderstanding the talk at hand or something in my fake data loop is bad: (available for critique below or on lines 239-250 of models_stan_supp.R). I i will keep poking at this in the morning, but any helpful tips would be much appreciated.
fakechill <- seq(from=0, to=1000, by=0.1)
a_chill<-summa

[2019-06-28 13:57] lizzieinvancouver commented on #266
@dbuona I think we're doing something wrong, but not sure what  ... see page [40 (PMP User Guide: Sigmoid)](https://drive.google.com/file/d/18Fzl-s4kadf1FkdHNgTxqzfoI5sA-F9h/view?usp=sharing)  ... when I try to re-create their figures I cannot.

[2019-06-28 15:33] dbuona commented on #266
using the loop and the parameters in listed in the user guide I was able to reproduce the figure when I included negative chilling values.
 So it must be that our parameter estimates from the model are wonky.

[2019-06-28 15:42] lizzieinvancouver commented on #266
@dbuona Nice work! But too bad on the model ... I have seen this in Isabelle's papers once or twice ... if we know a needs to be negative and b positive (or vice versa) we could try to set the priors for that.

[2019-06-28 16:58] AileneKane commented on #266
dan did it with 10,000 iterations and got some divergent transitions and weird estimates. We decided to try the allspp flags in hopes that more data will help with model fitting. If that doesn't work we can try changing the priors.

[2019-06-28 17:44] lizzieinvancouver opened #277 "what is up with E-OBS tg versus txtm"
[Here's the ref for E-OBS that is usually used](https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2008JD010201)

And here's [another ref to check](https://agupubs.onlinelibrary.wiley.com/doi/full/10.1002/jgrd.50444)

And it should be somewhere in their basic info... [which should be here](https://www.ecad.eu/download/ensembles/ensembles.php) somewhere...

[2019-06-28 18:27] lizzieinvancouver opened #278 "check Utah and OSPREE in budburst"
Don't overuse either...! For Utah let's try 'chill unit' and refer to specific section in supp.

[2019-06-28 19:09] lizzieinvancouver opened #279 "misc supp issues to address"
- Be sure to explain standardizing and ref Gelman and Hill for it being okay to do. -- NEEDS a little more, see comment in text.
- Explain 14 days for field sample dates (I think this is done in explaining chill model?)
- % budburst (and which were our thresholds) @cchambe12  @lizzieinvancouver  ... done, but someone should check Lizzie's work!
-  For the use.expramptypes.fp==TRUE flag, we should

[2019-06-28 19:13] lizzieinvancouver opened #280 "fix captions in budburst"
- Fig 1 caption: results consistent across other model formulations, including non-standardized units and other models of chill
- Can we ref the 203 species model (and that is is similar) in the mu figure? We need to connect that number clearly since we have it in supp.
- remember to rm Utah and OSPREE when possible!
- new Fig 2 and 3 captions should help readers understand why we used 3D

Figure

[2019-06-28 19:15] lizzieinvancouver opened #281 "do cross referencing of supp and main text figures"
Whoop!

[2019-06-28 19:17] lizzieinvancouver opened #282 "Remove titles (from all plots)"

[2019-06-28 19:17] lizzieinvancouver opened #283 "misc main text fixes"
Main text:
- double check papers with forcing and chill to make sure they do not compare these cues
- be stronger somewhere that "Korner and Basler hypothesized this but everyone (except you) lacks the evidence to support it, you have now analyzed the experimental data necessary to confirm this hypothesis, etc"

[2019-06-28 19:19] lizzieinvancouver opened #284 "when is earliest budburst in Fig 2 and Fig 3?"
Add to caption somehow ... at least keep in comments ... and we need it for the constant temps version of Fig 2 (this could go in supp as 'these two methods predict (or don't) a similar earliest day of BB at xx forcing and xx chill)....

Should help readers understand why we used 3D.

[2019-06-28 19:24] lizzieinvancouver opened #285 "check your models!"
please report here:
- you lowest n_eff (and report here if most were not close to max iter) ...
- check the methods in supp regarding the models correspond to your models! Adjust supp as needed (or explain here)
- confirm your Rhat values
@dbuona weinberger
@cchambe12 latitude
@AileneKane other models

[2019-06-28 19:32] lizzieinvancouver opened #286 "be consistent in tables"
- change 'estimate' to mean
- always have mean/25/75/2.5/97.5

[2019-06-28 19:33] lizzieinvancouver opened #287 "work on budburst cover letter"

[2019-06-28 19:35] MoralesCastilla commented on #261
@lizzieinvancouver @AileneKane
I just pushed a new version of the map to the `analyses\bb_analysis\figures` folder. I'm still not super happy about it (it should be a quite simple map to do, but I'm not quite there yet). Any suggestions about using different symbols, colors, sizes are welcome!

[2019-06-28 19:39] lizzieinvancouver commented on #261
@MoralesCastilla Awesome! Few more tweaks
- change 'Study in main analysis' to 'Study in main model'
- change 'Chilling treatment' to 'Chilling manipulated'
- Use triangles instead of asterisks (with circles)
- Cut off (trim) some of Asia so rest of map can be bigger

[2019-06-28 19:41] AileneKane commented on #259
Note: we realized that its unclear what the responses are to. to fix this, these would be:
Chilling dominates spring phenological responses to warming (50)
Chilling drives spring phenology across experiments and complicates forecasting (79)
Winter temperatures dominate spring phenological responses to warming (51)

[2019-06-28 19:57] MoralesCastilla commented on #262
@AileneKane
I have updated the maps, please let me know if this version would work.

[2019-06-28 21:05] lizzieinvancouver commented on #259
If we use `responses' we may need `to warming' or some other explanation of responses to what

[2019-06-28 21:12] lizzieinvancouver opened #288 "check that we say taxa and not species"
At least when referring to the models, since we have species complex.

[2019-06-28 21:15] lizzieinvancouver commented on #288
Err, but tricky ... maybe we should say species and clarify this in supp.

[2019-06-28 21:15] #288 closed

[2019-06-29 03:56] lizzieinvancouver commented on #259
@AileneKane Jonathan likes `Winter temperatures dominate spring phenological responses to warming' ... he says 'a lot more.'

[2019-06-29 11:27] MoralesCastilla commented on #261
@lizzieinvancouver
New tweaked version uploaded to the figures folder `ospree_locations5thin.png`. Still not perfect but looking better.

[2019-06-29 19:03] lizzieinvancouver commented on #285
@AileneKane @dbuona @cchambe12  We also need everyone to be using the same versions of R and Stan ...

[2019-06-30 02:14] lizzieinvancouver commented on #255
@cchambe12 One more request! Can you again read the PEP sims section in the supp (Potential statistical artifacts in declines of temperature sensitivity in observational long-term data)? Especially the new last paragraph ... and make sure I am accurately describing everything.

@AileneKane Can you add the clark ref to the supp where requested (near gusewell ref).

... then we can close this I thin

[2019-06-30 02:16] lizzieinvancouver commented on #279
@AileneKane I called out your name in a couple places in the supp for help (search for 'Ailene') ... thanks for checking them.

[2019-06-30 13:04] dbuona commented on #285
For weinberger- lowest n_eff was 3217.162
all rhats are 0.999.. or 1.0

I'm running: R version 3.5.2 (2018-12-20) -- "Eggshell Igloo"
and stan version "2.18.0"

[2019-06-30 17:49] dbuona commented on #266
I ran allsps flags with 12,000 iters and 10,500 warm up with adapt delta of .999. It ran.
still gives weird parameters with a low n_eff 770.6552 for b_force. Rsq is .53
b_force -0.8548461
b_photo -0.1356331
a_chill 10.9176383
b_chill  5.0590263
The plots look the same.

[2019-07-01 17:19] AileneKane commented on #259
@lizzieinvancouver thanks for getting his perspective! We can all mull it over and discuss again prior to submission

[2019-07-01 17:21] AileneKane commented on #255
@cchambe12 @AileneKane Great! I will work on this and other edits today and pass off to Cat tomorrow!

[2019-07-01 17:22] AileneKane commented on #279
@lizzieinvancouver Great! I will work on this and the main text today and pass off to @cchambe12 tomorrow!

[2019-07-01 17:45] AileneKane commented on #285
@dbuona @cchambe12 @lizzieinvancouver I have just updated R to the latest version and am updating all the main budburst model iterations from table 2S (utah, cp, centered, uncentered, all spp). If we can all use the latest version, i think that would be ideal.
R version 3.6.0 (2019-04-26)

[2019-07-01 18:00] lizzieinvancouver commented on #259
@AileneKane Another option ... 'Chilling temperatures dominate spring phenological responses to warming' though doesn't have the cool winter-spring contrast.

[2019-07-01 18:42] lizzieinvancouver commented on #271
@cchambe12 You can close this once you add your notes. Thanks!

[2019-07-01 18:50] AileneKane commented on #126
@dbuona Thank you for all your work on this Dan! I think i told you not to worry about a table before, but I changed my mind! Could you make a table for the supplement? Please put it in the ["maketables.forsupp" ](https://github.com/lizzieinvancouver/ospree/tree/master/analyses/bb_analysis/maketables.forsupp) folder. (Use that code also to make your table match the main bb and lat model tables- it

[2019-07-01 18:50] lizzieinvancouver commented on #266
@dbuona Thanks Dan! The force and photo are not so weird, but yeah, weird on the chilling ... I think this is *close* to enough for us to say in the supp that we tried sigmoidal models for chilling and they ran, but gave non-intuitive results.

Couple more requests:
- Can you run the equivalent data on the linear model with just sp on the intercept (the one you reported above) and give values and

[2019-07-01 21:19] lizzieinvancouver commented on #249
I think this is done! Or close, @AileneKane I made two files you can use Sweave to ref, they are both in bb_anlaysis/output:
- bbstan_allsppmodel_countinxns.csv
- bbstan_mainmodel_countinxns.csv
I think they are straightforward to ref the numbers you need, but let me know if you have any questions! Otherwise, once they are ref-ed in the supp I can check and close this.

[2019-07-01 21:20] lizzieinvancouver opened #289 "keep track of R code to run when updating supp and main text?"
@AileneKane I know we use a lot of files in the supp not directly from R, but from code we run that outputs tables etc. (like the intxn number files) ... should we keep a list in the .Rnw files of all these files so we remember to update them if needed?

If this sounds good to you, just make a commented-out spot in each file and ping me, Cat, Nacho and Dan to add files to the list ...

[2019-07-01 22:07] AileneKane commented on #289
@lizzieinvancouver I like this idea! I had started a notes document to keep track of there [here](https://github.com/lizzieinvancouver/ospree/blob/master/docs/budburst/budburstms_README.txt)
but perhaps its easier to just keep it in the Rnw files

[2019-07-02 04:21] lizzieinvancouver commented on #289
@AileneKane Looks good to me! I will try to update with my info tomorrow.

[2019-07-02 04:23] lizzieinvancouver commented on #266
linear model with allspp  (runs fast):
[code]

[2019-07-02 14:49] cchambe12 commented on #262
@AileneKane I found the elevations for these sites

46.8167 x 12.8 is 659m
48.3167 x 15.8167 is 210m

[2019-07-02 15:20] lizzieinvancouver commented on #266
Here's the adjusted model ...

[code]
R sq (multiple or adjusted): 0.53

[2019-07-02 17:44] lizzieinvancouver commented on #266
Just so we have it:

[code]

Rhats are 1.000 and lowest n_eff is b_chill at 1285 (b_force is 1545, b_photo is 4463 and a_chill is 9449).

R sq is still 0.53 compared to 0.57 for m2l.nib.

[2019-07-02 18:01] lizzieinvancouver commented on #266
@AileneKane (@dbuona) Could you please add something like this to the supp?

As our focus is on experiments, which by design often impose high variation in phenological cues, we expected a linear model for chilling, forcing and photoperiod may be most appropriate. Non-linear models, however, are often most appropriate for phenological cues, especially in nature where chilling may always be very hi

[2019-07-02 19:31] cchambe12 commented on #285
Using version 3.6.0
Lowest n_eff was 713.4
Rhats are 0.999 to 1.00

[2019-07-02 19:58] AileneKane commented on #289
@lizzieinvancouver thanks!

[2019-07-02 19:58] AileneKane commented on #289
@cchambe12 could you add your code files to this as you update the supplement?

[2019-07-02 20:00] AileneKane commented on #286
I have updated Tables 2S and 3S to use estimate and have posterior mean/25/75/2.5/97.5. I have also used row names to match our equations. @cchambe12 please follow this formatting in your table for the latitude model.

[2019-07-02 20:02] AileneKane commented on #282
still need to do this for the latitude model figure. i have fixed the others

[2019-07-02 20:02] AileneKane commented on #284
I have added this to Figure 2. Still need to do Figure 3

[2019-07-02 20:04] AileneKane commented on #279
@lizzieinvancouver I fixed the places you called my name out. @cchambe12 as you work on the supp, please check these and I will do a second check after!

[2019-07-02 20:05] AileneKane commented on #278
I checked this as I read the main text. I am leaving it open as I need to cross-reference with the supp to make sure that we do a good job of explaining chilling units.

[2019-07-02 20:06] AileneKane commented on #266
@lizzieinvancouver I added this paragraph to the supplement. I will close this!

[2019-07-02 20:06] #266 closed

[2019-07-02 20:07] AileneKane commented on #273
I have added the 2D figures to the supp and am closing this issue

[2019-07-02 20:07] #273 closed

[2019-07-02 20:08] AileneKane commented on #258
I need to fix alignment of lat and weinberger model equations  still

[2019-07-02 20:11] AileneKane commented on #261
@MoralesCastilla I like it! One small thing- if it is not too difficult. Instead of putting circles around the sites that are in the main model and manipulate chilling, could you use a triangle outlined in black? (in other words, instead of having a triangle with a circle around it, could you have triangles outlined in black)? Thank you so much! Otherwise, it looks great!!!

[2019-07-02 22:40] MoralesCastilla commented on #261
@AileneKane
Great idea!! I think it looks better (less weird) now. See the new version in `analyses\bb_analysis\figures` and let me know if there are more changes you'd like.

[2019-07-02 22:53] AileneKane commented on #261
@MoralesCastilla  I think it looks great! The new triangle version looks like the only sites that manipulated chilling are studies that are included in the main model- is this true? In your earlier map, it looked like some sites should be circles in a black outline too (i.e., they are included in the main model but do not manipulate chilling). As an example, I think spann04 (in Florida- I think th

[2019-07-02 23:55] AileneKane commented on #265
This figure has been added! the supp just needs to be recompiled to include it.

[2019-07-03 05:40] AileneKane commented on #262
Thanks @cchambe12 !

[2019-07-03 05:47] AileneKane commented on #262
@MoralesCastilla I think the heatmaps look great!

[2019-07-03 12:44] cchambe12 commented on #289
Added!

[2019-07-03 12:44] cchambe12 commented on #286
@AileneKane I have updated it accordingly! When you compile the supp again, do you mind letting me know if you see any issues with it?

[2019-07-03 12:45] cchambe12 commented on #282
The latitude model figure should not have a title, let me know if it is still showing up and I will try to hunt down the issue.

[2019-07-03 12:49] cchambe12 commented on #275
Added! Let me know if I should add more detail!

[2019-07-03 12:55] cchambe12 commented on #277
I think these issues only arise for certain months but the issues eventually even out. What I mean by this... in January (or in colder months) the Tmin values can draw down the mean temperature but in warmer months the Tmax can pull up the mean temperature. However, these discrepancies are [minor](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/PEP_climate/figures/comp

[2019-07-03 12:59] cchambe12 commented on #255
@lizzieinvancouver I think you did a great job explaining everything! I have added a [lit review](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/pep_sims/pepsimslitreview.txt) and I agree with everything you have said.

[2019-07-03 14:13] dbuona commented on #285
reran weinberger model on 3.6.0
Rhats are all 1.00...
lowest neff was 2857
...I'll get to work on a table for this model

[2019-07-03 15:55] dbuona commented on #286
@AileneKane I have added the bones of a Weinberger table to the budburst_supp.Rnw. I wasn't sure how to handle the alignment, and was having some package loading issues when I updated R, so I was not able to generate the pdf to see how it looks. I imagine its not quite there, but all the ingredients should be. The table is generated in the weinberger.R script, but I can also pull it out if that is

[2019-07-03 16:18] cchambe12 commented on #277
Fixed! It was a coding issue all along, sorry for the false alarm!

[2019-07-03 16:18] #277 closed

[2019-07-03 17:18] AileneKane commented on #286
@dbuona Thanks! I'll finish it up!

[2019-07-04 00:28] lizzieinvancouver commented on #249
@AileneKane I have updated these files:

- bbstan_allsppmodel_countinxns.csv
- bbstan_mainmodel_countinxns.csv

To include everything you might need to ref. Can you read them into the main text and supp and Sexpr them (using the names in treat1 column ... that way we can update as needed ... but the numbers are in n column)? I think they are straightforward but here are some details (considering b