[2020-04-27 17:56] DarwinSodhi commented on #354
@lizzieinvancouver I incorrectly added that value, it should read 5.574 instead of 68.837. How should I change the value?

[2020-04-27 18:03] lizzieinvancouver commented on #354
Thanks! @DarwinSodhi I think you should clean it in analyses/cleaning/clean_misc.R something like:
[code]

It should go towards the end, after Nacho's fix on anzanello16. @FaithJones Can you check it once done? And make a note in merge_update2019.R that this is fixed in clean_misc.R?

Thank you both!

[2020-04-27 18:42] DarwinSodhi commented on #354
@lizzieinvancouver @FaithJones Done! the code after #fixmalyshev in analyses/cleaning/clean_misc.R

[2020-04-27 21:23] AileneKane commented on #370
@lizzieinvancouver @dbuona  sure! I can do this

[2020-04-28 00:40] AileneKane commented on #348
This is interesting and also good news that it is not as wildlly different as it was before. Thanks @cchambe12 @lizzieinvancouver  and @dbuona for your work on this!

[2020-04-28 02:09] #357 closed

[2020-04-28 02:13] lizzieinvancouver opened #371 "speed up joint models"
I tried vectorizing the code, but it did not do much for speed!

@cchambe12 When you have time, can you try a version with NCP? The file is jointtraitphen.R and I would first try the jointtrait_traitmodel.stan and then the jointtraitphen.stan

@MoralesCastilla When you have time try making a version of jointtraitphen.stan where muaforce has only one value and compare speed?

[2020-04-28 05:02] AileneKane commented on #361
It looks like most of the man17 resp entries are converted to be in "days"  in ospree_clean_withchill_BB.csv but some are not and remain in units of total chilling (7 entries are >1000 for resp, and 18 are >100). Is this intentional or unfixable or do we need to do more cleaning? Just checking @cchambe12  @dbuona

[2020-04-28 13:06] cchambe12 commented on #361
@AileneKane Those entries are from experiments that were left in the field and do not have field sample dates so we can't calculate chilling or forcing based on the figures given. The respvar.simple should not be changed either!

[2020-04-28 13:36] cchambe12 commented on #363
@DeirdreLoughnan @legault For some reason two rows are being dropped from the ospree_clean.csv to the ospree_clean_withchill_BB.csv. Also, just to clarify, we can't figure out chilling conditions correct? It looks like they moved plants outside on Jan 1 but we have no prior information. Thanks!!

Rows:
forcetemp = ambient+4;   photo = ambient; response.time = 89; SD = 2; Fig = S1
forcetemp = ambie

[2020-04-28 13:44] #361 closed

[2020-04-28 13:53] cchambe12 opened #372 "vitra17 losing photoperiod data"

[2020-04-28 14:17] cchambe12 commented on #372
fixed in bb_analysis/cleaning/clean_photoperiod.R

[2020-04-28 14:21] #372 closed

[2020-04-28 14:47] dbuona commented on #370
me too!

On Mon, Apr 27, 2020 at 5:24 PM AileneKane <notifications@github.com> wrote:

--
Daniel Buonaiuto
Dept. of Organismic and Evolutionary Biology
Harvard University | Arnold Arboretum

[2020-04-28 16:03] lizzieinvancouver commented on #372
@cchambe12 Thanks!

[2020-04-28 19:14] dbuona opened #373 "add latlong for Fu18"
Check with group if this is worth it, but we think we need it because forcing, chilling and photoperiod all have ambients in the (open top chambers)

[2020-04-28 20:34] cchambe12 commented on #373
@dbuona we are using the growing.lat and long for the chilling but for some reason this isn't being picked up in ambient forcing! I will check that out

[2020-04-28 22:49] FaithJones commented on #354
@lizzieinvancouver <https://github.com/lizzieinvancouver> @DarwinSodhi
<https://github.com/DarwinSodhi>  I took a look, but I am not exactly sure
how it should work. There is indeed clean and annotated code in
clean_misc.R that fixes the problem. It did not fix the problem in the file
where we were checking the data, but I assume that is because it will run
on the full dataset once it is added to

[2020-04-29 11:47] cchambe12 commented on #354
@FaithJones Ah sorry to add to the confusion! When I was fixing man17 in clean_misc.R I noticed and aberrant parentheses in the malyshev code so I moved it and reran it. Glad it is working now!

[2020-04-29 17:49] lizzieinvancouver commented on #363
Based on the text, we can assume they were field chilled until Jan 1, and THEN we add the ambient treatments (will have to be 'chill by hand') in the climate data.

[2020-04-29 20:36] DeirdreLoughnan commented on #354
@DarwinSodhi @dbuona @FaithJones There are about a dozen fieldsample.dates that are year-month-year. Do we know what these values should be?

[2020-04-29 20:49] lizzieinvancouver commented on #354
Thank you @DeirdreLoughnan! I worry I may have added this, so I will check today and report back to everyone (@DarwinSodhi @dbuona @FaithJones)

[2020-04-29 23:12] #335 closed

[2020-04-29 23:20] DeirdreLoughnan opened #374 "ospree trait lit rev."
@lizzieinvancouver @DarwinSodhi @dbuona @MoralesCastilla @cchambe12 @FaithJones @legault @md-garner
Thanks everyone for your help with the trait literature review!

I have added the papers to the ospree papers folder on the drive and have shared a file here:
docs/traits/traits.litrev

If you have any questions or suggestions for additional data to collect, please let me know.

[2020-04-29 23:48] lizzieinvancouver commented on #354
@FaithJones I ran cleanmerge_all.R through this line` d <- rbind(dorg, dup)` and then almost of all clean_misc.R until the new line, I checked how that was working (yes!). And then for good measure, I cleaned out R (restarted it) and then I ran cleanmerge_all.R through step 10 and checked for what this value is:

`d$response.time[which(d$datasetID=="malyshev18" & d$genus=="Acer" & d$species=="pseu

[2020-04-30 00:05] lizzieinvancouver opened #375 "check dates ..."
@cchambe12 When time allows, can you rerun all the cleaning code and check the fieldsample dates for malyshev:

goo <- subset(d, datasetID=="malyshev18")
goo$fieldsample.date

They should all look normal now ... ?

Also, @cchambe12  and @AileneKane do either of you know where we clean field sample dates? I noticed they come in lots of formats!

[2020-04-30 00:07] lizzieinvancouver commented on #354
@DeirdreLoughnan Thank you for catching this! Dates should be day-mon-year but this was entereed as year-mon-day and so it was messing up. I fixed it and added a new issue (#375 ) to double-check it is fixed. I am closing this issue.

Thank you all for your work!

[2020-04-30 00:07] #354 closed

[2020-04-30 00:08] lizzieinvancouver commented on #371
@lizzieinvancouver consider using generated quantities (instead of transformed parameters) for b_force_final. (Move b_force_final back to model block).

[2020-04-30 00:22] lizzieinvancouver opened #376 "make sure ambient studies are labelled as such"
@dbuona Could you help with this ... I figured out where these should get force_type and photo_type properly labelled (in bb analysis):

Clean force_type in clean_rampedandexpforcing.R

Clean photo_type in clean_photoperiod.R

definitely ambient:
richardson18
fu19
fu18

And maybe vitra17?

I am not sure of:

- man17
- malyshev18
- anzanello16
- anzanello18
- nanninga17
- ramos17
- prevey18

But do

[2020-04-30 00:25] lizzieinvancouver opened #377 "deal with always-ambient-ish studies?"
@AileneKane and @cchambe12 I am not sure we tried to calculate chilling or forcing for full ambient studies. I checked fu13 and morin10 and morin10 has some forcing numbers (there were entered from the paper by @cchambe12, see issue #198 ) and no chill. Unless we find other evidence, I don't think we need to try to calculate chill or forcing from fu18, fu19, richardson18 (is there another new one

[2020-04-30 00:51] lizzieinvancouver commented on #355
I checked a few issues from today:

* vitra17 -- we just made a call on this for converting data, it's all mapped out in issue #309
* small amounts of missing data in richardson18 look okay to me so leaving this as is
* ramos17 -- has bb and percent flower, looks like we get the data we should so okay; I have a note to check dates ... I think it was just year (which we got from the authors, see is

[2020-04-30 00:51] #355 closed

[2020-04-30 00:52] AileneKane commented on #375
@lizzieinvancouver @cchambe12 we clean the field sample dates in clean_misc.R

[2020-04-30 01:29] AileneKane commented on #377
@lizzieinvancouver and @cchambe12 we do calculate total chilling for morin10 and fu13. This happens in totalchillcalc.R by pulling climate data. (Both studies have Total_Utah_Model values in ospree_clean_withchill.csv. ) We lose fu13 in clean_respvarmore because we cannot determine when forcing started (same for hawkins12, funderson12, which are year round field or OTC studies). Do you think this

[2020-04-30 01:45] lizzieinvancouver commented on #322
@md-garner To discuss! Remind me about this at the end of the meeting Thursday if you can.

[2020-04-30 15:26] cchambe12 commented on #375
@lizzieinvancouver And then @AileneKane was extra on top of it in chilling/fieldchillcalc.R where she makes a new column (fieldsample.date2) that converts all field sample dates to as.Dates and further checks are done!

[2020-04-30 20:43] cchambe12 commented on #375
@lizzieinvancouver malyshev dates look great!!

[2020-04-30 22:58] lizzieinvancouver commented on #320
@legault Can you add a readme to okie_cleaning folder for how okie was merged? i.e. ... around XX date, Geoff L. added okie to the ospree... file like this. We want to add dantec in the same way... Thank you!

[2020-05-04 22:42] DarwinSodhi commented on #374
@DeirdreLoughnan I reviewed three papers and added my notes to the docs/traits/traits.litrev file. Let me know if you want me to review more papers!

[2020-05-08 15:18] cchambe12 commented on #374
@DeirdreLoughnan I also did three! Happy to do more as well if you need more help!

[2020-05-11 14:48] legault commented on #320
Sure thing. Is there a previous example of how this has been added/handled for other data sets?

[2020-05-11 18:16] lizzieinvancouver opened #378 "check crop species"
(@cchambe12 including you as I know you know these files) @MoralesCastilla I just updated speciescomplex.nocrops.R to include olive:

` cropspp <- c("Actinidia_deliciosa", "Malus_domestica", "Vitis_vinifera", "Ribes_nigrum", "Olea europaea")`

@MoralesCastilla You should check it gets excluded.

We have so many species now! It might be worth asking someone to check the species list for any possibl

[2020-05-11 18:33] lizzieinvancouver commented on #320
@legault Thanks! And yes, Dan has an example: analyses/cleaning/zohner_cleaning/zohnercleaning_README.txt
This was maybe not the best way to add the data, but it is pretty clear (to me at least) what happened and how the data was added, which is the most critical bit.

[2020-05-11 20:24] lizzieinvancouver commented on #378
I just added a crop list, see commit 8a5d1d82b2090eae850d5498f606c46fdfcf3cde

[2020-05-19 00:56] DeirdreLoughnan commented on #374
Thanks @DarwinSodhi and @cchambe12!
We would like to summarize the lit review before the ospree traits lab meeting next week. @md-garner @FaithJones @legault @dbuona @MoralesCastilla if you have time to read a few papers, please do so before Sunday May 24. Thanks!

[2020-05-20 15:02] MoralesCastilla commented on #378
@lizzieinvancouver
The crop list from Millá et al. is a pretty good reference to have! I included it in the phylogeny code, so I guess we can close this issue already.

[2020-05-20 15:56] MoralesCastilla commented on #374
My three papers are in too!

[2020-05-26 18:04] legault commented on #320
README added.

[2020-05-26 18:04] #320 closed

[2020-05-29 01:34] lizzieinvancouver commented on #322
@md-garner I worked on this! I think you follow what Geoff did for okie11, see ospree/analyses/cleaning/okie_cleaning/okiecleaning_README.txt ... so, get it all formatted, then merge it in in clean_addata.R.

At this point, since the data is now on git and in xlsx I think the best approach is to do all fixes in R, not just change things in the xlsx files ... though tempting, we end up with effecti

[2020-05-29 01:36] lizzieinvancouver commented on #376
@dbuona We need to work on this issue to make OSPREE progress ... can you spend an hour on it and report back to me next week? We can find you more help if it is taking a while.

[2020-05-29 01:37] lizzieinvancouver commented on #373
@cchambe12 Just checking in on some issues, like this one.

[2020-05-29 01:42] lizzieinvancouver commented on #378
@MoralesCastilla Thanks! Can you point me to the code? I wanted to check what is excluded and compare to what we have in speciescomplex.nocrops.R

[2020-05-29 11:40] cchambe12 commented on #373
This has been fixed!

[2020-05-29 11:40] #373 closed

[2020-06-01 17:13] dbuona commented on #376
@lizzieinvancouver  I'm on it

[2020-06-15 14:12] dbuona commented on #330
@lizzieinvancouver @cchambe12 @MoralesCastilla I tried do some cleaning our the range folder (archived older versions of the extraction code and older versions of the data). I don't think I touched any of your active files but people should make sure I didn't accidentally break any of your paths or relegate crucial analyses to the archives. The two folders to check are:
ranges/zarcheive/older_extr

[2020-06-15 14:23] cchambe12 commented on #330
@dbuona Thanks Dan! Those are mine. I'm doing a lot of different things to set up the joint models and to extract climate data for North America. Both are tricky tasks so I will be sure to clean up my files when I'm done, just may be a bit messy while I'm figuring things out!

[2020-07-03 21:12] lizzieinvancouver opened #379 "methods for range species"
Okay! I am back at  ... and here's what I think:

1. _Alnus rubra_ in the list of range species is a mistake -- we have _Alnus incana_, but _Alnus rubra_ is only in prevey18 and thus deleted from usable data before we get to any of the analyses (according to my sleuthing, which could be wrong). We have enough data from Alnus incana because we have it from "heide93"  "flynn18"  "zohner16" ... (it d

[2020-07-03 22:32] lizzieinvancouver commented on #379
Another thing I noticed --- Quercus ilex has only ambient forcing and photoperiod.... do we want to have any requirements for ambient versus experimental?

[2020-07-08 17:05] lizzieinvancouver commented on #379
* Lizzie checks if Alnus incana is usable, get new map if applicable
* We delete Alnus rubra
* Lizzie checks cornus -> Corlyus
* Lizzie checks on ambient treatments and report back (whcih species? Report back on outliers)
* Lizzie checks the code for the spcomplex

[2020-07-08 18:09] lizzieinvancouver commented on #379
_Alnus incana_ in North America is only in flynn18, and was not in multiple experimental chill levels, but it gets two chill levels via the two sites (I confirmed this is the reason) so I think we should include it. @cchambe12 Can you add it? The Little map is [here](https://www.fs.fed.us/database/feis/pdfs/Little/alnrug.pdf) Can you also delete any info about _Alunus rubra_ while you're at?

[2020-07-08 18:12] lizzieinvancouver opened #380 "You say hazelnut, I say dogwood! Tomato, tomahto..."
OSPREE says there is a species called Cornus cornuta that we (yes, us!) sampled, but it's untrue. @lizzieinvancouver will fix this.

[2020-07-08 18:13] lizzieinvancouver commented on #379
It's me again! The Flynn paper says we had no _Cornus_ species, but OSPREE disagrees (and has no _Corylus_). I set up a new issue (#380) and will fix it. @cchambe12 can you add it to the range data? The Little map for it is [here](https://www.fs.fed.us/database/feis/pdfs/Little/corcor.pdf) ... those are probably not the files you want, sorry, I can link elsewhere if redirected.

[2020-07-08 18:25] lizzieinvancouver commented on #380
It shows up early so I fixed it in clean_misc.R (see commit 1ddfebf939c42086c6a609de9a307b362f15c3bc). @cchambe12 No rush, but when you have time, can you update the data and then close this issue? For now we can just remember the change.

[2020-07-08 18:42] lizzieinvancouver commented on #379
Here's the model with ambient photo and force:

[code]

[2020-07-08 18:47] lizzieinvancouver commented on #379
Now...

`bb.stan <- subset(bb.stan, photo_type!="amb" | force_type!="amb")
`
Without those 100 rows of data...
[code]

[2020-07-08 18:53] lizzieinvancouver commented on #379
I don't have a strong feeling about deleting these .... I deleted them for now, but we can discuss.

[2020-07-08 19:33] lizzieinvancouver commented on #379
I checked speciescomplex.multcues and it seems to do what it says and includes most of the missing species (most, it does not include Quercus ilex) but speciescomplex.multcues  is not what is in the MAIN MODEL! We used speciescomplex, which says 'Species were selected if they were in more than one study and if studies manipulated at least one cue.' So I think that explains the difference.

[2020-07-09 13:31] cchambe12 commented on #380
I think we're all updated for ranges!

[2020-07-09 13:31] #380 closed

[2020-07-09 13:33] cchambe12 commented on #379
@lizzieinvancouver _Corylus cornuta_ is updated and _Alnus rubra_ has been removed! And _Alnus incana_ looks good.

Ahhh yes that makes sense! I forgot that we had different methods for selecting species.

[2020-07-09 18:19] lizzieinvancouver commented on #379
@cchambe12 Awesome -- thank you!

[2020-07-09 20:38] lizzieinvancouver commented on #379
Okay, I am now fixing the flags (thanks @dbuona). If we switch to use.multcuespp = TRUE we lose some data, specifically we drop data because gomory15, guak98, linkosalo06 and morin10 get kicked out.... I tried digging into this but got lost in whether we were overwriting our flags and just deleted the flag.for.models.in.bbms.R and set up our own flags alone. This has led me to realize that species

[2020-08-07 23:23] lizzieinvancouver commented on #249
@cchambe12

Let's go back, let's go back
Let's go way on way back when ....

Can you check your code to build output/studytype_table.csv (bbculdesac) and see gomory15 shows up with two forcing treatments? I think it's the main discrepancy between that table and my countinxns.R code. Thanks! And zero rush.

[2020-08-08 18:50] lizzieinvancouver commented on #379
I worked on this some more and cannot tell what we did exactly (@dbuona
can you check my double-check code in models_stanforranges.R?). My best guess is:

(1) All species in > or = 2 papers (if you do > or = 3 you miss 7-8 species, incl. , Picea_glauca, Fraxinus_excelsior, Betula_lenta) AND
(2) For studies with at least some experimental chilling, we included species in studies where all three cue

[2020-08-08 18:51] lizzieinvancouver commented on #379
Also, I noticed a typo: we have  latbi=="Tilia_Cordata"| latbi=="Tilia_cordata" I will fix this in clean_misc.R now. @cchambe12 ZERO rush, but can you re-run everything someday so this fix goes through?

[2020-08-08 19:02] lizzieinvancouver commented on #379
I also ended up cleaning some other names, including whitespace issues. Yikes. We try so hard, but never doth the cleaning end.

[2020-08-11 18:19] lizzieinvancouver opened #381 "karlsson03 photoperiod"
This is a small issue, but it's worth fixing I think. I believe karlsson03 has 'ambient room' photoperiod but it's been entered as 'constant' (which I thought might mean 24 hr or such). @DeirdreLoughnan No rush on this but could you review the paper and see if you agree or can find any other info on daylength (photoperiod) in the paper?

[2020-08-12 22:58] md-garner commented on #322
@lizzieinvancouver It should hopefully be finished! It's in a couple pieces now:

1. There's a [ospree/analyses/cleaning/dantec_cleaning](https://github.com/lizzieinvancouver/ospree/tree/master/analyses/cleaning/dantec_cleaning) folder with a readme explaining what I've done with all of the dantec14 data and the cleaning script for the new dantec14 data.
2. The new cleaned dataset is [analyses/inp

[2020-08-16 03:04] lizzieinvancouver opened #382 "compare population versus species variations"
@dbuona and I have been working on this .... (somehow I did not start an issue before now)

@dbuona I think your NCP attempt looked correct (I just added a prior)! On my computer it ran pretty fast and looked close (only 23 divergent transitions, and they seemed related to b_pop, which makes sense) so I think we're close. Maybe try higher warm-up and overall iterations and (then) also higher adapt

[2020-08-16 03:05] lizzieinvancouver commented on #382
@dbuona My changes now posted, see [here](https://github.com/lizzieinvancouver/ospree/commit/c7cbb0cec55de988bc9ff9ca62c32c01e17d60d3) for comparison.

[2020-08-16 13:39] cchambe12 commented on #249
@lizzieinvancouver yes I see that now! For my code, I used ospree_clean.csv (which I believe you used too...) and it looks like the seedlings growing at the lower elevation experienced 9.2C forcing and the seedlings at the higher elevation experienced 4.9C. Based on the data and the paper, it looks like both species were divided evenly between the two growing elevations.

[2020-08-17 16:47] lizzieinvancouver commented on #382
@dbuona Try models in rstanarm with all three cues on pop5 and see where we get ...

[2020-08-17 16:55] lizzieinvancouver commented on #382
@dbuona But first! Subset to only papers with >1 provenance in study.... then use the rest of the code we have.

[2020-08-26 23:44] dbuona commented on #382
ran pop5 for 8000 iter and 7000 warmup: 16 divergent transitions and low BESS and TESS sample sizes...and I am not sure if this is the output that is useful for us but here is what I got:

      Median MAD_SD
(Intercept)  41.5    7.4
force.z       2.7    3.4
chill.z     -10.4    5.3
photo.z       8.3    5.9

Auxiliary parameter(s):
      Median MAD_SD
sigma 7.9    0.2

Error terms:
 Groups

[2020-08-26 23:47] dbuona commented on #382
and for pop 3: Rhats 1.16, TESS and BESS low, 20 divergent transitions, chains didn't converge

 Median MAD_SD
(Intercept)  30.0    4.9
force.z      -4.8    2.9
chill.z     -16.5    3.6
photo.z       2.6    3.7

Auxiliary parameter(s):
      Median MAD_SD
sigma 9.7    0.2

Error terms:
 Groups           Name        Std.Dev. Corr
 latbinum:pophere (Intercept) 25.0
                  force.z      7.7

[2020-08-27 22:40] cchambe12 commented on #379
I fixed the Fraxinus nigra name issue and added Populus_tremuloides, Robinia_pseudoacacia. I could not find the range maps for Quercus_faginea, Rhamnus_cathartica, Ilex_mucronata,
Kalmia_angustifolia, Lonicera_canadensis, Spirea_alba,
Vaccinium_myrtilloides, Viburnum_cassinoides, Viburnum_lantanoides,
Aronia_melanocarpa, Symphoricarpos_albus

[2020-08-28 14:54] cchambe12 commented on #379
@lizzieinvancouver I reran all of the cleaning code to include dantec and Tilia cordata

[2020-09-01 03:06] lizzieinvancouver commented on #382
@dbuona So for pop5 we have POSITIVE forcing and photoperiod effects? And for pop3 we have positive photo?

[2020-09-01 03:08] lizzieinvancouver commented on #382
@dbuona If we semi-trusted pop3 we'd want to do something like discussed [here](https://discourse.mc-stan.org/t/rstanarm-extracting-variance-components/4409/4), especially "if you use Stan, then you can just generate posterior predictions from the model and see how the variance across the data changes when you include or nullify a group-specific term."

[2020-09-10 16:27] lizzieinvancouver commented on #379
@cchambe12  Will make new sppcomplex code for this approach:

(1) All species in > or = 2 papers (if you do > or = 3 you miss 7-8 species, incl. , Picea_glauca, Fraxinus_excelsior, Betula_lenta) AND
(2) For studies with at least some experimental chilling, we included species in studies where all three cues were manipulated. We excluded studies with only field chilling here.

[2020-09-10 16:31] lizzieinvancouver commented on #382
@cchambe12  is on this! Some updates from our meeting today:

Chilling is the most variable (good), but might co-vary the most with population (because it's all field chilling generally).... should we focus on forcing and photoperiod maybe?

Switch back to rstan code, since rstanarm is struggling to run too. We just need to check the rstan code.

[2020-09-10 18:34] lizzieinvancouver opened #383 "write up how we did spatial versus temporal calculations"
@MoralesCastilla Will write this up:

* start with clim_{x} -- that is for one site (x) we have 37 years (i...n=37)
* geo is mean{clim_{x}} ... SD{clim_{x}} over i:37 years ... then take average of those
* temp is mean{clim_{x...n=max(sites)}} over the years ... then calculate the mean and SD of those cells

* SDev.Tmins -- gives idea of temporal variation *within each year*
`means.years <- aggreg

[2020-09-10 18:36] lizzieinvancouver opened #384 "doc on cue x range findings"
@dbuona will wait for new sppcomplex code (see issue #379 ) then do his cheap approach but the stan mode's line with credible intervals and put in a document

[2020-09-10 18:43] lizzieinvancouver opened #385 "run models with just one dataset per continent"
@dbuona Compare answers using just two datasets: one from each continent.... use a study with max species on each continent

[2020-09-10 18:45] lizzieinvancouver commented on #382
@cchambe12  Side note: we also dreamed to look at population effects across continents (using posteriors and grouping by NA versus European spp.)

[2020-09-16 20:56] cchambe12 commented on #379
Oh goodness this is a doozy! I am struggling to make species complex code for our ranges...

What I'm narrowing in on is actually, one study manipulates all three cues and that third cue can in fact be field chilling only.

If that's the case, then we would need to add these species: Picea_mariana (North American) and Ulmus_minor (European)

[2020-09-17 13:23] cchambe12 commented on #379
I have added Picea mariana and updated the synthesis code and maps. @MoralesCastilla Can you add Ulmus minor to the European species list? Then I think we can close this issue!

[2020-09-17 13:24] cchambe12 commented on #383
I've changed the names and have updated all relevant files!

[2020-09-23 16:52] lizzieinvancouver commented on #249
@cchambe12 Thank you! I figured it out from this (finally)! My code strips out any data that is not taken two weeks apart in field sampling date -- since this paper co-varied the forcing treatment with the sampling date we lose the earlier (1 Apr) sampling date, which is also the 4.9C treatment and just retain the 10 Apr sampling date. I think that's okay, but I will make a note.

Thank you again!

[2020-09-23 19:16] lizzieinvancouver commented on #249
Some remaining tasks ...
* Check that these should all truly be constant photoperiod (all exp 1: "cronje03"   "devries82"  "karlsson03") my notes in studydesignplots.R says: # looked up the constant paper (karlsson03) and it's room ambient daylength I think
* review the checkchillist (in countintxns.R)
* see work on NAs (ask lab to check?) in studydesignplots.R

[2020-09-30 17:37] lizzieinvancouver opened #386 "post test data for PMM on discourse"

[2020-09-30 18:53] lizzieinvancouver commented on #249
In ospree_clean_withchill_BB.csv ....
* karlsson03 -- photo_type is exp
* cronje03-- photo_type is exp
* devries82 is excluded

also ...

[code]

[2020-09-30 18:56] lizzieinvancouver commented on #249
and here's the NAs from studydesignplots.R

[code]

[2020-09-30 18:58] lizzieinvancouver commented on #249
[code]

[2020-10-08 01:20] lizzieinvancouver opened #387 "adjust the gridcell weighting"
Likely not to make a big difference, but would be good to fix before we meet with Ben again. @MoralesCastilla @cchambe12 can you work on this?

From Nacho's email:

[2020-10-08 02:46] lizzieinvancouver opened #388 "do some debugging on new phylo Stan model"
@FaithJones (backed up by @cchambe12) Check out Phylo_ospree_reanalyses_inprogress.R and these lines in particular:

[code]

Compare code in stan/nointer_2levelphynew_force.stan to (pmm repo) ubermini_2.stan and see if I screwed anything up, did not think through priors etc..

Again, don't spend too long on this! But do some checks to see if we can figure out what might be up.

[2020-10-08 02:49] lizzieinvancouver opened #389 "try OSPREE phylo data using phyr"
@MoralesCastilla (backed up by @dbuona) try to see if phyr package can help us ... I was looking at pglmm f(x) ... check out (in pmm repo) [toy model](https://github.com/lizzieinvancouver/pmm/blob/master/analyses/ubertoy_phyr.R) too ... may be a better place to start?

[2020-10-08 17:25] lizzieinvancouver commented on #249
### constant photoperiod papers ...
- **cronje03** -- were take from field: "wrapped in moist paper before cold storage in plastic bags in an uprightposition at 4-7°C.... transferred to growth chamber maintained at a constant 25°C and illumination of 215 (imolm^s1 photo- synthetically active radiation, to force budburst" ... so this should be 24 h I think
- **devries82** -- scant methods but assum

[2020-10-08 20:05] lizzieinvancouver commented on #249
### Forcing NA
- ashby62 -- forcing not given as best I can tell
- gansert02 -- this is ambient I think, but we listed as none in BB data so leave as none
- hawkins12 -- common garden, okay to drop
- ruesink98 -- some (8-10 rows) are empty, we but we should have most of this study having forcetemp

### Photoperiod NA
- falusi96 -- mix of ambient (37 rows, all exp1), none (4 rows, exp 2) and experi

[2020-10-15 17:40] dbuona commented on #385
The European dataset with most species is Laube14a and North America is Flynn18.
Totals 593 rows of data which may be too small for our models. I ran 6000 iter, 5000 warmup adapt_delta .99 and still had 12 divergent transitions, bad effective sample sizes and Rhats and missing Bayes fractions (whatever that is).

Thoughts on how to proceed?

[2020-10-17 00:06] lizzieinvancouver commented on #385
@dbuona I can take a look; can you point me to the code?

[2020-10-22 15:48] cchambe12 commented on #387
@MoralesCastilla I think I found a quick and easy way to adjust for this!

If we add, `weights=TRUE' and `normalizeWeights=FALSE' to any extract() function it seems to be doing what we want it to do.

Example:
pixels.sps.i<-unique(sort(unlist(raster::extract(ras.numpixels,spsshapeproj, weights=TRUE, normalizeWeights=FALSE))))

I have updated all files for North America

[2020-10-22 16:15] MoralesCastilla commented on #387
@cchambe12

Hi Cat, I'm not sure this is exactly what we wanted, but perhaps is (I'm going to check it). This fix seems good to adjust for the amount of an overlapping raster cell with a polygon for which we are extracting the data. We had not done this before, and so it sure will be a good fix to add instead of assuming that all overlapping cells should be included fully (what our previous approa

[2020-10-23 21:52] FaithJones commented on #388
I have taken a look at this problem, and am playing about with ncp parameterisation. One possible issue I have seen that might be contributing is that a_sp and sigma_y were not well defined (no priors). I tried adding some possibly sensible priors (to a file named nointer_2levelphynew_force.stan_fj for now), but no luck.

I also looked around teh internet and it seems like the problem might be fix

[2020-10-26 20:03] lizzieinvancouver commented on #249
Across checkchilllist and checkchillna I have <NA> for ...

ashby62 (exp 1)
caffarra11a (exp 1)
cannell83 (exp 1-2)
charrier11 (exp 1-2)
falusi90 exp1 (only a few rows I think)
cook05 (exp 1)
gansert02 (exp 1-2)
granhus09 (exp 1)
heide05 (exp 1-2)
heide11 (exp 1-3)
howe95 (exp 1)
nishimoto95 (exp 1)
pettersen71 (exp 1-2)
sonsteby13 (exp 1 - 2)
worrall67 exp 1, 2, 5

[2020-11-06 02:24] lizzieinvancouver commented on #388
Notes from @MoralesCastilla today:

I’ve been working on Will’s code and still have not managed to make it run. The things I’ve been trying so far (so if Dan you do some work on this later don’t repeat these):
-          Tried non-centered predictor
-          Tried tweaking priors
-          Added lambda as a parameter to be retrieved by the model
-          Added lambda prior

I still have not t

[2020-11-06 02:28] lizzieinvancouver commented on #388
@AileneKane Also worked on this ... My start on comparing simulated data to ospree data for the phylogeny model is here
 in phylogeny/compare_ospreedat_ubermini_2.R

And here is [a plot](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/phylogeny/figures/phylotestospcomp.pdf) (side note, love the salmon and light blue). So we should adjust the test data to:
y range is bigger in OSPR

[2020-11-06 16:27] cchambe12 commented on #382
@lizzieinvancouver
 Model is ranges/stan/nointer_3levelpop_force&photo.stan. The neffs are veryyy low for some of the sigmas. I've tried changing the priors and the distributions but this didn't fix the issue. Thanks for looking this over!

Output from the current rstan model of 4000 warmup and 5000 iterations:

        mean      se_mean           sd         2.5%          25%          50%

[2020-11-07 17:33] lizzieinvancouver commented on #382
@cchambe12 Yes, this model is definitely unhappy. I ran it and reviewed your Stan code. Your Stan code looks good to me (nicely done!) so I don't *think* that's it. But it does look like it's hanging up on the photo pop part.

I think the photo pop model needs an NCP. NCP is the default in brms and rstanarm so it's makes sense that it's running there ...

<img width="812" alt="popmodel" src="https

[2020-11-09 16:36] cchambe12 commented on #382
@lizzieinvancouver I added ncp for photo and had rhats >3 and ~3000 divergent transitions and then I tried doing force and photo as ncp but things were even worse! I must be doing it wrong. Do you mind checking my code in stan/nointer_3levelpop_force&photo_ncp.stan?

Warning messages:
1: In readLines(file, warn = TRUE) :
  incomplete final line found on '/Users/CatherineChamberlain/Documents/git/o

[2020-11-09 16:43] lizzieinvancouver commented on #382
@cchambe12 Thanks for the quick work! I unfortunately don't have time to dig into code very soon, but I don't want to hold you up, so, I suggest (1) you cross-check against [this example](https://discourse.mc-stan.org/t/trying-to-make-a-three-level-nested-linear-model-run-faster/3405/7) and maybe review [this post also](https://discourse.mc-stan.org/t/non-centered-hierarchical-model-with-multiple-

[2020-11-09 18:37] FaithJones commented on #382
@cchambe12  I can take a look at your code if you like, but I can't find it. What repo is it in?

[2020-11-09 19:12] cchambe12 commented on #382
@FaithJones Great thanks Faith! I tried tweaking the code based on the above examples but it is still failing. You can find the code in analyses/ranges/stan/nointer_3levelpop_force&photo_ncp.stan and then analyses/ranges/models_stanforranges.R for the code.

[2020-11-12 22:47] FaithJones commented on #382
@cchambe12 I took a look and there were a few issues with the npc, mostly that you defined b_force and b_photo twice and the raw values needed priors. The model is working better now (see code in repo), but I think you need ncp on the population level as well. I'm happy to take another look later if you like

[2020-11-17 16:53] lizzieinvancouver commented on #382
@FaithJones Awesome! Thank you! And nice work @cchambe12 ... Once we're happy with the model we should keep this code elsewhere someday as a working example of a nested model in the lab (would be nice to keep the non-NCP and NCP versions).

[2020-11-18 14:27] MoralesCastilla commented on #387
Dear rangers,
@dbuona @cchambe12 @lizzieinvancouver

I was supposed to get back to Dan with weighted results for Europe, but in dealing with Cat's code I have come across my concern/comment above.

I think what Ben meant was that we should weight pixels by their size. Instead we could weight in by the size of each subpolygon in which each species range is subdivided (this is what Cat's code does,

[2020-11-18 16:53] lizzieinvancouver commented on #387
@MoralesCastilla Hi Nacho! Thanks for working on this (and apologies I missed your earlier comment, I found this and that one in my trash -- argh! And I cannot figure out why ... problem for another day). Quickly..

(1) Yes, you are correct. My understanding is Ben wants us to correct for pixel size (bigger towards poles).
(2) Could we not use another projection and go from there? I know nothing a

[2020-11-18 17:12] MoralesCastilla commented on #387
@lizzieinvancouver Hi Lizzie!

(1) Quite a relief! (I realized pixels are actually smaller towards the poles when using geographic projections just because in a sphere, meridians get closer to each other as they approach the poles... counterintuitive, I know!).

(2) This would be doable using an equal-area projection (e.g. Behrmann, Albers; in these, each pixel has exactly the same size and thus a

[2020-11-18 17:15] cchambe12 commented on #387
@lizzieinvancouver @MoralesCastilla The way Ben framed it, it seemed so simple!

Here were his instructions:
For the area weighted average across grid cells, this is how I usually do it:

1. Calculate the area for each grid cell (sounds like you have a function for this)
2. Multiply each grid cell value (e.g., GDDs) by the area, and then sum this across ALL grid cells
3. Sum just the grid cell are

[2020-11-18 18:12] MoralesCastilla commented on #387
@cchambe12 @lizzieinvancouver

Hi Cat! I saw your code (which is great since you manage to compute weighted sds, I couldn't), and the thing I don't get from it is that the function area is not applied to the raster (and thus to grid cells) but to the shapefile `spsshapeproj`, so that the resulting `sps.area` object has as many elements as the number of features (or subpolygons) in the shapefile (e

[2020-11-27 19:34] lizzieinvancouver commented on #249
Picking up where I left off a month ago (yikes)...

- gansert02 (exp 1-2) -- this an observational study (on Mt Fuji) of bud phenology -- it's across altitudes but it's ALL in the field so **it's not really an experiment.**
- granhus09 (exp 1) -- these are the chilling interruption folks ("Chilling treatment
at 0.7 ± 0.7  ̊C interrupted by mild spells of 14 days duration at a constant temperature

[2020-11-27 21:13] lizzieinvancouver commented on #249
Based on my Oct 8 notes I changed manson91 to ambient photo in studydesignplots. R.

What's left? While for experimental chill (drawing from the above and studydesignplots.R code comparing NAs and where we say otherwise in the BB chill_type column) we should check if we can assign an average value or 'other' or 'variable' to ...
- cannell83 (exp 1-2)
- falusi96 (exp 2-3)
- sogaard08 (exp1a, exp3a,

[2020-12-14 20:47] lizzieinvancouver commented on #389
From Tony on 23 Nov 2020:

[2021-01-18 17:48] DeirdreLoughnan opened #390 "Work on phenology-trait joint model"
@FaithJones, @dbuona, @legault, & @DarwinSodhi. We need to continue to develop the phenology-trait model, adding more realistic priors, and eventually running on real data.

I look forward to hearing the updates!

[2021-01-18 17:52] DeirdreLoughnan opened #391 "PCA of traits"
@lizzieinvancouver, @cchambe12, @md-garner, as Lizzie suggested we should run a PCA for all the data as well as for the geometric (trait by species) means.

I will summarize and share the known trait associations early this week for us to get started!

[2021-01-18 19:08] DeirdreLoughnan opened #392 "Cleaning duplicate data"
@legault I was taking a last look at clean_duplicates.R and was struck by how much of the bien data is being removed. If we add Latitude, Longitude, and Reference to the target variables (~line 45), we are left with 65% of the total dataset as opposed to only 2%.

Could you take another look over the code and see if there is anything other variables we should include, or reasons why we should not

[2021-01-18 20:25] cchambe12 commented on #387
@MoralesCastilla Hi Nacho, sorry this is so delayed! This looks right to me and makes a lot more sense for sure. I will play around with this for the North American species and we can go from there.

[2021-01-19 18:39] DeirdreLoughnan commented on #391
There are six traits in the classic leaf economic spectrum, of which we have data for leaf lifespan, leaf nitrogen content, and specific leaf area (which is the inverse of leaf mass area). We also have photosynthesis data, but it is only for two species. Of the wood economic traits, we have data for height, and stem specific density.

Other traits we have data for are stem diameter (which should b

[2021-01-21 22:01] lizzieinvancouver commented on #392
@DeirdreLoughnan I know Nacho's original code a fair bit (Ailene and I did the peer code review on it) so let me know if I can help. Based on what I know it would be critical to include Latitude, Longitude, and Reference, as the code (Nacho's original for the OSPREE budburst data) only compares values if the relevant columns are the same -- in the original code that was a bunch of treatments and p

[2021-01-22 20:27] DeirdreLoughnan commented on #392
@lizzieinvancouver that would be great.

I realized that the lat/long included in the dataset were the original values (which special characters) and not the standardized values. I went back into the cleaning code (TRY_cleaning_Nov2020FJ.R) and added the standardized values, but in doing so, a number of special characters were introduced into the reference column. @legault @FaithJones do you know

[2021-01-25 18:30] legault commented on #392
@DeirdreLoughnan I'm not sure why that's happening. Looking at TRY_cleaning I don't see a place where the reference column is altered. If you revert the change to lat/long, can you reproduce the effect on the reference column? Relatedly, are any of the special characters commas or things that might affect how the data is read into R?

[2021-01-26 23:24] DeirdreLoughnan commented on #392
@legault the issue seems to have resolved itself on my end, but I don't understand what caused it. I only changed the ExtraInfoColumns section of TRY_cleaning_Nov2020FJ.R (lines 117-146) and then it was no longer reading the umlaut or accents on authors names. Oh well!

[2021-01-27 03:22] lizzieinvancouver commented on #391
@DeirdreLoughnan I took a quick look at the code. A few questions  and thoughts ...

(1) I don't see where you take the geometric mean per species. Can you check the code is doing what you think? There are lots of ways to code that, I might subset by species and trait (as you start to) then [follow along here to get the geometric mean](https://stackoverflow.com/questions/2602583/geometric-mean-is-

[2021-01-27 06:20] DeirdreLoughnan commented on #391
@lizzieinvancouver Thanks for taking the time to look over this.

1. My code was around line 104 in the version I just pushed, and I do get the same mean values as summarise using dplyr. But they are both different from the functions on stack overflow. I created a for-loop that uses the gm_mean function from stack overflow (lines 111 to 140). We can discuss it more at lab meeting perhaps.

2. I ag

[2021-01-28 18:45] DeirdreLoughnan commented on #233
We have pulled trait data from TRY and BIEN for 101 species and 11 traits!

[2021-01-28 18:45] #233 closed

[2021-01-28 18:49] #374 closed

[2021-01-28 18:52] DeirdreLoughnan commented on #327
The two files needed to clean the TRY data are: TRY_cleaning_Nov2020FJ.R, TRY_cleaning_master.R, both of which are in the analyses/traits/Rfiles/cleaning_try folder.

[2021-01-28 18:52] #327 closed

[2021-02-01 22:56] lizzieinvancouver commented on #331
Based on my quick skim of the current MS (umm, a year later!) I have added most of these. Thanks everyone!

[2021-02-01 22:56] #331 closed

[2021-02-01 22:57] lizzieinvancouver commented on #164
We have a second draft of this manuscript so I am calling the outline issue done and closed.

[2021-02-01 22:57] #164 closed

[2021-02-01 22:58] lizzieinvancouver commented on #307
Yes! I am right as of December 2019 ... we have some useful code in limitingcues/nonlinearities_intxns.R and nonlinearities_more.R.

[2021-02-01 22:58] #307 closed

[2021-02-01 23:09] lizzieinvancouver opened #393 "Help with conceptual non-linearity figures!"
Hello! I desperately need help with some conceptual figures. Right now I have them as three separate ones, all in [this folder](https://github.com/lizzieinvancouver/ospree/tree/bbculdesac/docs/limitingcues/figures) ... I will also paste them below in a separate comment.

Could both of you work together to figure if we should include them and, if so, how? (Three figures, one big figure, two figures

[2021-02-01 23:09] lizzieinvancouver commented on #393
fig:onecue currently looks like:

![limcues_nonlin_onecue](https://user-images.githubusercontent.com/2153556/106529528-86424600-649f-11eb-863e-81d09060e647.png)

[2021-02-01 23:10] lizzieinvancouver commented on #393
fig:intxncues looks like

![limcues_intxns](https://user-images.githubusercontent.com/2153556/106529551-8fcbae00-649f-11eb-8340-9946633e6cb9.png)

[2021-02-01 23:10] lizzieinvancouver commented on #393
and fig:chilling ...

![limcues_chilling](https://user-images.githubusercontent.com/2153556/106529573-99551600-649f-11eb-9474-1e8558a0a507.png)

[2021-02-01 23:12] lizzieinvancouver opened #394 "Help with numbers in limiting cues ms!"
@cchambe12

Can you help me update the text in 'How studies and their experimental treatments vary globally' and 'How studies manipulate cues'? I ask because I think to do this requires your code in studydesign_numcues.R and my code in countintxns.R and I am a bit overwhelmed by the task. To make it easier though I have added to countintxns.R new output ospree_studyinxns.csv ... this *should* be e

[2021-02-01 23:16] lizzieinvancouver opened #395 "help with studydesign figures!"
@dbuona Can you review my code in studydesignplots.R? See what outstanding issues remain and try to figure out if there is any way to add the non-numeric values ('variable' etc.) of experimental chilling to the final heatmaps (heatmapphotoxforcexchill I believe).

[2021-02-01 23:53] DeirdreLoughnan opened #396 "Contacting TRY about data quality"
Thanks @DarwinSodhi for contacting TRY to ask them about the inclusion of duplicated data and their stance on data quality.

I look forward to hearing their response!

[2021-02-01 23:55] DeirdreLoughnan opened #397 "Resampling height trait data"
Thanks @lizzieinvancouver for offering to help resample the height data to make the size of the dataset more manageable.

Please let us know if there is anything we can do to help!

[2021-02-01 23:56] lizzieinvancouver commented on #397
@DeirdreLoughnan I did this already! (Wow, this never happens) Check out commit #1bace95b6f3e14a2cc8a8bfe6eccb1e91e06cc6a

[2021-02-01 23:56] lizzieinvancouver commented on #397
commit 1bace95b6f3e14a2cc8a8bfe6eccb1e91e06cc6a

[2021-02-02 01:28] DeirdreLoughnan commented on #397
Amazing , thanks!

[2021-02-04 22:32] dbuona commented on #395
@lizzieinvancouver Wow that's a lot of code! I came up with a rather hacky way of adding character values to the heat maps (adding a boarder around each cell value colored by character). I can't quite figure out why the borders are different thicknesses for different cells but if you like the general approach I can keep playing with it. see heatmapphotoxforcexchill.

[2021-02-05 17:50] DarwinSodhi commented on #396
I emailed the database manager yesterday, his response is below

"Dear Darwin
TRY does not remove duplicates from submitted datasets. Duplicates are however marked in field OrigObsDataID. Please check the release notes! We are currently working on R code to evaluate TRY data output. It is not ready for publication however.
With my compliments
Gerhard"

[2021-02-07 22:42] DeirdreLoughnan commented on #396
Thanks Darwin for contacting TRY.

Unfortunately many of the rows of duplicated data in our dataset appear to not to have OrigObsDataID's!

[2021-02-08 01:18] lizzieinvancouver commented on #395
@dbuona Thanks! I think this could definitely work if we can make it more faint or somehow less dramatic -- I don't want it to draw all the readers' attention since we're also trying to show the values and compare to field sample dates.

One alternative would be to give different numeric values to 'other' and 'variable' and then manually do the gradient? I am not sure if that would work, but here

[2021-02-08 01:26] lizzieinvancouver commented on #396
@DarwinSodhi @DeirdreLoughnan Thanks to you both! It's nice to have such a quick reply. Perhaps many of these values are just replicates of the same species x same everything else? Does TRY have such data?

Also, @DeirdreLoughnan how similar do values have to be to be considered dups? In looking [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/traitors_clean_du

[2021-02-08 01:38] lizzieinvancouver commented on #395
@dbuona One more request (from looking over my notes) ... can you check my work? I have a note that says:
Make sure that I gather correctly: see [here](https://stackoverflow.com/questions/48772829/heatmap-in-r-with-ggplot2) AND [here](https://www.worldfullofdata.com/three-ways-create-heatmap-r/)

[2021-02-08 09:39] MoralesCastilla commented on #393
@lizzieinvancouver @AileneKane

Ailene and I met last week and have started working on this. Ailene is working on the code for figs 1-2, which we thought could be merged (new suggestions expected by the end of this week, beginning of next week).

For fig. 4, we both agreed it is already nice as it is but, as a suggestion, we thought the information could be displayed in a single panel. Here is a [

[2021-02-08 16:00] cchambe12 commented on #387
@MoralesCastilla @lizzieinvancouver @dbuona Sorry for the delay but I _think_ and I _hope_ this is finally done for the North American species

[2021-02-08 19:43] cchambe12 commented on #394
@lizzieinvancouver I think I am done with this task! I have added key codes to countintxns.R so we can use these in the manuscript. I'd be happy to put these codes in the .Rnw file if you'd like that too!

One question I have, at the end of page 8 you say:
 "A slightly larger set of studies (5 studies) examined three cues indirectly—manipulating photoperiod and forcing in controlled environments b

[2021-02-08 19:46] cchambe12 commented on #394
@lizzieinvancouver Also, I realized the studydesign_numcues.R was only using studies from the bb_analysis so I have updated Figure 6 to include all studies

[2021-02-09 15:55] cchambe12 commented on #382
Thanks to @FaithJones the model is officially complete!!!! Wooohoo!! It's beautiful.

[code]

[2021-02-09 17:53] lizzieinvancouver commented on #382
@cchambe12 Yay! Nice work to you and @FaithJones! You'll have to tell us how you did it sometime.

[2021-02-09 17:56] FaithJones commented on #382
That's great @cchambe12! I certainly got to practice my ncp's a lot with this model. If you are happy with the model and want to keep it as an example I would suggest cleaning the script a bit (removing the text that doesn't run) and maybe annotating it to death. Also feel free to remove the "_fj" bit in the name, I just do that so I don't accidental ruin your existing code. Let me know if you wan

[2021-02-10 01:32] lizzieinvancouver commented on #393
@MoralesCastilla This looks great! I really like the change (feel free to change colors etc. as you see fit). Thank you and @AileneKane for working on this.

[2021-02-10 01:36] lizzieinvancouver commented on #382
@cchambe12 It would be great if you could add it to the labgit NCP stuff (if feasible).

@FaithJones You should feel free to edit people's files directly! If you mess it up you can git checkout master. If you copy files and give them new names you break a lot of why we use git -- the ability to see changes, track who did what and when.  (Alternatively you can create a new branch and merge back for

[2021-02-10 01:43] lizzieinvancouver commented on #394
@cchambe12 Amazing! Thank you!

Good point on the five studies ... looking at ospree_studyinxns.csv I think we may need to double check ...

* skuterud94 -- looks to be exp chill
*  schnabel87 and partanen98 I have listed as photo/force x field sample ... meaning I thought photo and force covary (not full factorial)

Can you check these papers to see if you agree or disagree?

Also, it would be *w

[2021-02-10 17:15] dbuona commented on #395
@lizzieinvancouver I made a new draft of the heat map (heatmapphotoxforcexchill_alt.pdf) as conceived of above.

I'll keep working on checking the code. Are there specific lines or chunk that you are worried about the gathering?

[2021-02-10 18:28] cchambe12 commented on #394
@lizzieinvancouver Ahh yes, skuterud94 is experimental chill and yes again to schnaebel and partenen98, photo and forcing covary for sure.

Okay, I have added a new .Rnw. I hope it works, I think your compilation system is different than mine and I didn't want to mess up your .pdf or .tex files.

[2021-02-10 18:41] cchambe12 commented on #382
@FaithJones @lizzieinvancouver Cool, I have added some notes and renamed the file and removed the text we aren't running. Thanks again for all of your help!

[2021-02-10 20:03] lizzieinvancouver commented on #382
Lookin for results? [Check out the notes here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/notes/popmodel_output_stan.txt)

[2021-02-10 23:02] DeirdreLoughnan commented on #396
@lizzieinvancouver my understanding is that the data has to be identical, the relevant code is lines 53 to 60. I just copied this code from lines 23 to 43 from the code [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/cleaning/clean_moreduplicates.R)

[2021-02-12 18:20] AileneKane commented on #393
@MoralesCastillaThank you for making it look so pretty! I was realizing that I think we should extend the chilling accumulation line below 1.4 degrees C (it currently stops abruptly there).  It should be a horzontal line at 0 below 1.4 degrees (no chilling accumulates, based on the utah model). I can update the code to reflect this. Perhaps you want to add it in AI for this figure?

[2021-02-14 19:17] lizzieinvancouver commented on #396
@DeirdreLoughnan You're right! I was think of a different cleaning script (clean_bbperctodays.R).

@DeirdreLoughnan Can you provide a total n rows of data to start with, n rows lost in the cleaning of duplicates and of those n rows how many had a duplicate flag?

[2021-02-14 23:07] lizzieinvancouver commented on #395
@dbuona Thanks! This looks good -- can you put slightly bigger gaps between 20 to variable/other when coding them, so it's pretty obvious where the numeric coloring stops? Perhaps just lump variable and other into 'variable/other' even.

And yes! I am most worried about the code under "TO DO for heatmap:  (1) Make sure I am counting correctly" specifically when I build dsumm.treat and any of the d

[2021-02-14 23:11] lizzieinvancouver commented on #395
@dbuona To finalize the new exp chill figure, can you switch to a viridis palette (https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html) and make an updated heatmapphotoxforcexchill2panel.pdf (two panels)?

[2021-02-15 01:27] DeirdreLoughnan commented on #396
@lizzieinvancouver here are the values:
n rows of original data: 1258659
n rows lost by removing dup: 434905
n rows flagged as dup: 434905

[2021-02-15 02:41] lizzieinvancouver commented on #394
@cchambe12 The .Rnw compiled for me without a hitch -- amazing! Thank you!

Your code looks great, but I do have a few more requests before I finalize a new draft. If any of these are tricky or onerous, let me know and I can try to help.

1. Can you estimate the counts of studies by datasetID x study? I think that is how I did many of the counts but it looks lookupintxns and lookupcues might be on

[2021-02-15 18:27] cchambe12 commented on #394
@lizzieinvancouver  No problem at all! I have made the above corrections.  I have not added these new codes into the .Rnw as I'm not sure where or how you want to include them and I didn't want to change the text too much. Let me know if you'd like me to do that for you though!

1. I have added "study" to both of these lookups
2. I have added these and have named them as "num.force.single", "num.p

[2021-02-15 18:34] MoralesCastilla commented on #393
@AileneKane that makes a lot of sense. I've updated the figure to account for zero accumulation of chilling at lower temperatures.

[2021-02-15 21:47] lizzieinvancouver opened #398 "finish GDD by utah figure if we decide to keep it"
I push this today, see GDD_plottinglimcues.R.

Note that in the code get_GDD.R you get an error here:

[code]
So I did not use GDD_plotting.R so much as I could not update the relevant csv files but see gddbyutah_fromGDD_plottingcode.pdf for what the output looked like (values seem pretty similar to my new estimates on QUICK glance)

[2021-02-15 21:48] lizzieinvancouver commented on #394
@cchambe12 Thank you! I put most of these in, but the numbers don't always line up:

Re 2. Can you check how these are estimated? The numbers seem like the should add up (or close to) but they way over-add-up, here's how they print: "Single cue studies were the most common (64 studies), with 41 manipulating forcing, 40 manipulating photoperiod and 34 manipulating chilling."

Re 3: Similar issues h

[2021-02-15 21:54] lizzieinvancouver opened #399 "finalize Fig1_noblues_densities.png"
![Fig1_noblues_densities](https://user-images.githubusercontent.com/2153556/107996217-b5bf7b00-6f94-11eb-8d27-366a93d95221.png)

@AileneKane  asked last year for us to "describe somehow that the color of the dots relates to the temperatures in the histogram" -- can we add a color bar and/or just some text to explain?

Also, can you draft up SOME quick methods for your part of this?

Finally, do yo

[2021-02-15 21:58] lizzieinvancouver opened #400 "finalize the map figure"
@cchambe12 Can you track down the code for the map map_studyspp.pdf and update it by ...

- Check your numbers, it says basler12 is 28 spp, but it should be 14
- Perhaps adjust the breaks in the circles? Maybe just do it for all studies but zohner and then we can note that zohner is giant in the caption?

[2021-02-15 22:01] lizzieinvancouver commented on #395
@dbuona Me again! Could you update the supp (exciting, I made a supp!) with `\Sexpr` for the current text, and add any more text and figures you think we should have on latitudinal trends? And pretty up those figures so they are publishable (axes with full words etc.)?

[2021-02-15 22:04] lizzieinvancouver commented on #396
@DeirdreLoughnan So, all the rows removed as duplicate were flagged as duplicates?

[2021-02-15 23:21] DeirdreLoughnan commented on #396
Yes, unless there is something I am missing, all the rows flagged by line 47 as being duplicates are the same as the rows being removed.

[2021-02-15 23:33] lizzieinvancouver commented on #396
@DeirdreLoughnan Well, that's good news for TRY and for our coding abilities.

[2021-02-15 23:41] DeirdreLoughnan commented on #391
@lizzieinvancouver @legault I am still struggling with the reorganization of the raw trait data into a matrix.

The code in question is in: traits/Rfiles/traitors_PCA.R, lines 65 to 90.
I think I am really close, as this code creates a matrix with columns for each trait and the species names, but it compresses all the data within a column rather than line it up with the correct species. @legault i

[2021-02-16 00:12] DeirdreLoughnan commented on #396
Sorry I misinterpreted what you meant by flagged. If you meant the ones that have the same OrigObsDataID's as the rows flagged as duplicates, then the numbers would be:

n rows of original data: 1258659
n rows lost by removing dup (ie flagged by us): 434905
n rows flagged as dup by try: 429877

So there is a difference of 5028 rows between what we flag as being duplicated and what try flagged.

[2021-02-16 00:33] lizzieinvancouver commented on #396
@DeirdreLoughnan Ah, okay! Still, it's not as bad I expected.

[2021-02-16 00:42] lizzieinvancouver commented on #391
@DeirdreLoughnan Does that code definitely run for you? When I just tried it I got an error ...

[code]
Without seeing the issue I am not sure, maybe you can paste your output here?

(I assume you'll fix this later, but a reminder that you should also write the code without 7 or 6 ... 7 must refer to something, maybe length(traits) + 1? Basically you should almost never use numbers as they can eas

[2021-02-16 00:54] DeirdreLoughnan commented on #391
Sorry Lizzie I pushed a corrected version.

But in thinking about it more, I think it might not being doing what I think it should. My output looks like this for a subset of the first six species, but would expect there to be more seed mass data.

       SLA                    N              SSD                  ldmc                lcc            seed          speciesname
   [1,] "14.9045652173913

[2021-02-16 04:44] lizzieinvancouver commented on #391
@DeirdreLoughnan Here's a few a checks I always do on loops I am struggling with ...

It ran! So ask what it ended on ...

[code]

Do those sound right to you? I also would try it with a smaller data subset that you know how it should end up looking.

Next ... run the loop without the loop and look at progress along the way ...

[code]

and ...

[code]
and ....

[code]

Does that give you any idea

[2021-02-16 14:46] dbuona commented on #395
@lizzieinvancouver
1. I checked the gathering using an alternative dplyr syntax that I am more familiar with and it yielded the same answers so I think we're good there.
2. I upated the heatmaps with viridis.  I wasn't sure if it was good to have the two maps on the exact same color scale or not, so I went with a "similar but not identical" viridis palette  for each one but I am happy to tweak the

[2021-02-16 23:13] MoralesCastilla commented on #393
@lizzieinvancouver @AileneKane
Here's a first stab at fig 2, which would kind of incorporate fig 1 and scenarios when chilling decreases with warming. We thought this could simplify things a bit, but I think both Ailene and I would like some feedback and perhaps brainstorm on how to improve this one. Looking back at the original figure I realize perhaps the point was making something still more co

[2021-02-17 02:18] lizzieinvancouver commented on #393
@MoralesCastilla @AileneKane Thank you for this! I think it looks great and seems like it could work for Fig 1-2 (which I would like as they seem pretty overlapping).

I think one thing to clarify is whether the top row is photoperiod or just a 'second cue' that declines (that could be photoperiod or chilling)? Or a mix? I think a mix will be hard without some edits to the figure, but maybe not wi

[2021-02-17 02:22] lizzieinvancouver commented on #395
@dbuona Thanks! Re (2) -- good point, I don't know what the rule/best-practice is there either, but I like the figure! It looks good to me and the other/variable really nicely stands out now (thank you!). We can see what the co-authors say.

[2021-02-17 07:13] legault commented on #391
Regarding lines 65+ in "traitors_PCA.R": Is there a way to link particular trait values (say SLA in row 792) to other trait values, other than via species names? In other words, is it possible to know that the plant in row 792 had a particular SLA score *and* a specific leaf nitrogen content?

If so, an additional ID column could help with the organizing loop here.

If not, how are we linking trai

[2021-02-17 20:16] cchambe12 commented on #394
@lizzieinvancouver I think this is an issue when we use "study" as well as datasetID. Since there are only 85 datasetIDs, they seem to not add up but when we add in "study" they won't exactly add up and some datasetIDs will be represented as interactive studies and also as single cue studies depending on the different experiments they performed.

As for Re 2., these won't add up because many studi

[2021-02-17 20:58] cchambe12 commented on #400
@lizzieinvancouver I think this is fixed!

[2021-02-17 20:58] #400 closed

[2021-02-18 04:47] DeirdreLoughnan commented on #391
Thank you both for taking the time to look into this!

@lizzieinvancouver I think I have a better understanding of the issue, but even after your suggested steps, I don't seem able to fix it. I think what is happening is that the rows are being partially over written with each loop. I tried creating a new matrix and merging it with the first or creating another loop that identified each row of the

[2021-02-18 16:49] dbuona commented on #395
@lizzieinvancouver
I changed the axis labels on the supplement plots. Let me know if there is anything else you want done to make them even prettier.

I added Sexpr{} numbers, but I couldn't get the supplement to compile (I think there might might be broken paths between my file structure and yours). Could you take a look and see if there is any easy fix and if not I will keep chipping away at it?

[2021-02-18 19:56] legault commented on #391
It would impact the PCA in the sense that a different (random) pairing would lead to a different ordination outcome. Ideally, each row in your matrix corresponds to a set of trait measurements of the same individual.

If we can't identify the set of traits for particular individuals, we can scale up to species and study, so that each row in mat[] consists of the average trait value of species X in

[2021-02-18 20:13] lizzieinvancouver commented on #391
@DeirdreLoughnan I think taking some time off would be a good idea! When you revisit it, it would be good if you could on a small test example. Building up from a small test example is a critical part of learning to code, just as being able to break down your for loop code is. (Also, as I said before I would sub-sample the height data.) Test out the size of things you're asking R to cycle through

[2021-02-18 20:39] lizzieinvancouver commented on #394
@cchambe12 Thanks for working on this. Do you think I can fix it by always using DatasetID and study together? It seems to me like that should work unless I am missing something? I think we should focus mainly on DatasetIDxstudy as that's the unit at which treatments are applied.

What do you mean by "many studies are in fact single cue studies but they also manipulate an additional cue"?

[2021-02-19 15:09] cchambe12 commented on #394
@lizzieinvancouver Okay, I think I have fixed the issues. I guess what I mean is that not all of the numbers will add up entirely because some studies manipulate more than one cue but they weren't interactive studies. But I think it is fixed now.

[2021-02-19 19:21] lizzieinvancouver commented on #395
@dbuona Thanks! The two issues I found in the Rnw were
1. It was first error-ing on results='hide' (I think it wanted results="hide" -- two quotation marks -- but it's not necessary so I just cut it)
2. Next it thought the PDFs were corrupted so I re-rain studydesignplots.R and then it seemed fine.

For the plots can you:
1. Make the with viridis?
2. Put all in one PDF file with a legend?
3. Are t

[2021-02-19 19:30] lizzieinvancouver commented on #394
@cchambe12 Yes! That's something we'll probably have to work on in the ms. I tried running the code but `num.twocues.intxn` is commented out, though we use it in text. Do you know an easy way to re-create it? Otherwise I can go through the code and work on it this weekend.

[2021-02-19 20:02] cchambe12 commented on #394
@lizzieinvancouver oh sorry about that! All fixed now!

[2021-02-20 21:55] lizzieinvancouver commented on #394
@cchambe12  Thanks! The numbers still seemed weird so I went through the code and found a few things. I am still working on it, but here's what I have so far ... I need more help including a sanity check ...

I think something like this: `lookupcueintxns$force>1 & lookupcueintxns$photo>1 ` may select MORE than we mean to (I think) so I switched to:
``
twocuesdf <- lookupcueintxns[((lookupcueintxns

[2021-02-21 03:53] lizzieinvancouver commented on #394
@cchambe12 Ahh! I think we're thinking of single cues differently

singlecues <- lookupintxns[(lookupintxns$interaction==0),]

Will give studies without interactions, but they could manipulate more than one cue!

[2021-02-21 03:54] lizzieinvancouver commented on #394
Saving a bunch of code I wrote and may not need ....

[code]

[2021-02-21 04:15] lizzieinvancouver commented on #394
Some of Cat's code I am deleting, but again saving for fear we may want it ...

[code]

[2021-02-21 04:16] lizzieinvancouver commented on #394
And more ... including my confused comments from earlier today ...

[code]

[2021-02-21 04:25] lizzieinvancouver commented on #394
Can we confirm these studies are exp chill?

[code]

[2021-02-21 04:44] lizzieinvancouver commented on #394
@cchambe12 Okay, this is just SO painful. So many hours of my life gone, and now so many of your hours of your life gone ...

My takehome is that I think our numbers were weird because 'single cue' studies were actually just 'no interaction' studies in your code -- so we were thinking of different things. There were also a lot of dataframes with duplicate rows per datasetID x study and some of the

[2021-02-21 04:48] lizzieinvancouver commented on #395
@dbuona So .... I just noticed that in countintxns.R I have a line of code ...

`write.csv(datsm14d, "limitingcues/output/osp14d_forheatmaps.csv", row.names=FALSE)
`
Any chance see you an easy way to switch to this in the studydesign code? As best I can tell from my own code this file is just the data subsetted to woody species, removing one dormancy study and making sure all field.sample dates ar

[2021-02-21 04:48] lizzieinvancouver commented on #395
@dbuona I can also work on this if you like.

[2021-02-21 04:50] lizzieinvancouver commented on #395
@dbuona And if you do make the switch it would be good to check that there are not dramatic changes ... it should be a small adjustment.

[2021-02-21 19:21] lizzieinvancouver commented on #399
@MoralesCastilla Okay, I figured out where my code is (studydesignplots.R) so I need from you:

1. Are the dots and histogram colors showing the same thing? If so, the histogram x label should be changed (Maybe "Change deg C" or such?).
2. Where does the climate projection data come from?
3. What temperature windows are min and max calculated for?

I checked issue #174 and did not see this info th

[2021-02-21 19:26] lizzieinvancouver commented on #174
See also issue #394 for info on spann04, granhus08 and rinne94

[2021-02-21 19:35] lizzieinvancouver commented on #394
I found this in issue #174 ....

For the rest...
granhus09: manipuated dormancy induction temperature
rinne94: different chilling temps for dormancy induction
spann04: percent budburst of flower buds... (I think this needs to be fixed in clean_respvar.R)

I think granhus09 though may be okay as it says "We tested the effects of two temperatures during dormancy induction and mild spells (MS) during

[2021-02-21 19:36] lizzieinvancouver opened #401 "fix spann04 on main branch"
Add to cleanmisc.R

[code]

Do it with reviewing dantec?

[2021-02-21 20:27] MoralesCastilla commented on #399
@lizzieinvancouver Wow, it's been a long time since I worked on this!

1. dots and histograms show the same thing, so yes, I will change the inset x-labels for the histograms.
2. climate data comes from the CMIP5, the same version we used for the winegrape paper (RCP8.5), and specifically one of the 30 simulations: 'GCM.07.Tmin1950-2005.nc', 'GCM.07.Tmin2081-2100.nc', 'GCM.07.Tmax1950-2005.nc', 'G

[2021-02-21 22:45] lizzieinvancouver opened #402 "finalize cues over time figure"
@cchambe12 Can you update analyses/limitingcues/figures/studyyearcues.pdf to make sure we use the same methods as in countinxns (maybe we should just use that code?) and make the figure shorter? Thank you!

[2021-02-21 22:46] lizzieinvancouver commented on #399
@MoralesCastilla Thanks Nacho! I'll work on updating the text and work on the supplement soon. I too cannot figure out the code (and I am sorry I did not keep better notes on this).

[2021-02-23 16:49] AileneKane commented on #393
Thank you @lizzieinvancouver for these points (and @MoralesCastilla for your work on improving the figure)! I agree that it would be helpful to add a panel- perhaps that shows how each cue changes with warming to more explicitly show that we are showing the effect of two cues changing together. I will work on this- @lizzieinvancouver perhaps we can talk about this in our meeting today (Feb 23).

[2021-02-23 20:57] AileneKane commented on #393
@lizzieinvancouver  and @MoralesCastilla I gave a rough try at this [here](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_8panels.pdf)

[2021-02-26 16:04] cchambe12 commented on #394
@lizzieinvancouver Okay yes things that I was confused on... 1) I was removing all studies that were not looking at budburst so that's why I had the series of deletions. Some didn't do anything because they were already removed, they were just checks and 2) I also definitely was defining single cues differently in my mind so that explains a lot too.

1. Your code looks elegant and clean to me! You

[2021-02-26 16:13] cchambe12 commented on #402
@lizzieinvancouver Done! I have moved this code to the countinxns.R script and have moved this script to a new zarchive folder in limitingcues. I have also made a new figure that is much shorter haha that was a very tall original!

[2021-02-26 16:13] #402 closed

[2021-03-01 19:42] lizzieinvancouver commented on #394
@cchambe12 Good question about spann04! This is what I had in the code:

`dat <- dat[which(dat$datasetID!="spann04"),] # seems only to treatments during bud formation (I think)
`

And I am re-reading it now. It's hard to tell but I am pretty sure these treatments are NOT applied during dormancy, so I think we should not include it. While we do have a lot of weird treatments, this is the only one I

[2021-03-01 20:16] lizzieinvancouver commented on #395
@dbuona I just tried to find a tidy place to add datsm14d and it seems not a great idea ... that file has so few columns, I am not sure it will work. So I made a note in the code where I write datsm14d and I just deleted spann04 from the data as that seems to potentially be treatments applied when plants were growing.

[2021-03-01 20:22] lizzieinvancouver commented on #395
@dbuona Two more requests:

1. Cat wants to know if we can make the axis labels larger? We might be able to, if we fill in missing values and go every two digits or such ... I am not sure it is worth it. See what you think.
2. Can you add a title to each panel? My idea is 'Force x photo cue-space with experimental chilling' and Force x photo cue-space with field chilling' (maybe two lines!) but I

[2021-03-02 20:46] AileneKane commented on #393
@lizzieinvancouver and @MoralesCastilla I have[ updated this a bit]([url](https://github.com/lizzieinvancouver/ospree/blob/872bc89544b8164819d857af9acad75a72cc2958/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_6panels.pdf))- still needs work to make it look pretty!

[2021-03-03 12:09] MoralesCastilla commented on #393
@lizzieinvancouver @AileneKane here go a couple of tweaks to the [figure](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_6panels_imc.png). I was wondering if it would make sense to zoom in panel C to avoid the clumping of lines and labels. Other than that, I think this version tells a clearer story than the previous one.

[2021-03-03 18:20] lizzieinvancouver commented on #393
@MoralesCastilla This looks amazing to me! Do you mean panel E? Ailene and I had discussed her changing where the threshold is, which I think would also help.

[2021-03-04 12:30] MoralesCastilla commented on #393
@lizzieinvancouver  Ups, sure, I meant panel E. Changing the threshold would actually a better idea to keep the x-axis in the same scale across panels!

[2021-03-04 17:01] AileneKane commented on #393
@MoralesCastilla I love how you've improved it! I will remake the figure with a different threshold and also add an example chilling line showing a decline in chilling to panel A.

[2021-03-04 19:25] AileneKane commented on #393
ok @lizzieinvancouver and @MoralesCastilla I have modified the [figure](https://github.com/lizzieinvancouver/ospree/blob/5909c16b4fe403bb4ce7747217c474f457f3fe78/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_6panels_new.pdf) a bit by removing the units on the axes and changing the threshold. I also added a third chill line that shows a decline in chilling. We could consider showing

[2021-03-04 21:20] lizzieinvancouver commented on #393
@AileneKane Looks good! I think a polygon for chilling would be more intuitive. It would be great if you can also note your methods clearly here or elsewhere (esp. on how you got the panel A trend lines).

Thank you both for working on this!

[2021-03-06 00:06] DeirdreLoughnan commented on #391
A summary of the final PCA for the geometric means of a subset of the trait for 26 species and six traits can be found [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/notes/SM_traitors.pdf)

[2021-03-06 00:06] #391 closed

[2021-03-06 00:11] DeirdreLoughnan commented on #392
For related notes on TRY's explanation for how to find duplicate data, see [here](https://github.com/lizzieinvancouver/ospree/issues/396).

Ultimately we are sticking to our current methods of removing duplicated data, which removes 434905 rows of data, 5028 rows more than would be removed using the OrigObsDataID's alone.

[2021-03-06 00:11] #392 closed

[2021-03-08 19:24] lizzieinvancouver opened #403 "date wrong for charrier11?"
Paper says ...

But we entered "29 November 2008" which is the date for the chilling and heat requirements study.

Much check!

[2021-03-10 01:27] AileneKane commented on #393
@lizzieinvancouver and @MoralesCastilla I've modified the conceptual figure to include a polygon [here](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_6panels_polygon.pdf)
I've also tried to check that the magnitude of interactions we use in the simulations for this figure are reasonable but all the studies that I checked th

[2021-03-10 02:03] AileneKane commented on #393
Here are my methods:
We simulated budburst dates, using the following linear models:

1. Forcing only (e.g., bbforce <- interceptbb + feff*df$force); interceptbb set to 120

2. Forcing and photo or forcing and chilling main effects only, with linear responses of both cues (e.g., df$bbforcephoto <- interceptbb + feff*df$force + peff*df$photolinear)

3. Forcing and photo or forcing and chilling main

[2021-03-10 17:35] MoralesCastilla commented on #393
@AileneKane @lizzieinvancouver I have tweaked Ailene's figure keeping the polygon and new values. Let me know if you want to change anything else. See new version [here](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_6panels_polyg_imc.png)

[2021-03-10 21:07] MoralesCastilla commented on #387
@lizzieinvancouver @cchambe12 I have run the code for EU sps and generated a new file, with the synthesis of climate data:
`output/Synthesis_climate_EUspsw.csv`
I have not checked it against the previous `output/Synthesis_climate_EUsps.csv` sps by species but overall data across species are very highly correlated (r>0.99). Cat, since you have done this with NAm species, perhaps you can double chec

[2021-03-15 13:07] dbuona commented on #387
@MoralesCastilla Thank you so much for doing this! I know these data are beastly and I appreciate your heroic efforts with them.
I'll start running models with these data but @cchambe12 can you give Nacho's code a quick check to make sure we are "ready to rumble"?

[2021-03-15 13:12] cchambe12 commented on #387
@MoralesCastilla Thanks, Nacho! The code looks great to me. Let's see how things change in the models.

[2021-03-16 16:34] AileneKane commented on #393
I think it looks great @MoralesCastilla ! Thank you!

[2021-03-17 00:37] DeirdreLoughnan opened #404 "Are cues correlated?"
We need to test for correlations between forcing, photoperiod, and chilling, as the assumption that they do underlies some of our current trait hypotheses.

@lizzieinvancouver could you find where the code that does this is? I am also happy to run it if you do not have time.

Thanks!

[2021-03-18 23:49] lizzieinvancouver commented on #404
@DeirdreLoughnan

Okay!  New plots committed (938f79f92bef2f99cac211d6ccaa3fc248dcbd63)

So there is code to do this, but it is rather hacky. It would definitely be worth making up a nicer version just for the traits data to live in the traits folder. For now, what I did ...

You need Stan model output, so I think having that for the traits species would be eventual step 1. But I just ran the defa

[2021-03-19 17:59] DeirdreLoughnan opened #405 "Running the OSPREE model on traitors species"
@lizzieinvancouver the species that we will be working with for the traits are:

traitors_sp <- c("Acer_pensylvanicum", "Acer_pseudoplatanus", "Acer_saccharum", "Aesculus_hippocastanum", "Alnus_glutinosa", "Alnus_incana", "Betula_pendula", "Betula_populifolia", "Corylus_avellana", "Fagus_grandifolia","Fagus_sylvatica", "Fraxinus_excelsior", "Juglans_regia", "Populus_tremula", "Prunus_padus", "Prun

[2021-03-20 00:35] lizzieinvancouver commented on #405
Using the 26 traitors species ...

[code]

[2021-03-20 00:46] lizzieinvancouver commented on #405
Here's the model on all species....

[code]

[2021-03-20 00:53] lizzieinvancouver commented on #405
@DeirdreLoughnan

Okay! I just pushed (3d1eb9c7d13e54e3b24f7415abb9bc0b967d5830) a file that lets you run either the 26 species model or the many species model (>200). The answers differ -- the 26 species look more responsive to forcing and photoperiod. I think it could be totally fine (these are **not** alarming changes to me), but it would also be worth running and saving both models then plotti

[2021-03-22 02:45] lizzieinvancouver commented on #395
@dbuona Okay, I am wrapping up a new draft so need an updated figure. Here are my overall requests:

1. Cat wants to know if we can make the axis labels larger? We might be able to, if we fill in missing values and go every two digits or such ... I am not sure it is worth it. See what you think after estimating how much work it would be.
2. Please add a title to each panel. My idea is 'Force x pho

[2021-03-22 02:47] lizzieinvancouver commented on #393
@MoralesCastilla I also think it looks great! @AileneKane and @MoralesCastilla thank you both! Any edits on the current caption?

Interactions can produce nonlinearities, even in simple linear models if there are correlated shifts in cues. Much research focuses on how warming increases forcing (A), but it may also alter other cues (B), including photoperiod experienced near the time of the event,

[2021-03-22 02:48] lizzieinvancouver commented on #399
@MoralesCastilla Looks good! Thank you! Any insights into the temperature windows? (I am working on an updated manuscript draft.) If you're low on time and can tell me what temperature to reference (is it EOBS?) I can try to run the code.

[2021-03-22 05:43] AileneKane commented on #393
@lizzieinvancouver I think the caption is great!

[2021-03-22 10:10] MoralesCastilla commented on #393
@lizzieinvancouver me too, nothing to add/change

[2021-03-22 11:16] MoralesCastilla commented on #399
@lizzieinvancouver I have now gone through the code more thoroughly now and figured out what it did.

The temperature windows to calculate minimum and maximum temperatures for both the past and the future, encompass the 60 days prior to the phenological event in PEP75 at each site and for each year. So the code extracts climate data for 61 days, 60 days preceeding the event and the date of the pre

[2021-03-22 15:18] dbuona commented on #395
@lizzieinvancouver
1. I just made the font bigger and I think it works for the 2 pannel figure
2. Done
3. I could not figure out why this was happen. The only way I was able to get rid of it was to change the cell color background to black instead of white. You can let me know if you think it looks worse now.
4.  Done
5. Done (but surprising difficult to get the formatting right)
6.  Will do this

[2021-03-26 03:13] lizzieinvancouver opened #406 "pop Up! Try to fit a 'jointish' model"
We want to fit something similar to the traits joint model, but in the traits joint model we need to use a model to estimate a trait value per species ... in this case we have observed range 'traits' (if you will) per species. So we can just send that data in....

[2021-03-26 03:14] lizzieinvancouver commented on #406
BTW, this is a Pop-Up Power Rangers project or a PUPR (pupper).

[2021-03-26 04:08] lizzieinvancouver commented on #406
I posted two versions of what I think that we think is the same model ... here's the one where climvar is a vector of just 20 values (because we have 20 species):

[code]

[code]

[2021-03-26 05:00] lizzieinvancouver commented on #406
I think my other model has some issues ...

[code]

[2021-03-26 18:27] MoralesCastilla commented on #406
It seems like the fake data code ´joint_climvar_3param_db.R´ using less observations per species and betaTraitxCue set at 0.8 estimates parameters correctly. It still asks for a larger sampling size as some Rhats = 1.02, but may work just fine adding more samples.
Parameter estimation:

´´´
                        mean      se_mean          sd       2.5%
betaTraitxForcing  0.7987747 0.0002883781 0

[2021-03-26 18:38] lizzieinvancouver commented on #406
Ospree data are running! It's quite quick....

[code]
muPhenoSp 9527.500 0.9999936

[2021-03-26 18:43] dbuona commented on #406
I got similar answers with zscoring the climate variable too. It's always fun when your models directly contradict you hypotheses

[2021-03-26 18:44] dbuona commented on #406
and by similar I mean in terms of sign not magnitude. Currently running on STV and range area too

[2021-03-26 18:44] lizzieinvancouver commented on #406
@dbuona Hmm, Nacho, Faith and I though these agree with our hypotheses?

[2021-03-26 18:44] lizzieinvancouver commented on #406
Higher temporal GDD variability reduces forcing cue and increases photo and chill cues.

[2021-03-26 18:45] lizzieinvancouver commented on #406
Anyway, you never pushed your code so I have added files with commit 0460aefed97bf7af7b733d47a0186b6ea1b0dfb2

[2021-03-26 18:45] lizzieinvancouver commented on #406
![popUpmodels](https://user-images.githubusercontent.com/2153556/112678895-c0d5b880-8e28-11eb-88ea-a44747cf0bb9.jpg)
We also worked through how to plot results, this figure also pushed.

[2021-03-26 18:46] lizzieinvancouver commented on #406
@MoralesCastilla updated fulljoint_fakedata_db.R  and got the fake data parameters back.

[2021-03-26 18:46] lizzieinvancouver commented on #406
He just reduced sample size so it runs faster.

[2021-03-26 18:47] dbuona commented on #406
but isn't a "stronger cue" more negative? so it should decrease it i thibk

[2021-03-26 18:48] lizzieinvancouver commented on #406
Here's my answer on STV (did not save/push this code:

[code]

[2021-03-26 18:49] lizzieinvancouver commented on #406
Which seems oddly identical ... so hoping something is wrong! And @dbuona maybe! I guess I would have to plot it before committing either way.

[2021-03-26 18:54] lizzieinvancouver commented on #406
Just added notes to my stan code, note that jointish_climvar_db_fj.stan is *very* similar (we think) to jointish_climvar_emw2.stan and that these three models:
1. jointish_climvar_emw1.stan
2. jointish_climvar_emw2.stan
3.  jointish_climvar_db_fj.stan
Are all different ways to do the same thing.

[2021-03-26 20:52] dbuona commented on #406
Here's what i got for z-scored climvars:
GDDLF:

STV

Range area:

[2021-03-26 20:56] lizzieinvancouver commented on #406
@dbuona So range area matters to forcing! Huh ...

Also, totally fascinating how big that chill effect is for STV ... are you just dying to break the data down by continent as a quick check?

[2021-03-30 02:17] lizzieinvancouver commented on #393
@AileneKane I started through some of the papers that have F x P interaction designs ...

Our countintxns.R code estimates 17 interactive p x f experiments ...

limitingcues/output/ospree_studyinxns.csv

- Basler_2014 -- does photo x forcing, but does not give effect sizes ... and I could not tell quickly if they found a significant interaction (though they did test for it).
- Sanz-Perez 09 -- "At

[2021-03-30 02:21] lizzieinvancouver commented on #395
@dbuona Any caption comments?

Also ...

When I run:

[code]

I get this warning:
[code]

Do you? If not I will assume it's an error because I a missing a font that you have. (I get the same error slightly above this code also.)

[2021-03-30 02:26] lizzieinvancouver opened #407 "help with limitingcues supp"
@AileneKane If you have a few minutes could you review the xtable I have added to the limiting cues supp? Line 104 onward of [this code](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/docs/limitingcues/limitingcues_supp.Rnw). I copied your nice code for this sort of table, but I feel crazy as it prints out in the WRONG order for the dataset column. I keep looking and cannot figure out

[2021-03-30 05:17] AileneKane commented on #407
hmm...I have had some trouble in the past with xtable doing weird things with my datadrames. HAve you tried saving as a table instead of a dataframe? (They suggest that here https://stackoverflow.com/questions/3661451/sorting-a-table-for-latex-output-with-xtable) Also, is it due to a quick in longtable? (Have you tried removing that? I think I ran into problems with that before..)

[2021-03-31 15:45] dbuona commented on #395
@lizzieinvancouver I made only very minor changes to the caption.

I will run the code and see if I can figure out the error, but I think if the figure looks okay, we are probably good to go.

[2021-03-31 16:45] AileneKane commented on #407
@lizzieinvancouver I added a new test supp file with just the table you made- it looks correct when i compile it. I hope it works for you!
https://github.com/lizzieinvancouver/ospree/commit/03bb04e7c94a9f76122294619827d5a7068fd8b0

[2021-03-31 17:29] lizzieinvancouver commented on #407
@AileneKane Thank you! Oddly when I printed it the datasetIDs printed as numbers ... but having the test file let play around easier and I figured out the issue! I think ... my computer was putting the two dataset IDs with capital letters FIRST ... so in R it sorted correctly, but somehow not in tex. Anyway, it is fixed! Thank you!

[2021-03-31 17:29] #407 closed

[2021-04-01 22:20] lizzieinvancouver commented on #406
@dbuona I think it would be handy to have a two dataframes:

1.

- estimated slopes and intercepts from regular OSPREE model on rangers species (to start it could just be the mean, so this would only be n sp long dataframe)
- estimated slopes and intercepts from new popup OSPREE model on rangers species

2.

- mu and sigma estimates from both models including  all the betatraitxcue estimates.

The

[2021-04-03 02:20] lizzieinvancouver commented on #394
@cchambe12 for the cues over time figure:

- Something bad happening to the letter s .. fample dates and fpecies?
- Based on how the text is written now, I think we lump multiple field sample dates into 1/2/3? (I assume it's studies that only did multiple field sample dates? ) See what you think on reading the next draft.
- Also, please update caption with an important methods or such!

[2021-04-03 02:22] lizzieinvancouver opened #408 "finalize map"
@cchambe12 Could you ...

- Explain why some studies don't show up (e.g., dantec14 and devries82)?
- Change DatasetID to just Dataset

Thank you!

[2021-04-05 11:59] cchambe12 commented on #408
@lizzieinvancouver I was using the bb dataframe again! The new map should now include all studies. I have also changed the legend to read just 'Dataset' and I have updated the colors to use the 'viridis' package. Let me know if you'd like any other changes!

[2021-04-05 15:07] cchambe12 commented on #394
@lizzieinvancouver haha the "f's" were wild, I have no idea what happened there!

Multiple field sample dates are lumped into 1/2/3 cues if chilling is not experimentally manipulated.

I have updated the caption in a note on the PDF!

[2021-04-05 17:27] dbuona commented on #406
I made a data frame that combines all the relevant thing above, and a subsequent R script that subset them appropriately (though its rather hacky).

the csv is called betasandmorefromPOPUP.csv
and the script is called quickplots_jointish.R

Here is what I found using a model where gdd2last frost is z.scored:

[the species level cue estimates are are similar to our main ospree model](https://github

[2021-04-06 01:32] lizzieinvancouver commented on #406
@dbuona Nice work! What are the axes in `[The slopes in gdd2lf appear to be in the opposite direct of our predictions](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/gdd2lfslopes.png)'? I don't understand the mean versus slope (y versus x).

[2021-04-08 17:52] dbuona commented on #406
Mean and 50% credible intervals for Europe and North America for gdd to last frost as range trait. Note N. America model still has 10 divergent transitions.

North America:
muForceSp -2.393017 (-3.576335 ,-1.2064065)
muPhotoSp -2.122897  (-3.559914, -0.6803292)
muChillSp -8.058155 (-11.897566 ,-4.3217652)
muPhenoSp 24.635504 (21.680406, 27.4517953)

betaTraitxForcing -3.0992045  (-4.086134 , -2.12

[2021-04-12 03:28] lizzieinvancouver commented on #406
@dbuona I agree, these seem pretty crazy different. I suspect folks may want to see these models and the original ones though (continents lumped). In case it helps I pushed edits to your quickplots_jointish.R that show how to plot the JPG drawing from the Friday popup a couple weeks ago. I can help make more of these (and or better automate making them) if needed. See commit d85b787fa8fa8ca222d616

[2021-04-19 17:37] dbuona opened #409 "Fix North America (models)"
There are a lot of things that need to be fixed about North America, but lets start with our range models.
Both stv and gdd2lf models throw 10-20 divergent transitions. Dan thinks its a problem with photoperiod parameter.
Code is in popup folder: rangeleadin_osp.R

@lizzieinvancouver will try adding a NCP to our model and kick it to @cchambe12 for help.

[2021-04-19 17:45] dbuona opened #410 "Simulations for frost risk, climate variability and cue use"
We discussed some ideas for simulations.
### One:
One was to perhaps simulate  climate data with 1) high inter-annual variability and relatively low intra-annual, and 2) with high intra-annual variation (also among years).

Then simulate phenology cues with a) low forcing (f*) b) high forcing cue c) chilling or photoperiod requirement + forcing cue d) other scenarios. Run simulations a lot and cal

[2021-04-19 17:46] dbuona opened #411 "Population vs. species plots"
Make plots and pretty figures summarizing Cat's cool population models, possibly showing the variance partitioning.

[2021-04-19 18:02] dbuona opened #412 "Concept figure"
@dbuona will lay some ground work or draw an idea for a conceptual figure and
@MoralesCastilla  will make it better.

[2021-04-21 17:16] lizzieinvancouver commented on #395
@dbuona

Any chance you can help me with this issue Ailene raised about Supp figure S3:

I was wondering if we could add stats (R2?) to the figure itself?  I updated the figure to supplatplots4panel.pdf

... I know you're slammed though so if you don't have time just ping me back on this issue so I don't forget about it.

Thanks!

[2021-04-21 17:17] lizzieinvancouver commented on #395
@dbuona And I mean ... I updated the figure last week (or before, all is a blur) to a 4-panel version, so it's called supplatplots4panel (same R file). It's still in base R so I think text can be added with `mtext`

[2021-04-21 17:55] AileneKane commented on #395
@dbuona let me know if you need me to do it! I have capacity for it this week!

[2021-04-21 19:53] DeirdreLoughnan opened #413 "List of relevant literature"
Add relevant papers on phenological cues and trait literature to the paper outline.

[2021-04-22 00:11] DeirdreLoughnan opened #414 "Traits paper outline"
Thank you everyone who has participated in our Traitors Journal Club! I had fun with our discussions and we have made so much progress towards having an outline for our paper!

I have updated the outline from today's meeting for anyone who wants to review it soon!

For those who could not make it today, the plan is to communicate using issues moving forward, but to have at least one more meeting i

[2021-04-22 16:27] lizzieinvancouver commented on #414
@DeirdreLoughnan Thanks! I took a look this morning made a few edits and added some comments. I suggest you set a deadline for everyone to send comments.

[2021-04-22 19:04] lizzieinvancouver commented on #409
@dbuona I think this is fixed (see commit df1c36fdd0e27d5219acebe698c7596c3b0da8d5) -- I at least fixed the one where 10 divergent transitions were mentioned. There was shape in the photoperiod and the forcing, I tried the photo NCP first (being hopeful) but it needed both for 0 div transitions. Please check it out if you can make time!

[2021-04-22 20:33] lizzieinvancouver commented on #406
@dbuona I tried to put continent into the current model ... I am not sure I am thinking through it correctly, but it still seemed worth a shot. Check out my commit #02507a3ccd68815d653e02d3c78e4557445ef397

Here's the output:

[code]

I coded Europe as 0 and NAM as 1 ... So a negative effect of forcexTrait for Europe, but that is basically erased for NAM? Does that make sense in comparing to the m

[2021-04-23 16:17] dbuona commented on #406
That isn't what happens when I run the two continents separately, though it was what happened when I ran our previous "sequential models" with continent as an interaction. Definitely something to dig in to. I will talk a look at the model and try running it.

[2021-04-23 16:33] dbuona commented on #412
I haven't mad much of a change to work on this.. I will try to get something rough off the ground in the next few days but if not it might have to wait until I am back from baby land. Appologies.

[2021-04-23 16:52] dbuona commented on #412
just kidding... I made one [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/dans_concept_sketch.pdf)
it should be rotated.
My though was we could use a base map like those in EU_vs_NAm_sds.pdf and high like a port of the range with high vs. low variability .  happy to answer any question you have, but feel free to take the idea and change it as you see fit!

[2021-04-23 17:58] lizzieinvancouver commented on #406
@dbuona Okay, I must have something off then ... I will try to think more. If you have any ideas, let me know.

[2021-04-23 22:15] lizzieinvancouver commented on #395
@dbuona I am working on this just now ... so hoping you aren't.

[2021-04-23 23:38] lizzieinvancouver commented on #395
MS submitted, this is done for now.

[2021-04-23 23:39] lizzieinvancouver commented on #393
MS submitted, this is done for now, @AileneKane and @MoralesCastilla -- Thank you!

[2021-04-23 23:40] lizzieinvancouver commented on #394
MS submitted, this is done for now ... thank you so much @cchambe12  for help with this very tricky task!

[2021-04-23 23:41] #394 closed

[2021-04-23 23:41] #393 closed

[2021-04-23 23:41] lizzieinvancouver commented on #395
@dbuona Thank you!

[2021-04-23 23:41] #395 closed

[2021-04-23 23:42] #398 closed

[2021-04-23 23:46] lizzieinvancouver commented on #174
This seems also covered! See also issues #394, issue #395 and issue #408

[2021-04-23 23:46] #174 closed

[2021-04-23 23:47] lizzieinvancouver commented on #408
Thank you @cchambe12

[2021-04-23 23:47] #408 closed

[2021-04-23 23:47] lizzieinvancouver commented on #399
Some old notes on this in issue #174 ... but hoping we're done on this for now. Thank you @MoralesCastilla !

[2021-04-23 23:47] #399 closed

[2021-04-23 23:48] lizzieinvancouver opened #415 "photoperiod wrong for Thielges?"
is it 16/8 hours (end of first paragraph of M&M, no?)

[2021-04-24 03:36] DeirdreLoughnan commented on #414
Thanks Lizzie!

Let's aim for everyone to have read and added any comments to the outline by May 5!

[2021-04-24 03:51] DeirdreLoughnan commented on #390
I have been working on the traitors model, but could use some help!

@legault would you be able to take a look at the [simulation](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/fakedata_3parm_1trait.R) code and the [priors](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/stan_joint_traitors.stan)?

To summarize, after we looked over the

[2021-04-29 17:29] #340 closed

[2021-04-29 17:29] #339 closed

[2021-04-30 22:35] legault commented on #390
Yes, I had a look today and pushed some changes that lead to better fits

[2021-04-30 23:17] lizzieinvancouver commented on #390
@legault Thank you!

@DeirdreLoughnan -- you can see changes [here](https://github.com/lizzieinvancouver/ospree/commit/cf476c901a28962ba37bad17d06a9031b5b4e330). It looks like maybe your priors were so off it upset the model? Based on this you might make plots that compare your priors with each posterior for each parameter (one on top of of the other) part of your workflow for *all* your models. I

[2021-05-04 16:41] legault commented on #390
Yeah, I think tight priors are important for calibrating the modeling machinery (i.e., can it recapitulate known parameter distributions?), but ultimately for data we'd want to start with bigger priors (unless we have some expert knowledge that might tighten them).

[2021-05-10 19:20] DeirdreLoughnan commented on #390
@lizzieinvancouver @legault I ran the [traitors model](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/stan_joint_traitors.stan) for a larger number of species (Nspp = 100) and made some of the variances smaller. The code to generate the data can be found [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/fakedata_3parm_1trait.R).

So

[2021-05-10 19:23] DeirdreLoughnan opened #416 "Origin of traits species list"
@lizzieinvancouver thanks for offering to look into the selection criteria for the 96 species that we used in our trait search.

Let me know if I can help in any way.

[2021-05-13 17:49] DeirdreLoughnan commented on #390
Thanks @FaithJones I have set aside some time tomorrow to work on this and will follow up if I have any questions.

@lizzieinvancouver also suggested setting betatraitxpheno to zero and to try running the test data using linear models to see if it is the data that is the issue. Lizzie said she will work on this a bit next week too!

[2021-05-14 23:56] DeirdreLoughnan commented on #390
@FaithJones to clarify your third point above, are you saying that line 93 should just be:
betaForceSp[isp] = alphaForceSp[isp] + betaTraitxForce * muSp[isp]

[2021-05-17 20:51] FaithJones commented on #390
@DeirdreLoughnan  yes, remove the grand alpha for now

[2021-05-18 17:54] DeirdreLoughnan commented on #390
@lizzieinvancouver @legault @FaithJones I have given this my best, but need some help.
I have tried running the two models using linear models on lines 236-256 of the [simulation code](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/fakedata_3parm_1trait.R). I also tried simulating the data and plotting the densities on lines 291-368.

@legault I also plotted simulat

[2021-05-19 17:53] cchambe12 commented on #382
@lizzieinvancouver @dbuona I _think_ this might be at least closer! I've tried making a plot that shows all the variance in the model for the intercepts, forcing parameters and photoperiod parameters. See [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/variancepartitioning.pdf) for the figure

[2021-05-19 19:05] cchambe12 commented on #382
I can't figure out how to change the mean line so it is taller!! I found some source code from the rstan repo but it's producing errors. Saving this note here for now.

[2021-05-19 21:30] lizzieinvancouver commented on #382
@cchambe12 Skip it then!

Otherwise I like it -- can we make the sigmas Greek letters? (see [here](https://stackoverflow.com/questions/5293715/how-to-use-greek-symbols-in-ggplot2) maybe?)

A few things we've discussed that I might forget:
1.  The effect of study being bigger than species on the intercept is cool! Also amazing how big it is relative to population. But it could be that study capture

[2021-05-29 15:27] lizzieinvancouver commented on #390
@DeirdreLoughnan First, a friendly reminder to make sure shared code runs for everyone, it could be my computer but more likely a missed package if I had to guess:

[code]

[2021-05-29 15:32] lizzieinvancouver commented on #390
@DeirdreLoughnan Next .... wow! You have done so much work on this code.  I made comments in the code, you can see them [here](https://github.com/lizzieinvancouver/ospree/commit/aec220eb66c6eeca0bedfef3aa992f8dd4c21379) if you look at what changed.

Your trait code looks fine to me, though I am not 100% committing to that as I didn't check it as fully as I would like (i.e., write a little Stan mod

[2021-05-31 22:20] lizzieinvancouver commented on #390
@DeirdreLoughnan I had a couple more thoughts on your sim code ... one is that could use a fixed effects model to test your trait data (trait measure ~ Species + study) as well.

The other is that you may be getting lost in the math of the 'joint model,' which would be best explained by some Tex code. Remember that when doing the joint trait model I may write it as two lines:

y_{pheno, i} &= \alp

[2021-05-31 22:22] lizzieinvancouver commented on #390
I am wondering if you are trying to code \beta_{forcing_{sp}} as well as \alpha_{forcing_{sp}} and \beta_{trait x pheno}, even though \beta_{forcing_{sp}}  is just a combo of \alpha_{forcing_{sp}} and \beta_{trait x pheno}...?

[2021-06-07 04:34] DeirdreLoughnan commented on #390
Thanks @lizzieinvancouver for looking over the code. While I am still working on getting the phenology only model working, I have few clarifying questions and responses to your comments:

1. Your comment on line129 about what is the difference between lines 103-118 and 120 - 144. In the first chunk of code I am simulating the cue values, so the F_i, C_i, and P_i value. The second chunk of code is

[2021-06-08 13:59] lizzieinvancouver commented on #390
@DeirdreLoughnan Ah! Okay, I think I am getting lost in the terminology! I looked at your code again and -- as best I can tell on quick glance it looks okay there.

I see the fixed effects model was not so helpful for getting species level estimates for your traits part (to check the code quicker) ... did you treat species and study as numeric? The aim would be to treat them as factors (as that's

[2021-06-08 16:26] lizzieinvancouver commented on #390
@DeirdreLoughnan Your next steps of looking at Faith's code sounds fine ... I think you can also work on:

- Working on a forcing only phenology model that runs (in addition to the three cues model that runs alone that I think you're working on)
- Working on the joint model from there with just forcing.
We also have code that builds the phenology-only model test data in the bb analysis folders.

I

[2021-06-08 16:27] lizzieinvancouver commented on #390
@DeirdreLoughnan Can you please check the code you just pushed? It's generated new errors in several model spots (reminder, please take the time to RUN code before you push it).

[2021-06-08 16:37] DeirdreLoughnan commented on #390
@lizzieinvancouver are you getting an error from the stan code? I had changed the study and species to factors, to test whether that changed the linear model with fixed effects. I didn't realize that would mess up the stan code.

[2021-06-08 17:05] lizzieinvancouver commented on #390
@DeirdreLoughnan I was getting lmer and stan errors, but it looks to be running now. Thanks!

[2021-06-08 17:37] lizzieinvancouver commented on #390
@DeirdreLoughnan So, can you confirm if your fake data model is returning the parameters correctly, but slowly and with lots of model fit issues?

From looking at the chains, it looks like mugrand is especially struggling ...

<img width="776" alt="happy" src="https://user-images.githubusercontent.com/2153556/121231516-7f1cb180-c85e-11eb-8a41-2eac550187fe.png">

Here's a better chain:

<img width=

[2021-06-08 17:37] lizzieinvancouver commented on #390
Wait! I just fixed the images, they were reversed.

[2021-06-08 18:02] DeirdreLoughnan commented on #390
@lizzieinvancouver to clarify, you are referring to the full joint model here? If so, then I would say that the fake data is returning the values well for the traits portion, but not for the betacuexTrait factors or really for the cue values. But yes, it runs pretty slow and has some fitting issues. In the some of the earlier iterations, the chains did look a lot better for mu_grand than is in thi

[2021-06-08 20:18] lizzieinvancouver commented on #390
@DeirdreLoughnan Yes, I was looking at the full joint model.

I think this means something is wrong. For a model like this (not super complicated, not non-linear) I would not be upping iterations and playing with `control' -- I really only do that when I am using real data, honestly. Do not use those tricks when testing your model code. So we should be troubleshooting a deeper issue. Here's the or

[2021-06-11 17:46] DeirdreLoughnan commented on #390
@lizzieinvancouver the new code for the trait only model is [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/trait_pheno_only_models.R) and the associated stan code [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/stan_joint_traitonly.stan).
I have been working on the traits only model and included a lot of notes to keep track

[2021-06-14 20:25] DeirdreLoughnan commented on #390
I have also worked on a forcing only model. The model runs with 4000 iterations and does not produce any warning messages and the chains mix well. Initially I ran the model with 20 species and while the estimates were close, the estimate for mu_phenosp were slightly off:
![Screen Shot 2021-06-14 at 1 22 14 PM](https://user-images.githubusercontent.com/16216421/121954432-97d01000-cd13-11eb-81a1-19d

[2021-06-14 20:50] lizzieinvancouver commented on #390
@DeirdreLoughnan Thanks! Can you do a run with the change in priors with the old number of species? It's hard to compare model output when we change two things at once.

[2021-06-14 21:28] DeirdreLoughnan commented on #390
@lizzieinvancouver I updated the model comment above, just increasing the Nspp does bring the mu_phenosp closer to the estimate and I don't think the rest of the values look too bad.

[2021-06-14 23:20] lizzieinvancouver commented on #390
@DeirdreLoughnan Thanks! Looks good to me also. Onward to the joint (forcing only) model I think!

[2021-06-14 23:21] DeirdreLoughnan commented on #390
@lizzieinvancouver I have been playing around with different values for mu.pheno.sp, specifically the more realistic prior of (30,10) and a larger Nspp:
![Screen Shot 2021-06-14 at 4 13 30 PM](https://user-images.githubusercontent.com/16216421/121970477-7b3fd200-cd2b-11eb-829a-fce1787b01c8.png)
Given that the mean is much small, a difference fo ~2.6 seems much worse.

[2021-06-14 23:25] lizzieinvancouver commented on #390
@DeirdreLoughnan I don't think you can scale it that directly ... the big test is to up spp number and/or reps and see if it gets better.

[2021-06-15 17:12] DeirdreLoughnan commented on #390
Thanks @lizzieinvancouver! I have moved on to working on the [forcing only model](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/forcing_only_model.R) and associated [Stan code](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/stan_joint_forcingonly.stan).

The change I made to the code was to increase the number of species in the traits

[2021-06-15 18:25] lizzieinvancouver commented on #390
@DeirdreLoughnan That looks amazing. Way to go!

If I were you, my next step would be to add chill and then photo (one at a time) to this model. If it any point you see issues that you can't track down you should backtrack and add chill and then photo to the phenology-only model (then build back up). Make sense?

[2021-06-19 00:13] DeirdreLoughnan commented on #390
Thanks @lizzieinvancouver!

As a quick update, I have been working on adding chilling to the joint model. This did require me to go back to the phenology only model and work out the kinks, but I am now getting pretty decent estimates from a joint model with chilling:
![Screen Shot 2021-06-18 at 4 21 09 PM](https://user-images.githubusercontent.com/16216421/122625153-785d1e00-d058-11eb-9332-ae44dd7

[2021-06-19 03:15] DeirdreLoughnan commented on #390
I added photoperiod to the [test data](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/joint_forcingchillphoto_model.R) and [stan code](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/joint_forcingchillingphoto.stan) , and estimates were pretty good. After experimenting with the priors for the betaTraitcues, these are the best estimates I

[2021-06-22 23:33] lizzieinvancouver commented on #390
@DeirdreLoughnan This model looks very good to me!

[2021-06-22 23:35] lizzieinvancouver commented on #390
@DeirdreLoughnan Amazing work on this! It's not surprising to me that as we add parameters, the model even with real data struggles a little. Can you say why you are concerned about the sigma_study, mu_forcesp, and sigma_photosp parameters? Is it because they are not mixing super well in some way? (They look okay to me, but you are looking more deeply at the models.) I think again the thing to che

[2021-06-23 00:53] DeirdreLoughnan commented on #390
@lizzieinvancouver I think I did it! I was just concerned that the estimated value for mu_forcesp was so small (-1) that being off by 0.24 was considerable.

But I did increase the number of studies, and that did not really have an effect. But after increasing the number of species to 40, I can convince myself that the model is doing a pretty good job!

![Screen Shot 2021-06-22 at 5 47 50 PM](http

[2021-06-24 21:29] lizzieinvancouver commented on #390
I agree!

It's great that we have a sense of the models accuracy issues. Remember that if you have issues you can also build new fake data more similar to the real data (in terms of parameter values, species, studies and perhaps imbalance in rep numbers etc.).

[2021-07-05 01:12] lizzieinvancouver commented on #390
@DeirdreLoughnan Check out the species list you get running this [code](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/models_stan.R) but set to:

`use.flags.for.allspp.utah <- TRUE`

And all the other flags around there should be false.

[2021-08-04 04:04] DeirdreLoughnan opened #417 "Running traitors model for each trait"
@lizzieinvancouver @legault @FaithJones I have been working on the traitors model and could use help working out some kinks and with interpretation.

The general traitors model developed using the test data can be found [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/joint_forcingchillingphoto.stan).

I started by running the model on sla using [this stan code](

[2021-08-06 00:12] DeirdreLoughnan opened #418 "Test the model's sensitivity to the priors"
@lizzieinvancouver I have been testing the model's sensitivity to the betatraitxcue priors. I recall having issues with the model and negative values at one point, but it appears that I already fixed that issue.

The test data does have a positive prior for the betatraitxcues, but I still tested them using wider priors to see how this impacted the model estimates. It appears that when the prior is

[2021-08-06 16:25] lizzieinvancouver commented on #418
@DeirdreLoughnan Thanks. Are you talking about lines 14-16? They look pretty similar to me..

Also, is your prior normal(2,1)? If so I really think you should be centering it at 0, as I don't see us having prior knowledge that would center it at 2. Or am I missing something?

[2021-08-06 20:52] DeirdreLoughnan commented on #418
Thanks @lizzieinvancouver!

To clarify, yes I meant that I changed the priors for lines 14-16 of the summary output (the betatraitxcues), and in doing so the estimate on line 8 (mu_phenosp) got worse.

This morning I worked on running the model with priors at (0,1) the estimates for the betatraitxcue variables were good (line 14-16), but the estimates for mu_phenosp were  worse (line 8).
![Screen

[2021-08-06 21:24] DeirdreLoughnan commented on #418
I have also noticed that the test data is also producing very low n_eff for muSp and muStudy, but not producing a warning message at the end of the model run. Some of the priors are very narrow, so I figure I will start by widening these priors and seeing if that helps.

[2021-08-07 01:31] lizzieinvancouver commented on #418
@DeirdreLoughnan That sounds like a good place to start. If you find issues there you should backtrack to checking the trait-only model.

I also suggest you plot the true hyperparameters (those parameters underlying mu_phenosp, so the values for each species) versus the model estimated ones. Those must be off for mu_phenosp to be off.

Which priors were (0,1)? Could you also give the nsp and how m

[2021-08-10 01:00] DeirdreLoughnan commented on #418
I have since made several changes to the priors and will try to outline the more clearly. The line numbers of the changed priors will be in reference to the code found [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/joint_3cue_newprior.stan).

1. Lines 142, 143, 144:  I changed the priors from (2,1) to be less informative at (0,1)
This resulted in good estimates

[2021-08-12 00:07] lizzieinvancouver commented on #418
Nice work @DeirdreLoughnan! Some thoughts ...

2a -- normal(10,1) gives values between roughly 7 and 14, that is pretty narrow for real data. How do you have such a good idea of sigma_y (for real data eventually)? Is it based on the previous ospree models? If you don't have good reasoning you need something bigger .... is the model in natural or z-scored units?

2b -- this is for sigma study? norm

[2021-08-12 00:48] lizzieinvancouver commented on #418
@DeirdreLoughnan I ran your model and here are some thoughts ...

I agree a low n effective may not be a real issue, often you can fix this later. That said, it's not super ideal to have it on test data.... I also found your lower level parameters do not match super. Have you checked something along the lines of the below in your trait only Stan code?

[code]

Also, these trace plots are not the e

[2021-08-12 00:48] lizzieinvancouver commented on #418
This is better ...

![cater_morefuzz](https://user-images.githubusercontent.com/2153556/129121607-4f61f6c8-f47f-436b-9e06-887f11fd8d9b.png)

[2021-08-12 00:56] lizzieinvancouver commented on #418
@DeirdreLoughnan I suggest you ...

1. Check your priors again.
2. Check your mu_study[1] ... to mu_study[n] values on your trait only model and that they look good.
3. Your `trt.er` is SUPER high (it's bigger than most other values in the model? Is that true?) ... for test data you don't necessarily need such high error, ditto for phenology error. I would dial these way down (to 1 or 0.5 to start

[2021-08-12 02:03] lizzieinvancouver commented on #418
@DeirdreLoughnan

Okay, it looks a little better. It still has n eff issues, but on a few fewer parameters. And the mu_study values look better (see plot. So I wonder if small sample size (20 species is not much, and your reps are low, some improvements to priors, smaller error) might be the issues....  I can take a look at your trait only model by the way, if that helps.

![rplot](https://user-im

[2021-08-31 23:40] lizzieinvancouver commented on #418
@DeirdreLoughnan I played around with the 3cue model this afternoon. I didn't have any breakthroughs, but tweaked a few things, and still wonder if the model is running okay and we're just asking too much. To help me with that when time allows can you:

- [ ]  add to mdl.out the 25 and 75% intervals so we can see if they overlap the true value?
- [ ] double check that the code below is correct...

[2021-08-31 23:42] lizzieinvancouver commented on #418
For reference, here's my output at nspp = 50:

![nspp50](https://user-images.githubusercontent.com/2153556/131589457-5fe945f7-f443-4855-b080-d05fdaa5d579.png)

And here it is at nspp =80

![nspp80](https://user-images.githubusercontent.com/2153556/131589489-b7380b02-8f84-4e29-a96c-4c0688365421.png)

[2021-08-31 23:43] lizzieinvancouver commented on #418
Also note that with only 50 spp, the actual mean of forcing was pretty low. I wondered if this was the issue and so looked at histograms of the test values (see PDF) ... but am not sure.

[nspp50hist.pdf](https://github.com/lizzieinvancouver/ospree/files/7087289/nspp50hist.pdf)

[2021-09-03 03:42] DeirdreLoughnan commented on #418
@lizzieinvancouver I must be missing something, I have been trying to get the trait only model working with wider priors and it is producing large Rhat values and 200+ transitions that exceed the maximum tree depth. I tried running the model with 50 species, 50 reps, and 50 studies, but it took hours to run and produced terrible estimates.

I started plotting the test data and playing around with

[2021-09-04 20:43] lizzieinvancouver commented on #410
Okay, 4+ months later and I got started ... see commit daab052e9deb3e194478bbab9e05b97ff4ab70c2 ... it's not ready, but something I can hopefully pick this Wednesday.

[2021-09-08 16:32] lizzieinvancouver opened #419 "compare the phylo models"

[2021-09-08 17:25] lizzieinvancouver commented on #410
Fix the code: ranges_simclimphen.R

1. Set up a normal for mean climate
2. Create annual data (instead of sigmainter maybe think of it as mean annual, and creates MEAN spring and winter temperatures) and then use those values are the mean... draw winter and make spring one degree warmer
3. Add GDD
4. Record frost events

Eventual data frame, BIG change -- make sure dataframe grabs ANNUAL data
1. m

[2021-09-08 17:35] cchambe12 commented on #387
Seems like we wrapped this up! Great work team!

[2021-09-08 17:35] #387 closed

[2021-09-08 17:37] lizzieinvancouver commented on #410
A few more notes:

- when we say intra-annual we mean daily variation
- when we say inter-annaul we mean yearly variation (at one site)

High and low forcing... we're not sure what that means OSPREE cue-wise so we will just do a variety of Fstar values and leave it to @dbuona to work out.

[2021-09-08 17:38] lizzieinvancouver commented on #410
Getting reasonable values for our simulations:

@AileneKane Two bits of code from decsens repo may help -- this one [selects where we should get climate data](https://github.com/lizzieinvancouver/decsens/blob/master/analyses/pep_analyses/getpepdailyclim.R) for depending on where we had PEP data (and other constraints perhaps) and [this one plots data ](https://github.com/lizzieinvancouver/decsens/

[2021-09-08 17:39] lizzieinvancouver commented on #410
@lizzieinvancouver Needs to work on getting rid of chill and, with @cchambe12 help, then adding in frost events, fixing DF etc.

[2021-09-08 18:04] cchambe12 commented on #411
See issue #382 for details. I am going to close this one to clean up and consolidate our issues!

[2021-09-08 18:04] #411 closed

[2021-09-08 18:05] cchambe12 commented on #382
@lizzieinvancouver I have added Greek letters to the plot so it should look a bit nicer now! Here's the new [plot](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/variancepartitioning.pdf).

I am going to leave this open so we can reference the notes you have here @lizzieinvancouver for when we write this up.

[2021-09-08 20:16] #396 closed

[2021-09-08 20:19] DeirdreLoughnan commented on #414
In late May we met and agreed on an outline for the introduction and hypotheses, I am now working on a first draft that we will all read over during the late September 2021 mini retreat.

[2021-09-08 20:19] #414 closed

[2021-09-08 20:56] lizzieinvancouver commented on #418
I posted to [Discourse](https://discourse.mc-stan.org/t/simple-intercept-only-hierarchical-model-with-two-groups-deadly-slow-poor-convergence/24310)

[2021-09-08 21:37] FaithJones commented on #418
Maybe this link will help https://biologyforfun.wordpress.com/2016/12/08/crossed-and-nested-hierarchical-models-with-stan-and-r/

[2021-09-08 22:22] lizzieinvancouver commented on #410
@AileneKane @cchambe12 I updated the sim code changing to just GDD and trying to add frost events, it definitely needs another set of eyes @cchambe12 ....

I tried to flag where to edit for inter and intra annual variation, so that edits to that and the gdd/frost stuff can happen at the same time.

[2021-09-09 00:38] lizzieinvancouver commented on #418
@DeirdreLoughnan Just occurred to me ... doesn't your synchrony model have species and study!? And that runs fine.

[2021-09-09 13:47] cchambe12 commented on #410
@lizzieinvancouver the frost event code looks great! Very elegant. I went through a few examples to double check the output and it all looks good to me.

[2021-09-09 15:50] FaithJones commented on #418
It looks from yesterday like our main issue at the moment is a badly fitting traits model (intercept and 2 crossed hierarchical grouping factors)
Here are some potential tasks to try and figure out the Traits model:
- [ ] Run the simulated traits data through both our current stand model and Geoff's modified GDD model and compare the results - do the models have the same fit?
- [ ] Try our traits

[2021-09-09 16:51] cchambe12 opened #420 "Write up methods"
@cchambe12 @dbuona @MoralesCastilla We should all work on writing up methods to prepare for the ms and hopefully include captions for relevant figures.

[2021-09-09 17:31] MoralesCastilla opened #421 "Check priors for gymnosperm only model"
@MoralesCastilla will check if current priors work for the gymnosperm subset and let @lizzieinvancouver and @legault know in ~one week asking for help if they don't.

[2021-09-09 17:34] MoralesCastilla opened #422 "Sigmas interpretation"
Check notes in PMM repo and ask @lizzieinvancouver and @legault if in doubt to make sure we come with a satisfactory interpretation for sigmas (and lambdas) in the model.

[2021-09-09 18:12] lizzieinvancouver opened #423 "write up model methods for phylo model"
@legault Write up briefly how you would explain the phylo PMM model.

Included in this, in our 8 Sept meeting we discussed Simon Joly's response to PMM ... he wanted the phylogeny on the error and @legault had a nice way of explaining how similar this is to adding it to slope and/or intercept ... so perhaps include that?

[2021-09-09 18:16] AileneKane commented on #410
@lizzieinvancouver @cchambe12 I've updated the simulation code to include inter and intra-annual variation. Please [take a look](https://github.com/lizzieinvancouver/ospree/commit/9b537f58eaecbc3dd0bbe07e33d937bd2b7c7083) and let me know if you have any questions or if I should change anything (or of course feel free to update yourself as needed!)

[2021-09-09 18:30] DeirdreLoughnan commented on #418
Geoff and I ran models, using the same code to generate test data and the same priors. The code can be found [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/trait_only_compare_wGDD.R).

Both Geoff's modified GDD model and my previous traits only model produced similar estimates, a handful of transitions exceeding maximum tree depth, and low ESS. The chain mixi

[2021-09-09 19:53] lizzieinvancouver commented on #419
@MoralesCastilla @legault I did this in the pmm repo, check commit #79e5e2653c4db9fa0ca81b6e397e7e744096e5ae for the code ... they look very similar to me. Another set of eyes would be great though, I also pushed the RDS files so it runs quickly if you pull.

[2021-09-09 20:00] lizzieinvancouver commented on #419
Just kidding, of course I could not push the RDS files. You can download them in [drive](https://drive.google.com/drive/folders/1ZqufO7kDENRvKhN6UcuYw9KQ-28Bp0Ha?usp=sharing).

[2021-09-09 20:49] FaithJones commented on #418
I ran the model using real SLA data with 1000 warmup and 2000 iterations. The model gave warnings about Bulk Effective Samples Size (ESS) is too low. Also the mu_grand chain did not mix well. But no divergent transitions...
![image](https://user-images.githubusercontent.com/29034858/132760448-92702259-7ae8-4ee6-a7fb-8fea30a3e2f1.png)

[2021-09-09 21:18] legault commented on #418
Unbalanced test added in bab6c632

First impression is that unbalanced data leads to better n_eff

[2021-09-09 21:20] DeirdreLoughnan commented on #418
Thanks @FaithJones that sounds promising!

I worked up the 1932 Olympic example. The code can be found [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/Olympic1932_example.R) and [Stan code
 here]( https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/stan/OlympicGames_1932mdl.stan). The model runs very quickly and gives no warning messages of

[2021-09-09 21:23] FaithJones commented on #418
Maybe our next step is to try running our model on simulated data where the effect of study and species are quite different? @DeirdreLoughnan  did you already do this?

[2021-09-09 21:31] DeirdreLoughnan commented on #418
@FaithJones I did not, but I can if you are still working on the SLA model.

[2021-09-09 21:45] FaithJones commented on #418
@DeirdreLoughnan I'm currently trying to go through a paper suggested by the Discourse post person on non-identifiability in ecology.

[2021-09-09 21:56] FaithJones commented on #418
Also I ran the SLA model with (I think?) fairly uninformative priors. I pushed the code to realData_traitsModel.R

trait_data <- list(yTraiti = SLAData$traitvalue,
                   N = Ntrt,
                   n_spec = Nspp,
                   species = SLAData$species,
                   study = SLAData$study,
                   n_study = Nstudy,
                   prior_mu_grand = 15,

[2021-09-09 22:02] lizzieinvancouver commented on #418
@DeirdreLoughnan Thanks! Could you post Stan, R and data to Discourse with your chains picture? I will email Andrew then and cc you.

[2021-09-10 00:07] DeirdreLoughnan commented on #418
@lizzieinvancouver my post on discourse is [here](https://discourse.mc-stan.org/t/simple-intercept-only-model-with-poor-chain-mixing/24335).

I also looked into whether there is similarly poor chain mixing for my synchrony model....and there is. I I look forward to hearing what Andrew has to say.

[2021-09-10 05:07] lizzieinvancouver commented on #418
@DeirdreLoughnan Hmm, I just went to email Andrew and since Mike Lawrence posted I think we should try what he suggested ... add a prior on mu, a pairs plot (if easy) *and* just run it in rstanarm and report back. Sorry for the extra requests, but I think we are getting traction! I will ask Andrew after we answer Mike's queries (otherwise I think Andrew will suggest we do what Mike wrote).

[2021-09-10 16:57] FaithJones commented on #418
I read [this paper ](https://esajournals.onlinelibrary.wiley.com/doi/epdf/10.1002/eap.2159) suggested by Lizzie's Discourse buddy on her post about the traits model. It was interesting to see how even a simple model could get identifiable issues. The only potentially applicable solution for us was Solution 4: "post-sweaping" (p.12). I didn't really understand this solution though I'm afraid...  "T

[2021-09-16 18:40] DeirdreLoughnan opened #424 "Poor mixing and low n_eff for intercept only models"
@lizzieinvancouver, @legault, @FaithJones
As we learned at our last mini-retreat, our intercept only models with two intercepts are producing low n_eff and poorly mixed chains. The post @lizzieinvancouver made on this issue [is here](https://discourse.mc-stan.org/t/simple-intercept-only-hierarchical-model-with-two-groups-deadly-slow-poor-convergence/24310/6).

We also tried to approach this proble

[2021-09-16 22:56] DeirdreLoughnan commented on #418
Thanks @FaithJones for looking into that paper for us. I am not sure I understand what that means either.

I have summarized my correspondence with Andrew and Jonah regarding our intercept model [here.](https://github.com/lizzieinvancouver/ospree/issues/424)

The main suggestion we got was to add ncp to our model and use tighter priors on our sigma values. I have started playing around with this (

[2021-09-16 23:04] DeirdreLoughnan commented on #418
Our goal for the next mini retreat is to decide how best to move forward with this model. We see our current options as being:

1. Accept that having poorly mixing chains is not that bad as long as we can figure out how to get better n_eff and Rhat values
2. Try to get the model to run with very tight priors
3.  Drop study from the model

[2021-09-17 18:36] legault commented on #423
Today I added a draft of the methods to the pmm repository.

[2021-09-17 18:36] #423 closed

[2021-09-21 23:03] AileneKane commented on #410
@lizzieinvancouver @cchambe12 I [looked at ](https://github.com/lizzieinvancouver/ospree/commit/013dbd4ff303b684e69829329f6d33defbcd6ded) the January temps for some betula pendula sites that had been pulled for decsens work, and quantified intra (daily) and inter-annual variation in january temperature, for some sense of what might be reasonable to use in our simulations here.
![image](https://use

[2021-09-21 23:04] AileneKane commented on #410
Intra-annual variation is within sites (17 different lats/longs) and years, Inter-annual is across years at each site

[2021-09-22 20:25] lizzieinvancouver commented on #420
@cchambe12 @dbuona Is there anything I should write up? I am thinking no.... but realized that I should check.

[2021-09-22 20:28] lizzieinvancouver commented on #410
@AileneKane I thought I should add some plots of daily temp to the sim code, so that people are forced to see what's happening with that (since it's weird how I pasted it together). When I run it though ... I see (early on) flashes of the plot that look too perfect (I think). Could you run the code and see if they make sense to you? Maybe it's fine and as expected and I just don't understand, or m

[2021-09-22 20:29] lizzieinvancouver commented on #410
Other than my one concern above ... related to original aim:

The sims can be adjusted for forcing ... and then we need to decide if we want to add chilling or photoperiod.

[2021-09-22 21:52] lizzieinvancouver commented on #409
@dbuona I have no recollection of this issue! But I opened the R file and saw this at the bottom:

[code]

It seems to run okay ... at least on a brief poking around. Overall estimates of cues:

[code]

Then this thing that sounds important:

[code]

And then there's betaFS, betaCS, betaPS ... which I think are what you need to add to the betaTraitx to get the North American estimates:

[code]

Do

[2021-09-22 22:20] FaithJones commented on #418
@legault  and I have been working on this today. We started by trying to run the real data for SLA and a subset of height. While we were doing this we found a bug with the traits only Stan code where the hierarchical effects were not quite non-centred but also not centred. Geoff fixed this, and I checked that this was not an issue with the big joint model. Our next steps are
;

[] run the correcte

[2021-09-22 22:51] FaithJones commented on #418
@lizzieinvancouver and I compared the plots visually, they looks similar. The model without study ran worse than with study (in terms on n_effective). We decided perhaps the best bet is to include study for now. I am going:
- [ ] do some prior predictive checks on a subset of height data
- [ ] try running the full model for a subset of height data for now, and see how badly the model fails.

[2021-09-23 17:34] FaithJones commented on #418
I'm closing this issue because we have moved on from the original task

[2021-09-23 17:34] #418 closed

[2021-09-23 17:35] FaithJones commented on #390
I'm closing this issue because we have moved on to new issues

[2021-09-23 17:35] #390 closed

[2021-09-23 17:36] #404 closed

[2021-09-23 17:37] FaithJones commented on #424
We decided to run with the model how it is for now, and not worry too much about the problems in this issue

[2021-09-23 17:37] #424 closed

[2021-09-23 17:38] #397 closed

[2021-09-23 17:39] FaithJones commented on #405
@DeirdreLoughnan  did you make any progress on this issue? Should I close it, or should we add this to our task list?

[2021-09-23 17:40] FaithJones commented on #413
We did this for the intro

[2021-09-23 17:40] #413 closed

[2021-09-23 17:41] FaithJones commented on #416
@lizzieinvancouver  have you made progress with this issue?

[2021-09-23 17:45] FaithJones commented on #417
Progress we need to make on this issue:
- [ ] @legault is checking if we can use a substitute for height (stem density)
- [ ] Geoff will then run the traitors model for stem height
- [ ] Prior predictive check (or some other prior check) on SLA
- [ ] run SLA model on real data and check output
- [ ] Prior Predictive check (or some other prior check) on LNC
- [ ] run LNC on real data and check mode

[2021-09-23 17:56] FaithJones opened #425 "Run the phenology model with mean trait values"
We should run the phenology model with mean SLA trait values instead of values estimated from a traits model. This will be useful as a check against the results from the final model, and a backup if the full joint models don't work out.

we need to:
- [x] track down the mean trait values from the PCA analysis code
- [x] make a new Stan model (or check for an old one) that takes in mean trait value

[2021-09-23 18:02] FaithJones opened #426 "Clean teh R code and Stan code files"
Lets tidy up the traitors folder:
- [ ] Remove old files we are not working on any more
- [ ] update notes at the top of each script
- [ ] Make sure stand models take in priors specified in R so we don't need separate Stan models for each trait

[2021-09-23 18:34] lizzieinvancouver commented on #416
@FaithJones Reminded me of this issue. We should figure this out!

@DeirdreLoughnan Hello! To help me with this can you:

- [ ] point me to this list? I did not see in traits/notes ... and I also could not find all the files in some of the cleaning code. For example, [lines 19 here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/cleaning_bien/get.BIEN.data.R) source

[2021-09-23 18:35] lizzieinvancouver commented on #416
Ooh... and in this [git issue 233](https://github.com/lizzieinvancouver/ospree/issues/233) we refer to 65 species...

[2021-09-23 19:04] lizzieinvancouver commented on #409
@dbuona Hello! And because this hurts my brain I am also pinging @cchambe12 @AileneKane @MoralesCastilla  ... I have deduced that:

1.  I wrote the code that adds continent to the model (joint_climvar_3paramwCont.stan, effectively is days ~ alpha_sp + betaForce + betaChill + betaPhoto where betaForce, betaChill, betaPhoto all decompose into: alphaForcingSp[isp] + betaTraitxForcing*climvar[isp] + b

[2021-09-23 19:24] dbuona commented on #409
I can confirm these results are different than what you get running each continent separately.

 rowname       mean    se_mean        sd
EU  betaTraitxForcing  2.9059298 0.38142453 8.5128219
  EU  betaTraitxPhoto  0.2297738 0.33291006 8.5513643
   EU betaTraitxChill  3.5158592 0.32955781 8.8201720

 NA betaTraitxForcing -2.9883411 0.03101558 1.5331734
  NA  betaTraitxPhoto -0.5529028 0.04248994 1.

[2021-09-23 19:31] lizzieinvancouver commented on #409
@dbuona @cchambe12 @MoralesCastilla @AileneKane

Thinking more with the help of @FaithJones @legault ... I think this is sort of an inherent issue in biogeography and our options may be to:

1. Run the two separate models.
2. Go back to the old idea of running the model in steps .... so, right now we have this cool joint modeling approach where we divvy the forcing effect into some intrinsic forci

[2021-09-23 19:31] DeirdreLoughnan commented on #417
@legault @FaithJones your comment about the SLA values being odd surprised me and I wanted to quickly check what data files you are using. In the files I was working with SLA ranges 1.4 to 138 and produces this histogram:
<img width="436" alt="Screen Shot 2021-09-23 at 3 28 53 PM" src="https://user-images.githubusercontent.com/16216421/134571511-832dd284-3f6f-4ea6-8b2c-47d336635fec.png">

Are you

[2021-09-23 19:32] lizzieinvancouver commented on #409
@dbuona While it's a bit hacky to run the model together then two separate models, I am not opposed to it anymore (though it may freak reviewers out).

[2021-09-23 19:34] lizzieinvancouver commented on #409
BTW, I don't think we can nest species within continent. Even if we have five continents, species would mostly still be confounded with continent .... that's the intrinsic biogeography issue we cannot get around.

[2021-09-23 21:47] legault commented on #417
@DeirdreLoughnan

I don't know much about the traits, so I was curious if it is was odd looking? Do those values look reasonable? Should we expect two modes? Do terrestrial plants have SLAs > 100? If yes, great.

Relatedly, there seems to be a problem with the plant heights. Specifically, multiple rows of apparently different data with identical traitvalues. For example
![screenshot](https://user-

[2021-09-23 22:20] FaithJones commented on #425
@lizzieinvancouver , @dbuona  or @cchambe12, coudl someone point me towards a script that takes the OSPREE data and runs the correct bb model? I have been poking around the repo, but I'm confused. Alternatively, could you tell me:
- which chill unit should I use?
- do I need to transform any of the variables?
- which is the correct response variable?

[2021-09-23 23:58] lizzieinvancouver commented on #425
@FaithJones [This code](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/bb_analysis/models_stan.R) is the main code used in the BB manuscript. Line 52 picks the flags for you ... you can run it through there then inspect the data you end up with:

[code]

But this may not be the species as you want them as it groups some species (that's why there are only 65) .... if you want the

[2021-09-24 14:45] dbuona commented on #409
I can try and code up the above mentioned "sequential" model and see how it compares to the separate data set approach

[2021-09-27 17:34] DeirdreLoughnan commented on #417
@FaithJones these are the 26 species that we had a at least one observation for the six traits we decided to explore further in the PCA analysis. OSPREE has data for a lot more species, but we were limited by the completeness of the trait data.

@legault, I could see higher values of SLA for species with thin compound leaves, but that is not the case for the species with high SLA values (Quercus i

[2021-09-27 20:59] DeirdreLoughnan commented on #416
@lizzieinvancouver thanks for looking into this, the list of species is [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/notes/ospree_fullsplist.csv).

I have also updated and added the source file that was previously missing. Ultimately in looking into this issue further, it looks like we used the species list from the full OSPREE database with 234 species, but the t

[2021-09-27 22:57] FaithJones commented on #425
I ran a model with phenology data and mean SLA data today. R code is in [traits/Rfiles/Phenology_meanTraitValues.R](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/Phenology_meanTraitValues.R). The model fits with priors somewhere between the wide ones of the bb analysis and the narrow ones of the current full traitors model. I don't think the model is very happy tho

[2021-09-27 23:16] lizzieinvancouver commented on #425
@FaithJones Super interesting! Thanks for working on this. Some quick thoughts:

- I don't love the chain you showed either, but can no longer say it's the end of the world based on work from last week and before.
- Would be interested to see the muCue plots for Force and Chill. Are they similar to what you show above?
- It's not surprising to me to see this correlation; it just means (I think) th

[2021-09-27 23:49] DeirdreLoughnan commented on #416
Excellent! Thanks Lizzie!

[2021-09-27 23:49] #416 closed

[2021-09-28 16:32] FaithJones commented on #425
@lizzieinvancouver - chilling and forcing also have the same pattern
![image](https://user-images.githubusercontent.com/29034858/135128229-5854d985-f54d-4577-86a3-145a027f722e.png)
![image](https://user-images.githubusercontent.com/29034858/135128304-1a7ce09a-b5a8-4560-a8ef-3a9eb4bb6e2c.png)

[2021-09-28 17:34] lizzieinvancouver commented on #425
@FaithJones Thanks!  In general, I would think that the model may be fine and it simply suggests our data cannot tease out a trait versus no-trait relationship with cues (that is, the combo of our data and this model is non-identifiable). Your traitors team would want to dig a little deeper but to me these posteriors could suggest that these outcomes along this line are feasible: really negative m

[2021-09-29 17:30] FaithJones commented on #417
@legault is going to ask the Bien team about the duplicated height data. If we don't get answers then we may drop the suspect height data

[2021-09-29 17:33] #405 closed

[2021-09-29 17:37] FaithJones commented on #425
@lizzieinvancouver  a quick answer: I used the joint_3cue_phenoonly.stan model with 3 cues combined for this modeling

[2021-09-29 19:16] FaithJones commented on #425
We discussed this model in length today. The co-variance between the meCueSp parameters and the BetaTraitxCue parameters is concerning but understandable considering the model structure. @lizzieinvancouver, we were not sure what you meant about the offsets - could you elaborate? We are not sure if this collinearity means we can't interpret the model, or if we can not worry about it if there are no

[2021-09-29 23:55] FaithJones commented on #425
I ran prior predictive checks in [Phenology_meanTraitValues.R](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/Phenology_meanTraitValues.R) on the current priors in  [traits/Rfiles/Phenology_meanTraitValues.R](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/Phenology_meanTraitValues.R), for use with the stan model [joint_3cue_phenologyo

[2021-10-29 18:00] FaithJones commented on #417
@legault @DeirdreLoughnan running the code with twice as many reps caused 12 divergent transitions and no improvement in model fit.

[2021-11-01 13:49] legault commented on #417
Weird. When I run simulation_traitsandmore.R with more replicates, I don't get any divergences.

[2021-11-01 15:36] legault commented on #417
Fits for SeedMass, LNC, and SSD were added in eeb6c6e8

[2021-11-01 18:41] legault commented on #417
Also, the fitted models are all on midge on home/data/Ospree_traits (see *_stan.RDS files)

[2021-11-02 22:12] lizzieinvancouver commented on #417
This seems like pretty great progress! Suggested next steps:

- [ ] Run the simulated data with no more reps but up spp and study to 25 and see what happens to muchillsp ... also check that running the chains longer doesn't help.
- [ ] Run the phenology-only model and the traits-only models and plot the posteriors against each other (cue on y, trait on x) so we can get a sense of the data
- [ ] Pl

[2021-11-02 22:17] DeirdreLoughnan commented on #417
@FaithJones @legault The joint model is looking really promising but we discussed a few more things to look into before the retreat:

- [ ] @FaithJones will rerun the model but with more species (~25) and studies (~25).
- [ ] @DeirdreLoughnan will run the phenology model only and extract the cue estimates.
- [ ] Make plots comparing the cue estimates from above with either the mean trait values or

[2021-11-03 20:25] FaithJones commented on #417
I ran the model with 25 species and 25 studies, using the wider priors. I got 88 divergent transitions, and the model parameter estimation was not improved.

[2021-11-04 18:16] DeirdreLoughnan commented on #417
@FaithJones @legault @lizzieinvancouver I made some rough plots using the cue estimates from the ospree model and the mean.
[Forcing vs mean traits](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/figures/forcevstraits.pdf)
[Chilling vs mean traits](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/figures/chillvstraits.pdf)
[Photoperiod vs mean traits

[2021-11-05 17:06] FaithJones commented on #417
@legault  I only see .RDS files for SLA and seed mass on Midge. Could you tell me where the fits are for LNC, and SSD  so I can make sure I have a local copy before the retreat?

ALso @legault @DeirdreLoughnan - Has anyone run the model on clean height data? If so, where do I find the model fit data for this model?

[2021-11-05 17:24] DeirdreLoughnan commented on #417
@FaithJones I thought that as a general rule we don't push model output. Is it not too big?

I have not got around to working on the height data yet, but have it on the to-do for today.

[2021-11-05 17:38] FaithJones commented on #417
@DeirdreLoughnan  you are right! We don't push output. @legault put some of the output on Midge, where I downloaded it from. It would be helpful if you could also save the height model output on Midge as well so we can all access it if we need next week without running any models. The folder on Midge is home/data/Ospree_traits

[2021-11-09 16:33] MoralesCastilla commented on #412
@dbuona
Here is a first (not great) attempt at drafting the [concept figure](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/concept%20figure%20draft1.png). Many things to change/improve, but a first step to get feedback and see what others have in mind. Things to consider changing are:

- mapping SDev of GDDlf (but maps don't look as nice/informative see [here](htt

[2021-11-09 16:46] MoralesCastilla commented on #422
After conversation with Will Pearse and Jonathan, it seems like our initial interpretation of lambda and sigma was not off.

**Lambda** is analogous to Pagel's but instead of modelling phylogenetic structure in model residuals at once, we sort of deconstruct it and get an estimate of phylogenetic structuring for the responses to each cue. (I guess in other settings, analyzing different response va

[2021-11-09 16:47] MoralesCastilla commented on #421
The priors seemed to work and thus this issue could be closed.

[2021-11-09 16:47] #421 closed

[2021-11-10 01:00] lizzieinvancouver commented on #412
@MoralesCastilla
This figure is amazing! Especially (and no offense @dbuona) to get from [this figure](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/dans_concept_sketch.pdf) to [this fancy figure](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/concept%20figure%20draft1.png).

@DeirdreLoughnan @legault and me chatted this afternoon

[2021-11-10 19:51] lizzieinvancouver commented on #422
From meeting today, we suggested we do not need to do any additional analyses to show lambda is analogous to Pagel's, but we should perhaps include a short discussion of this somewhere and link to simulation scripts.

[2021-11-10 19:51] lizzieinvancouver commented on #389
We have a PMM running in Stan that we like, so closing this!

[2021-11-10 19:51] #389 closed

[2021-11-10 19:53] lizzieinvancouver commented on #388
We now have a working PMM model! @legault set up initial conditions to fix one of the issues here; otherwise some tweaks to the priors seemed to get the code running. Yay! A lot of the work happened [in the pmm repo](https://github.com/lizzieinvancouver/pmm).

[2021-11-10 19:53] #388 closed

[2021-11-10 19:56] lizzieinvancouver commented on #386
Check out: [the pmm repo](https://github.com/lizzieinvancouver/pmm). By late 2020 Lizzie with Will's help had a basic model running; Geoff helped tweak it in 2021 so it runs without divergent transitions (Lizzie checked in Sep 2021 that the model output was effectively the same from the 2020 and 2021 model, as there were concerns the priors could have changed something).

[2021-11-10 19:56] #386 closed

[2021-11-10 19:57] lizzieinvancouver commented on #343
@MoralesCastilla We just use all species in the end, right? If that's the case then you can close this issue I think.

[2021-11-10 19:59] lizzieinvancouver commented on #345
We switched to a PMM model and no longer need this (I believe). @MoralesCastilla re-open if you disagree.

[2021-11-10 19:59] #345 closed

[2021-11-10 20:00] lizzieinvancouver commented on #342
@MoralesCastilla It seems like we have a path forward that does not need scenarios ... we should discuss and close this if you agree!

[2021-11-10 20:08] lizzieinvancouver commented on #412
@MoralesCastilla Sorry I forgot to pick this up before the meeting ran long! It seems like you were on a good track, but let us know if you want to discuss.

@dbuona Maybe some deadlines would be good? I'd be happy to look at an outline whenever, but once the concept figure is drafted could be good too. Let us know what you think and @MoralesCastilla let us know you're schedule. I will also send t

[2021-11-10 20:43] lizzieinvancouver opened #427 "checking two outlier species"
@MoralesCastilla I wanted just to see if anything was weird with the two species that are outliers.

I ran your phylo_ospree_plots.R code until the ff dataframe then:

[code]

And the plot is:
[quickplot.pdf](https://github.com/lizzieinvancouver/ospree/files/7515750/quickplot.pdf)

I didn't save the code or plot beyond here, but I can see how these species could seem extreme given that they only s

[2021-11-11 01:51] lizzieinvancouver opened #428 "maybe run basic PGLS on mean trait versus cue estimates from model?"
Try running PGLS (I think in the caper package, make sure you let the lambda value vary) on the MEAN traits and the mean posterior estimates from model ... to see check if phylogeny super matters. Step 1: Get a phylogeny (maybe from Zanne tree).

[2021-11-11 02:09] lizzieinvancouver opened #429 "relate cues to budburst timing"
We want to test if bigger cues relate to later leafout ... so:

- [x] Pull leafout dates from PEP725 (maybe just Germany or whatever dataset we used in the BB ms) and compare to cues estimated from a basic pheno-only model.
- [ ]  Ditto for HF species
- [x] Maybe try using the natural units model and see how much of the variation in predicted leafout day is due to the cues (versus intercept) for 1

[2021-11-13 19:34] DeirdreLoughnan commented on #417
@lizzieinvancouver @FaithJones @legault @md-garner We left the retreat with several more plotting tasks and additional analyses we would like to include. These tasks span several issues, but in general our next steps are:

- [ ] @legault will get the model running for log seed mass
- [ ] Once we have the model output for log seed mass, @DeirdreLoughnan will make the plots of the cue responses agai

[2021-11-14 22:56] lizzieinvancouver commented on #429
I tried the natural cues model, see commit 9f80d76133827fda2cc132813d282c4d1fa2c5e1 for that. I also sifted through my PEP725 data ... but it would take a bit of work to get usable data (I found one site with 7 species ... which PEP says is in Africa ... which is weird). But the natural cues work actually reminded me that @dflynn-volpe and I went through this all before!

Check out Figure S1 in th

[2021-11-14 22:56] #429 closed

[2021-11-22 02:16] lizzieinvancouver opened #430 "update figure 1"
@AileneKane We discussed simplifying this figure so a core message was more clear.  My notes seem to be from 22 September, but I did not take good notes on how we wanted to change the figure. Maybe you did? If not (or either way) I am happy to discuss. I am hoping to have a new draft (with updated figure) of the ms to send around in the next 2 weeks ... let me know what's feasible (I realize it is

[2021-11-23 18:35] AileneKane commented on #430
ok @lizzieinvancouver  and @MoralesCastilla I have made a first pass at a simpler, 3-panel figure (getting rid of panels B, E and F from the previous version) [here](https://github.com/lizzieinvancouver/ospree/blob/3f597f159a6ed5c83c7eca5156f31feb110dd09b/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_3panels.pdf). We could put the threshold responses in a supplemental figure if we r

[2021-11-24 04:12] lizzieinvancouver commented on #430
@AileneKane Wow! That was super fast. I like it! I think we could hold off on edits until you and @MoralesCastilla read a new draft ... right now I wonder if we want to stress the no interaction vs. interaction more and then additionally the correlated cues (that could just be done by @MoralesCastilla  making it prettier), but I think best if you wait to read it.

Thank you!

[2021-11-25 22:01] DeirdreLoughnan commented on #428
@lizzieinvancouver @legault @FaithJones @md-garner Step 1 complete, we have a [phylogenetic tree](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/figures/traitors_phylogeny.pdf) for our 26 traitor species!

The tree was built from a more recent tree by Smith & Brown (2018), it is actually the same tree that Nacho is using in for the phylogeny paper.

[2021-11-29 19:52] #425 closed

[2021-12-03 19:21] lizzieinvancouver commented on #430
@AileneKane No rush, but can you check the mismatch between your labeling on the figure and the caption? B is negative and C is positive (as in the figure)?

[2021-12-03 20:45] lizzieinvancouver opened #431 "review new limiting cues draft"
By 10 December (if feasible) please review new drafts and send comments (on PDF, in email, in Rnw on repo, whatever, just let me know how to find them)... especially looking for thoughts on:

- Title? (Especially shorter ideas)
- Where to cut words/refs -- would like to cut 500 (we're around 4400 now), as well as 30 refs if possible
- Better title ideas for section in supp on chilling.

- Can some

[2021-12-03 20:48] lizzieinvancouver commented on #431
Hoping we might submit to [New Phytologist as research review](https://nph.onlinelibrary.wiley.com/hub/journal/14698137/about/author-guidelines):

[2021-12-06 22:04] MoralesCastilla commented on #412
@dbuona and all, please see a new version of the concept figure [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/concept%20figure%20draft2.png). Probably still a few tweaks to make. If this one works (more or less) I can make similar versions with other variables for the Supplement. A question I still have is, perhaps we should make a different choice of speci

[2021-12-07 17:37] AileneKane commented on #430
@lizzieinvancouver Yes I apologize for my mistake- B is negative and C is positive, as in the figure.

[2021-12-07 18:39] dbuona commented on #431
@lizzieinvancouver I just added comments to the .Rnw file (indicated with %%%DB%%%).

[2021-12-07 20:53] DeirdreLoughnan commented on #428
I have been working on the [PGLS analysis](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/traitors_pgls.R) and drawing on code from other's in the lab.

I am unsure how to interpret the missing lower limit in the estimated 95% CI or whether it is not something to be concerned about. Below is an example of the output from a model testing the sensitivity of the mean p

[2021-12-07 21:32] dbuona commented on #412
@MoralesCastilla I think it looks really good. The Bayes group discussed it a bit and we have two suggestions.
1. Would it be possible to use _Fagus sylvatica_ instead of _Abies alba_? They seem to have similar ranges but we wondering if people might feel more comfortable with the comparison to _F. grandifolia_ if the species are closer related.
2.  Could you change the colors of the range and ins

[2021-12-07 22:42] legault commented on #417
Updated seedmass model added in commit fc5e19d8

FYI, if anyone is still receiving n_effective warnings, try saving more iterations in the final stanfit object (e.g., change the value of (iteration - warming) from 1000 -> 1500 or 2000). This won't fix the problem for *really* inefficient MCMCs, but I have found it useful for the traitors work.

[2021-12-09 04:25] lizzieinvancouver commented on #412
@MoralesCastilla Just to add, belatedly... We loved it! We also agreed we trust your judgement if you cannot come up with better colors.

[2021-12-10 15:14] cchambe12 commented on #420
@dbuona I just wrote up the methods for my section. I'm not totally sure if I wrote the model equation correctly. I'd be happy to work with someone if folks think it is incorrect but I could certainly use some help!

[2021-12-12 22:25] lizzieinvancouver commented on #430
@MoralesCastilla Ailene asked, "Super small thing- should we make the letter type (cap vs lower case, ) or not) consistent across our figures?" ... could you possibly switch to lowercase (a), (b) etc. here and in Fig7_noblues_densities (fig 4) if easy. If not, no worries! We'll likely have to chance for whatever journal to all lowercase or all uppercase and could wait for that time.

[2021-12-12 23:24] lizzieinvancouver commented on #431
@AileneKane @dbuona @cchambe12 @MoralesCastilla  Thank you all! I just pushed a new version with all your edits (commit # a44c3fe2eb5cccabbaa03cae7b729efbff7ffe40).

[2021-12-12 23:31] lizzieinvancouver commented on #431
I have a few notes for @AileneKane comments...

1. I liked your point about us having the data now to integrate experiments and observations for some well studied species ... if you see a way to add it to the abstract while not adding more than 4 words, let me know!
2.  I  tried to fix Figure 2, but I cannot figure out how to add the black outside lines to legend. If anyone can, please help! My no

[2021-12-13 05:49] AileneKane commented on #431
@lizzieinvancouver I solved the Figure 2 legend issue!  See [here](https://github.com/lizzieinvancouver/ospree/commit/fad77a4eaa9daa43bfa9cc66861a50dcd3fce5c5)

[2021-12-13 16:57] MoralesCastilla commented on #430
@lizzieinvancouver @AileneKane I have made a couple minor tweaks to the [figure](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/limitingcues/figures/intxnsims2021photoaltwithchill_3panels_sm.pdf). Let me know any other changes that you'd like to.

Changes to Fig 4 are [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/limitingcues/figures/Fig7_limcues_noblues

[2021-12-15 21:49] lizzieinvancouver commented on #430
@MoralesCastilla and @AileneKane Thank you!

[2021-12-15 21:49] #430 closed

[2021-12-15 21:54] lizzieinvancouver commented on #431
@dbuona @cchambe12 @MoralesCastilla @AileneKane Thank you all! It's resubmitted for now.

[2021-12-15 21:54] #431 closed

[2022-01-03 18:19] lizzieinvancouver commented on #420
@cchambe12 Happy New Year!

I was doing a quick look at your equations in the range methods and i think they're a little off, but I wanted to check.

You wrote:

`y & \thicksim N(\alpha_{study[i]} + \alpha_{sp[i]} + \alpha_{pop[i]} +& \beta_{forcing_{sp[i]/pop[i]}} + \beta_{photoperiod_{sp[i]/pop[i]}} + \epsilon_[i]}  \\`

Which implies intercept for study and a SEPARATE intercept for species, and

[2022-01-03 20:19] lizzieinvancouver commented on #420
@dbuona @cchambe12 I updated the methods for the OSPREE database and for how we picked species ... but I do not think I am sure how we picked species. I think we have to check both our code and notes together to be sure. So, can someone check both the code and [the relevant issue](https://github.com/lizzieinvancouver/ospree/issues/379) and update the methods text? And then maybe the other person c

[2022-01-03 21:01] lizzieinvancouver opened #432 "updated OSPREE database methods"
@DeirdreLoughnan I am working up methods for the updated OSPREE database. Could you check my notes in _README_papersearchmethods.txt? Specifically, I wanted to make sure I am understanding the numbers correctly. If you have time, can you also check my text on this for the phylo paper ... [see this commit](https://github.com/lizzieinvancouver/ospree/commit/6e8475a7af1b8ae4f571ec7efd1f6ed7127201bd)?

[2022-01-06 05:47] DeirdreLoughnan commented on #432
@lizzieinvancouver I looked into the notes and the text files Darwin and I created. I agree that the numbers are for new papers published after your 2015 search and until December 2018, and between December 2018-June 2019 respectively. I redid several of the search terms and got a similar number of results in Web of Science as we did previously for both searches. The results were less similar for

[2022-01-06 17:29] cchambe12 commented on #420
@lizzieinvancouver Okay, I have gone through the methods for the sppop model equation and have updated according to your notes - THANK YOU! Makes a lot of sense and I think it should be much closer now.

@lizzieinvancouver @dbuona I have updated the section on species selection. Dan, would you mind reading through it and making sure it looks okay? I have also added information on the species maps

[2022-02-07 19:32] DeirdreLoughnan opened #433 "Weird height estimates for Rhamnus cathartica?"
I am looking into why we are seeing lower model posterior estimates for Rhamnus cathartica compared to the raw data.

Dan pointed out that this is an invasive species in North America, so it would also be interesting to know whether it is being measured in its native or invaded range, or both!

[2022-02-07 21:24] DeirdreLoughnan commented on #433
We have 18 observations for tree height for R. cathartica, from 9 different studies. Most of the trait data comes from BIEN.

 There is one large outlier in the data, but there is no additional information about who collected it or the study. All I can figure out is that it is from the American Forests big tree register:
![Screen Shot 2022-02-07 at 11 40 43 AM](https://user-images.githubuserconten

[2022-03-04 18:43] DeirdreLoughnan opened #434 "Traitors - alphaCueSp issue"
We realized we might be having some issues with the traitors model for our leaf traits. Unlike with height and seed mass, we actually predict SLA and LNC to have a positive slope with high values being less responsive to cues. But our model seemed to struggle to model any of the variation of SLA onto the slope and it was mostly loaded onto the intercept.

@FaithJones has been looking into it and m

[2022-03-04 21:09] lizzieinvancouver commented on #434
Doesn't that just mean the model is non-identifiable? I am not sure we can fix it then ... can we? (Though I am not sure. BTW, are we talking about our data or the test data?)

[2022-03-04 23:43] FaithJones commented on #434
I think there might be a problem with my simulation code, because when I ran the model for LNC with wide priors allowing for very negative muCueSp values, the modle ran fine and allowed a positive betaTraitxCue value, like we were hoping.
![image](https://user-images.githubusercontent.com/29034858/156856676-3483e321-ab6c-4495-bfea-98d32de5cbd0.png)
![image](https://user-images.githubusercontent.co

[2022-03-05 00:08] FaithJones commented on #434
Bulk effective sizes are too low, but otherwise SLA also runs, and we see positive effects for chilling and forcing, but a slightly negative one for photoperiod
![image](https://user-images.githubusercontent.com/29034858/156858186-9111238a-cccf-4581-9fd2-b3f2483941b4.png)
![image](https://user-images.githubusercontent.com/29034858/156858192-ea50198d-5413-496d-8960-d407cca19fe9.png)

[2022-03-05 01:12] FaithJones commented on #434
Seed mass is ok, and direction of trait/cue response relationship is unchanged.

![image](https://user-images.githubusercontent.com/29034858/156861395-9af3d7cc-a787-4a1c-b65e-4f0bf0931902.png)
![image](https://user-images.githubusercontent.com/29034858/156861412-33a737d9-59ca-4e68-b71e-42523773254e.png)

[2022-03-05 01:25] FaithJones commented on #434
I tried to run the height data, but I cant find the input file height_subsampled.csv. I pushed the updates priors though in case someone with this file wants to run that model. I also haven't managed to put any model output on midge because of a permissions issue.

[2022-03-05 03:12] lizzieinvancouver commented on #434
@FaithJones Annoying on the test data, but exciting we seem to be able to improve things for the real data... have a good weekend!

[2022-03-07 20:18] DeirdreLoughnan commented on #434
@FaithJones @legault @lizzieinvancouver I just pushed new figures! It is interesting to see that

[The cues slopes](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/figures/cuetrait_wtrend_nprior.pdf) are now in the direction that makes more sense to me.

And the [figure of the slopes](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/figures/slopesCons

[2022-03-08 04:24] lizzieinvancouver commented on #434
@DeirdreLoughnan @FaithJones Nice! Excellent catch and fix. Someday we might also re-make the ones that decompose the effect into the two parts and put them together (the ones from the retreat), though not critical.

[2022-03-23 00:20] lizzieinvancouver opened #435 "notation on our phylo model"
@MoralesCastilla I chatted with @legault today and he said we can likely change up the notation ....

@legault If it's not too much trouble, can you change our phylogeny notation to better match [Revell 2010](https://besjournals.onlinelibrary.wiley.com/doi/10.1111/j.2041-210X.2010.00044.x) in the [ms draft here](https://github.com/lizzieinvancouver/ospree/blob/master/docs/phylogeny/PhenoPhylo_Outl

[2022-03-23 00:24] lizzieinvancouver opened #436 "compare old OSPREE results to phylo results"
@MoralesCastilla wrote:
I’m now writing the results of the ospree phylogeny ms. and somewhere there (or in the discussion) I would like to compare our results including the phylogeny against those from the all sps model in the NCC paper. I’ve been trying to retrieve those results but I realize I may not have the .Rda files with the model outputs from the NCC paper. If there is a way to zip those a

[2022-03-23 00:24] lizzieinvancouver commented on #436
@AileneKane replied:

I believe that I ran these models on my old laptop, which unfortunately has died, so I don’t know that I have any .Rda files to send you- I can look at my other laptop (which is at home; I am at the office, for a change today) to see if anything is there. In any case, the models are pretty quick to run to if you have to rerun them it shouldn’t take long! I can send you the fi

[2022-03-23 00:27] lizzieinvancouver commented on #436
@MoralesCastilla Hello! I just looked and I have Rda files but I would need to know the name of the one you wanted. As @AileneKane said they actually run pretty fast so maybe what you need is for @AileneKane to pull the exact code to re-run the 203 one and then you can subset down from there?

I think we should present the new data with lambda set to 0 as the best updated estimates without phyloge

[2022-03-23 05:17] AileneKane commented on #436
I agree that using the same phylogeny model with lamda set to 0 is the best way to compare effect of phylogeny, but also would be nice to see old estimates and compare to new. I can rerun the all sp (utah chilling?) model and get the .Rda to you, if that's helpful @MoralesCastilla. I'm assuming centered predictors- let me know if you need something else!

[2022-04-29 16:57] dbuona opened #437 "Unravel ranges data mystery"
Hi Rangers,

I've started to try and unravel the ranges data issues. Here are my thoughts:

I checked European data first by comparing the newer STV adjusted file: Synthesis_climate_EUsps_STV.csv to the previous version: Synthesis_climate_EUspsw.csv. The values for all of the environmental variable (not just STV) are substantially different between the 2 versions. This would explain why the full s

[2022-05-02 22:30] lizzieinvancouver opened #438 "update ospree data for KNB for limiting cues"
We need to upload the version of OSPREE that goes with limiting cues. Our plan is to add a NEW csv file in addition to the one that is up on KNB. In limiting cues we have a couple main files that seem to run off `output/ospree_clean.csv` which is a larger file than what we used in the budburst ms.

@AileneKane Will make a smaller (i.e., fewer columns) version of `output/ospree_clean.csv` and @lizz

[2022-05-03 03:40] AileneKane commented on #438
@lizzieinvancouver I thought I had done this so easily by modifying the code in ospree_prep_for_knb.R in [this commit](https://github.com/lizzieinvancouver/ospree/commit/4548fb47145d0bd27cca7618e33be1eb9e3ee14d) but then realized that I had done it for ospree_clean_withchill_BB.csv, not ospree_clean.csv. :( This brought up a question for me- does it need to be ospree_clean.csv,  (not ospree_clean_

[2022-05-03 16:32] lizzieinvancouver commented on #438
@AileneKane It is ospree_clean.csv in my code -- ospree_clean_withchill_BB.csv is much smaller than ospree_clean.csv and so loses a lot of studies. I tried using other formats and found it easiest to use the raw data and clean it some. It looks like ospree_clean_withchill.csv is similar enough in columns and length to ospree_clean.csv (see below and I scanned the column names) so we could try that

[2022-05-06 05:00] AileneKane commented on #438
@lizzieinvancouver ospree_clean_withchill.csv is much easier. the only columns that are a bit challenging to add are "force_type",  "photo_type", "chill_type"
do we want to include these? If so, I'll dig out the code from the original bb cleaning files and add them.

[2022-05-06 16:40] AileneKane commented on #438
@lizzieinvancouver I have added this draft file (with photo_type and force_type as "NAS" for now- i can add them if we need these columns for limiting cues- it will be a bit challenging i think for none bb responses? But maybe not...)
You can fine the csv in [docs/limitingcues ](https://github.com/lizzieinvancouver/ospree/blob/bbculdesac/docs/limitingcues/ospree_forknb_limcue.csv)
Let me know if y

[2022-05-06 18:47] AileneKane commented on #438
@lizzieinvancouver I have  another follow-up question: I used the as.numeric() code to convert chilling, forcing, etc to numeric so that any non-numeric entries show up as NAs- let me know if we do not want to do this!

[2022-05-08 17:00] lizzieinvancouver commented on #438
@AileneKane Thanks for working on this! Unfortunately I checked today and I cannot use ospree_clean_withchill.csv. It gets different answers along the way (for example, fewer studies in Africa and when I clean dates in a specific way I lose 1000 rows with ospree_clean_withchill.csv whereas with ospree_clean.csv I lose only 200) so I don't feel comfortable using it.

Further, my code does not work

[2022-05-11 10:25] lizzieinvancouver commented on #438
@AileneKane Just checking in on my question above:

[2022-05-12 18:20] AileneKane commented on #438
@lizzieinvancouver We can submit your new ospree_forknb_limcue.csv file to knb for sure. I've got a question about this. Do you want me to :
A) Add the new database file (as an alternate version of OSPREE, so that there are two versions- one for the main bb ms and one for limcues),
or
B) Replace the previous version of ospree that's on knb now with this one, and add code to get this new file to be

[2022-05-12 19:27] lizzieinvancouver commented on #438
@AileneKane Definitely A! I think that is easier for us and users and what I was thinking. If we're clear about what the two files are then I don't see a real drawback.

[2022-05-19 20:34] AileneKane commented on #438
@lizzieinvancouver Ok, as I started to do this I realized that I wasn't sure if there is code that I should also add for limiting cues? Our original database entry has the model code (zscoring code, etc, too) but perhaps there is nothing to add in that regard since we didn't fit any models for this paper? I've know added it to knb. Please let me know if there is anything we want to add  code-wise.

[2022-05-19 20:41] AileneKane commented on #438
@lizzieinvancouver as you probable know, there are other columns that are in this version but not in the bb subset:

- varetc
-  woody,
- population
- population detail
- Provenance longitude,
- Population Atltude
- Field Chil
- continent
- year
- material
- growing lat
- growing.long
- cumodel
-

 please let me know if you want me to remove any of these in the database version posted on knb.

[2022-05-19 20:45] AileneKane commented on #438
doi is [doi:10.5063/F1DF6PNQ](https://doi.org/10.5063/F1DF6PNQ).

[2022-05-20 13:24] lizzieinvancouver commented on #438
@AileneKane Thanks for working on this! I don't think we need to add anything code-wise; we don't do any amazing models or such. I think we should include "Entered by" in the data for KNB, you can't really identify people from it (well, not exactly) and someone might want to model the effect of who entered it or such.

I would like to INCLUDE all the columns I sent, as these are ones we will inclu

[2022-05-31 15:47] cchambe12 commented on #437
@dbuona Sorry for the delay on this but yes... I think that is correct. Do I need to do something to fix this or can you relabel the columns?

[2022-06-10 21:32] lizzieinvancouver commented on #434
We fixed this!

[2022-06-10 21:32] #434 closed

[2022-06-10 21:32] lizzieinvancouver commented on #417
@DeirdreLoughnan Are we all set here? Can we close?

[2022-06-10 21:32] #417 closed

[2022-07-02 16:58] lizzieinvancouver opened #439 "Fix some small number issues in ms"
- [x] Make sure all digits go to one decimal.
- [x] Standardize uncertainty -- maybe 50% in all figures and 90% in the text?

[2022-07-02 17:01] lizzieinvancouver opened #440 "Small tweaks to Fig 2 (cue slopes versus traits)"
- [ ] I forget how we parse out the math to make this figure ... so double-check my thinking (and/or add the math here or link to old issue), but could all the Y axes be labelled as 'response to cue (standardized)'?
- [ ] Make uncertainty 50% bands

[2022-07-02 17:04] lizzieinvancouver opened #441 "Edits to Fig 1 (cue levels versus day of event)"
If we can I suggest we play around with this figure some. I think we should:

- [ ] Show two traits. Maybe we just show two very contrasting results (whichever trait has the strongest/biggest relationship versus the one with the weakest/smallest)? I realize no trait has consistent relationships across cues so pick height or SLA (I would pick height) and seed mass or LNC ... and then pick out the c

[2022-08-17 18:12] dbuona opened #442 "understand climates and ranges and plots and purpose"
Here is the summaries of the the europe only models. I didn't include the species parameters because they are numeric, and numerous so overwhelming, but I can pull them if thats helpful.

betatrait= mean GDD in range
                       mean       2.5%       25%       75%     97.5%
muChillSp         -7.576980 -13.054408 -9.345380 -5.781033 -2.154739
muPhotoSp         -0.563373  -3.474378 -1.486

[2022-08-18 02:51] lizzieinvancouver commented on #442
@dbuona Just to write out loud (if you will) ... this says:

- forcing goes up (gets weaker) as GDD increases; this result is pretty damn strong
- photoperiod goes down (gets stronger) as GDD increases (but not as strong as forcing)
- chilling kind of does nothing with GDD

- forcing goes up (gets weaker) as chilling increases ... is that correct?
- photoperiod goes down (gets stronger) as chillin

[2022-08-18 03:03] lizzieinvancouver commented on #442
@dbuona Okay. I had a few thoughts on this but no slam dunk answer (or feeling of -- 'oh, let's just do variation in GDD') ... yet.

First, the model is the basically the same as the traitors (that is, the cue values per species are what is LEFTOVER after the climate explains the cue) so we need to plot it differently to understand it. I personally find these plots that decompose the output most h

[2022-08-21 01:43] lizzieinvancouver opened #443 "how to model species nested within continent (or evergreen/deciduous etc.)"
This relates to #442 and relevant to @dbuona.

I sort of found my notes on how to properly model things that we only have a few groups of (Europe/North America or evergreen/deciduous) and species is nested within. By nested I mean that a species can be evergreen or deciduous, but it cannot be both. The way I grew up we might make species random and a separate effect and evergreen/deciduous as a se

[2022-08-21 01:43] #443 closed

[2022-08-31 21:26] DeirdreLoughnan commented on #441
@lizzieinvancouver  thanks for the feedback!

For our notes, I have redone the figure (which is as of now fig 3) to be SLA and LNC in the main text, and height and seed mass in the supplement.
I am not quite sure I understand what you mean by "pick out the cue that is the biggest and smallest", do we not already discuss this in points 4 and 5? Or do you just want it mentioned more succintly?

It w

[2022-08-31 22:34] DeirdreLoughnan commented on #440
@lizzieinvancouver the code to make this figure is [here.](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/Rfiles/cue_slope_plot_sm.R).

The y-axis is the betaForceSpMean (as can be seed on line 134) , so I think we could just shorten the axis label to "response to cue (standardized)"

I also updated the pink bands to reflect 50%.

[2022-09-06 03:55] DeirdreLoughnan opened #444 "Traitor conceptual fig + slopes vs bb"
@lizzieinvancouver below is a quick explanation of what we were attempting to show with these three conceptual figures

![Screen Shot 2022-09-05 at 8 30 40 PM](https://user-images.githubusercontent.com/16216421/188541247-d09ed778-f16f-4cd1-aa43-c5b2849e2bc5.png)

a. If variation in the traits follow our predictions for species with conservative (shown in  dark purple) and acquisitive traits (shown

[2022-09-06 15:29] lizzieinvancouver commented on #444
@DeirdreLoughnan Oh, this is great! I think I still like this figure to help explain the models, so can help edit the text some on the next go round (which I will hopefully do soon).

BTW, I have no internet right now so am doing minimal stuff online. Git works better than my email so letting you know via git just now (no WL reply yet either, but it is early in the day and week!).

[2022-09-06 15:30] lizzieinvancouver commented on #444
@DeirdreLoughnan Oh, this is great! I think I still like this figure to help explain the models, so can help edit the text some on the next go round (which I will hopefully do soon).

BTW, I have no internet right now so am doing minimal stuff online. Git works better than my email so letting you know via git just now (no WL reply yet either, but it is early in the day and week!).

[2022-09-06 22:50] DeirdreLoughnan commented on #444
@lizzieinvancouver great! I added a revised version of the above text to the caption for the cueslope figure (fig. 3).

I have also addressed your other comments and am sending this back to your for edits. I re-ran the LNC model to double check the model output and I think the figure is right based on the new priors that Faith worked on before leaving. I have revised the text accordingly.

[2022-09-12 10:20] lizzieinvancouver commented on #444
@DeirdreLoughnan Thanks! I will aim to look at Traitors again very soon.

[2022-09-13 17:41] lizzieinvancouver commented on #444
@DeirdreLoughnan I agree we could refine the figure, but for it to be useful I think we also need to label the top panels. I think these are correct (but check):

(left): Acquisitive traits show earlier budburst
(middle): No relationship between budburst and traits
(right): Conservative traits show earlier budburst

I am fairly sure the middle image is tricky -- it shows acquisitive traits with ea

[2022-09-24 17:02] lizzieinvancouver opened #445 "update priors in phylogeny code"
@MoralesCastilla Here's some updated results:

[code]

[2022-09-24 17:28] lizzieinvancouver commented on #445
@MoralesCastilla Looking above, do any of the results change much? I realize they might not, but I feel better with less informative-looking priors. As such, see commit 760854d95ec8a9f457ca76837ba803316ac44f07 where I added two Stan files and also started edits on the R code to call the new Stan file. If you can use this new file I would feel MUCH better. Also, we should keep priors in the Stan co

[2022-09-24 17:30] lizzieinvancouver commented on #445
Adding in some notes from @MoralesCastilla that I may need someday:

[2022-09-24 19:32] lizzieinvancouver commented on #445
Running the new code by Mike I got similar answers I believe, but slightly less great model diagnostics.

[code]

[2022-10-19 17:58] lizzieinvancouver commented on #444
@DeirdreLoughnan I thought I would keep notes here .... I put these also in Rnw but you can delete them there:

 I think this figure has much to offer, but still does not connect to the text much ... So I was thinking we try to make this figure tie better to the hypotheses or methods -- if it connected to the methods it would be with the model and I do currently cite it there. But I think it might

[2022-10-20 20:17] dbuona commented on #442
Some thoughts that may or may not matter while I work on this:
One difference between the range model and the traits one is we don't model the trait values (eg climate variable) for each species. in traits model
  real mu_grand; // grand mean for trait value
  vector[n_spec] muSp; // species offsets

I think we decided since we have no variation it would make sense to treat this as a data rather t

[2022-10-21 10:17] lizzieinvancouver commented on #442
@dbuona I know but the partitioning plots that I am thinking of do not care about the trait model -- they use the output from it, just as you would take the range data as accurate (which I still think is fine a choice). It's more about visualizing the model where cues are divided into what's predicted by the range, versus just the species ID.

[2022-10-21 11:38] MoralesCastilla commented on #445
@lizzieinvancouver

I have finally re-run all models with the less-informative prior specification. I copy model results below.

I don't think results change much, but still I need to redo the figures and such.

Angiosperms, lambda estimated
[code]

Angiosperms, lambda equal 0

[code]

Angiosperms, lambda equal 1 (I doubled the iterations)

[code]

Gymnosperms, lambda estimated
[code]

Gymnosperms

[2022-10-21 12:54] dbuona commented on #442
@lizzieinvancouver  [Here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/trait_decomp.pdf) is a version for variation in growing degree days to last frost.
I _think_ it is equivalent to the middle and right panel from this [figure you linked above](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/figures/chill_bdecompheight_stanfit_37spp_wp.

[2022-10-24 07:06] lizzieinvancouver commented on #442
@dbuona If it is equivalent to the middle figure from the figure I linked than we would expect *no* relationship is the model is working. The figures from left to right should conceptually be:

1. The range effect (one slope) with all the species plotted. Since it's one slope (the effect of range) it looks rather `perfect' if you will.
2. The species-level intercepts in a cue -- these are in the m

[2022-10-25 00:12] DeirdreLoughnan commented on #444
@lizzieinvancouver @legault @FaithJones here is my attempt at a more exhaustive conceptual figure, followed by my logic and rational:

<img width="740" alt="Screen Shot 2022-10-24 at 5 10 07 PM" src="https://user-images.githubusercontent.com/16216421/197653137-bcdd62cf-e27e-4d79-8c21-1c3d8182d44d.png">

1. Species differ in budburst, but there is no effect of cues or traits
2. The effect of trait

[2022-10-25 00:41] DeirdreLoughnan commented on #444
I also took another run at the figure caption, but in doing so, I am starting to think we might need a fourth conceptual panel that reflects scenario 4 above.

[2022-10-25 01:02] DeirdreLoughnan commented on #444
A slight revision would be to add a 6th scenario:

![Screen Shot 2022-10-24 at 5 59 50 PM](https://user-images.githubusercontent.com/16216421/197657904-c28922ad-69d4-428c-8bdc-69afcaa5305f.png)

6. The effect of trait on cue responses produces earlier budburst in response to increases in a cue, but this results in species with conservative traits having earlier budburst dates at very high cue valu

[2022-10-26 14:48] dbuona commented on #442
I still don't understand plot 1. What is the variable that is actually plotted on the y-axis? I can't find any traitors code that reproduces this plot.

[2022-10-26 15:07] lizzieinvancouver commented on #442
@dbuona I found [in this folder](https://github.com/lizzieinvancouver/ospree/tree/master/analyses/traits/figures) a lot of the plots (for example: [chill_bdecompLNC_stanfit.RDS.pdf](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/traits/figures/chill_bdecompLNC_stanfit.RDS.pdf)) and tracked down 'bdecomp' to this file: Plotting_mugrandspvsbetaSp.R [here's the link](https://github.

[2022-10-26 15:34] dbuona commented on #442
Great thanks! I *think* I get it now.

[2022-10-26 16:18] dbuona commented on #442
I think I made a version of the same figure [here](https://github.com/lizzieinvancouver/ospree/blob/master/analyses/ranges/figures/trait_dcom_gg2lfggplot.jpeg) (appologies that it is giant). Top to bottom it should be the same as the left to right of the example traitors figure.
The top row is certainly not "rather perfect". This could either mean my understanding of the plotting code is not corre

[2022-10-28 09:01] lizzieinvancouver commented on #444
@DeirdreLoughnan I was knee-jerk wondering how the math works and based on the math, if some scenarios cannot happen. But I have not thought this through or sat down with pencil and paper. Though I similarly wonder if we really allow what is shown in 1-2 to happen and think we should double-check the math. Though we write 'Species differ in budburst, but there is no effect of cues or traits' and '

[2022-10-28 14:25] dbuona commented on #442
[code]

[2022-10-31 12:35] dbuona commented on #442
@lizzieinvancouver I think, our disucssion of alpha_cueSp being the ``amount of the cue unexplained by the range" is not precise. If alpha is the intercept of the trait sub-model, it is actually `` what the beta cue estimate would be in when the range trait is 0". This is why species with low or moderate betas and big range traits get very positive alphas. Therefore it may be that the plots you ar

[2022-11-04 19:05] dbuona commented on #442
@lizzieinvancouver just pushed a figure alpha_beta_comps which is a start for comparing alphas and betas in each continent. It's based on the range_fig_output.R script lines 332-339. It's probably not super helpful, but it is at least a start to the data wrangling.

[2022-11-08 13:58] lizzieinvancouver opened #446 "trying out Betancourt's updated PMM code"
I did this a few weeks ago, so should make notes ... for now I just added a version of the Betancourt code with the delta transform in commit f94225082835e2161f744f668d817303d814cd53

[2022-11-08 18:17] lizzieinvancouver commented on #444
@DeirdreLoughnan I only took a quick look -- reviewing lines 56 to 120 and it makes sense to me, but I did not yet sit down with the code. All the logic works for me.... Can you tell me what is purple versus green here (and I assume based on the middle panel the lighter colors are with trait effect set to 0)?

[2022-11-09 09:48] FaithJones commented on #444
@DeirdreLoughnan I have had a look at your code, and I have some comments.

Figure 1 legend in the manuscript is, I think, wrong. AT the moment is reads that the light green line is the full model, and the light purple is the trait = 0. It should be a black line for full model and a grey one for trait = 0.

I liked how you laid out your code, there was great annotation and your loop was easy to fo

[2022-11-10 02:20] DeirdreLoughnan commented on #444
Thanks @lizzieinvancouver & @FaithJones for the replies!

The lighter colours are the trait effect = 0, and the Green and purple are "acquisitive" vs "conservative" species.

You are right Faith that I did not take this as far as it needs to. But I did not want to waste too much time if this was not the kind of simulation we had in mind.

Thanks for confirming I am on the right path. I can make th

[2022-11-10 09:19] lizzieinvancouver opened #447 "consider thinning the OSPREE tree to look at impact of polytomies"
JD says you'd lose not so many species if you thin, so maybe try it ... there is R code to thin trees in Davies et al. Ecology phylosignal paper. Though @MoralesCastilla pointed out you would lose a lot of high forcing spp. So maybe do this if we have time....

[2022-11-10 09:36] lizzieinvancouver opened #448 "small phylo ms checks"
- [ ] Check @MoralesCastilla Stan code for lambda=0 and lambda=1

[2022-11-10 13:31] lizzieinvancouver commented on #444
Thank you @FaithJones and @DeirdreLoughnan ... I *think* we're on the right path here, especially if @FaithJones agrees so I suggest we scale up to make the ms figure we want. I think it's safer to simulate it so we know we're doing it correctly and accurately with the model and it seems like we're close.

[2022-11-10 18:33] lizzieinvancouver commented on #442
@dbuona Thanks! This actually is pretty helpful. I might also just poke the model again to feel better that it's stable for Europe.

On that notes, did you update the 'cheap approach' plots and simple stats?

[2022-11-11 02:26] DeirdreLoughnan commented on #444
@FaithJones @lizzieinvancouver @legault

I worked a bit more on this and could improve the code to make it more concise, but for now I have pushed code that generates the below figure.

This raises the question again of whether we think there are other possible scenarios that we should include in this conceptual figure. What are others thoughts on this?

![Screen Shot 2022-11-10 at 6 19 06 PM](htt

[2022-11-11 11:02] lizzieinvancouver commented on #444
@DeirdreLoughnan Thanks for this! Can you remind me what the short form 'take-home scenario' is from left to right?  I think I have three queries also:

1. In the real model I think we have some where the slope is much steeper for one type of traits (cons vs. acq.), right?
2. But maybe that is always true based on the math?
3. It looks to be happening on right and left but reversed ... ?

[2022-11-13 19:43] DeirdreLoughnan commented on #444
@lizzieinvancouver for sure!

Left fig: Accounting for traits leads to a stronger cue response and greater advance in budburst date with increasing environmental cues. This is illustrated by the steeper slope of the darker lines in comparison to the lighter lines for which the trait effect is set to 0. The Conservative sp. has a larger trait value (ie taller) so the change in slope is greater than

[2022-11-14 18:50] lizzieinvancouver commented on #442
@dbuona Okay, I tried to work on this but I hit a couple snags ... see commit d07c5a96630bd5e24e76982ad7f2df71d7e69316 and let me know...

1. Is the README correct? If not, please update it so I can know where to look and what to run.
2. I deleted dplyr from this code since the code runs bbstandleadin and thus has this error:
[code]

3. I am getting this error early on (whether or not I load dplyr

[2022-11-14 18:55] lizzieinvancouver commented on #442
@dbuona Quick followup from running  source/bbstanleadin.R. line by line ... I think you may have edited your rangeleadin_osp.R code so that the flags do not match any of the bb.stan datasets created in source/bbstanleadin.R....

[2022-11-14 20:16] dbuona commented on #442
oh dear, that is a bit disconcerting. I am pretty sure that that part of the code hasn't changed since the original series of POP UP meetings, which means it has been wrong for mostly the whole time.

[2022-11-17 17:07] lizzieinvancouver opened #449 "clean species names again ..."
@MoralesCastilla caught an error in one species name (Acer seudolatauns).  I traced this back to an error in [2019](https://github.com/lizzieinvancouver/ospree/blame/master/analyses/cleaning/clean_spp_match.R) when we accidentally cleaned up this error in clean_spp_match.R instead of elsewhere in our cleaning scripts (clean_spp_match.R is incredibly slow and we don't always run it).

I fixed this

[2022-11-17 17:13] lizzieinvancouver opened #450 "clean_duplicates was deleted"
I assume unintentionally ...

[2022-11-17 17:14] lizzieinvancouver commented on #449
See also issue #450  .... I am closing this issue now. It's fixed.

[2022-11-17 17:14] #449 closed

[2022-11-17 17:16] lizzieinvancouver commented on #450
I was fixing a small issue with spp names (issue #449) and noticed an entire cleaning file is gone. I used:

`git log --full-history -- analyses/cleaning/clean_duplicates.R`

to track back to [here](https://github.com/lizzieinvancouver/ospree/commits/master?after=d48fdca4fde44fc8b646475d4974aeeb023e7f95+664&branch=master&qualified_name=refs%2Fheads%2Fmaster) and I think this  *accidentally* delete

[2022-11-17 17:32] lizzieinvancouver commented on #450
In commit # d2c70339fd8ebabb8bf076d4166c7c6ffc380de6 ... I added it back in by just copying and pasting from when it was delete (see [here](https://raw.githubusercontent.com/lizzieinvancouver/ospree/24957e7d96b0f4042282d32894e35b1cd4abcbc7/analyses/cleaning/clean_duplicates.R) for exactly what I copied).

The [previous commit before the deletion appears to be from 2017](https://github.com/lizziein

[2022-11-17 17:36] lizzieinvancouver commented on #450
Re-run ... deletes 234 rows, which (according to our August 2019 notes) is 5 less (was 239) than before we deleted cleaning/clean_duplicates.R in Jan 2021, but the best we can do. See commit #45ded0f1211b76522ac208b9be0aa6c60f86f287 for updated data.

[2022-11-17 17:40] lizzieinvancouver commented on #450
@DeirdreLoughnan Could you review this issue and double-check my thinking that maybe a mistaken deletion you did when working on the clean_duplicates for traitors (check the commit links I have)? I know it was a while ago, but see what you think ....

Could you also do a quick comparison of ospree_clean.csv as we have it now versus the August 2020 version (you can download the old version by eithe

[2022-11-17 18:15] DeirdreLoughnan commented on #450
@lizzieinvancouver I am so sorry, this is a huge mistake on my part and not something I remember doing on purpose!

I will also see if I can get the original version from off of my old hard drive and compare it to the current files.

[2022-11-17 21:28] DeirdreLoughnan commented on #450
@lizzieinvancouver again I am really sorry for all the trouble this mistake has caused!

I was able to get a copy of analyses/cleaning/clean_duplicates.R off of my hard drive. The oldest version I have is from January 17, 2019, long before I ever modified it.

When I source this code in the cleaning/cleanmerge_all.R file I also get 234 rows of data being removed.

I also compared different version